[2018-11-28 00:37] imback82 opened #30 "Write unit tests for DaemonWorker"
DaemonWorker unit tests are missing in Spark.Net.Work.UnitTest.

[2018-12-19 03:55] imback82 opened #26 "Support more data types: ArrayType, MapType, DateType, and StructType"
The following types are not fully supported:
ArrayType, MapType, DateType, and StructType.

Check Row.cs, etc.

[2019-03-08 08:02] suhsteve opened #18 "Port spark/examples/src/main/python/sql to C# and verify"
Python Examples
---
- *python/sql/streaming/**structured_kafka_wordcount.py***
  - [x] CSharp
  - [x] FSharp
- *python/sql/streaming/**structured_network_wordcount.py***
  - [x] CSharp
  - [x] FSharp
- *python/sql/streaming/**structured_network_wordcount_windowed.py***
  - [x] CSharp
  - [x] FSharp
- *python/sql/**arrow.py***
  - [ ] CSharp
  - [ ] FSharp
- *python/sql/**basic.py***
  - [ ] CSharp

[2019-03-09 02:18] rapoth opened #35 "Documentation: Debugging Instructions"

[2019-03-20 04:45] imback82 opened #14 "[Documentation]: Upgrading for a newly release Apache Spark version"
When a new version of Apache Spark is released, we'd have to make changes in the code base to add any new APIs, account for new protocol changes on the worker-side etc. We should document this to allow anyone to upgrade .NET for Apache Spark to newer versions.

**Success Criteria**
- Clearly call out code changes with examples
- Capture caveats one might encounter during this upgrade process

[2019-04-24 15:00] rapoth opened #13 "[Documentation]: Get Started Experience on Ubuntu"
At the moment, the Get Started section in README.md talks about how users can get started on a Windows machines using .NET Core. We need a similar set of instructions for Ubuntu.

**Success Criteria**
User has clear instructions on:
- Setting up all the pre-requisites
- Creating a new .NET Core project
- Obtain the Nuget package on Ubuntu
- Compiling the .NET app on Ubuntu
- Running the app using

[2019-04-24 15:42] imback82 opened #15 "Extract common classes from src/scala/microsoft-spark-<version>."
PR #190 creates multiple jars, but the implementation is copied from one version to another.

Create a `common` directory and extract common classes from duplicate code. Note that even if class/code is exactly the same, you cannot pull out to a common class if it depends on spark.

[2019-04-24 16:06] safern opened #17 "We should re-enable running tests against netfx"
In PR https://github.com/dotnet/spark/pull/10 we disabled net461 targetframework for our tests because they were failing with a strong name failure.

cc: @eerhardt @rapoth @imback82 @danmosemsft

[2019-04-24 16:16] imback82 opened #19 "Automate C# formatting using dotnet-format"
Explore adopting https://github.com/dotnet/format to automate the process of formatting source code similar to scalafmt (#153).

[2019-04-24 16:17] amos-ortal opened #20 "[BUG]: Getting started is broken - no releases"
The getting started pre-requisites has a link to [Microsoft.Spark.Worker releases](https://github.com/dotnet/spark/releases) but there are no releases do download.

Steps to reproduce the behavior:
1. https://github.com/dotnet/spark
2. Scroll to the README
3. In the Pre-requisites, click on the [Microsoft.Spark.Worker](https://github.com/dotnet/spark/releases) link
4. there are no releases

[2019-04-24 16:20] imback82 opened #22 "[C#] For public APIs, check nulls for parameters."
For example,
[code]
source should be checked if it is null before sending it to JVM side.

One thing to consider is whether we want to check it at the API level, or at the JVMBridge level.

Checking at the API level will introduce lots of code, but will be better for the user since the exception stack will be smaller. Checking at the JVMBridge level will be much less code, but user will see the ex

[2019-04-24 16:24] rapoth commented on #20
@amos-ortal: Thank you for raising this! Looks like our posts crossed :) We are currently working on adding the releases - they should be up soon. I'll provide an update.

Btw, in the mean time, you can always [build from source](https://github.com/dotnet/spark/tree/master/docs/building) if you would like to give that a shot.

[2019-04-24 16:25] imback82 opened #23 "Automate scalafmt (formatting rule for Scala)"
Create a script that can run scalafmt, similar to how apache/spark does: https://github.com/apache/spark/blob/master/dev/scalafmt

[2019-04-24 16:27] imback82 opened #24 "Dispose JvmBridge correctly"
Currently, a `JvmBridge` instance is a static member of `SparkEnvironment` class. Without forcing the user to call something like `SparkEnvironment.JvmBridge.Dispose()` in his/her application, there is no clean way to dispose `JvmBridge`, thus Scala side handles the disconnect gracefully (#121).

One approach to address this issue is to have a ref-counted `SparkSession` where `JvmBridge.Dispose()`

[2019-04-24 16:28] imback82 opened #25 "Use C# pattern matching for matching types."
There are many places where we are doing the following:
PayloadHelper.GetTypeId():

            if (type == typeof(int))
            {
                return new[] { Convert.ToByte('i') };
            }
            if (type == typeof(long))
            {
                return new[] { Convert.ToByte('g') };
            }
            ..

Use C#'s[ pattern matching](https://docs.microsoft.com/en-us/

[2019-04-24 16:29] imback82 opened #27 "Row unpickles long value incorrectly."
From Row.GetAs<T>(int):
If the original type is "long" and its value can be fit into the "int", Pickler will serialize the value as int. Since the value is boxed, GetAs<long> will throw an exception.

One way to address the issue is to convert the right type in Row.Convert(). However, since this has to be done for each row (plus boxing/unboxing), this may not be the ideal solution. Also, check if

[2019-04-24 16:30] imback82 opened #28 "Use DisplayClass to differentiate delegate with closure."
@stephentoub suggested this idea.

[2019-04-24 16:31] imback82 opened #29 "Handle "kill" signal better in DaemonServer."
According to Spark's PythonRunner.scala, the daemon server receives task runner id to kill. Currently, the server doesn't handle it and may leak a Task object. We need to introduce cancellation token in TaskRunner and launch Task with the token.

More detailed description can be found in DaemonWorker.WaitForSignal().

[2019-04-24 16:32] imback82 opened #31 "Write unit tests for SimpleWorker."
SimpleWorker unit tests are missing in Spark.Net.Work.UnitTest.

[2019-04-24 16:32] imback82 opened #32 "Implement accumulator in TaskRunner.cs"

[2019-04-24 16:33] rapoth opened #33 "Registering & Invoking other language UDFs (e.g., Java/Scala, Python, R) through .NET API"

[2019-04-24 16:34] rapoth opened #34 "TPC-DS Functional + SQL Queries"

[2019-04-24 16:38] eerhardt opened #36 "Use `dotnet pack` against a csproj to create nuget package"
We are currently using `nuget.exe` and a `.nuspec` file to create the Spark NuGet package. We should instead use `dotnet pack` and MSBuild to do this.

The advantages are that we can:

1. Maintain the dependencies in a single place (the .csproj).
2. Use MSBuild properties to control things like the version number. This allows for pre-release daily builds to have different version numbers.
3. It wo

[2019-04-24 16:50] imback82 commented on #35
Closed by #9

[2019-04-24 16:50] #35 closed

[2019-04-24 17:02] eerhardt opened #37 "Microsoft.Spark nuget package shouldn't work on all TFMs"
The Microsoft.Spark nuget package has a `build\Microsoft.Spark.targets` file. Since this file isn't contained in a TFM folder, nuget will think this package works on any TFM, even TFMs that aren't compatible with `netstandard2.0`.

See https://github.com/dotnet/machinelearning/pull/370 for the same issue that came up in ML.NET.

We should move that `.targets` file into a `build\netstandard2.0` fol

[2019-04-24 17:06] eerhardt opened #38 "Microsoft.Spark nuget package shouldn't have symbols files in it"
We are currently packaging the `.pdb` symbols file into the NuGet package. But we should be using the new `.snupkg` format instead.

See https://docs.microsoft.com/en-us/nuget/create-packages/symbol-packages-snupkg

The reason we don't want symbols in the NuGet package is because it bloats every application that uses this package. Symbols are only be used when debugging, so publishing an applicati

[2019-04-24 17:22] danmosemsft opened #40 "Add SourceLink support"
We aren't currently embedding SourceLink information into the PDB - that allows a debugger to automatically find and pull the source files.

https://github.com/dotnet/sourcelink has info

[code]
[code]

(Note you need 2.1 installed currently to run the tool: https://github.com/ctaggart/SourceLink/issues/380)

[2019-04-24 17:23] rapoth commented on #38
Great point! Ideally, we'd like to have separated Debug and Release packages similar to https://github.com/dotnet/machinelearning

What do you think?

[2019-04-24 17:27] danmosemsft commented on #40
We presumably want to have the build push the PDB to the symbol server if we don't already do that.

[2019-04-24 18:18] cartermp opened #41 "Discussion: Idiomatic F# APIs"
This user experience item describes idiomatic APIs for C# and F#: https://github.com/dotnet/spark/blob/master/ROADMAP.md#user-experience-1

I think this would be a good issue to discuss what idiomatic looks like for F# in the context of spark.

Here's the (basic) sample from the .NET homepage:

[code]

Although this certainly isn't bad, a more idiomatic API could look something like this:

[code]

[2019-04-24 18:20] eerhardt commented on #40
Note: this is also related to #36.

The way you enable source link is to add

[code]

To your .csproj.

It looks like it doesn't. https://github.com/dotnet/spark/blob/master/azure-pipelines.yml

[2019-04-24 18:23] eerhardt opened #42 "Add license and 3rd party notices to nuget package"
We aren't currently putting the license and 3rd party notice files in our nuget package. We should add them.

[2019-04-24 18:28] rapoth commented on #42
CC: @safern @imback82

[2019-04-24 18:56] voltcode opened #45 "Arrow enabled implementation and comparison with pySpark"
It seems that using Arrow enabled Pandas could greatly improve pySpark efficiency. Did you compare against Arrow enabled Pandars or the version without? Is this detail something you could highlight in the comparison? As far as I know ,NET does not have proper Arrow bindings, and it would be of great benefit if it did, did you consider creating it? There's a bit of a discussion in https://github.co

[2019-04-24 19:31] rapoth commented on #45
@voltcode: Thank you for your comment! We totally agree and we are working on more benchmarks as I type this :) For a comparison against Arrow enabled Pandas in Python, having efficient .NET support for Arrow is a must.

We are already working very closely with the Arrow community towards getting the initial version done over the next few weeks. @eerhardt from our team has been contributing severa

[2019-04-24 19:40] eerhardt commented on #45
@voltcode - Arrow enabled Pandas UDFs are something we are actively working on. The preliminary numbers are promising when there are lots of records being serialized between the JVM and .NET, and we are working on making them better.

A few months ago @chutchinson contributed the [initial implementation of the .NET Apache Arrow](https://github.com/apache/arrow/tree/master/csharp) library and we ha

[2019-04-24 20:37] imback82 commented on #20
v0.1.0 is released and the link should work now. Thanks for reporting.

[2019-04-24 20:37] #20 closed

[2019-04-25 06:27] voltcode commented on #45
@rapoth thank you for the clarification. The benchmark link doesn't work - can you provide a new one?

[2019-04-25 06:32] imback82 commented on #45
@voltcode Here is the benchmark link: https://github.com/dotnet/spark/tree/master/benchmark

[2019-04-25 06:41] lqdev commented on #13
# Getting Started with Spark.NET on Ubuntu

These instructions help get you started with ML.NET on Ubuntu 18.04

## Download and Install Prerequisites

- [Java 1.8](https://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html)
- [Spark 2.4.x](https://spark.apache.org/downloads.html)
- Maven
- [.NET Core SDK 2.1](https://dotnet.microsoft.com/download/dotnet-core/2.1)

### In

[2019-04-25 06:42] lqdev commented on #13
Posted Initial Draft. Running the application causes issues though.

[2019-04-25 06:50] lqdev opened #48 "[BUG]: Sample From Readme Not Running Ubuntu 18.04"
**Describe the bug**
Running On Ubuntu 18.04 the following output / error appears:

[code]

**To Reproduce**

Using this code in `Program.cs`:

[code]

and this data in file `people.json`:

[code]
After entering the following command in the terminal

[code]

**Expected behavior**
No errors.

**Desktop (please complete the following information):**
 - OS: Ubuntu
 - Version 18.04

**Additional conte

[2019-04-25 07:26] imback82 commented on #48
Can you please try spark v2.4.0 or 2.4.1? 2.4.2 is just released two days ago and the support is not in yet.

[2019-04-25 09:33] jalchr opened #49 "[BUG]: Trying to follow the "Getting Started" guide step by step"
**Describe the bug**
I was following the Getting Started guide step by step. When I execute the following:

[code]

I get this:

[code]

[2019-04-25 09:37] jalchr commented on #49
I ran the code again but without the backtick

[code]
Now, I'm getting this:
[code]

[2019-04-25 14:14] lqdev commented on #48
2.4.1 Works. Thanks!

[2019-04-25 14:14] #48 closed

[2019-04-25 14:45] GoEddie commented on #49
were you able to run `spark-shell` ?

[2019-04-25 14:47] marcoparenzan commented on #49
I have the same issue. And please note that the jar to be used is 0.1.0 not 1.0.0-alpha

[2019-04-25 14:50] imback82 commented on #49
It appears that you are using Spark 2.4.2, which is not supported yet. Can you please try either 2.4.0, 2.4.1 or 2.3.*? More intfo #43.

[2019-04-25 14:56] marcoparenzan commented on #49
@imback82 Yes it works! I have used 2.3.3. Thanks!

[2019-04-25 14:58] marcoparenzan commented on #49
After the result (computed) I have this error.
2019-04-25 14:56:48 INFO  DAGScheduler:54 - Job 23 finished: showString at NativeMethodAccessorImpl.java:0, took 1.502159 s
+----+-------+----+-------+
| age|   name| age|   name|
+----+-------+----+-------+
|null|Michael|null|Michael|
|  30|   Andy|  30|   Andy|
|  19| Justin|  19| Justin|
+----+-------+----+-------+

2019-04-25 14:56:48 INFO  Abstra

[2019-04-25 15:08] imback82 commented on #49
This is a known in Spark: https://issues.apache.org/jira/browse/SPARK-12216

[2019-04-25 15:09] marcoparenzan commented on #49
Great! Thanks!

[2019-04-25 15:35] lqdev commented on #13
Added instructions as part of #50

[2019-04-25 15:45] rapoth commented on #45
@voltcode: Made a linking mistake 🤦 I fixed my original post. Thanks for catching!

[2019-04-25 17:11] amgadmadkour commented on #49
One temporary work-around to avoid seeing this error is to add the following two lines in the log4j.properties file of your spark installation:

`log4j.logger.org.apache.spark.util.ShutdownHookManager=OFF
log4j.logger.org.apache.spark.SparkEnv=ERROR`

Source: [Stack Overflow](https://stackoverflow.com/questions/41825871/exception-while-deleting-spark-temp-dir-in-windows-7-64-bit)

[2019-04-25 21:12] GoEddie opened #55 "[BUG]: DataFrameWriter PartitionBy fails - cannot find matching method class org.apache.spark.sql.DataFrameWriter.partitionBy"
**Describe the bug**

DataFrameWriter.PartitionBy fails to execute. PartitionBy takes an array of strings as the parameters (params string[]) and when the scala code tries to find the matching method on ```org.apache.spark.sql.DataFrameWriter``` it fails because it is expecting either a Seq or a String[] but instead (*I think* at least) it is looking for one string argument for every column passed

[2019-04-25 21:23] GoEddie commented on #49
Just to help others - in your spark directory there is a conf directory - add those two lines to the "log4j.properties" file. If there is no "log4j.properties" there should be a "log4j.properties.template" - copy the .template and remove the ".template" then add those lines at the top and the error will be hidden

[2019-04-25 21:32] imback82 commented on #55
Thanks for reporting. I created PR #56 to address this.

[2019-04-25 21:33] GoEddie commented on #55
wow that was quick :)

[2019-04-25 21:33] #55 closed

[2019-04-25 22:03] GoEddie opened #57 "[BUG]: DataFrameWriter Option isn't passing the key, only the value"
**Describe the bug**

`DataFrameWriter.Option` takes a key and a value but DataFrameWriter is only passing on the value so the method can't be found.

**To Reproduce**

[code]

This causes:

"cannot find matching method class org.apache.spark.sql.DataFrameWriter.option. Candidates are:"

in DataFrameWriter we have:

[code]
which I guess should be:

[code]

There is one Option for each data type it

[2019-04-26 06:12] imback82 commented on #49
@jalchr I am closing this as a duplicate of #48. Thanks for reporting!

[2019-04-26 06:12] #49 closed

[2019-04-26 06:20] imback82 opened #60 "[Attn] Support for Spark 2.4.2"
**Summary**: You cannot use **.NET for Apache Spark** with **Apache Spark 2.4.2**

**Details**: Spark 2.4.2 was released on 4/23/19 and using it against microsoft.spark.2.4.x results in unexpected behavior (reported in #48, #49); the expected behavior is that you would get an exception message such as `Unsupported spark version used: 2.4.2. Supported versions: 2.4.0, 2.4.1` causing less confusion.

[2019-04-26 07:10] FahaoTang commented on #49
I got the same issue and found out it is because I am using Spark 2.4.2.
After I change to Spark 2.4.1, it is working.
Please refer to my following post about the details with some examples, i.e. read/write parquet files; read from HDFS/Hive using C#.
[.NET for Apache Spark Preview with Examples](https://kontext.tech/docs/DataAndBusinessIntelligence/p/dotnet-csharp-fsharp-for-apache-s
park-example

[2019-04-26 07:20] imback82 commented on #49
Wow, thanks for the nice blog @FahaoTang! (btw, you may want to fix the link in your comment.

[2019-04-26 07:22] FahaoTang commented on #49
Thanks for the reminder. I just fixed the link. :)

[2019-04-26 07:30] FahaoTang commented on #60
Strongly support for this one. It took me more than 1 hour to doubt there might be something wrong with my Spark configuration as it keeps raising error about Spark Logging class not found while I was using 2.4.2

[2019-04-26 09:47] saravananponnaiah opened #61 "ERROR Shell: Failed to locate the winutils binary in the hadoop binary path"
With all the steps stated in https://github.com/dotnet/spark#get-started and when executing the command,
`spark-submit --class org.apache.spark.deploy.DotnetRunner --master local microsoft-spark-2.4.x-0.1.0.jar HelloSpark
`
I am getting error message that states as below,

`
19/04/26 15:24:29 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classe

[2019-04-26 12:01] GoEddie commented on #61
Either ignore it or you can download winutils.exe put it a folder like c:\hadoop\bin then set HADOOP_HOME to c:\hadoop

Download from:

https://github.com/steveloughran/winutils/tree/master/hadoop-2.7.1/bin

This is documented under "5. Install Apache Spark 2.3+" in (you need to click the "show console output" button:

https://github.com/dotnet/spark/blob/35048c9cfa324336497055d6543fa46b8d2de247/d

[2019-04-26 14:30] isaacabraham commented on #41
Thanks for tagging me :-) Definitely, having a mapping from a C# API that looks to already be pipelined and somewhat stateless to an F# one would be nice, although I imagine most of this would simply be mapping an extension method to a partially applied function, pushing the first argument to the first and a rename of the function.

Weighing up the cost / benefit of that, I'm not convinced it's wo

[2019-04-28 05:34] imback82 commented on #57
Closed by #59

[2019-04-28 05:34] #57 closed

[2019-04-28 09:26] zpodlovics commented on #41
@dsyme, @7sharp9
The most unique value proposition would be F# metaprogramming (staging) that could allow us to implement similar functionality for F# (Flare implemented in Scala LMS). Code specialization (~collapsing abstractions) could provide orders of magnitude performance improvement.

Flare: Optimizing Apache Spark with Native Compilation for Scale-Up Architectures and Medium-Size Data

"We

[2019-04-29 01:42] cartermp commented on #41
Relevant language suggestion on improved staging of quotations is here: https://github.com/fsharp/fslang-suggestions/issues/584

I think it's a wonderful idea, and given Spark .NET's existence I can see it being given higher priority than it was given in the past.

[2019-04-29 08:55] jalchr commented on #49
@imback82 I installed spark v2.4.1 ... yes it is running. But still getting this:

[code]

[2019-04-29 08:58] jalchr commented on #49
Interesting ... I added the extension to `HelloSpark.dll` and now getting this

[code]

[2019-04-29 09:07] FahaoTang commented on #49
Did you follow my post? it should work.

[2019-04-29 16:17] imback82 commented on #49
@jalchr Do you have `HelloSpark.exe` in that directory? If not, you should do `<dotnet-exe-fullpath> HelloSpark.dll` instead,

[2019-04-29 16:22] imback82 opened #64 "Remove Pyrolite pickling code when the Razorvine.Pyrolite.dll is signed with a strong name"
Now that Nuget v4.25 is released with a strong name signing: https://www.nuget.org/packages/Razorvine.Pyrolite/4.25.0, we can remove the code from our repo.

[2019-04-29 18:37] #36 closed

[2019-04-29 18:37] #37 closed

[2019-04-29 18:37] #38 closed

[2019-04-29 19:29] #64 closed

[2019-04-29 22:11] #42 closed

[2019-04-30 05:03] saravananponnaiah commented on #61
Awesome Eddie. It worked seamlessly. Thanks a lot for helping me out to run my first .Net Spark app... :-)

[2019-04-30 05:09] imback82 commented on #61
Thanks @GoEddie and @saravananponnaiah. I am closing the issue.

[2019-04-30 05:09] #61 closed

[2019-04-30 06:14] jalchr commented on #49
I was running in debug mode, which produces .dll file.
I have to publish it :
[code]
Now, I'm getting an .exe file and works perfectly.

Thanks all

[2019-04-30 16:29] orestis-ms opened #72 "System.BadImageFormatException"
In Windows 10, we have created a netcoreapp2.1 project in VS2019 for the sample HelloSpark, building for x64 architecture. We use the binaries for the netcoreapp2.1 Microsoft.Spark.Worker, and we try to run on a v.2.4.1 Spark local instance with 64-Bit OpenJDK and 64-bit Python3.5.2 (Anaconda).

We get the following error:
Unhandled Exception: System.BadImageFormatException: Could not load file or

[2019-04-30 16:31] suhsteve commented on #72
Can you also provide the spark-submit command you used ?

[2019-04-30 16:33] orestis-ms commented on #72
spark-submit --class org.apache.spark.deploy.DotnetRunner --master local microsoft-spark-2.4.x-0.1.0.jar HelloSpark.dll

I also had to manually copy the Microsoft.Spark.Worker DLLs to the same directory. Otherwise, it would fail to find them:
Unhandled Exception: System.IO.FileNotFoundException: Could not load file or assembly 'System.Runtime, Version=4.2.1.0, Culture=neutral, PublicKeyToken=b03f5

[2019-04-30 16:54] rapoth commented on #72
Can you please try the following command?

spark-submit `
     --class org.apache.spark.deploy.DotnetRunner `
     --master local `
     microsoft-spark-2.4.x-<version>.jar `
     <full-path-to-dotnet.exe> .\HelloSpark.dll

There was a bug in our documentation that suggested using a DLL instead of specifying the path to dotnet.exe.

[2019-04-30 16:57] suhsteve commented on #72
Regarding the issue with manually copying the Microsoft.Spark.Worker dlls to the same directory.   Was the environment variable DotnetWorkerPath set before running the submit command?

**IMPORTANT** Create a [new environment variable](https://www.java.com/en/download/help/path.xml) `DotnetWorkerPath` and set it to the directory where you downloaded and extracted the Microsoft.Spark.Worker (e.g., `

[2019-04-30 19:01] imback82 opened #75 "Publish PDBs to symbol server"
We need to update build pipeline to publish PDBs to symbol server.

cc: @eerhardt @safern

[2019-04-30 19:44] rousebaby opened #77 "System.Runtime issue"
Hi All,

Might be a dumb question.

I am experienced in .net but new to the GIT and Spark. I am trying to run Spark from .net.

I tried to follow the step as shown here,

https://github.com/dotnet/spark/blob/master/README.md#get-started

After couple of struggle i was able to get in to the point of running Spark-Submit.

But when i run that

I am getting this error

Unhandled Exception: System.IO.

[2019-04-30 19:51] imback82 commented on #77
Hi @rousebaby, can you share the command you ran?

[2019-04-30 19:55] rousebaby commented on #77
Hi @imback82 , Thanks for your reply.

Please find below.

spark-submit --class org.apache.spark.deploy.DotnetRunner --master local microsoft-spark-2.4.x-0.1.0.jar HelloSpark.dll

[2019-04-30 19:57] imback82 commented on #77
Can you do `<full-path-dotnet.exe> HelloSpark.dll`? We updated the README earlier today.

[2019-04-30 20:00] rousebaby commented on #77
i believe when you say full path to the exe, can  you please confirm is this as like below

spark-submit --class org.apache.spark.deploy.DotnetRunner --master local microsoft-spark-2.4.x-0.1.0.jar C:\XXX\HelloSpark\bin\Debug\netcoreapp2.1\HelloSpark.dll

still got the same error

[2019-04-30 20:02] imback82 commented on #77
[code]

[code]

[2019-04-30 20:07] rousebaby commented on #77
got it, meanwhile you posted, i tried running it after finding the dotnet path. Seems i got the out put. But it was showing so many logs which i was not able to get what it is doing. Hopefully i think it ran. i was able to see this thing n the console window

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

Thanks for your help.

But any luc

[2019-04-30 20:12] rousebaby commented on #77
Also would like inputs on comparing .Net with Scala. (to note am new to Spark as well as Scala)

As shown in below image

https://devblogs.microsoft.com/dotnet/wp-content/uploads/sites/10/2019/04/dotnetsparkarchitecture-1.png

Scala is very close to the Apache Spark Core and our .Net is sitting after a Interop. (Am also seeing a SparkR dont know what it is).  Yes, I have seen the metrics it said S

[2019-04-30 21:02] imback82 opened #78 "Automate packaging release artifacts"
The build pipieline should automatically produce the following worker binaries for release:
  * Microsoft.Spark.Worker.net461.win-x64-0.1.0.zip
  * Microsoft.Spark.Worker.netcoreapp2.1.linux-x64-0.1.0.tar.gz
  * Microsoft.Spark.Worker.netcoreapp2.1.win-x64-0.1.0.zip

[2019-04-30 21:14] imback82 commented on #77
Please refer to: https://spark.apache.org/docs/latest/configuration.html#configuring-logging

[2019-04-30 21:17] imback82 commented on #77
Unless you use UDFs, Scala and .NET perf should be very similar. When you have UDFs, .NET worker is launched on the executor node to process .NET UDFs and you may see perf differences depending on your UDF and workload. Please refer to https://devblogs.microsoft.com/dotnet/introducing-net-for-apache-spark/ and ".NET for Apache Spark performance" section.

[2019-04-30 21:18] imback82 commented on #77
I am closing this issue now that you resolved the issue running the sample app.

[2019-04-30 21:18] #77 closed

[2019-05-01 08:01] saravananponnaiah opened #83 "[BUG]: org.apache.spark.sql.AnalysisException: Cannot resolve column name"
**Describe the bug**
I am trying work count program and below is the code I am executing,

[code]

When I execute, I am getting below error. Could you please help on this.

[code]

[2019-05-01 14:14] rapoth commented on #83
@saravananponnaiah: Can you try moving the Alias into the Select? (since you are aliasing the column name and not the output of Select itself).

            DataFrame words = lines.Select(Explode(Split(lines["value"], " ")).Alias("word"));

[2019-05-01 16:28] francisco-ltech opened #84 "Documentation for running .NET for Apache Spark on Azure Databricks"
Is there already any documentation about how to use .Net for Apache Spark inside Azure Databricks? Do we need to wait for Azure Databricks to allow Noteboks be created with C# as a language?

[2019-05-01 18:04] rapoth commented on #84
Yes, there are instructions to do a [manual install](https://github.com/dotnet/spark/tree/master/deployment#databricks) at the moment. You can run batch jobs today on Azure Databricks.

We are currently in discussions with them to do a more deeper Notebook integration.

[2019-05-01 23:51] unruledboy commented on #49
I followed the steps, and managed to run it with this command:

C:\bin\spark-2.4.1-bin-hadoop2.7\bin\spark-submit      --class org.apache.spark.deploy.DotnetRunner      --master local      microsoft-spark-2.4.x-0.1.0.jar      HelloSpark

But encountered this exception:

Missing Python executable 'python', defaulting to 'C:\bin\spark-2.4.1-bin-hadoop2.7\bin\..' for SPARK_HOME environment variable.

[2019-05-01 23:58] imback82 commented on #49
Please try:
[code]
as the README says here https://github.com/dotnet/spark#get-started

[2019-05-02 00:00] unruledboy commented on #49
@imback82 sorry, I found that cause and moved on and now I have same problem as discussed here: https://github.com/dotnet/spark/issues/77

[2019-05-02 00:08] unruledboy commented on #49
Now I managed to run it, but has some exception after it finishes.

First, I would suggest to give a working sample of the command, like:

Second, at the end of the program, it throws some Spark exceptions:

19/05/02 10:05:24 WARN SparkEnv: Exception while deleting Spark temp dir: C:\Users\user\AppData\Local\Temp\spark-e362e9c1-4189-4c58-9988-a415148242f5\userFiles-7b6adef9-4da3-49a8-bc4b-4ecdae22

[2019-05-02 00:14] imback82 commented on #49
Please refer to https://github.com/dotnet/spark/issues/49#issuecomment-486714091

[2019-05-02 00:22] unruledboy commented on #49
@imback82 my bad, I searched before I made the comment, I suggest the search function in GitHub backed by Elasticsearch has some keyword parsing issue.

Anyway, all good. Thanks a lot for the quick prompt. I came a long way for Spark,, more than 1 year ago I evaluated Mobius but found out it has issue and can't meet our requirement, so we end up using native Scala solution, which is not ideal for

[2019-05-02 02:17] imback82 commented on #78
Closed by #82

[2019-05-02 02:17] #78 closed

[2019-05-02 02:19] imback82 commented on #72
@orestis-ms Please reopen the issue if you still encounter the same issue.

[2019-05-02 02:19] #72 closed

[2019-05-02 03:44] imback82 commented on #49
We look forward to working together, @unruledboy!

[2019-05-02 03:44] d0ggyRul3z commented on #77
hey @imback82 , just trying to follow the readme and got all running until I got to the same path.

perhaps the documentation needs to be tidy up and that path be made more obvious?

kind regards
Zac

[2019-05-02 03:46] imback82 commented on #77
@d0ggyRul3z can you help with the documentation if something is not clear? On the other hand, we are releasing v0.2.0 soon where you don't need to provide the full path for `dotnet` . Would that help?

[2019-05-02 04:29] d0ggyRul3z commented on #77
hey @imback82 , i'm happy to help. Are there any privilages that will be given to me?

[2019-05-02 04:56] imback82 commented on #77
You can follow the [contribution guideline](https://github.com/dotnet/spark/blob/master/CONTRIBUTING.md).

[2019-05-02 06:50] imback82 commented on #40
Reopening this since the latest Nuget (v0.2.0) didn't resolve this issue.

[code]

[2019-05-02 10:04] francisco-ltech commented on #84
Thanks for the link. I've followed the instructions and when I try to configure spark-submit, with:

["--files","/dbfs/dotnet","--class"," org.apache.spark.deploy.DotnetRunner","/dbfs/dotnet/microsoft-spark-2.3.x-0.1.0.jar","/dbfs/dotnet/HelloSpark.zip","HelloSpark","",""]

or

["--files","/dbfs/dotnet","--class"," org.apache.spark.deploy.DotnetRunner","/dbfs/dotnet/microsoft-spark-2.3.x-0.1.0.jar

[2019-05-02 13:28] d0ggyRul3z commented on #77
hey @imback82 , I've visited the contribution guidelines as per your suggestion. However, the guidelines has no clear instructions on how to proceed.

The guidelines states that "As a first time contributor, you will be invited to sign the Contributor License Agreement (CLA). Please follow the instructions of the dotnet foundation bot reviewer on your PR to sign the agreement indicating that you h

[2019-05-02 14:35] imback82 commented on #84
@suhsteve, can you help?

[2019-05-02 14:42] imback82 commented on #77
You need to create a fork. Hopefully this link will help: https://gist.github.com/Chaser324/ce0505fbed06b947d962. Signing CLA will be shown when you create the first PR.

[2019-05-02 14:59] eerhardt commented on #40
@imback82 - where did you get the `.pdb` from? I can't find it on the symbols servers.

[2019-05-02 15:56] suhsteve commented on #84
@francisco-ltech your last post has an edit/update.  Does that mean you have resolved your issue?

[2019-05-02 17:04] francisco-ltech commented on #84
@suhsteve @imback82 Yes, all good. Maybe worth amending the docs to say the spark-submit tasks needs to be for a new cluster. I'm sure any .net dev new to databricks will hit the same wall like me :-) I can send a PR for this.

Just in case anyone want to see an example of what the parameters look like:

`["--files","/dbfs/mnt/dotnet","--class","org.apache.spark.deploy.DotnetRunner","/dbfs/mnt/dot

[2019-05-02 17:04] #84 closed

[2019-05-02 17:28] suhsteve commented on #84
Thanks for the update.   The [databricks documentation](https://docs.databricks.com/user-guide/jobs.html#create-a-job) includes a note that spark-submit jobs only works on new clusters, but we can definitely amend our docs also and include a note.

Regarding your example parameters, can you try also try to run it with:
`["--class","org.apache.spark.deploy.DotnetRunner","/dbfs/mnt/dotnet/microsoft-

[2019-05-02 18:41] eerhardt commented on #40
I debugged the build, and the issue is our official build is on an internal VSTS repo that is mirrored from GitHub. But we want to point source link to the GitHub links.

It looks like dotnet/arcade has this solved:

https://github.com/dotnet/arcade/blob/6e5837e2fdd77c0da4f73376ee4498c42a01d2a1/src/Microsoft.DotNet.Arcade.Sdk/tools/RepositoryInfo.targets#L12-L38

My suggestion is that we should pr

[2019-05-02 23:04] rapoth commented on #83
@saravananponnaiah : I'm closing this for now. Please feel free to re-open if the suggested change does not fix your problem. Thank you!

[2019-05-02 23:04] #83 closed

[2019-05-03 06:56] francisco-ltech commented on #84
Yes, that also works. Thanks :-)

[2019-05-06 13:59] rapoth commented on #84
CC: @imback82 for comment on the list of APIs. We do not support RDDs at the moment (per advice from Reynold Xin from Databricks) and hence Parallelize is not opened up.

On a related note, I've updated the [Running on Databricks documentation](https://github.com/dotnet/spark/tree/master/deployment#databricks) - Do you have any thoughts? Here's the https://github.com/dotnet/spark/pull/94 where I b

[2019-05-07 07:52] sanjusss opened #99 "Missing line in file developer-guide.md"
https://github.com/dotnet/spark/blob/master/docs/developer-guide.md#debugging-net-application
debug command：
[code]
The correct way is：
[code]

[2019-05-07 08:16] francisco-ltech commented on #84
@rapoth Thanks for updating the docs, I think it reads much clearer now.

[2019-05-07 15:32] rapoth commented on #99
Thanks for reporting. CC: @imback82

[2019-05-07 23:21] imback82 commented on #99
Addressed by #100

[2019-05-08 08:26] #99 closed

[2019-05-08 21:10] borgdylan commented on #60
I get this:
[code]

when using v. 2.4.2. Please provide directiosnd on which version of spark to install.

[2019-05-08 21:21] imback82 commented on #60
@borgdylan Please check supported version here: https://github.com/dotnet/spark/blob/master/docs/release-notes/0.2/release-0.2.md

[2019-05-09 13:12] codefever555 opened #101 "RDD and Parallelize availability in Nuget Package"
Is there anyway to manage RDD and Parallelize context by using Nuget Package.
It seems they're all "Internal" and not accessible or I'm missing something.
Also can't see anything a bit more advance in samples like what Mobius was providing.

[2019-05-09 19:36] guruvonline opened #102 "error in installing on Azure Databricks"
I am following the [instructions](https://github.com/dotnet/spark/tree/master/deployment#databricks) to setup new cluster with .NET for Apache spark.  i have not changed any path/config from that shared in document. When i try to start my cluster it fails. below is the message that is getting logged.

bash: line 12: $'\r': command not found
bash: line 18: $'\r': command not found
bash: line 22: $'

[2019-05-09 19:50] guruvonline commented on #102
fixed the issue. i was copying the install files from windows. May be we can add note for this in instructions

[2019-05-09 19:50] #102 closed

[2019-05-10 04:13] rapoth commented on #101
@codefever555 : Thank you for starting the discussion. We have a very preliminary support for RDDs but all the APIs are currently internal as you correctly pointed out (we have no plans of opening them up unless there is strong demand for production use cases).

Before we started this project, we had several rounds of discussion with PMC members of the Apache Spark community. Their advice was that

[2019-05-10 05:08] imback82 commented on #60
Spark 2.4.3 is now released: http://spark.apache.org/releases/spark-release-2-4-3.html, and it fixes the default Scala version. If you use microsoft-spark-2.4.x-0.2.0.jar against the Spark 2.4.3, you get the correct error message now:
[code]

We are not going to support Spark 2.4.2 since it requires a new `microsoft.spark-2.4.2-<version>.jar` that just targets Spark 2.4.2.

We will release 0.3.0 t

[2019-05-10 05:08] #60 closed

[2019-05-10 07:18] codefever555 commented on #101
@rapoth :Thank you for the response,
The main reason I'd like to use spark is to create a pipeline for parallel processing big batches of data.
The calculation is not heavy at all but splitting batches automatically with fault tolerance  is my main goal to achieve.
But alternatively maybe it's better to have streamer at the beginning to stream batch files and have spark on top of that but still no

[2019-05-10 13:55] e-abreu opened #103 "Any plans to support Datasets?"
Looking at the code and the roadmap, there is nothing about supporting Datasets in the future.
Are there any plans for it?

---

Dataframes are the untyped version of the Dataset (Dataset<Row>).
Datasets would allow writing less code and code less prone to bugs, using Spark as one would use Linq.

I'm talking about coding in C# using this:
[code]

Over this:
[code]

[2019-05-10 22:52] rapoth commented on #103
@e-abreu: As it turns out, this is one of the current limitations of Apache Spark. We started looking into this but after checking with the Apache Spark community and looking at what PySpark folks are doing, we were advised against opening up Dataset API. The recommendation from Apache Spark is to not really depend on Datasets API in other languages.

Beyond this, there are a few practical problem

[2019-05-10 22:52] #103 closed

[2019-05-10 22:55] rapoth commented on #101
Have you considered putting your data into a system such as Kafka and pulling the data through Spark Structured Streaming (we support this [scenario](https://github.com/dotnet/spark/blob/master/examples/Microsoft.Spark.CSharp.Examples/Sql/Streaming/StructuredKafkaWordCount.cs) - you can parallelize your operations this way.

[2019-05-11 11:08] codefever555 commented on #101
Thanks @rapoth , my plan initially was similar concept and it's great that you support this type of parallel processing.there will be some microservices to initiate/load data to streams and on top of stream we can use spark's advantages to process them rapidly.the goal to achieve here is prevent creating a functionality in generic manner to process micro batches in parallel approach.
I wonder how

[2019-05-14 19:18] AeroXuk opened #105 "Add config option for installing .NET Core runtime in shared mode"
Giving the option within the `db-init.sh` initialisation script to install .NET Core Runtime in shared mode would allow for smaller application bundles.

When running `dotnet publish` then bundling within a .zip file, it produces around 200 files and an almost 30MB .zip file.  Having the .NET Core Runtime installed on the workers in shared mode allows us to compile with the `--self-contained=false

[2019-05-15 08:54] cosmincatalin opened #107 "MacOS support"
Please add support for running in MacOS.

[2019-05-16 22:33] peacecwz opened #110 "Happy Birthday"
Happy Birthday

[2019-05-17 00:57] guruvonline opened #112 "Array/Map return types for UDF do not work correctly."
I have a scenario where for structured streaming input and for each event/row i have to write a custom logic/function which can return multiple rows.

looks like for return type UDF only supports basic type and not list/array.

Any workaround for this?

for sample my UDF is something like below, so that i can explode to create multiple rows.
`
         Func<Column, Column> ToUpperList = Udf<string

[2019-05-17 02:33] imback82 commented on #112
Looks like the array return type has a bug. I will fix it asap. I have a local fix working as follows:
[code]

The original table:
[code]

After exploding:
[code]

[2019-05-17 19:34] guruvonline commented on #112
few more related questions.

- Can i have custom classes as return type

- can return type be IEnumberable<T>

[2019-05-17 21:22] imback82 commented on #110
Thank you!

[2019-05-17 21:22] #110 closed

[2019-05-17 21:34] suhsteve commented on #105
Thank you for your interest and support, but this is not a change we can accept at this time for the following reasons:

1) We would like to keep the worker installation and application execution experience as similar as possible between the various cloud platforms.  Other scenarios would need to be updated and verified.

2) The worker and applications are self-published in order to have a bit mor

[2019-05-18 16:04] rapoth commented on #112
For the first one, the answer is no. However, we'd like to understand the use case. Can you explain the scenario where you want this? (sample scenario with some snippets would be best)

For second one, you want to iterate over the result set? If so, have you considered using [ToLocalIterator](https://github.com/dotnet/spark/blob/35048c9cfa324336497055d6543fa46b8d2de247/src/csharp/Microsoft.Spark/S

[2019-05-18 17:27] rapoth commented on #112
No, at the moment. However, we'd like to understand the use case. Can you explain the scenario where you want this? (sample scenario with some snippets would be best)

From what I understand, you want to iterate over the result set? If so, have you considered using ToLocalIterator which returns an IEnumerable.

[2019-05-20 09:59] AeroXuk commented on #105
@suhsteve Thank you for your review. Would information on how to switch from self-published to shared install be better as a documentation piece? I could see other people wanting smaller application packages if they intend to have many applications deployed to DBFS for different scenarios.

[2019-05-20 16:19] imback82 commented on #112
I think @guruvonline meant to have IEnumerable<T> as a return type of UDF. Yes, this will be supported:
[code]

[2019-05-21 02:48] imback82 commented on #107
Thanks for reporting.

If you are not using UDFs in your application, you can follow [Ubuntu instruction](https://github.com/dotnet/spark/blob/master/docs/getting-started/ubuntu-instructions.md) to get it working; you can skip installing the Microsoft.Spark.Worker.

If you are using UDFs in your appliction, you can follow [this](https://github.com/dotnet/spark/blob/master/docs/getting-started/ubun

[2019-05-21 06:51] Ragavenderan opened #115 "Calling Scala Functions from .NET for Spark"
We have some prebuilt Jars ( Scala methods to query data from HDInsight).
How can we call these methods from .Net for Spark API ?

[2019-05-21 09:38] robyle opened #116 "Why I try to run GetConnection(), It will throw Exception?"
I'm a new user for dotnet spark.  When I run the Examples,The code run to \src\csharp\Microsoft.Spark\Interop\Ipc\JvmBridge.cs  ，on line 171, it will be throw a exception.
Anyone can help me ?  I don't know how to continue .

![spark-problem](https://user-images.githubusercontent.com/11662528/58085385-351cf080-7bef-11e9-9d09-564fd28ed907.png)

[2019-05-21 12:58] cosmincatalin commented on #107
Thanks for the guidance. Works fine. Maybe the documentation needs to be updated with this.

[2019-05-21 12:58] #107 closed

[2019-05-21 16:30] rapoth commented on #115
@Ragavenderan: Thanks for raising this! Can you give us a sample Scala method and how you intend to use it within Spark?

[2019-05-21 17:13] Ragavenderan commented on #115
Currently we have a jar file that contains the  function definitions.
From pyspark - this is how we call the method -

from pyspark.sql import SparkSession, DataFrame
def load_curated_email(spark, category, startdate="", enddate="", location=""):

    df = spark._jvm.com.microsoft.odinml.Extractor.loadCuratedEmail(spark._jsparkSession, category, startdate, enddate, location)
    return DataFrame(d

[2019-05-21 17:18] guruvonline opened #117 "[FEATURE REQUEST]: UDF to return custom business objects"
I have a C# component which is presently running in Azure Data lake and i am planning to move to Spark and reuse the same component.
My example scenario

C# takes an input of Manager Dataset like

| mgrId | name |
| ------- | ------ |
| 11 | ABC |
| 22 | DEF |

C# component returns a List of Reportee, where Reportee is Defined as
`Class {
public int EmpId;
public string Name;
public string Role;
p

[2019-05-21 17:20] guruvonline commented on #112
I have added a new feature [request](https://github.com/dotnet/spark/issues/117) with example scenario

[2019-05-21 17:40] imback82 commented on #116
Looking at your port, you are running as a debug mode. Can you make sure your are following https://github.com/dotnet/spark/blob/master/docs/developer-guide.md?

[2019-05-21 19:01] imback82 commented on #115
The proper way to do this to introduce new datasource such that you can do:

[code]
Have you considered this option?

Otherwise, we don't have a plan to support calling Scala methods from .NET other than `RegisterJava` for UDF [here](https://github.com/dotnet/spark/blob/35048c9cfa324336497055d6543fa46b8d2de247/src/csharp/Microsoft.Spark/Sql/UDFRegistration.cs#L230).

[2019-05-22 03:59] imback82 commented on #117
The UDT (user-defined type) as a return type of UDF will not be supported. (UDT API in Spark became private since 2.0, and not much traction in PR, etc.)

However, we plan to achieve something similar using StructType. This is how it's done in [PySpark](https://stackoverflow.com/questions/36840563/how-to-return-a-tuple-type-in-a-udf-in-pyspark).

I did a quick prototype, and it looks like the foll

[2019-05-22 04:03] robyle commented on #116
![ok_spark](https://user-images.githubusercontent.com/11662528/58146630-82e63700-7c89-11e9-8b04-08ba6f06c194.jpg)
yes, I trys ok now,  Thinks.  I 'm a new dotnet sparker ,  Can you give me some learning tips for spark?

[2019-05-22 13:08] borgdylan opened #118 "[FEATURE REQUEST]: IsIn"
IsIn operator is not available on column as is available on the Scala API. Is it possible to add it?

[2019-05-22 17:30] safern opened #119 "Microsoft.Spark.dll is not signed"
It stopped being signed when we moved from nuspec into using `dotnet pack`. The reason of it is because apparently the --no-build switch is being ignored by the DotNetCoreCLI task when command = pack, so it rebuilds the binaries and overrides the signed ones with non-signed. I tried changing it to use the custom command and with that respects it. However, that is not enough, since we restored and

[2019-05-22 17:53] imback82 commented on #118
[code]
The current implementation of `JvmBridge` (C#) and `DotnetBackendHandler` (Scala) doesn't support passing `IEnumerable<object>` (somewhat equivalent to `Any*` in Scala), thus `isin` didn't make it to the `Column`'s public APIs. Any help would be appreciated to extend `JvmBridge` and `DotnetBackendHandler`.

[2019-05-22 17:55] imback82 commented on #116
You can try our [samples](https://github.com/dotnet/spark#samples) to get familiar with .NET experience and there are many tutorials on Spark on the web.

[2019-05-22 17:55] #116 closed

[2019-05-22 18:56] borgdylan commented on #118
Wouldn't it possible to pass an array/list, not necessarily any IEnumerable. IsIn is important for queries and it is not ideal to force people to use UDFs for this.

[2019-05-22 19:08] imback82 commented on #118
It's actually the "Any" type inside array/list/ienumerable that's not supported, not array/list/IEnumerable of a known Type.

What's the type you are passing here, Column, or something else? Depending on use cases, we could expose `Colulmn[]` and `string[]` first.

[2019-05-22 22:09] suhsteve opened #120 "[BUG]: The object in the lambda closure cannot be deserialized"
**Describe the bug**
The object in the lambda closure cannot be deserialized.

**To Reproduce**
Class Library: *ExternalLibrary.dll*
[code]

Console App: *SparkExample*
[code]

1. Compile the above code.
2. Copy the following assemblies to the **Microsoft.Spark.Worker** folder:
    - ExternalLibrary.dll
    - SparkExample.dll
3. Run *org.apache.spark.deploy.DotnetRunner* in [Debug Mode](https://gi

[2019-05-23 02:41] Yergat opened #121 "[BUG]: Deployment on Databricks"
Hi,

I followed the instructions provided on this [link](https://github.com/dotnet/spark/tree/master/deployment#databricks) to deploy my Spark .NET app on **azure databricks** but I can't get it to execute. I used Visual Studio 2019 to create my .NET Core app, I published using VS and zipped the content of the publish and copied the zip file to dbfs.

The first question I have, I setup the **_db-i

[2019-05-23 02:51] imback82 commented on #121
Can you please attach the full log for the run against Spark 2.4.0 using microsoft-spark-2.4.x-0.2.0.jar? (Please check [this](https://github.com/dotnet/spark/blob/master/docs/release-notes/0.2/release-0.2.md) for supported Spark versions).

You may be hitting an issue fixed in this [PR](https://github.com/dotnet/spark/pull/92) and you can try to set this at the start of your application:
[code]

[2019-05-23 02:56] imback82 commented on #121
@suhsteve what is `<your-app-main-class>` here? That would be just **_MY_APP_NAME_** (the executable name right?)

[2019-05-23 03:14] suhsteve commented on #121
Yes, that will be the application binary contained in the .zip

[2019-05-23 08:34] borgdylan commented on #118
Column[] would be priortity nr. 1, folowed by string[].

[2019-05-23 08:34] borgdylan commented on #118
I do not have any use cases in mind that use anything other than those.

[2019-05-23 13:05] Yergat commented on #121
Thanks for the quick reply guys,

I attached the full log files here:
[stderr.txt](https://github.com/dotnet/spark/files/3212204/stderr.txt)
[stdout.txt](https://github.com/dotnet/spark/files/3212205/stdout.txt)
[log4j-active.txt](https://github.com/dotnet/spark/files/3212206/log4j-active.txt)

Here are the details of the cluster and jar files used:
Databricks Runtime version:
5.3 (includes Apache

[2019-05-23 15:58] imback82 commented on #121
If you [published](https://github.com/dotnet/spark/tree/master/deployment#preparing-your-spark-net-app) correctly, you should see ApacheSparkfordotNet exectuable. Can you double check?

[2019-05-24 02:32] shyamalshukla opened #122 "Application file residing in hdfs"
Command : spark-submit --class org.apache.spark.deploy.DotnetRunner --deploy-mode cluster --master spark://<IP>:7077 hdfs://<IP>:9000/user/ContainerAdministrator/NetForSparkDemo/microsoft-spark-2.4.x-0.2.0.jar hdfs://<IP>:9000/user/ContainerAdministrator/NetForSparkDemo/NetForSparkDemo.exe

The driver failed with the below exception.
Would there be an approximate timeline for this to be available?

[2019-05-24 02:46] shyamalshukla opened #123 "Worker trying to locate application file in %DotnetWorkerPath%, even though the application was launched from a separate folder"
**Describe the bug**
When using Udf, worker tries to locate the application file in %DotnetWorkerPath% folder, even though the application file's path specified in spark-submit command line, was from a different application folder

**To Reproduce**

Submission command: [Application folder - C:\app\shared\SparkNet]

spark-submit --class org.apache.spark.deploy.DotnetRunner --deploy-mode cluster --m

[2019-05-24 02:58] imback82 commented on #123
Your UDF is embedded inside the NetForSparkDemo.exe, so the worker needs it to look up the UDF and execute it.

[2019-05-24 03:02] imback82 commented on #122
There is no timeline set for this. The tricky part to solve here is to figure out all the dependencies of the executable and download them as well, which could be non-trivial. We are open for any suggestion or PR. Thanks!

[2019-05-24 03:46] robyle commented on #116
OK，Thank you.

[2019-05-24 05:22] shyamalshukla commented on #123
If I move the UDF code, out to another file, the worker would then need access to that file .. can the worker access the UDF from the application folder. For a shared environment, copying the application binaries to the worker folder will not be possible, since this can cause conflicts.

Are there any alternatives to not have to copy the application code (or part of) to the worker folder

[2019-05-24 05:27] shyamalshukla commented on #122
With Mobius, the application code had to be in hdfs (did not allow file://).
Are there significant differences with respect to this functionality between spark.net and Mobius?

In the case of local files, how is the same guaranteed?

[2019-05-24 05:28] imback82 commented on #123
You can use `spark-submit`'s `--files` option to copy over assemblies that embed UDFs. They will be copied over to a unique directory for your job, so it will not cause any conflicts.

[2019-05-24 05:34] imback82 commented on #122
I don't have too much experience with running spark jobs thru Mobius, so I cannot answer this. @rapoth may help.

Can you elaborate on this question?

[2019-05-24 06:19] garyyang2002 commented on #115
Hi @imback82
I assume the UDF can only be used in spark sql, right?
The scenario Raga shared is to call a scala method to return a DataFrame as the python code shows, since we don't want to duplicate the logic in C#, is there any way to achieve this goal?

[2019-05-24 12:55] danny8002 commented on #112
I also get this error, and the workaround don't work.
[code]
I always get the following error stack:
[code]
just look at the source code [DateType.scala], (https://github.com/apache/spark/blob/master/sql/catalyst/src/main/scala/org/apache/spark/sql/types/DataType.scala) , i am totally new guy about Scala, and i can't understand why "array<string>" go wrong switch-case.
[code]

any workaround for m

[2019-05-24 13:11] Yergat commented on #121
You're right Tim, the VS publish was not giving the expected result, I had to run the dotnet publish command to get it to work.

I also tested the code with and without the following command, and you're right, I did have to include this in my code in order for it to run correctly. So when this fix is out, I won't be needing this code?

Thanks again for all your help.

[2019-05-24 13:59] danny8002 commented on #112
finally, i understand the Scala code, and i fix it now locally in Microsoft.Spark. will send PR later.

[2019-05-24 15:30] imback82 commented on #112
@danny8002 there is already a PR for this: #114.

[2019-05-24 15:33] imback82 commented on #121
Correct. The next release will contain the fix.

[2019-05-24 15:33] #121 closed

[2019-05-25 05:15] imback82 commented on #40
Fixed by #113.

Verified that source link test passed with the latest pdb:
[code]

[2019-05-25 05:15] #40 closed

[2019-05-25 05:16] imback82 commented on #13
Closed by #50

[2019-05-25 05:16] #13 closed

[2019-05-29 04:31] rapoth commented on #115
@garyyang2002: Yes, that's correct.

I'm afraid what you want is not possible by any simple means and is a use case we cannot support immediately. While you can call into regular Java functions through SparkSQL, the use case described here is to call a wrapper function that then invokes spark.read.format().load() which will return a Dataframe. This is a bit unconventional and is not the recommende

[2019-05-29 06:00] rapoth commented on #122
@shyamalshukla : I'm trying to understand your scenario better. Why are you using hdfs?

[2019-05-29 06:01] rapoth commented on #123
@shyamalshukla : Did the suggestion work for you?

[2019-05-30 01:22] shyamalshukla commented on #122
Yes, I am trying to run the app on a spark cluster.

From looking at the code in [DotnetRunner.scala](https://github.com/dotnet/spark/blob/master/src/scala/microsoft-spark-2.3.x/src/main/scala/org/apache/spark/deploy/DotnetRunner.scala) recently, I found that the app can be uploaded to hdfs as a zip, which is then downloaded and unzipped by the driver. Would the contents of this archive also be co

[2019-05-30 01:27] imback82 commented on #122
No, the contents will be available only to the driver. If you need to copy something to all of the executor nodes, you need to use either `--jars` or `--files` options built into `spark-submit`.

[2019-05-30 16:51] #119 closed

[2019-05-30 18:47] #112 closed

[2019-05-31 05:24] AAATechGuy opened #126 "[BUG]: Issue with running Spark. NET app on Azure Databricks - SparkStoppedException"
**Describe the bug**
SparkStoppedException while following instructions to run Spark .NET app on databricks (Azure).

**To Reproduce**

Steps to reproduce the behavior:

![image](https://user-images.githubusercontent.com/3484074/58683433-3d7cd600-8329-11e9-9c18-3af13cd4711f.png)

![image](https://user-images.githubusercontent.com/3484074/58683565-aebc8900-8329-11e9-9344-28006e4fa38e.png)

Errors..

[2019-05-31 05:43] #126 closed

[2019-05-31 05:43] imback82 commented on #126
I believe you shouldn't stop `SparkContext` (`spark.Stop()`) when you are running a job through "Set Jar". More info here: https://docs.databricks.com/user-guide/jobs.html#use-the-shared-sparkcontext

[2019-06-04 01:02] imback82 commented on #123
@shyamalshukla: Please reopen the issue if the suggestion didn't work out.

[2019-06-04 01:02] #123 closed

[2019-06-04 01:25] imback82 commented on #118
@borgdylan Looking into this further, the arguments should be literals like `int[]`, `string[]`, etc. instead of `Column[]`. Am I missing something? Do you have an use case where you need to pass Column here?

[2019-06-04 07:06] borgdylan commented on #118
For the majority of cases those should be enough. However, there may be join cases that use ```In()``` where the list coulld be retrieved from a query, hence having support for ```Column[]``` would be a nice plus.

[2019-06-05 10:03] johnpaulada opened #129 "[FEATURE REQUEST]: Ubuntu Docker Image with .NET Spark"
**Is your feature request related to a problem? Please describe.**
It's difficult to go ahead and try out .NET for Spark.

**Describe the solution you'd like**
It would be great if there was a Dockerfile to get started with it.

[2019-06-05 17:42] cosmincatalin opened #131 "MacOS binaries with UDF support"
Can we get binaries for MacOS with support for UDFs, just like there are for Windows and Ubuntu?

[2019-06-05 21:00] rapoth opened #132 "[FEATURE REQUEST]: Automate build drops for MacOS"
**Is your feature request related to a problem? Please describe.**
We do not publish binaries for MacOS today nor do we check if the build passes.

**Describe the solution you'd like**
It would be great if Azure Pipelines had a way to output binary drops for MacOS.

[2019-06-05 21:01] rapoth commented on #132
CC: @imback82 @suhsteve

[2019-06-06 15:23] #131 closed

[2019-06-06 16:47] imback82 commented on #131
Microsoft.Spark.Worker binaries for MacOS are now available for download: https://github.com/dotnet/spark/releases/tag/v0.3.0

[2019-06-06 16:47] imback82 commented on #132
Closed by #133.

[2019-06-06 16:47] #132 closed

[2019-06-07 17:52] cesinhaugusto commented on #18
Hi guys. I'm new here. I'd love to contribute to this issue, if it's still open

[2019-06-12 05:08] AAATechGuy opened #136 "Getting Started doc - missing info about HADOOP_HOME"
Without HADOOP_HOME set, we receive exception
```IOException: (null) entry in command string: null chmod 0644”? [duplicate]```

See issue at https://stackoverflow.com/questions/48010634/why-does-spark-application-fail-with-ioexception-null-entry-in-command-strin?noredirect=1

This is not documented at https://github.com/dotnet/spark/blob/master/docs/building/windows-instructions.md

We need to dow

[2019-06-12 05:11] imback82 commented on #136
Looks like it's hidden inside "Click to see sample console output", we will update the doc to be more visible.

[2019-06-12 08:54] aioloswong opened #137 "Is there a plan to implement dotnet for Flink?"
There are more and more Internet companies Like Alibaba, Tencent, Baidu change their big data computing engine from Spark to Flink. I want to know that is there a plan to implement dotnet for Flink in dotnet foundation.

[2019-06-12 22:22] suhsteve opened #138 "Assembly Loading Best Practices"
Revisit the `LoadAssembly` method used in UdfSerDe.cs .  Explore alternative approach to loading assemblies.  Instead of using `Assembly.LoadFrom`, consider `AssemblyLoadContext`

[Best Practices for Assembly Loading](https://docs.microsoft.com/en-us/dotnet/framework/deployment/best-practices-for-assembly-loading)

[MSBuild Example](https://github.com/microsoft/msbuild/blob/fc10ea8ce260b764bb9fa50

[2019-06-12 23:04] suhsteve commented on #136
Addressed in PR #134

[2019-06-13 09:18] petmoy commented on #101
Hi @rapoth,

I see that Kakfa is supported by spark .net but I get an error that it requires a different deployment...Do you know where I can find clear instructions of how to run the Kafka sample code? Thanks

[2019-06-13 16:08] imback82 commented on #137
@aioloswong currently, there is no plan to expose .NET bindings to Flink.

[2019-06-13 16:09] imback82 commented on #101
@petmoy can you please file a separate issue and describe what is not clear about instructions, etc.?

[2019-06-13 16:12] imback82 commented on #18
@suhsteve can you check if there are any examples that @cesinhaugusto can help with?

[2019-06-13 23:05] #136 closed

[2019-06-14 07:03] petmoy opened #139 "[FEATURE REQUEST]: Add Trigger() to DataStreamWriter."
**Description**
Hi...I am trying to create a simple proof of concept application using .NET Spark that streams data from Kafka.

Facing issues:
- I cannot find how to achieve continuous streaming. Data are processed in batches periodically every n seconds
- In general, the way of setting configurations such as triggers, batch interval, windows size, sliding windows size it is not clear to me (or I

[2019-06-14 07:05] petmoy commented on #139
@imback82

[2019-06-14 07:20] imback82 commented on #139
For Spark 2.4.x, what's the command you ran? Did you make sure you are using 2.4 version for spark-sql-kafka: https://mvnrepository.com/artifact/org.apache.spark/spark-sql-kafka-0-10?

[2019-06-14 07:21] imback82 commented on #139
This is how Spark streaming works: https://mvnrepository.com/artifact/org.apache.spark/spark-sql-kafka-0-10

[2019-06-14 07:33] petmoy commented on #139
@imback82 Yes you are right, the spark sql version was wrong.

[2019-06-14 09:24] petmoy commented on #139
@imback82 Thanks for the help regarding the versions but the maven link I don't see how it can help me with the configurations.

As I mentioned, I am trying to achieve continuous processing  with .NET Spark. Here https://spark.apache.org/docs/2.4.3/structured-streaming-programming-guide.html#triggers I see how this can be done with other languages and I am looking for the equilavent for .NET Spark

[2019-06-14 14:02] danny8002 opened #140 "Support custom worker path"
consider the following use case:

Assume .net framework C# project (HelloWord)  will output helloword.exe which use Spark.Net.

1) the Hello Worker c# project has a lot of dependencies
2) when submit job to Spark with YARN:

- by nature,  use spark-submit with --files. as you know, --files will have long arguments, also maybe we will forget some files.

- pack our project output as zip file, eg.

[2019-06-14 17:41] imback82 commented on #139
Sorry, I fixed the link.

Got it. Looks like we are missing the API. We will add this in the next release.

[2019-06-14 17:43] imback82 commented on #137
Closing this since there is no plan to support Flink at the moment.

[2019-06-14 17:43] #137 closed

[2019-06-14 23:11] guruvonline opened #142 "not able to run sample on Azure databricks"
Hi,
I am trying to run my samples in Azure databricks as job with setjar option. It's failing any not logging details of error. In application code i have try{} catch {Console.WriteLine()}. I am not able to see any error details in job logs. Any suggestion on how to do logging for troubleshooting.
bleow are the details from log

`- running Rserve in this R session (pid=2506), 1 server(s) --
(This

[2019-06-14 23:59] imback82 commented on #142
This is duplicate of #121. You should `publish` your app and pass the executable name instead of `first.dll`. (You should pass `first` instead and make sure `first` executable is generated after publishing your app).

[2019-06-15 01:53] imback82 opened #145 "[FEATURE REQUEST]: Add an ability to debug UDFs"
There has been lots of requests for debugging UDFs in Visual Studio. There is a way, but it requires code changes in the worker. Create a hook out-of-box and document the steps to debug UDFs.

[2019-06-15 05:28] #142 closed

[2019-06-18 04:41] imback82 opened #147 "[Documentation] Best practice for writing UDFs"
Write a documentation on best practices for writing UDFs since there are few gotchas like static variable captures, etc.

[2019-06-18 21:21] guruvonline opened #148 "Consuming events from Azure Event hub for Structured steaming on Azure Databricks"
Hi,
Is there any sample/doc on how to use Azure event hub with Azure Databrick. The sample is given for kafka only.

How do i use other libraries from C# (.NET for Spark)?

Thanks

[2019-06-20 01:33] guruvonline opened #149 "Error in calling UDF for structured streaming"
I am getting below error, when i try to call a udf on the structured streaming from event hub on azure databricks.

It works when a remove the call to UDF.

`var inStream = spark.ReadStream()
			.Format("eventhubs")
			.Option("eventhubs.connectionString", "Endpoint=string")
			.Option("maxeventspertrigger", 5)
			.Load();

Func<Column, Column> ToJsonMessage= Microsoft.Spark.Sql.Functions.Udf<Arra

[2019-06-20 02:11] imback82 commented on #149
[code]
Can you submit this dll via --files option?

[2019-06-20 16:22] suhsteve commented on #149
Most of the assembly file not found exceptions should be resolved if you upload them to dbfs and pass them in with either --files (if using the `spark-submit`) or run the db-init.sh script (if using the `Set Jar` job submission).

This link should help.
https://github.com/dotnet/spark/blob/master/deployment/README.md#run-your-app-on-the-cloud-2

[2019-06-20 22:32] guruvonline commented on #149
yes,  it solved issue.

[2019-06-20 22:32] #149 closed

[2019-06-21 03:38] imback82 commented on #148
It seems that you were able to get this working by looking at #149? Do you want to share your experience?

[2019-06-24 18:23] guruvonline commented on #148
i did a basic POC by

- [Attaching event hub library](https://docs.microsoft.com/en-us/azure/azure-databricks/databricks-stream-from-eventhubs#attach-libraries-to-spark-cluster) to Databricks cluster.

- Followed connection string [properties/keys](https://github.com/Azure/azure-event-hubs-spark/blob/64d3fb5eca660cbc4d48902f4e7e907f93a36127/core/src/main/scala/org/apache/spark/eventhubs/EventHubsC

[2019-06-24 18:23] #148 closed

[2019-06-25 20:29] brianok-cc commented on #101
I would second this request to support Parallelize and other native functions to create RDDs from data.  I also would like to use this to pull data from external bulk APIs, store as objects which I can then batch, transform, and write as Parquet.

I have experience with Scala on Spark, but I am working with a .NET team and was hoping to not force them to change languages while also learning the Sp

[2019-06-25 23:12] rapoth commented on #101
@brianok-cc: Thank you for your detailed feedback! We appreciate it!

We are currently investigation introducing [spark.createDataFrame](https://github.com/apache/spark/blob/c26379b446e90b3104ebe36f288be483f613a652/sql/core/src/main/scala/org/apache/spark/sql/SQLContext.scala#L438). This will allow you to still pull data from any source, batch it up and create a dataframe (after which you can cont

[2019-06-26 04:28] danny8002 commented on #139
waiting for this feature ready.

[2019-06-26 04:45] imback82 commented on #139
@danny8002 we expect the next release to be the second week of July.

[2019-06-26 05:10] imback82 opened #151 "[Documentation] How to debug Worker/UDFs"
This will document how to debug worker and UDFs using #145.

[2019-06-26 12:10] brianok-cc commented on #101
@rapoth I assume you mean the flavor where I can specify a collection of Row objects and a schema...in which case, yes, I believe that would be sufficient.  Thank you for the reply and additional information.

[2019-06-27 04:09] rapoth commented on #101
Great! I'll update you on our investigation soon. Thank you for your patience!

[2019-06-27 04:36] danny8002 commented on #139
it is too late for me, could you please send a workable PR? I just implement Trigger() by myself, see #153 , ( i just write it according to spark/Trigger.java).  but when i test it , i found **Trigger.Continuous() don't work**. (Trigger.ProcessingTime works).

here is the code with Trigger.Continuous();

[code]

 Microsoft.Spark.Worker.exe runs without data, and then closed immediately (my other p

[2019-06-27 04:55] imback82 commented on #139
@danny8002 I will review this.

This is expected for `SimpleWorker`. It will be re-launched per task.

Can you first check if `continous` works fine without UDFs (so that it doesn't involve the worker)?

[2019-06-27 07:49] danny8002 commented on #139
Yes, it works without UDF

[code]
=>
[code]

As your say 'it is expected', how to let UDF works. how to let the worker/Task start again?  I write the same program with Java and it works for UDF.  and i am curious how python works ...

[2019-06-27 16:56] jatcar95 opened #154 "[FEATURE REQUEST]: Encoders"
**Description**
I'm creating an application using .NET for Spark and Kafka. In a different application, I have a C# object that is serialized and sent to Kafka. In my Spark application, I want to deserialize the object and perform some actions on it using built-in Spark functions.

**Problem**
I can't figure out how to get my object into a format usable by Spark. I created a UDF that deserializes

[2019-06-27 19:29] imback82 commented on #154
Support for the custom Encoders is not feasible since they need to run on JVM. Can you check #117 if it addresses your scenario? This feature will be available in coming weeks. Also, can you provide a specific example to see if there is another workaround?

[2019-06-27 19:49] AshaSalorina opened #155 "Spark Streaming"
Hello, I tried to find about how to use spark streaming in this project but got nothing.(not structured streaming)
Even I tried "StreamingContext" and nothing be found.
So I want to ask if we have this function or not.
Sorry for my bad english...

[2019-06-27 19:55] imback82 commented on #155
We don't currently support Spark Streaming. Any reason the Structured Streaming doesn't work for your scenario?

[2019-06-27 20:07] AshaSalorina commented on #155
Our homework need Spark Streaming to monitor a directory.
Structured Streaming is good but I can't use that to solve this problem.
Could you please give me some suggestion for how to monitor a directory and deal them with spark?

[2019-06-27 20:58] jatcar95 commented on #154
I think the 117 scenario may work. I'm a bit confused on how the schema is used, but I will comment there.

Specifically, I have a data type that represents a log for a single query. It has lots of fields, but let's suppose it's just this:
[code]
This gets serialized in another application, sent to Kafka, and should be deserialized in Spark. So far, I have a DF that reads in the raw bytes from Kaf

[2019-06-27 21:01] jatcar95 commented on #117
I'm a bit confused on how the `schema` variable is being used above. Do you mean it will be possible to pass it to the `Udf` call in the future release?

[2019-06-28 03:17] suhsteve opened #156 "[FEATURE REQUEST]: Add RuntimeConfig and expose SparkSession.conf"
Expose the RuntimeConf to allow modifying the current SparkSession config without needing to create a new SparkSession.

[code]

[2019-06-28 06:32] wxzz opened #157 "Debugging demo "StructuredNetworkWordCount"，An error：[JvmBridge] Connection refused 127.0.0.1:5567"
When I used vscode for debugging, an error occurred : [Exception] [JvmBridge] Connection refused 127.0.0.1:5567。

“System.Net.Internals.SocketExceptionFactory.ExtendedSocketException”类型的未经处理的异常在 Microsoft.Spark.dll 中发生 : 'Connection refused'
   在 System.Net.Sockets.Socket.DoConnect(EndPoint endPointSnapshot, SocketAddress socketAddress)
   在 System.Net.Sockets.Socket.Connect(EndPoint remoteEP)

[2019-06-28 06:34] #157 closed

[2019-06-28 06:37] wxzz opened #158 "Debugging demo "StructuredNetworkWordCount"，An error：[JvmBridge] Connection refused 127.0.0.1:5567"
When I used vscode for debugging, an error occurred : [Exception] [JvmBridge] Connection refused 127.0.0.1:5567。

   source code:
[code]

What is DotnetBackendDebugPort for.......？？？

[2019-06-28 19:31] rapoth commented on #155
@AshaSalorina: Spark Structured streaming can be used to monitor a directory as well. Have you tried it already and it is not working?

Here's an example Spark Structured Streaming example in .NET that reads data from a directory (and everytime you drop a new file, it picks it up i.e., it also monitors):

[code]

Starting the job (assumes .NET Framework 4.6.1):
[code]

Let me know if you run into

[2019-06-28 19:34] rapoth commented on #158
It is for starting the Spark scala side of .NET that allows you to debug. Have you tried the instructions from the [Developer Guide](https://github.com/dotnet/spark/blob/master/docs/developer-guide.md)?

[2019-06-28 22:04] wxzz commented on #158
Sorry, where is the Developer Guide? spark-submit has passed, vscode debug exception

---Original---
From: "Rahul Potharaju"<notifications@github.com>
Date: Sat, Jun 29, 2019 03:34 AM
To: "dotnet/spark"<spark@noreply.github.com>;
Cc: "wxzz"<504547114@qq.com>;"Author"<author@noreply.github.com>;
Subject: Re: [dotnet/spark] Debugging demo "StructuredNetworkWordCount"，An error：[JvmBridge] Connection

[2019-06-28 22:08] wxzz commented on #158
Thanks, find the Developer Guide? I try！

---Original---
From: "Rahul Potharaju"<notifications@github.com>
Date: Sat, Jun 29, 2019 03:34 AM
To: "dotnet/spark"<spark@noreply.github.com>;
Cc: "wxzz"<504547114@qq.com>;"Author"<author@noreply.github.com>;
Subject: Re: [dotnet/spark] Debugging demo "StructuredNetworkWordCount"，An error：[JvmBridge] Connection refused 127.0.0.1:5567  (#158)

It is for st

[2019-06-28 22:09] wxzz commented on #158
Thanks, find the Developer Guide！！！！i try！！！

---Original---
From: "Rahul Potharaju"<notifications@github.com>
Date: Sat, Jun 29, 2019 03:34 AM
To: "dotnet/spark"<spark@noreply.github.com>;
Cc: "wxzz"<504547114@qq.com>;"Author"<author@noreply.github.com>;
Subject: Re: [dotnet/spark] Debugging demo "StructuredNetworkWordCount"，An error：[JvmBridge] Connection refused 127.0.0.1:5567  (#158)

It is fo

[2019-06-28 23:47] rapoth commented on #158
Great, I'm closing this issue. Please feel free to open another issue if you run into any issues.

[2019-06-28 23:47] #158 closed

[2019-06-29 00:07] huruixd opened #159 "RowNumber() function not supported"
When adding a RowNumber column to a dataframe, it says unsupported operation.

df.WithColumn("X", RowNumber()).Show();

![image](https://user-images.githubusercontent.com/6639896/60376959-2df3ba00-99c7-11e9-9047-2fedd4ac40a9.png)

[2019-06-29 02:58] wxzz opened #160 "vscode debug "StructuredNetworkWordCount"，error：'JVM method execution failed: Nonstatic method awaitTermination failed for class 42 when called with no arguments'"
**vscode debug "StructuredNetworkWordCount"：**
1.cmd $：nc -lk 9999
2.cmd $：spark-submit --class org.apache.spark.deploy.DotnetRunner --master local microsoft-spark-2.4.x-0.3.0.jar debug
3.code：args=new string[]{"local","9999"};。    The rest of the code stays the same in the StructuredNetworkWordCount.cs。
----------------------------------------------------------------------------------------------

[2019-06-29 05:48] suhsteve commented on #160
`java.net.UnknownHostException: local`  can you try localhost ?

[2019-06-29 05:52] wxzz commented on #160
thanks

[2019-06-29 05:53] #160 closed

[2019-06-29 06:06] rapoth commented on #159
@huruixd:

By including

[code]
and using an `Over()`

[code]

Does this work for you?

[2019-06-29 06:07] rapoth commented on #122
@shyamalshukla: Are you still blocked on this? Do you need any other help?

[2019-06-29 06:42] rapoth opened #161 "[FEATURE REQUEST]: Support createDataFrame"
**Is your feature request related to a problem? Please describe.**
Spark.NET does not support createDataFrame API

**Describe the solution you'd like**
Adding the createDataFrame API would be great since it allows for faster experimentation and playing with the library.

[2019-06-29 11:26] imback82 commented on #145
Closed by #150.

[2019-06-29 11:26] #145 closed

[2019-06-30 18:27] imback82 commented on #117
Yes, that was a prototype. You will be able to pass the schema when you register the udf.

[2019-07-01 04:14] danny8002 commented on #139
any insight about running UDF ?

[2019-07-01 21:59] halfbro opened #162 "Investigate Signer mismatch issue for microsoft-spark-*.jar"
**Is your feature request related to a problem? Please describe.**
My company uses Spark on Nomad to handle deployment and running of our Spark programs. I was recently tasked with evaluating whether or not it would be possible to use .NET Spark in conjunction with Spark on Nomad. After making sure that I am able to run the basic Scala examples, I tried to switch from the example .jar to `microsof

[2019-07-02 00:51] Ragavenderan opened #163 "[FEATURE REQUEST]: Ability to call UDF in scala from Spark .Net"
We have some scala implementations that are used to create data frames from raw data.
We needed to call the user defined functions in scala to be callable from Spark .net.
This way we can expose Spark .net connectors to query the same data frame and maintain business logic in existing scala implementation.
Example Scala code

[code]
We want this function to be callable from Spark .Net

[2019-07-02 06:40] imback82 commented on #163
Closing this as a duplicate of #115. I suggest writing a proper connector in Scala and use it via `DataFrameReader.Format`.

[2019-07-02 06:40] #163 closed

[2019-07-02 06:46] imback82 commented on #162
We heard the similar feedbacks from other customers about the signer issue. Our build pipeline is signing the jar, which is conflicting with yours. We plan to resolve it in the next release. Meanwhile, can you build the jar from the source and use it instead of the jar shipped with the Nuget?

[2019-07-02 14:17] ylibrach commented on #162
@imback82 is there any ETA on next release?

[2019-07-02 14:27] imback82 commented on #162
We are aiming for the second week of July.

[2019-07-02 17:51] halfbro commented on #162
I built the jar from source, and I can confirm that this solved our issues.

Should I change the PR to a bug report and change the title to something more fitting (ie `[BUG]: java.lang.SecurityException during startup`)? Or just leave it as is?

[2019-07-02 17:59] huruixd commented on #159
Thanks!

[2019-07-02 17:59] #159 closed

[2019-07-02 18:00] imback82 commented on #162
Cool. I will handle changing the title.

[2019-07-04 12:21] masmuh opened #164 "[FEATURE REQUEST]: Support Read Or Load DataFrame from Mongodb"
is there any way to read or load the data frame from mongodb?

[I have read mongodb documentation](https://docs.mongodb.com/spark-connector/master/scala-api/)  but using scala.

[2019-07-05 14:39] TomChalkerApption opened #165 "[FEATURE REQUEST]: Support for Azure Databricks"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-07-05 14:43] #165 closed

[2019-07-05 15:52] imback82 commented on #164
Can you try something like
[code]

Try PySpark documentation since it mirrors C# better: https://docs.mongodb.com/spark-connector/master/python/read-from-mongodb/

[2019-07-05 16:05] imback82 commented on #154
When #117 is ready, it should address your scenario right? It will look something like the following:

[code]

[2019-07-06 09:34] AshaSalorina commented on #155
Hello and thanks for your help.It's really helpful to me.
I tried this recently.It works well but there still have some problems.
Because of no “foreach”, I can not do some thing like filter them in different way(when I tried use sql like select or where, each time the streaming need “writeStream” to end).Even I can't use Collect() to do something like 'foreach(var item in streamingDF.Collect())'

[2019-07-06 10:15] AshaSalorina commented on #155
An other problem:

    java.lang.UnsupportedOperationException: Data source jdbc does not support streamed writing

sad >\<

[2019-07-06 14:07] imback82 commented on #155
Did you try examples from here: https://databricks.com/blog/2016/07/28/structured-streaming-in-apache-spark.html ?

[2019-07-06 14:08] imback82 commented on #155
No, but can you try using `UDF` instead?

[2019-07-08 01:54] jhgoodwin opened #166 "dotnet add package Microsoft.Spark NotFound"
**Describe the bug**
Pulling down the nuget package gives a NotFound error when using dotnet core command line client

**To Reproduce**

[code]

**Expected behavior**
These steps are provided in the documentation. I think they worked recently.

**Desktop (please complete the following information):**
 - OS: Ubuntu 18.04
 - Browser Firefox
 - Version 67.03

**Additional context**

[code]

[2019-07-08 17:34] jatcar95 commented on #154
Yeah, I think that should work! Thanks, looking forward to it

[2019-07-08 17:34] #154 closed

[2019-07-08 19:25] imback82 commented on #166
Can you check your nuget feed? It should come from:

[code]

[2019-07-08 19:26] imback82 commented on #164
@masmuh did you try this? Please reopen the issue if this doesn't solve your problem.

[2019-07-08 19:26] #164 closed

[2019-07-10 00:55] guruvonline opened #168 "Accessing config/secret values"
is there any option to access config/secret values from C#? i need to access keys like EventHub connection string, Application Insights keys etc.

i can create [secret scope](https://docs.azuredatabricks.net/user-guide/secrets/secret-scopes.html#create-an-azure-key-vault-backed-secret-scope) in Databricks and access in my python script as

'dbutils.secrets.get(scope = "<scope>", key = "<key>")'

h

[2019-07-10 04:28] masmuh commented on #164
I have tried
[code]

and error below
[code]

[2019-07-10 04:37] imback82 commented on #164
Did you provide mongo-spark-connector jar in the spark-submit? Can you share your spark-submit comment? Also, can you attach the full log?

[2019-07-10 04:52] masmuh commented on #164
I use comment on cmd :

[error log spark.txt](https://github.com/dotnet/spark/files/3375780/error.log.spark.txt)

[2019-07-10 04:58] imback82 commented on #164
I see `[2019-07-10T04:47:43.4777528Z] [EC-MASMUH] [Error] [JvmBridge] java.lang.NoClassDefFoundError: com/mongodb/client/model/Collation`

Can you try with `--packages org.mongodb.spark:mongo-spark-connector_2.11:2.4.0` as explained in https://docs.mongodb.com/spark-connector/master/python-api/?

[2019-07-10 08:24] masmuh commented on #164
**Thank you, its working right now**.

run :
`pyspark --conf "spark.mongodb.input.uri=mongodb://127.0.0.1:29000/northwind.customers?readPreference=primaryPreferred" --conf "spark.mongodb.output.uri=mongodb://127.0.0.129000/northwind.customers" --packages org.mongodb.spark:mongo-spark-connector_2.11:2.2.0`

and it default download to C:\Users\EC-Masmuh\.ivy2\jars
and then copy all jar into spark ja

[2019-07-10 11:44] fightlikeagirl opened #169 "An existing connection was forcibly closed by the remote host"
Hello,
I installed correctly dotnet spark according to this [Microsoft tutorial](https://dotnet.microsoft.com/learn/data/spark-tutorial/code). I try the basic codes in above link and [Windows Instructions](https://github docs/getting-started/windows-instructions.md).
Both of them, I see the results of programs but then I get this error ;

[code]

I try to solve this error but I failed. I hope you

[2019-07-10 14:52] imback82 commented on #164
Great!

[2019-07-10 16:06] imback82 commented on #168
Can you please elaborate what you are trying to do?

[2019-07-10 16:08] imback82 commented on #166
@jhgoodwin, please reopen this issue if changing nuget feed doesn't fix your problem.

[2019-07-10 16:08] #166 closed

[2019-07-10 16:09] imback82 commented on #169
@fightlikeagirl can you share your program?

[2019-07-10 17:26] guruvonline commented on #168
for my c# app i have to keep few config secrets like EventHub connection string(s), Application Insights connection string, connection string for my Configuration store. What is the recommended approach of accessing multiple configuration/Secret values in C#?

as per azure databricks documentation this can be done in scala/python using secret scopes. Is there any recommendation/suggestion of doing

[2019-07-10 23:17] imback82 commented on #120
Closed by #135

[2019-07-10 23:17] #120 closed

[2019-07-11 16:15] TomChalkerApption opened #173 "Microsoft.Spark.Worker executable not found in Azure Databricks"
An issue occurs with the Databricks “Deploy Microsoft.Spark.Worker” section in
[https://github.com/dotnet/spark/tree/master/deployment](https://github.com/dotnet/spark/tree/master/deployment)

1. bash scripts **db-init.sh**, **install-worker.sh** are uploaded to the DBFS file system
2. install-worker.sh uses two Linux commands **wget** and **basename** that are not installed on the cluster VMs
3.

[2019-07-12 12:09] fightlikeagirl commented on #169
First program I try :

`using Microsoft.Spark.Sql;

namespace MySparkApp
{
    class Program
    {
        static void Main(string[] args)
        {
            // Create a Spark session
            var spark = SparkSession
                .Builder()
                .AppName("word_count_sample")
                .GetOrCreate();

            // Create initial DataFrame
            DataFrame dataFram

[2019-07-12 12:15] fightlikeagirl commented on #169
And the second one :
`using Microsoft.Spark.Sql;

namespace HelloSpark
{
    class Program
    {
        static void Main(string[] args)
        {
            var spark = SparkSession.Builder().GetOrCreate();
            var df = spark.Read().Json("people.json");
            df.Show();
        }
    }
}`    Both of them gave the true results then gave the above  errors.

[2019-07-12 16:59] imback82 commented on #169
Can you try to `spark.Stop()` at the end? Also, for the errors deleting files, please refer to https://github.com/dotnet/spark/issues/49#issuecomment-486714091.

[2019-07-14 02:23] imback82 commented on #173
@suhsteve can you help?

[2019-07-14 02:25] imback82 commented on #173
@TomChalkerApption can you check `db-init.sh` and `install-worker.sh`'s line endings are LF, not CRLF?

[2019-07-14 02:44] imback82 commented on #162
@eerhardt, @safern

As far as I understand, the following https://github.com/dotnet/spark/blob/eb9cffb8c92879887972a934d3009ec56bf91572/eng/Signing.props#L3
will sign all the files inside a nuget package. Is there a way to skip signing files inside the nuget package? I am trying to skip signing `jar` files.

I looked at https://github.com/dotnet/arcade/blob/master/Documentation/CorePackages/Signin

[2019-07-15 02:28] anicolaspp opened #174 "Writing Libraries"
Hello,

I wrote part of the [MapR-Database Connector for Apache Spark](https://mapr.com/docs/61/Spark/SparkConnectorsMapRDB.html) and I was wondering how could I write nugget packages with our API to connect, for instance, to an external source so it runs on dotnet.

our API looks like this:

[code]

how can we get this functionality written in dotnet? Do we have any doc I can be pointed to?

Best

[2019-07-15 02:33] anicolaspp commented on #174
Also, I suppose I need to write a nugget package so it can be added to the dotnet app that is being executed within spark, how can this be done?

[2019-07-15 13:25] TomChalkerApption commented on #173
Hello Terry:

They were LF only. The install.worker script ran to completion once I commented out the ‘basename’ and ‘wget’ commands.
However, I had to modify the script (as indicated) to replace the wget functionality with a file copy from /dbfs/ .

Regards,

Tom Chalker
Senior Developer
Apption
1600 Scott Str, Suite 400, Ottawa
613 725 6268 Ext 612

From: Terry Kim
Sent: July 13, 2019 10:25 PM
T

[2019-07-15 18:17] karayakar opened #175 "It is trying to connect 127.0.0.1:5567?"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/code
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[code]

[2019-07-15 18:21] imback82 commented on #175
5567 port is used for debugging. Can you provide more details such as spark-submit command, etc.?

[2019-07-15 18:22] imback82 commented on #174
We don't support writing a new data source in .NET. You can write one in Scala can call into it from .NET.

[2019-07-15 18:47] anicolaspp commented on #174
@imback82 we have our data source code already in place in Scala. How do we call it from .NET?

[2019-07-15 18:50] imback82 commented on #174
What does the Scala API look like?

Can you call in with `DataFrameReader.Format`? If you properly implemented your data source, you should be able to do:
[code]

[2019-07-15 18:57] anicolaspp commented on #174
We can certainly do that. Now, how do I link our library from Maven Central on a .NET app?

[2019-07-15 19:04] imback82 commented on #174
I think you can just use `--packages` option in `spark-submit`: https://stackoverflow.com/questions/51434808/spark-submit-packages-vs-jars

I don't understand this question. Can you elaborate on this?

[2019-07-15 19:20] anicolaspp commented on #174
I got it working now. Thanks.

[2019-07-15 19:20] #174 closed

[2019-07-15 19:22] imback82 commented on #174
Great!

[2019-07-15 21:00] guruvonline opened #176 "using StructType.Json schema for FromJson calls not returning any value from DF"
i am trying to read a json string column with fromjson. but when i show values for resultant DF every column is null. my actual json string will be coming from a UDF, but for now im trying to read json string from a file and trying to use FromJson to parse it.

my original DF to read json string from file
[code]
root
 |-- message: string (nullable = true)

{"fields":[{"metadata":{},"name":"message

[2019-07-15 22:05] guruvonline commented on #176
should the FromJson() should take StructType or DataType as argument for schema instead of Column. looks like string schema is supported only in new version of 2.4.3 spark ownards.

i have defined my schema as StructType but not able to figure out how to create a Column from it.

[2019-07-15 22:52] suhsteve commented on #139
@danny8002 I've reproduced your test using pyspark and I'm also encountering issues using continuous trigger and UDFs.  This seems to be a known issue [Spark-27234=(https://issues.apache.org/jira/browse/SPARK-27234) and there is an active [PR](https://github.com/apache/spark/pull/24946) that should address it.

[2019-07-15 22:58] #139 closed

[2019-07-16 00:20] guruvonline commented on #176
i tried in FromJson(col, strutType.Json) in 2.4.3 still i am getting only null values.

[2019-07-16 00:44] imback82 commented on #115
The workaround is to use https://github.com/aelij/IgnoresAccessChecksToGenerator to access some internal classes (but this is not recommended since internal classes can break APIs).

[2019-07-16 00:44] #115 closed

[2019-07-16 00:45] imback82 commented on #101
Closing this. We will follow up with #161.

[2019-07-16 00:45] #101 closed

[2019-07-16 00:56] rapoth commented on #168
@guruvonline: Have you tried [Azure KeyVault](https://docs.microsoft.com/en-us/azure/key-vault/key-vault-developers-guide)?

[2019-07-16 02:28] suhsteve commented on #173
I've just tried running a simple example with a udf using Microsoft.Spark 0.3.0 on Microsoft Azure Databricks.  When creating the cluster, I chose `Databricks Runtime Version : 5.3 (Scala 2.11, Spark 2.4.1)`.  Can you tell me which Databricks Runtime version you chose when creating your cluster ?

Also in  a scala notebook can you run the following commands and let me know what the outputs were?

[2019-07-16 03:02] suhsteve commented on #168
@guruvonline A couple guides that may help.  [Set and retrieve a secret - .NET](https://docs.microsoft.com/en-us/azure/key-vault/quick-create-net) and [Get Key Vault Secret via REST API](https://aka.ms/keyvaultrest)

[2019-07-16 03:29] trongnguyenbinh commented on #175
I ran into the same issue, it fine when I run the command
[code]
but throw exception when I tried to debug.
[code]

[2019-07-16 03:40] imback82 commented on #175
Please follow this doc: https://github.com/dotnet/spark/blob/master/docs/developer-guide.md#debugging-spark-net-application

[2019-07-16 03:54] trongnguyenbinh commented on #175
Great! thanks @imback82

[2019-07-16 04:17] rapoth commented on #175
@trongnguyenbinh: I'm closing this issue. Please feel free to create another issue if you get blocked.

[2019-07-16 04:17] #175 closed

[2019-07-16 15:20] eerhardt commented on #162
Is not signing the `.jar` files really the right thing to do here? The error message says:

Is the more correct thing to do here to make our classes in a unique "dotnet" package? That way we still sign all the code that Microsoft is shipping, but since it is all contained in its own unique package, we don't get the error above that multiple classes in the same package are signed differently.

See

[2019-07-16 15:25] eerhardt commented on #162
If you want to skip signing the `.jar` files, modify the following

https://github.com/dotnet/spark/blob/eb9cffb8c92879887972a934d3009ec56bf91572/eng/Signing.props#L11-L14

to be:

[code]

[2019-07-16 16:28] TomChalkerApption commented on #173
Hello Steve:

I used the default cluster runtime version ‘5.3 (includes Apache Spark 2.4.1, Scala 2.11)’

Result of scala query:
/usr/bin/wget
/usr/bin/basename
Distributor ID: Ubuntu
Description: Ubuntu 16.04.6 LTS
Release: 16.04
Codename: xenial
No LSB modules are available.
import sys.process._
res0: Int = 0

I see that wget, basename do exist in /usr/bin

Trying again using your original db-in

[2019-07-16 16:42] imback82 commented on #173
Did you follow steps here: https://github.com/dotnet/spark/blob/master/deployment/README.md to upload assemblies that contain your UDF? (`#3` under `Publishing your App & Running`)

[2019-07-16 17:04] imback82 commented on #162
Thanks @eerhardt for the suggestion! We are aware of the root cause and looking into different solutions. One is to move all classes into our own package names as you suggested (but this will break all published documentations). The other is to skip signing just this class (if Arcade supports this). As you suggested, skipping signing the whole jar may not be a good idea.

In the long run, moving a

[2019-07-16 17:26] guruvonline commented on #176
used SchemaFromjson to get schema as column

[2019-07-16 17:26] #176 closed

[2019-07-16 17:44] suhsteve commented on #173
The HelloSpark.dll that's contained in the HelloSpark.zip is exposed to the driver.  However the Microsoft.Spark.Worker also requires the HelloSpark.dll because it contains a UDF that the worker needs to run.  This file should either be copied to the working directory of the executor, or the worker's base directory.  The bottom portion of the db-init.sh can be uncommented and it will copy the Hell

[2019-07-16 20:43] TomChalkerApption commented on #173
OK. Success. Placing HelloSpark.dll in the /dependency directory and uncommenting db-init.sh worked.

The Set JAR Job reports as 'Failed' on the Jobs panel.
However, I realized that the 'stdout--2019-07-16--20-00' file link in Clusters/"Driver Logs" panel downloaded a file containing the output of a successful run. (The log panels do not reflect this.)

Thanks for your help on this problem.

Would

[2019-07-16 20:53] suhsteve commented on #173
Can you check if your Spark App contains any `SparkSession.Stop()` calls?  Submitting jobs using Set JAR does not support this.

[2019-07-17 13:35] TomChalkerApption commented on #173
It did. I have removed it.
The job now runs to success, and the 'standard out' log pane shows the output of the run.

Thanks again for your help

[2019-07-17 13:35] #173 closed

[2019-07-17 15:22] raberana opened #177 "[Need help] Udf used in WithColumn not working"
I tried using a UDF inside a WithColumn but it seems to be not working.

            SparkSession spark = SparkSession
                         .Builder()
                         .AppName("saturn")
                         .GetOrCreate();

            DataFrame df = spark.Read().Json("sample-application");

            df.PrintSchema();

            df.Show();

            Func<Column, Column> ma

[2019-07-17 16:32] rapoth commented on #177
@raberana: Can you provide the full log trace please?

[2019-07-17 16:33] rapoth commented on #168
@guruvonline: Did you get this to work with the guides above?

[2019-07-17 16:40] raberana commented on #177
Here's the complete logs. Thank you. [logs.txt](https://github.com/dotnet/spark/files/3402889/logs.txt)

[2019-07-17 16:55] imback82 commented on #177
[code]
Can you ensure `Saturn.dll` is located either in the directory you are launching `spark-submit` or in the worker directory?

[2019-07-17 17:08] raberana commented on #177
@imback82 wow it worked! to be honest i didn't mind that error because i see it even in a very simple dataframe show sample (no udfs or withcolumn), and the [tutorial](https://dotnet.microsoft.com/learn/data/spark-tutorial/run) didn't mention this thing though.

thanks!

[2019-07-17 17:08] #177 closed

[2019-07-17 23:30] guruvonline commented on #168
I am using Azure Databricks , which doesn't support managed identity to connect to KeyVault. so i have to keep secret in my code to access Keyvault. For C# app to work to connect to keyvault, i have to keep secret to connect to keyvault in some file on dbfs. So secret to access my secret is not secure.

in pyspark as part of one time cluster configuration, i can create secrete script

[2019-07-17 23:32] guruvonline commented on #168
closed by  mistake

[2019-07-18 00:58] guruvonline opened #178 "SerializationException when executing UDF with dependent assemblies"
My structured streaming query is calling a UDF which has few dependency dlls(some my code and some third party).

i tried running on Azure Databricks and windows standalone cluster and still get same error "System.Runtime.Serialization.SerializationException: Unable to find assembly 'myassembly, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null".

for azure Databricks i am using set-jar to tri

[2019-07-18 05:07] rapoth commented on #178
@guruvonline: Thank you! Could you please provide a self-contained sample code and logs?

[2019-07-18 05:14] imback82 commented on #178
Also, are you using 0.3.0 or the master branch. We have some fix on assembly loading in master branch (#135). #135 doesn't support calling static functions in external libraries yet, but it handles more scenarios.

[2019-07-18 05:16] imback82 commented on #178
FYI, we will assign 'bug' label after we identify this issue as a bug.

[2019-07-18 05:22] rapoth commented on #168
Can you please share how you are doing this?

[2019-07-18 13:21] raberana opened #179 "[Need Help] Aggregating a property from an array of struct"
I'm trying to aggregate a property from an array of struct using a UDF and add it as a new column.

[code]
            Func<Column, Column> operationAggregate = Udf<StructType[], decimal>((list) =>
            {
                Console.WriteLine("aggregating");
                Console.WriteLine(list);
                // process list here, and use LINQ sum
                return 0;
            });

[2019-07-19 07:22] rapoth commented on #179
@raberana: Can you share a sample input file and an e2e sample that we could run? Also, as input to your operationAggregate, do you need the whole row or can you operate on a subset of the columns?

[2019-07-19 08:41] raberana commented on #179
hi @rapoth , i attached the sample input file. I'm thinking the input for the UDF can be a subset of columns
[sample-input.txt](https://github.com/dotnet/spark/files/3410222/sample-input.txt)

[2019-07-22 18:14] deeptowncitizen opened #181 "[FEATURE REQUEST]: Use days() in Window.RangeBetween"
I need to execute F.Sum() over Window limited to date (-1 day to -7 days from the F.Col("date")).

From Spark examples I see there should be F.days() function which will generate something e.g.

`RANGE BETWEEN INTERVAL 8 DAYS PRECEDING AND 1 DAYS PRECEDING ROW`

But I don't see any similar wrappers in .Net wrapper. Should it be implemented in a different way?

[2019-07-22 18:36] imback82 commented on #181
Can you do `Window(Col("data"), "8 days")`? Can you check if https://github.com/dotnet/spark/blob/master/src/csharp/Microsoft.Spark/Sql/Functions.cs#L3024 helps?

[2019-07-22 21:59] deeptowncitizen commented on #181
I wanted to use it in WindowSpec. The current solution which works well:

[code]

[2019-07-22 21:59] #181 closed

[2019-07-23 23:55] bamurtaugh opened #183 "Databricks Deployment: Init Script Failure"
I have been following the cloud deployment guide (https://github.com/dotnet/spark/blob/master/deployment/README.md) to deploy my app to Databricks. I have installed db-init and install-worker to my local machine, and I have modified db-init to the appropriate version of the Spark Worker release (the same version I got working when I deployed to HDInsight).

This is the only part of db-init I chang

[2019-07-24 15:20] rapoth commented on #183
CC: @suhsteve - Any suggestions?

[2019-07-24 17:25] bamurtaugh commented on #183
Update: I was able to get the logs from db-init failing my cluster, it appears that it's an issue with the line endings in the install-worker script:

/dbfs/spark-dotnet/install-worker.sh: line 2: $'\r': command not found
/dbfs/spark-dotnet/install-worker.sh: line 24: $'\r': command not found
/dbfs/spark-dotnet/install-worker.sh: line 25: set: +
: invalid option
set: usage: set [-abefhkmnptuvxBCHP

[2019-07-24 18:53] bamurtaugh commented on #183
Closing this issue since I was able to get a cluster running and use spark-submit to successfully run my app.

[2019-07-24 18:53] #183 closed

[2019-07-24 20:33] rapoth commented on #183
Awesome, thanks for the update!

[2019-07-25 03:06] imback82 opened #185 "[FEATURE REQUEST]: Implement MapType in ComplexTypes.cs."
The `MapType` in `ComplexTypes.cs` is not implemented: https://github.com/dotnet/spark/blob/master/src/csharp/Microsoft.Spark/Sql/Types/ComplexTypes.cs#L81

[2019-07-25 07:24] imback82 commented on #156
closed by #184

[2019-07-25 07:24] #156 closed

[2019-07-26 00:25] imback82 commented on #162
Closed by #186.

[2019-07-26 00:25] #162 closed

[2019-07-26 00:42] imback82 commented on #169
@fightlikeagirl Any update on this?

[2019-07-26 03:57] imback82 commented on #140
Actually I was able to get `--archives worker.zip` working by doing on HDInsight (Linux)
[code]

Did you try this? I tried this with the code in the master (commit 972825c)

[2019-07-26 06:24] imback82 commented on #138
Closed by #135.

[2019-07-26 06:24] #138 closed

[2019-07-26 06:25] imback82 commented on #140
Closing this since this is supported by `DOTNET_WORKER_DIR`.

[2019-07-26 06:25] #140 closed

[2019-07-27 12:26] ymitis opened #190 "Debian9 install documentation casing issue mySparkApp vs MySparkApp"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/run
Operating System: Linux Debian 9 - x64

In the "Create your app" section the documentation states:

In your terminal, run the following commands:
`dotnet new console -o mySparkApp
cd mySparkApp
`

Then in the "Run your app" section the documentation states:

In your terminal, run the following commands:

`dotnet buil

[2019-07-28 05:37] imback82 commented on #190
@ymitis thanks for the reporting this.

@asthana86 can you help updating the doc on https://dotnet.microsoft.com?

[2019-07-29 04:17] ymitis commented on #190
@asthana86 - I'd be happy to help but I'm not sure what repo this documentation comes from.  I don't see it in this repo and I don't see it in https://github.com/dotnet/docs.

[2019-07-29 16:37] rapoth commented on #190
CC: @bamurtaugh

[2019-07-29 16:54] bamurtaugh commented on #190
Thanks for bringing this to my attention, I will try to get it updated today/sometime soon this week.

[2019-07-31 10:23] liugaocn opened #191 "log4j no appenders"
I am using Spark 2.4.3, Microsoft.Spark 0.4.0.  Windows 10. VS 2019.

It used to work fine with :
**spark-submit   --class org.apache.spark.deploy.DotnetRunner   --master local microsoft-spark-2.4.x-0.4.0.jar debug**

but now, it wouldn't.
First of all, it says microsoft-spark-2.4.x-0.4.0.jar doesn't exit. So I had to use:
**spark-submit   --class org.apache.spark.deploy.DotnetRunner   --master lo

[2019-07-31 13:20] #191 closed

[2019-07-31 18:40] bamurtaugh commented on #190
Thanks again for bringing this to our attention, we have now updated the tutorial!

[2019-07-31 22:49] AeroXuk opened #192 "[FEATURE REQUEST]: Add Application .Zip file contents to Assembly Search Path"
**Is your feature request related to a problem? Please describe.**
This is in relation to one of the new features added in v0.4.0:

The `--archives` option only works for YARM setups.  Databricks, for example, does not use YARM so the `--archives` parameter has no effect.

**Describe the solution you'd like**
For the application .zip file to be transferred to all workers, extracted and the content

[2019-08-01 01:16] AeroXuk commented on #192
I have created two alternative pull requests for two different ways of fixing this.

Option 1 - #193 - Unzips all .zip archives in the working directory.
Option 2 - #194 - Only unzips a .zip archive matching the Application Archive name.

Both options then add the extracted folder to the Assembly Search Path.

[2019-08-01 01:23] liugaocn opened #195 "how to use debug mode"
**I use the new version of dotnet-spark 0.4.0. And Spark 2.4.3, VS 2019, .NetCore 2.2, Windows 10.
I just generated the right jars with command lines. But the only difference is that I didn't use git. Instead, I downloaded the files and unzipped to a "random" folder.**
spark-submit   --class org.apache.spark.deploy.DotnetRunner   --master local C:\Spark\dotnet-spark\src\scala\microsoft-spark-2.4.x

[2019-08-01 01:41] imback82 commented on #195
Can you try `org.apache.spark.deploy.dotnet.DotnetRunner`? There was a change in 0.4.0 which is described in the release notes.

[2019-08-01 01:55] guruvonline opened #196 "app debug failing after upgrade to 0.4"
- i have upgraded to 0.4 and updated DOTNET_WORKER_DIR environment variable to folder having 0.4 dlls.

- updated nuget in my app to 0.4.

- spark-submit debug starts successfully.

- when i try to start my app in debug fails With message

```Lost task 0.0 in stage 11.0 (TID 24, localhost, executor driver): java.io.IOException: Cannot run program "Microsoft.Spark.Worker.exe": CreateProcess error=2

[2019-08-01 02:38] liugaocn commented on #195
Thanks. It worked for me. I didn't notice the release note.
But when I read json
``var df = spark.Read().Json("people.json");``
It wouldn't run.
``System.Exception
  HResult=0x80131500
  Message=JVM method execution failed: Nonstatic method json failed for class 5 when called with 1 arguments ([Index=1, Type=String[], Value=System.String[]], )
  Source=Microsoft.Spark
  StackTrace:
   at Microsoft

[2019-08-01 03:08] suhsteve commented on #195
Can you pass the full path to `people.json` ?

[2019-08-01 03:12] liugaocn commented on #195
It is fine now. I just found out the problem. IT is the wrong path. Thanks @suhsteve

[2019-08-01 03:12] #195 closed

[2019-08-01 03:12] imback82 commented on #196
Can you provide more info on the following:

[2019-08-01 03:13] imback82 commented on #190
Thanks @bamurtaugh

[2019-08-01 03:13] #190 closed

[2019-08-01 12:48] liugaocn commented on #196
I just changed my computer, so everything is new. I am using 0.4.0, too. If you just upgraded to 0.4.0, then probably, you should check your system variable, if that still points to your new folder. You know sometimes folder names could be changed.

[2019-08-01 21:55] #118 closed

[2019-08-01 22:10] guruvonline commented on #196
i verified the value of DOTNET_WORKER_DIR is correct, it points to dir containing all dlls.

- spark submit shows
```NET Backend running debug mode. Press enter to exit```

- when i start debugging my app it shows
```lost task 0.0 in stage 11.0 (TID 24, localhost, executor driver): java.io.IOException: Cannot run program "Microsoft.Spark.Worker.exe": CreateProcess error=2, The system cannot find t

[2019-08-01 22:25] guruvonline commented on #196
it's working now, probably i missed to restart my powershell window to take latest environment variable values

[2019-08-01 22:25] #196 closed

[2019-08-02 00:39] bamurtaugh opened #197 "Where to find possible streaming formats?"
I am trying to create a structured streaming example that could use .NET Spark to analyze incoming Tweets (i.e. filter them, maybe apply ML.NET sentiment analysis efficiently). I found a nuget package called [Tweetinvi](https://github.com/linvi/tweetinvi) that allows me to create a stream of incoming Tweets.

When I was trying to find a way to connect a Twitter stream with .NET Spark, I wasn't sur

[2019-08-02 13:01] rajibmcm opened #198 "Getting Problem to set Spark Path in Windows Environment"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/install-spark
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-08-03 10:40] liugaocn opened #199 "How to preview enumerable row[]"
As my question, how can I preview like printing out enermerable row[], for example:

``df.Head(10);``

I want to have a preview first, in case of wasting of time processing wrong data.
Besides, if i cannot convert ``df.Head(10);`` to dataframe and re-use it, what is the purpose of providing this API?

[2019-08-05 05:26] imback82 commented on #199
Did you try `df.Show(10)`?

[2019-08-05 05:28] imback82 commented on #198
@rajibmcm can you provide details about the problem you are experiencing?

[2019-08-05 05:30] imback82 commented on #197
You can find the built-in input sources here: https://spark.apache.org/docs/latest/structured-streaming-programming-guide.html#creating-streaming-dataframes-and-streaming-datasets

Note that these (the input sources) are not specific to .NET Spark, but apply to Spark in general.

[2019-08-05 06:00] rajibmcm commented on #198
I have resolved the problem

[2019-08-05 06:11] #198 closed

[2019-08-05 06:12] camer314 opened #200 "[FEATURE REQUEST]: Support variable length inputs to UDF"
Coming from pySpark, one of the handy features when writing Pandas UDF is the ability to pass a variable list of input columns. It would seem in the current implementation of Spark .NET that you can only provide fixed length argument lists.

For example, consider this Python code:

[code]

I can easily write a generic UDF function that accepts a variable list of columns like the above, there is no

[2019-08-06 11:51] camer314 opened #201 "[BUG]: Cannot use column as input to mapping column"
In pySpark if i want to create a new column based off a dictionary I can do the following:

[code]
In other words, I can transform an entire column using the values of an input column as keys into my mapping column.

Trying to reproduce this I have the following C#:

[code]

This results in the error:

[Error] [JvmBridge] java.lang.RuntimeException: **Unsupported literal type class org.apache.spar

[2019-08-06 19:58] imback82 commented on #179
@raberana we don't support taking a `Row` object in `Udf`s yet. But there is an ongoing work to support this. I will create an issue and reference here.

[2019-08-06 19:59] imback82 opened #202 "[FEATURE REQUEST]: UDF to support Row object as an input param."
There are many customer requests to support UDF that takes in a `Row` object (multiple columns).

[2019-08-06 20:01] imback82 commented on #179
Duplicate of #202

[2019-08-06 21:47] guruvonline opened #203 "Structured streaming writing to multiple sinks"
In my scenario i have to read from a stream perform a UDF and write the result to multiple sinks. The UDF stamps a UniqueId column which is a generated as new guid.
 Looks like Spark is calling my UDF multiple time for each(sink), so each of the sink is getting a different value for UniqueId. Presently .net for spark, doesn't support the foreachbatch/foreach functionality from spark to fix my scen

[2019-08-06 23:06] guruvonline opened #204 "Structured steaming read from delta lake"
i am trying to read stream from [Delta lake](https://docs.azuredatabricks.net/delta/delta-streaming.html). The samples loads the data by specifying path/table name to load API, but in the .net for spark load api doesn't take any parameters.

How can i read streaming data from Delta Lake.?

[2019-08-06 23:25] imback82 commented on #204
https://github.com/dotnet/spark/blob/de1bbc02d941f5d5824c0bb2e340940d3ccc14d1/src/csharp/Microsoft.Spark/Sql/DataFrameReader.cs#L117

This doesn't work?

[2019-08-06 23:28] imback82 commented on #203
Can you share C# example?

For the example you pasted above, can you share the one that actually compiles?

[2019-08-06 23:49] guruvonline commented on #204
can i use DataFramReader in StrucutredStreaming? to me it is returning DataStreamReader and DataStreamReader.Load doesn't take any argument.

looks like i can give path as option parameter, below seems to be working
``` spark.ReadStrem().Format("delta").Option("path","/delta/mytable").load();```

[2019-08-06 23:49] #204 closed

[2019-08-09 12:43] oscarwarnershell commented on #161
My application is that I need to append a C# List into a delta Lake table. With Spark 2.4 I can do this but I first need to convert this list into a DataFrame. From what I can see there is currently no API to do this using .NET-spark. I would need to either save this to a temp file (Parquet, JSON etc..) or stream into something such as Kafka or EventHub.

With PySpark I can convert a Python list u

[2019-08-10 07:45] liugaocn commented on #199
Thank you. Yes i know that one. That is only an example. What I meant was how to print out enumerable row[].

[2019-08-10 08:29] imback82 commented on #199
https://github.com/dotnet/spark/blob/de1bbc02d941f5d5824c0bb2e340940d3ccc14d1/examples/Microsoft.Spark.CSharp.Examples/Sql/Basic.cs#L39-L43

[2019-08-12 19:13] deeptowncitizen opened #206 "Implement IsIn clause"
I want to check whether a value from Column equals to one of static array values
[code]
Is there any substitution for this method?

[2019-08-12 21:30] imback82 commented on #206
You can do
[code]
Note that this change is in master, and not in 0.4.0 release.

Check here:
https://github.com/dotnet/spark/blob/de1bbc02d941f5d5824c0bb2e340940d3ccc14d1/src/csharp/Microsoft.Spark/Sql/Column.cs#L752-L755

[2019-08-12 21:31] imback82 commented on #201
@suhsteve this should be also related to your work item #202.

[2019-08-12 21:38] imback82 commented on #169
Closing this due to inactivity. Feel free to reopen it.

[2019-08-12 21:38] #169 closed

[2019-08-14 07:21] cosmincatalin opened #207 "[BUG]: UDFs do not work on MacOS"
I have a very simple example where UDF's do not seem to work properly on MacOS.
Here is my set-up:

* Environment variable pointing to Spark:
[code]
* Contents of the folder the environment variable is pointing to:
[code]
* Program listing
[code]
* Project file:
[code]

I run the compiled binary with the following command:
`spark-submit --class org.apache.spark.deploy.dotnet.DotnetRunner --master

[2019-08-14 07:36] imback82 commented on #207
Looks like you need to set `DOTNET_WORKER_DIR` to `/Users/cosmin/lib/Microsoft.Spark.Worker/Microsoft.Spark.Worker-0.4.0`

[2019-08-14 09:31] cosmincatalin commented on #207
Doesn't seem to work

[code]

outputs:

[code]

Remember, I'm on MacOS. Just to be completely clear, I attach a screen shot of how the Spark Worker folder looks. Name of the folder is on top. The full path you can see at the bottom. Everything in there are files, although they look like a weird "sub-path" thingie.

![Screenshot 2019-08-14 at 11 29 31](https://user-images.githubusercontent.com/5255

[2019-08-14 12:49] GoEddie commented on #207
Is this because you need to untar the file? Does mac let you browse contents of tar files without having to extract them?

If you fix the sub path thing then I bet it works

[2019-08-14 13:16] cosmincatalin commented on #207
There's no untaring. I just had a zip file.
![Screenshot 2019-08-14 at 15 16 23](https://user-images.githubusercontent.com/525590/63023963-7fd49e80-bea6-11e9-9bfb-71c60f740ba9.png)

[2019-08-14 13:31] GoEddie commented on #207
hmm, does:

`ls /Users/cosmin/lib/Microsoft.Spark.Worker/Microsoft.Spark.Worker-0.4.0/Microsoft.Spark.Worker`

work?

"No such file or directory" isn't normally thrown by anything else?

[2019-08-14 16:07] imback82 commented on #207
Can you check if you can run
[code]

If not, can you try
[code]

[2019-08-14 17:31] jatcar95 opened #208 "[FEATURE REQUEST]: Foreach and Foreachbatch output sinks"
I am unable to find a way to use Foreach and Foreachbatch sinks with .NET for Spark. Are these supported features, and if not, are there plans to support them in the future?

Here is the Spark documentation I'm referring to: http://spark.apache.org/docs/latest/structured-streaming-programming-guide.html#using-foreach-and-foreachbatch

[2019-08-14 19:09] cosmincatalin commented on #207
@GoEddie It does not work
[code]

@imback82  I cannot run said path (cannot be found), but I can run the following:
[code]

Notice the back slashes there.

[2019-08-14 19:16] GoEddie commented on #207
You need to get it so that `ls` or running the executable actually works, this isn't a spark thing this is a mac thing.

I would copy the files somewhere else and make sure ls or running work and then reference that path.

[2019-08-14 19:36] imback82 commented on #207
Looks like there is an issue while generating the zip file. I will update the thread when I find it out the root cause.

[2019-08-14 19:44] suhsteve commented on #207
This looks like an issue related to https://github.com/PowerShell/PowerShell/issues/2140 .   I'll take a look

[2019-08-14 20:34] cosmincatalin commented on #207
Ok, so workaround until this issue is fixed is to do mass rename using procedure [here](http://osxdaily.com/2015/05/28/batch-rename-files-mac-os-x-finder/) and remove the `Microsoft.Spark.Worker-0.4.0\` part (including the back slash). Point the environment variable to the folder the files are in (`DOTNET_WORKER_DIR`). It will work after this.

[2019-08-15 04:58] imback82 commented on #207
@cosmincatalin we updated the worker binaries with #209 and they are available here: https://github.com/dotnet/spark/releases/download/v0.4.0/Microsoft.Spark.Worker.netcoreapp2.1.osx-x64-0.4.0.zip

Thanks @suhsteve for quickly fixing this and @GoEddie for helping out!

[2019-08-15 05:04] imback82 commented on #208
@jatcar95 thanks for the suggestion. This is currently not supported, but we are open to support this feature depending on the community interests. (We are also very open to accept PRs to support this).

[2019-08-15 17:34] #207 closed

[2019-08-15 23:38] imback82 commented on #147
Closing this since #187 will handle the most cases. I will reopen this if there exists a special case for writing UDFs differently.

[2019-08-15 23:40] imback82 opened #210 "[Documentation] --archive option to deploy worker/UDF binaries."
Documentation for #194 feature.

[2019-08-15 23:44] imback82 commented on #178
#180 should fix this. Please reopen this if it doesn't address your scenario.

[2019-08-15 23:44] #178 closed

[2019-08-15 23:46] imback82 commented on #18
@suhsteve can you check if there are any examples we need to port over? Otherwise, let's close this issue.

[2019-08-15 23:47] imback82 commented on #206
Please reopen if the answer provided doesn't address your concern.

[2019-08-15 23:47] #206 closed

[2019-08-15 23:50] imback82 commented on #45
cc: @niharikadutta

[2019-08-16 00:03] imback82 commented on #26
cc: @suhsteve / @elvaliuliuliu

[2019-08-16 00:05] imback82 commented on #185
cc: @elvaliu

[2019-08-16 00:08] imback82 commented on #28
cc: @elvaliu

[2019-08-16 00:22] imback82 commented on #185
@elvaliuliuliu

[2019-08-16 00:24] Citrullinome commented on #185
I will work on this.

[2019-08-16 14:27] deeptowncitizen commented on #206
I'm using the latest version of the package

And I don't have such method

[2019-08-16 17:29] imback82 commented on #206
This feature didn't make it to 0.4.0 release. It will come in the next release. Since it is checked into master, you can build the repo and use it if you need it right away.

[2019-08-19 05:51] gvsrini opened #212 "Connect to Elasticsearch backend from Spark"
I am trying to get this working from .Net code. (It works in my JupyterLab).

But I don't see the API for `format` nor for `option`

[code]

Can someone help me get this to work.

[2019-08-19 14:33] imback82 commented on #212
`Format` and `Option` are available. Check the following example:
https://github.com/dotnet/spark/blob/af05ef25d412fe1443c3de77a0383428c2bf37da/examples/Microsoft.Spark.CSharp.Examples/Sql/Datasource.cs#L50-L60

[2019-08-19 14:33] #212 closed

[2019-08-19 17:08] gvsrini opened #213 "Unable to load elasticsearch class"
I am trying to run this code:

[code]
[code]

This same code is working in Jupyter. I have no clue what's going on.... Can someone help me pls

[2019-08-19 17:11] imback82 commented on #213
You need to pass in the jar that contains `org.elasticsearch.spark.sql` when you run `spark-submit`.

[2019-08-20 13:49] gvsrini commented on #213
I used this, but I am still getting same ClassNotFoundException:
**spark-submit --class org.apache.spark.deploy.dotnet.DotnetRunner --jars F:\Applications\spark-2.4.1-bin-hadoop2.7\jars\elasticsearch-spark_2.10-2.1.0.Beta2.jar --master spark://<MySparkServerIP>:7077 bin\Debug\netcoreapp3.0\microsoft-spark-2.4.x-0.4.0.jar debug**

Below is the content in my Elasticsearch-spark jar:

**"C:\Program F

[2019-08-20 14:13] gvsrini commented on #213
I added this jar: `elasticsearch-spark-20_2.11-7.3.0.jar`

and ran this command:
`spark-submit --class org.apache.spark.deploy.dotnet.DotnetRunner --jars C:\Users\xxxxxx\Downloads\elasticsearch-spark-20_2.11-7.3.0.jar  --master spark://MySparkServerIP:7077 bin\Debug\netcoreapp3.0\microsoft-spark-2.4.x-0.4.0.jar debug`

Got this exception - Is it coming from JNI layer? :

[code]

[2019-08-20 16:52] GoEddie commented on #213
https://www.elastic.co/guide/en/elasticsearch/hadoop/master/configuration.html#_required_settings

You must add the option `es.resource` ??

[2019-08-21 19:54] imback82 commented on #213
@gvsrini did @GoEddie's suggestion help?

[2019-08-21 20:56] bamurtaugh opened #215 "Have to manually move dll for spark-submit"
I'm using the following command to build and run my Spark programs:

`dotnet build`

`spark-submit --class org.apache.spark.deploy.dotnet.DotnetRunner --master local bin\Debug\netcoreapp2.2\microsoft-spark-2.4.x-0.4.0.jar dotnet bin\Debug\netcoreapp2.2\mySparkAppAdv.dll`

If I run an app without any UDFs, this works fine. However, if my app contains a UDF, I get the following error:

`[2019-08-21T

[2019-08-22 02:38] suhsteve commented on #215
@bamurtaugh since you are running `spark-submit` using `--master local` there are two options. You can either:
- Change your current working directory to a location that contains the required dll, ie `cd path\to\mySparkAppAdv\bin\Debug\netcoreapp2.2\` and then run the `spark-submit` command from there.
- Or copy the .dll to the `DOTNET_WORKER_DIR` folder

[2019-08-22 07:34] gvsrini commented on #213
Thanks for asking... I'm getting some error or the other!

Added `resource` option as suggested by @GoEddie (though it was not required in my Jupyter notebook) as below

[code]
And I am now getting this exception:
[code]

I have even added the ES Hadoop jar which contains this `SparkSettings` class but still no luck.
[code]

1. My question is why do I need to even run a local Spark and spark-submi

[2019-08-22 16:01] topcatarg opened #216 "Loading big table from oracle"
I'm trying to get data from an oracle source, But I receive an error like this:

Unhandled Exception: System.Exception: JVM method execution failed: Nonstatic method load failed for class 7 when called with 1 arguments ([Index=1, Type=String[], Value=System.String[]], )
   at Microsoft.Spark.Interop.Ipc.JvmBridge.CallJavaMethod(Boolean isStatic, Object classNameOrJvmObjectReference, String methodN

[2019-08-22 16:11] imback82 commented on #216
Can you share the full log?

[2019-08-22 16:12] imback82 commented on #199
Please reopen the issue if your question is not addressed.

[2019-08-22 16:12] #199 closed

[2019-08-22 16:25] topcatarg commented on #216
19/08/22 12:47:39 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java
classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
19/08/22 12:47:40 INFO DotnetRunner: Starting DotnetBackend with dotnet.
19/08/22 12:47:41 INFO DotnetRunner: Port number used by DotnetBackend is 62278
19/08/22 12:47:41 INFO D

[2019-08-22 16:27] bamurtaugh commented on #215
The third suggestion (setting the `DOTNET_ASSEMBLY_SEARCH_PATHS` env variable) worked for me, thank you!

Just as another aspect of this question, I had already tried the first suggestion (running `spark-submit` from a location containing the dll) in the past because I thought that would be a straight-forward way to find the dll, but I always just end up with a short series of warnings/error and t

[2019-08-22 16:28] imback82 commented on #216
This is the culprit:
[code]
Can you specify `Format("jdbc")`? `spark.Read().Format("jdbc").Option(...)"`?

[2019-08-22 16:37] topcatarg commented on #216
That was the problem. At least one of them.. Now I have a [2019-08-22T16:35:53.5686372Z] [XXXX] [Error] [JvmBridge] java.sql.SQLSyntaxErrorException: ORA-00911: car?cter
no v?lido (not valid character). I will keep digging around it... thanks a lot! (didn't change the query, still select 1 from dual)

[2019-08-23 19:02] LHuang2019 opened #217 "Unable to publish and run app on Databricks"
Currently working through the document on deploy a [.NET app to Databricks](https://docs.microsoft.com/en-us/dotnet/spark/tutorials/databricks-deployment).

I am able to build my [app](https://docs.microsoft.com/en-us/dotnet/spark/tutorials/get-started) correctly, and have create the cluster with the provided scripts from the documentation.

But when I try to [publish and run](https://docs.microso

[2019-08-23 20:30] LHuang2019 commented on #217
The issue has been resolved. I realized that the above error occurs if you created a High Concurrency cluster, it can be fixed if you switch to Standard Cluster Mode.

Follow-up, please update the document for the change that package has been update from
`org.apache.spark.deploy.DotnetRunner` to `org.apache.spark.deploy.dotnet.DotnetRunner`.

[2019-08-23 20:30] #217 closed

[2019-08-25 15:17] 939481896 opened #218 "[Info] [ConfigurationService] 'DOTNETBACKEND_PORT' environment variable is not set."
我环境都调试好了，运行我的demo也能正常出结果，但是有一个问题，就是开始运行的时候始终会出现标题中的提示，不知道是什么问题，谁能帮助一下我呢？
![image](https://user-images.githubusercontent.com/35762769/63652056-801a4700-c78e-11e9-8191-fde83a209781.png)

[2019-08-26 02:03] imback82 commented on #218
Can you please translate this to English?

[2019-08-26 02:04] imback82 commented on #218
Looks like you are running this in debug mode.

[2019-08-26 02:04] #218 closed

[2019-08-26 02:05] imback82 commented on #217
The release notes for breaking changes are not enough? https://github.com/dotnet/spark/blob/master/docs/release-notes/0.4/release-0.4.md#breaking-changes

[2019-08-26 03:34] LHuang2019 commented on #217
Sorry, wasn't aware that it existed. I was originally following the guide from the [Microsoft website](https://docs.microsoft.com/en-us/dotnet/spark/tutorials/databricks-deployment). Thank you for pointed it out to me.

[2019-08-26 03:45] imback82 commented on #217
Ah OK, thanks for pointing it out @LHuang2019.

@bamurtaugh, do you know which repo we need to update to fix https://docs.microsoft.com/en-us/dotnet/spark/tutorials/databricks-deployment#use-spark-submit ?

[2019-08-26 04:50] 939481896 commented on #218
I am sorry.Yes ,you are right.I'm running the application in debug mode.But when I run this,the program show me  the 'DOTNETBACKEND_PORT environment variable is not set'.I don't know why ?Could you tell me?Thanks.

[2019-08-26 04:54] imback82 commented on #218
In debug mode, 5567 port is always used so that the C# application knows which port to connect to.

[2019-08-26 05:51] AceHack opened #219 "[FEATURE REQUEST]: Add support/docs for K8s spark operator"
Please add support/docs for K8s spark operator
https://github.com/GoogleCloudPlatform/spark-on-k8s-operator

https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/issues/584

[2019-08-26 08:28] 939481896 opened #220 "How to Connect to the SqlServer?"
I use this code ' DataFrame jdbcDf = spark.Read()
                .Format("jdbc")
                .Options(
                    new Dictionary<string, string>
                    {
                        {"url", "jdbc:sqlserver://localhost:1433;DatabaseName=hifit"},
                        {"dbtable", "Customer"},
                        {"user", "sa"},
                        {"password", "P@ssw

[2019-08-26 09:26] jpsfs opened #221 "[BUG]: Kafka connection hangs (no feedback provided)"
**Describe the bug**
When connecting Spark with Kafka, the agent seems to hang, no displaying the action result.

**To Reproduce**

To reproduce you need to setup a Kafka broker and Spark. Kafka has one topic ("test") with one message inside:

![image](https://user-images.githubusercontent.com/1041209/63680306-3ad83280-c7eb-11e9-9b49-a34d9e209f31.png)

I used the following images:
- Kafka: http://

[2019-08-26 13:03] 939481896 opened #222 "How to set the log level?"
How to set the log level? There are so many logs when I debug the program! Is there any method to close some other  logs (such as info logs)?

[2019-08-26 13:23] GoEddie commented on #222
“To stop these, in your Spark folder there is a conf directory. In the conf directory, you will have a log4j.properties file add these lines to the end of the file:

log4j.logger.org.apache.spark.util.ShutdownHookManager=OFF
log4j.logger.org.apache.spark.SparkEnv=ERROR

If you don’t have a log4j.properties you should have a log4j.properties.template, copy it to log4j.properties.“

[2019-08-26 13:29] 939481896 commented on #222
Thank you!I know it!

[2019-08-26 13:29] #222 closed

[2019-08-28 15:51] imback82 opened #223 "[FEATURE REQUEST]: Support Apache Spark 2.3.4 and 2.4.4."
Apache Spark 2.3.4/2.4.4 should be released soon. Once they are released, we need to support them.

[2019-08-28 16:04] 939481896 commented on #220
Yes,I have downloaded the driver from  https://download.microsoft.com/download/0/7/C/07CC7CE4-D7F9-44FC-B2FD-8C289A4F941F/sqljdbc_7.0.0.0_chs.tar.gz,and seted it up.But it doesn't work.I don't know why? Maybe some config was wrong!

[2019-08-28 16:08] 939481896 commented on #220
Here is the error info:

[2019-08-28 16:09] 939481896 commented on #220
And this is the console error info:

[2019-08-28T16:07:10.2710448Z] [WIN-WUYUSHAN] [Error] [JvmBridge] JVM method execution failed: Nonstatic method load failed for class 49 when called with 1 arguments ([Index=1, Type=String[], Value=System.String[]], )
[2019-08-28T16:07:10.2713234Z] [WIN-WUYUSHAN] [Error] [JvmBridge] java.sql.SQLException: No suitable driver
        at java.sql.DriverManager.get

[2019-08-28 16:16] 939481896 commented on #220
This is the classpath config:
![image](https://user-images.githubusercontent.com/35762769/63873444-316ce700-c9f2-11e9-8a81-265c0080100d.png)

[2019-08-28 17:17] GoEddie commented on #220
Two things, first include the name of the driver in the options:

`var df = spark.Read().Format("jdbc")
                .Options(
                    new Dictionary<string, string>
                    {
                        {"url", "jdbc:sqlserver://localhost:1433;DatabaseName=databaseName"},
                        {"driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver" },

[2019-08-28 18:02] AFFogarty opened #224 "[FEATURE REQUEST]: Support for SparkSession.Range()"
**Is your feature request related to a problem? Please describe.**
.Net for Spark does not currently support `SparkSession.range()`.

**Describe the solution you'd like**
An implementation that matches the interface found in Scala Spark: https://spark.apache.org/docs/2.4.2/api/java/org/apache/spark/sql/SparkSession.html#range-long-

**Additional context**
Here is the Scala Spark implementation: ht

[2019-08-29 01:16] 939481896 commented on #220
There is something wrong on my PC when I run the code 'spark-submit --class org.apache.spark.deploy.dotnet.DotnetRunner --jars "c:/program files/Java/mssql-jdbc-7.0.0.jre8.jar"  --master local microsoft-spark-2.3.x-0.4.0.jar BLAH BLAH'.
The error info is :FirstSparkapp\FirstCoreSparkapp\bin\Debug\netcoreapp2.1> spark-submit --class org.apache.spark.deploy.dotnet.DotnetRunner --jars "c:/program fil

[2019-08-29 01:24] 939481896 commented on #220
Sorry,this is the error info :
![image](https://user-images.githubusercontent.com/35762769/63903071-bda4fb80-ca3e-11e9-9da7-b65566815fc9.png)

[2019-08-29 04:47] 939481896 commented on #220
OK，I have dealed with this question.Some config is wrong!I set JAVA_HONE ='C:\Program Files\Java\jdk1.8.0_201' but not 'C:\Program Files\Java\jre1.8.0_201'.
And I don't use 'spark-submit --class org.apache.spark.deploy.dotnet.DotnetRunner --jars "c:/program files/Java/mssql-jdbc-7.0.0.jre8.jar"  --master local microsoft-spark-2.4.x-0.4.0.jar BLAH BLAH' to deal it!

[2019-08-29 04:47] #220 closed

[2019-08-29 06:53] GoEddie opened #226 "[FEATURE REQUEST]: SparkSession.Catalog"
Is there a reason why SparkSession.Catalog isn't implemented or is it just not done yet?

https://spark.apache.org/docs/2.3.0/api/java/org/apache/spark/sql/catalog/Catalog.html

I'm willing to attempt to implement it but wanted to make sure that it is something you would accept or are you avoiding it?

[2019-08-29 09:50] 939481896 opened #227 "How to read data from HDFS? And why the hadoop resourcemanager can't run all the time on my system?"
I run the hadoop on my computer (the system is Win10).And it runs well:
![image](https://user-images.githubusercontent.com/35762769/63929489-15198a80-ca84-11e9-8dbb-3aab4175557a.png)
Question 1:
Why my hadoop resourceManager can't run all the time .
![image](https://user-images.githubusercontent.com/35762769/63929726-88bb9780-ca84-11e9-822d-afafbee41e55.png)
And I can't find any logs on the hadoop

[2019-08-29 09:55] 939481896 commented on #227
This is the hadoop files :
![image](https://user-images.githubusercontent.com/35762769/63930587-367b7600-ca86-11e9-8ac2-0e66ac78ea7b.png)

[2019-08-29 13:56] GoEddie commented on #227
Not sure about error 1, but error 2:

"Caused by: java.lang.RuntimeException: hdfs://localhost:9000/customer2.json is not a Parquet file. expected magic number at tail [80, 65, 82, 49] but found [-77, 34, 125, 10]"

Is customer2.json a json file or a directory with parquet files in?

"/Customer/Customer1.json" looks like a folder with a parquet file in so this should work??

[code]

If customer2.j

[2019-08-29 14:11] 939481896 commented on #227
Yes,thank you very much! I use this code :
`spark.Read().Json("hdfs://localhost:9000/customer2.json").Show();
 spark.Read().Load("hdfs://localhost:9000/Customer/Customer1.json").Show();`
It works well.

[2019-08-29 14:26] #227 closed

[2019-08-29 21:32] AFFogarty opened #229 "[FEATURE REQUEST]: Support different Scala overloads of `DataFrameReader.load()`"
**Is your feature request related to a problem? Please describe.**
In Scala, `DataFrameReader.load()` has 3 overloads:

* `load()`
* `load(path: String)`
* `load(paths: String*)`

Some popular Scala libraries only support particular overloads of this function.

Until now, .Net for Spark always calls `load(path: String*)`, even if no paths or a single path are provided.

**Describe the solution you

[2019-08-30 00:40] bamurtaugh opened #230 "[BUG]: Path does not exist error (despite correct path)"
**Describe the bug**
I believe I may have encountered a bug with the `.Text()` method (for loading from a text file into a DataFrame).

I am following the getting started tutorial: https://dotnet.microsoft.com/learn/data/spark-tutorial/run. I have all the installations completed and paths set correctly (I can successfully run other Spark apps locally).

However, for mySparkApp specifically, when I

[2019-08-30 11:40] GoEddie commented on #230
This is odd, all Text does is to pass on the path to spark - i.e. the spark-dotnet code doesn't look at the path at all.

If you start spark-shell and run:

[code]

Does that work or do you get the error there?

[2019-08-30 16:23] bamurtaugh commented on #230
I just tried that and I got the same error: `org.apache.spark.sql.AnalysisException: Path does not exist: file:/C:/Users/brmurtau/mySparkApp/input.txt;`

It's so strange because when I copy the path into my file directory, input.txt opens right up, so it's definitely there? Not sure what type of bug/issue this is?

[2019-08-30 18:09] bamurtaugh commented on #230
I realize now my file name had ".txt" at the end of it, so the file was getting confused and had two ".txt" endings. Mistake I couldn't catch at the end of a long day :-) Issue solved!

[2019-08-30 18:09] #230 closed

[2019-08-30 18:19] GoEddie commented on #230
Great news :)

[2019-08-31 05:33] imback82 commented on #224
Closed by #224.

[2019-08-31 05:33] #224 closed

[2019-08-31 05:37] imback82 commented on #226
Thanks @GoEddie for starting this work. It is just not done yet, and we would definitely accept the PR!

[2019-09-01 09:06] jpsfs commented on #221
Hi,

An update on this issue, for anyone with the same problem. The issue was related with Kafka itself and not Spark.

My Kafka cluster had corrupt topics and although the topic I was using was working fine with other applications, the problem only disappeared after deleting the corrupt ones.

[2019-09-01 09:06] #221 closed

[2019-09-02 03:23] imback82 commented on #229
Closed by #228

[2019-09-02 03:23] #229 closed

[2019-09-02 04:25] AceHack commented on #223
I am building them from source now and can't use them :(

I would really like to get 3.0.0 in there too for when I build from master, I know there will be issues but it would be nice for it to at least work.

[2019-09-02 04:27] AceHack commented on #219
I've created a repo that creates a docker image that has the two projects working together.

https://github.com/AceHack/spark-on-k8s-dotnet

I will update the readme soon on the steps to follow.

[2019-09-02 04:54] imback82 commented on #223
2.4.4. is addressed by #232.

[2019-09-02 04:56] imback82 commented on #223
@AceHack you can take a look at #232 for 2.4.4 support. I will merge the PR once the E2E tests are validated.

Regarding 3.0.0, since the APIs are still not stable, we plan to work on supporting it as soon as branch-3.0 is cut in apache/spark.

[2019-09-02 06:20] AceHack commented on #223
FYI, this is how I test 2.4.4
https://github.com/AceHack/spark-on-k8s-dotnet/blob/master/from-source/Dockerfile

[2019-09-02 06:27] AceHack commented on #223
Will there be an updated version of the scala.jar released that references 2.4.4?

https://github.com/dotnet/spark/blob/4e6653610725e1bf56cee0361bc3773a5b023171/src/scala/microsoft-spark-2.4.x/pom.xml#L15

[2019-09-02 06:54] imback82 commented on #217
Created https://github.com/dotnet/docs/pull/14139 to address this.

[2019-09-02 10:16] jalchr commented on #191
What was your solution ?
I'm facing same issue

[2019-09-02 10:19] jalchr commented on #191
Okay solved in here #195  and reading the release notes of 0.4
https://github.com/dotnet/spark/blob/master/docs/release-notes/0.4/release-0.4.md

[2019-09-03 02:49] lmssong opened #233 "spark-submit --version 提示'系统找不到指定的路径'"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/install-spark
Operating System: windows

spark-submit --version 提示'系统找不到指定的路径'

[2019-09-03 20:52] AceHack commented on #219
Since I have this working in my repo above I would happily take on the work on making it supported first class in this repo if that is a PR you are interested in.

If so it would help if we could have some discussions/zoom meeting about how it could be integrated as there are some questions about the best way to integrate.

Also, I would love to try and get both you and the Google guys supporting

[2019-09-05 16:25] imback82 opened #237 "[FEATURE REQUEST]: Add unit tests for UDFs that have complex types."
We need to have some test coverage on UDFs that have complex types.

For example, we need to have a test with the following:
[code]

We need to do the same for Array type and Row type.

cc: @suhsteve @Niharikadutta, @elvaliuliuliu

[2019-09-05 16:26] imback82 commented on #233
@lmssong can you describe the problem you encountered? Also, can you try to translate to English?

[2019-09-06 15:43] #185 closed

[2019-09-09 15:09] Peter-B- opened #238 "Tutorial: setx PATH considered harmfull"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/install-spark
Operating System: windows

The tutorial advises to enter
`setx PATH "C:\bin\spark-2.4.1-bin-hadoop2.7\bin;%PATH%"`

The code executed successfully, but emmited a
`WARNING: The resulting value was shortened to 1024 characters`

(or something along that line. I'm sporting a German version of Windows).

I can

[2019-09-09 20:07] imback82 commented on #238
Thanks for reporting this @Peter-B-. We will update the doc.

[2019-09-09 20:09] imback82 commented on #202
Fixed by #214

[2019-09-09 20:09] #202 closed

[2019-09-09 21:29] imback82 commented on #237
We can add a test here: https://github.com/dotnet/spark/tree/master/src/csharp/Microsoft.Spark.E2ETest/UdfTests

[2019-09-10 06:48] Peter-B- commented on #238
Thanks a lot to you for writing and maintaining the tutorial.

[2019-09-11 00:20] #223 closed

[2019-09-11 02:28] lqdev opened #242 "[BUG]: UDFs do not work on Ubuntu"
**Describe the bug**

UDFs are not working in Ubuntu. May be related to #207 but not sure how to apply that fix in Ubuntu. This is the error I'm currently getting.

[code]

**To Reproduce**

When running the following code, there are no issues.

[code]

However, when I try to use UDFs I encounter the error mentioned above.

[code]

I have tried to use the `RegisterUdf` method along with SQL expres

[2019-09-11 02:34] lqdev commented on #242
After looking at #177 I tried moving the DLL to the Worker directory. Although it worked, not sure if this is best practice? Are there recommended ways on how to go about this? Thanks.

[2019-09-11 04:40] lqdev commented on #242
Another workaround for this issue that's better than putting all the DLLs in the DOTNET_WORKER_DIR:

1. Change permissions of Microsoft.Spark.Worker with `chmod +x`
1. Publish the application `dotnet publish -f netcoreapp2.1 -r ubuntu.18.04-x64`
1. Run the application (spark-submit) from the publish directory.

[2019-09-17 17:37] bamurtaugh opened #245 "How to spark-submit with additional nuget?"
I have a coding example that combines .NET Spark and ML.NET to do sentiment analysis. However, in order to `spark-submit`, I have to manually copy over the ML.NET associated dll's (i.e. Microsoft.ML.Data.dll) to my app's main folder/directory, otherwise I get errors like:

`System.IO.FileNotFoundException: Could not load file or assembly 'Microsoft.ML.Data, Version=1.0.0.0, Culture=neutral, Public

[2019-09-17 19:01] imback82 opened #246 "[FEATURE REQUEST]: Expose DataFrameReader.Schema() that takes in StructType."
Expose DataFrameReader.Schema() that takes in StructType that will define the schema for the data you are reading from.

We want to achieve something similar to https://spark.apache.org/docs/2.3.0/sql-programming-guide.html#programmatically-specifying-the-schema.

[2019-09-17 19:02] imback82 commented on #246
cc: @elvaliuliuliu

[2019-09-17 19:22] guruvonline commented on #203
this is same as [issue](https://github.com/dotnet/spark/issues/208)

[2019-09-17 19:23] guruvonline commented on #151
any update on how to debug UDFs?

[2019-09-17 21:22] imback82 commented on #210
cc: @rapoth @suhsteve @elvaliuliuliu @Niharikadutta

[2019-09-18 20:43] imback82 commented on #238
@bamurtaugh do you know who can help updating this doc? We shouldn't update PATH, but use `SPARK_HOME\bin\spark-submit` instead.

[2019-09-18 20:51] bamurtaugh commented on #238
@imback82 Looks like we'd want to update both the getting started tutorial on the .NET site and the doc itself.

@rowanmiller Works with the .NET site getting started tutorials (i.e. https://dotnet.microsoft.com/learn/data/spark-tutorial/install-spark) and @mamccrea works with the docs site (https://docs.microsoft.com/en-us/dotnet/spark/tutorials/get-started).

[2019-09-18 21:06] bamurtaugh opened #249 ""Stream is closed" error, but program finishes executing correctly"
I'm running a .NET Spark app for batch processing with a selection of GitHub projects data. My program runs as expected up through making a Spark Sql call:

[code]

After the Sql query, I perform a Filter() and Drop() for some final processing:
[code]

Before I Show() each of these modified DataFrames, I get the error: `ProcessStream() failed with exception: System.ArgumentException: The stream is

[2019-09-18 21:36] guruvonline opened #250 "[BUG]:Document for steps for running in Databricks"
the [doc](https://github.com/dotnet/spark/tree/master/deployment#using-set-jar), mention step# 4 to use existing cluster for running job. I think for Azure databricks, the [recommendation ](https://docs.azuredatabricks.net/spark/latest/structured-streaming/production.html#configure-jobs-to-restart-streaming-queries-on-failure) is to use new cluster for all the jobs as a new cluster is billed as "e

[2019-09-19 16:22] QuantApp opened #252 "[FEATURE REQUEST]: In process Interop between JVM <-> CLR instead of IPC socket based"
A humble suggestion. Perhaps you can have a look at the following project that offers in process Interop link between CoreCLR and the JVM instead of using an IPC (socket based) communication. This could have a relevant performance impact.

Project: https://github.com/QuantApp/CoFlows-CE
Details: https://github.com/QuantApp/CoFlows-CE/blob/master/docs/Polyglot/General.md

With kind regards

[2019-09-20 17:41] imback82 opened #253 "[FEATURE REQUEST]: Implement Broadcast Variable."
Currently, .NET for Spark doesn't support broadcast variables. This will be a good feature to have. More info here: https://spark.apache.org/docs/2.4.4/rdd-programming-guide.html#broadcast-variables.

We first need to evaluate if it is possible to access this from UDFs (which I think it should).

[2019-09-20 19:48] out0 opened #254 "java.lang.NoClassDefFoundError: org/apache/spark/internal/Logging"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/run
Operating System: Linux CentOS 7 - x64

I'm using CDH. I installed spark as a CDH resource. Tested it with python both in pyspark shell and as a standalone script (spark-submit).

Tried to run the C# example but ran into this exception.

spark-submit --class org.apache.spark.deploy.dotnet.DotnetRunner --master local

[2019-09-21 02:55] imback82 commented on #254
Looks like you are using Spark 2.4.2 (or Spark built with scala 2.12): https://github.com/dotnet/spark/issues/60#issuecomment-490652051

 Can you download Spark here: https://spark.apache.org/downloads.html?

[2019-09-23 21:22] out0 commented on #254
I'm using spark 1.6.0  (spark-submit --version)

[2019-09-23 23:18] rowanmiller commented on #238
@bamurtaugh can you confirm if these are the correct changes...

Remove this command from the Windows Install Apache Spark step:
![image](https://user-images.githubusercontent.com/4741851/65469775-7af7f880-de1d-11e9-8531-087c527ea797.png)

Update this command from the Windows Run your app step:
![image](https://user-images.githubusercontent.com/4741851/65469821-9d8a1180-de1d-11e9-9f0a-6cecd617caf4

[2019-09-23 23:23] bamurtaugh commented on #238
@rowanmiller LGTM. @imback82 Do the changes look correct to you?

[2019-09-24 01:46] imback82 commented on #238
I would do `%SPARK_HOME%\bin\spark-submit`

[2019-09-24 01:47] imback82 commented on #254
Please check supported Spark version here: https://github.com/dotnet/spark#supported-apache-spark

[2019-09-24 01:47] #254 closed

[2019-09-24 06:56] cstajj opened #256 "127.0.0.1:5567 access denied"
![image](https://user-images.githubusercontent.com/44864794/65488294-667a3580-dedb-11e9-8196-dfe08b9f29b4.png)

[2019-09-24 16:01] imback82 commented on #256
Looks like you are trying to run a debug session. Did you follow the instruction here? https://github.com/dotnet/spark/blob/master/docs/developer-guide.md#how-to-do-local-debugging

[2019-09-25 01:40] rapoth opened #259 "[FEATURE REQUEST]: Add support for spark.Read().Jdbc()"
**Is your feature request related to a problem? Please describe.**
While we provide spark.Write().Jdbc(), there is no equivalent spark.Read().Jdbc(). This makes for an inconsistent experience between Scala and C#.

**Scala**
[code]

**C#**
[code]

**Describe the solution you'd like**
Expose the JDBC API

[2019-09-25 01:43] rapoth opened #260 "[FEATURE REQUEST]: Allow GroupBy().Sum() instead of GroupBy().Agg(Sum())"
**Is your feature request related to a problem? Please describe.**
We do not allow GroupBy().Sum() which leads to an inconsistent experience between Scala and C#.

**Scala**
[code]

**C#**
[code]

**Describe the solution you'd like**
Expose Sum() in RelationalGroupedDataset

[2019-09-25 01:51] cstajj commented on #256
Thank you,I solved the first problem in your way.but other one problem is comming
![1](https://user-images.githubusercontent.com/44864794/65562739-05ee0580-df7a-11e9-8e40-ad1f920153f7.png)

[2019-09-25 02:29] #238 closed

[2019-09-25 03:20] rajasekarshanmugam opened #261 "When .NET core 3 is used to try the samples, path to binaries indicated may not work as expected. Will be good to call out this specifically."
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/run
Operating System: windows

OS: Win10
.NET Core: 3.0

Walk-through of the usage is really good. However for a beginner, its possible when using .NET core 3, output paths are different and copy/paste of commands will fail with obscure errors. Is it possible to call-out that the output paths could vary depending on the

[2019-09-25 03:34] imback82 commented on #261
@bamurtaugh / @rowanmiller can you help updating the doc? The download link [here](https://dotnet.microsoft.com/learn/data/spark-tutorial/install-dotnet) now points to 3.0, so [this](https://dotnet.microsoft.com/learn/data/spark-tutorial/run) needs to be updated.

[2019-09-25 03:38] imback82 commented on #252
Do you have any benchmark you want to share? We explored this approach earlier this year, but it didn't give us any performance gain at all (esp. in cluster runs).

[2019-09-25 03:39] imback82 commented on #256
Can you try running in command line via `spark-submit`? It will give you a better error messages. Or what does the other terminal (that launched the `spark-submit`) show when this happens?

[2019-09-25 03:40] imback82 commented on #233
Closing due to the inactivity. Please feel free to reopen.

[2019-09-25 03:40] #233 closed

[2019-09-25 04:10] cstajj commented on #256
This is the display of CMD in Debug mode
![3](https://user-images.githubusercontent.com/44864794/65568508-b9f88c00-df8c-11e9-9b39-c303c0a4d107.png)
and this is display of CMD
 I input 《spark-submit --class org.apache.spark.deploy.dotnet.DotnetRunner --master local bin\Debug\netcoreapp3.0\microsoft-spark-2.4.x-0.4.0.jar dotnet bin\Debug\netcoreapp3.0\mySparkApp.dll》
![4](https://user-images.githubu

[2019-09-25 04:32] imback82 commented on #256
Can you run your application with `spark-submit` and attach a full log?

[2019-09-25 04:37] cstajj commented on #256
The Second run，isn't it?

[2019-09-25 14:26] Kaime90 opened #264 "`Window` usage for 'forward fill'"
Im running a .NET Spark app for processing localization data. I'm grouping locations by time (locations group per minute) and i need to fill missing time with avarage of nearest locations.
I run into a problem where i need to 'forward fill' those missing values, i found a similar implementation to the one i need but written in java: [https://stackoverflow.com/a/46712692](url)

My problem is that i

[2019-09-25 16:18] rowanmiller commented on #261
Sure thing, is it just a matter of updating this to `netcoreapp3.0`?

![image](https://user-images.githubusercontent.com/4741851/65619651-5d3da700-df75-11e9-866d-54fd69128b93.png)

[2019-09-25 16:20] bamurtaugh commented on #261
@rowanmiller Yes I think that's all that would need to be updated!

[2019-09-25 21:10] schinchanikar-rms opened #268 "'spark-submit' is not recognized as an internal or external command error"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/install-spark
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-09-25 21:35] imback82 commented on #268
Can you try `%SPARK_HOME%\bin\spark-submit`?

cc: @bamurtaugh

[2019-09-25 21:37] bamurtaugh commented on #268
@schinchanikar-rms Was your issue specifically on the "Install Apache Spark" step? If so, which part, and what was your error/problem?

[2019-09-25 21:55] schinchanikar-rms commented on #268
I did resolve my issue. The issue was that there is a line missing in the online instructions. The missing line is Setting of Path environment variable. I caught it in the video and ran it and now everything works fine.

Thanks,
Suchi

From: Brigit Murtaugh <notifications@github.com>
Sent: Wednesday, September 25, 2019 2:38 PM
To: dotnet/spark <spark@noreply.github.com>
Cc: Suchi Chinchanikar <Suc

[2019-09-25 23:05] imback82 opened #269 "[FEATURE REQUEST]: Expose DataStreamWriter.PartitionBy()"
DataStreamWriter is missing PartitionBy() API.

[2019-09-25 23:17] Niharikadutta commented on #269
I can take a look at this

[2019-09-25 23:48] #226 closed

[2019-09-25 23:50] GoEddie commented on #226
Closing as https://github.com/dotnet/spark/pull/231 was merged in

[2019-09-26 04:47] imback82 commented on #269
@Niharikadutta sorry, I didn't see your comment. (I actually started this right after creating the issue and  this is fixed by #270). Thanks!

[2019-09-26 04:47] #269 closed

[2019-09-26 04:49] imback82 commented on #264
Can you elaborate on the difference? If you have a sample code that you tried, we can help.

[2019-09-26 04:51] imback82 commented on #256
Can you please attach a "full" log? The logs at the bottom are cut off.

[2019-09-26 05:30] imback82 commented on #261
This is fixed by https://github.com/dotnet/dotnet-core-website/pull/1545

[2019-09-26 05:30] #261 closed

[2019-09-26 06:09] cstajj commented on #256
![1](https://user-images.githubusercontent.com/44864794/65662532-1af49280-e067-11e9-9ec1-ba76cc92850d.png)
![2](https://user-images.githubusercontent.com/44864794/65662540-1f20b000-e067-11e9-808b-4aeb8f34cf72.png)
![3](https://user-images.githubusercontent.com/44864794/65662544-20ea7380-e067-11e9-96df-7e5191501dcc.png)
![4](https://user-images.githubusercontent.com/44864794/65662562-2647be00-e067-

[2019-09-26 06:42] cstajj commented on #256
No errors were reported with absolute paths, but cmd not print
![5](https://user-images.githubusercontent.com/44864794/65664431-e3d4b000-e06b-11e9-8583-2b47ecc9c9dc.png)

[2019-09-26 18:04] Kaime90 commented on #264
Hi, after diging a little bit more in the source code i found out that i was using `Window` class from a wrong namespace. There is `Window` method in namespace `Microsoft.Spark.Sql` and `Window` class in `Microsoft.Spark.Sql.Expressions` (that is the one i was looking for).
To be able to use it had to specify whole namespace:
[code]

[2019-09-26 18:04] #264 closed

[2019-09-26 18:20] schinchanikar-rms opened #271 "[Error] [JvmBridge] java.sql.SQLException: No suitable driver"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/install-spark
Operating System: windows

I am trying to read a dataframe from SQL database through spark session using spark.Read.Format("jdbc").
I installed the sql jdbc driver as specified in https://docs.microsoft.com/en-us/sql/connect/jdbc/using-the-jdbc-driver?view=sql-server-2017. I still get error  [Error] [JvmBri

[2019-09-26 18:42] bamurtaugh commented on #268
Great, glad you were able to resolve your issue @schinchanikar-rms. When you say you caught it in the video, was it something that was said in one of the .NET for Apache Spark 101 videos specifically?

[2019-09-26 18:50] schinchanikar-rms commented on #268
Yes. In one of the Spark 101 videos there was a path variable set.

From: Brigit Murtaugh <notifications@github.com>
Sent: Thursday, September 26, 2019 11:43 AM
To: dotnet/spark <spark@noreply.github.com>
Cc: Suchi Chinchanikar <Suchi.Chinchanikar@rms.com>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/spark] 'spark-submit' is not recognized as an internal or external command error (#2

[2019-09-26 19:47] bamurtaugh commented on #268
Awesome, glad it helped @schinchanikar-rms! Was it the `DOTNET_ASSEMBLY_SEARCH_PATHS` variable?

[2019-09-26 19:55] schinchanikar-rms commented on #268
No in Set environment variables in https://dotnet.microsoft.com/learn/data/spark-tutorial/install-spark
There was one more line that was in the video. It was PATH variable. I had missed that.

From: Brigit Murtaugh <notifications@github.com>
Sent: Thursday, September 26, 2019 12:47 PM
To: dotnet/spark <spark@noreply.github.com>
Cc: Suchi Chinchanikar <Suchi.Chinchanikar@rms.com>; Mention <mention@

[2019-09-26 19:58] bamurtaugh commented on #268
Okay, thank you for elaborating! It should work if you modify the PATH, or if you use the command `%SPARK_HOME%\bin\spark-submit` when you run spark-submit (even if you don't set your PATH). 😄

[2019-09-26 20:00] schinchanikar-rms commented on #268
Ok. Will try that. Thanks.

From: Brigit Murtaugh <notifications@github.com>
Sent: Thursday, September 26, 2019 12:59 PM
To: dotnet/spark <spark@noreply.github.com>
Cc: Suchi Chinchanikar <Suchi.Chinchanikar@rms.com>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/spark] 'spark-submit' is not recognized as an internal or external command error (#268)

CAUTION – UNVERIFIED EXTERNAL EMAIL

[2019-09-26 20:01] bamurtaugh commented on #268
@schinchanikar-rms You're welcome! Please keep us posted if it works and if you have any further questions.

@imback82 I think we also need to update the last command on https://dotnet.microsoft.com/learn/data/spark-tutorial/install-spark to say: `%SPARK_HOME%\bin\spark-submit --version`, since we've decided to no longer include changing the path. @rowanmiller Can you help us with this? 😃

[2019-09-26 20:31] schinchanikar-rms commented on #268
Is it possible to create Dataframe using SQL database tables? I could not find an example.
Could you please point me to an example of getting a dataframe created from SQL database?

From: Brigit Murtaugh <notifications@github.com>
Sent: Thursday, September 26, 2019 1:02 PM
To: dotnet/spark <spark@noreply.github.com>
Cc: Suchi Chinchanikar <Suchi.Chinchanikar@rms.com>; Mention <mention@noreply.gith

[2019-09-27 17:58] bamurtaugh commented on #268
@imback82 @rapoth Do you have any examples of creating a Dataframe using SQL database tables?

[2019-09-27 18:27] rapoth commented on #271
@schinchanikar-rms: Thank you for reporting this problem! Can you provide the full logs and your complete app code please?

[2019-09-27 18:36] rapoth commented on #268
@schinchanikar-rms: We see you are attempting to use JDBC to read from SQL Server in https://github.com/dotnet/spark/issues/271 Let's discuss how to resolve this problem in that issue.

@bamurtaugh Just an FYI that as per instructions here: [Ubuntu](https://github.com/dotnet/spark/blob/master/docs/building/ubuntu-instructions.md#pre-requisites), [Windows](https://github.com/dotnet/spark/blob/maste

[2019-09-27 18:39] rapoth commented on #259
Closing the issue. Thanks @suhsteve!

[2019-09-27 18:39] #259 closed

[2019-09-27 18:39] rapoth commented on #260
Closing this issue. Thanks @suhsteve and @elvaliuliuliu!

[2019-09-27 18:39] #260 closed

[2019-09-27 18:43] rapoth commented on #256
@cstajj I see you have resolved the problem when using an absolute path. Are you still facing issues?

[2019-09-27 18:48] rapoth commented on #250
@guruvonline What is the aspect of billing (i.e., engineering vs analytics workload) you are referring to? I don't see it mentioned on the page you linked.

[2019-09-27 18:53] rapoth commented on #249
@bamurtaugh Thank you for reporting! Could you share your complete app, spark-submit command you are using and the full C# code?

[2019-09-27 18:57] rapoth commented on #245
@bamurtaugh In short yes, you'd have to copy over everything. These steps are [here](https://github.com/dotnet/spark/tree/master/deployment#preparing-your-spark-net-app) and the [submission instructions](https://github.com/dotnet/spark/tree/master/deployment#run-your-app-on-the-cloud). Please let us know if you still running into issues.

[2019-09-27 19:03] rapoth commented on #242
@lqdev Thanks for reporting! This is already documented [here](https://github.com/dotnet/spark/tree/master/deployment#preparing-your-spark-net-app) so I'm closing this issue. If you are not satisfied, please feel free to re-open.

[2019-09-27 19:03] #242 closed

[2019-09-27 19:59] bamurtaugh commented on #268
@rapoth Thanks for the clarification! Maybe I am missing a step, but when users call `spark-submit` now, since we no longer add `spark-submit` to the path (in a recent issue, we decided to no longer modify the path), we can't just call `spark-submit` as-is.

We now instead call `%SPARK_HOME%\bin\spark-submit`. We reflected this change in the [last page of the online tutorial](https://dotnet.micros

[2019-09-27 21:17] schinchanikar-rms commented on #268
I am using the following code to load the SQL table into the dataframe:

DataFrame dataFrame = spark.Read().Format("jdbc").Option("url", "jdbc:sqlserver://localhost;databaseName=TEST_DB;integratedSecurity=true;")
                .Option("driver", "com.Microsoft.SqlServerDriver")
                .Option("dbtable", "Address")
                .Load();

From: Rahul Potharaju <notifications@github.com>

[2019-09-27 21:18] rapoth commented on #268
@schinchanikar-rms Can you respond in your other thread please? That way, we can keep this thread within topic (which is spark-submit) and not mix up our responses :)

[2019-09-27 21:23] rapoth commented on #268
@bamurtaugh Sorry, I missed that thread where we decided to no longer modified path. I misunderstood. The docs on GitHub are correct but I guess the point you are making is a change on that tutorial, which is valid.

I'm going to go ahead and close the issue. Please feel free to re-open if you are not satisfied with the resolution.

[2019-09-27 21:23] #268 closed

[2019-09-27 21:24] schinchanikar-rms commented on #271
I am using the following code to load the SQL table into the dataframe:

DataFrame dataFrame = spark.Read().Format("jdbc").Option("url", "jdbc:sqlserver://localhost;databaseName=TEST_DB;integratedSecurity=true;")
                .Option("driver", "com.Microsoft.SqlServerDriver")
                .Option("dbtable", "Address")
                .Load();

And this is the exception:
[2019-09-26T22:38:24.

[2019-09-27 21:27] rapoth commented on #271
Thanks! Can you also provide the spark-submit command you are using to submit your job?

[2019-09-27 21:34] rowanmiller commented on #268
I've kicked off this change to the tutorial. @bamurtaugh & @imback82 I've included you as reviewers.

[2019-09-27 21:42] schinchanikar-rms commented on #271
From: Rahul Potharaju <notifications@github.com>
Sent: Friday, September 27, 2019 2:28 PM
To: dotnet/spark <spark@noreply.github.com>
Cc: Suchi Chinchanikar <Suchi.Chinchanikar@rms.com>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/spark] [Error] [JvmBridge] java.sql.SQLException: No suitable driver (#271)

CAUTION – UNVERIFIED EXTERNAL EMAIL

Thanks! Can you also provide the spark-su

[2019-09-27 22:32] bamurtaugh commented on #249
My app is called mySparkAppAdv. The spark-submit command I'm using is:

`spark-submit --class org.apache.spark.deploy.dotnet.DotnetRunner --master local bin\Debug\netcoreapp2.2\microsoft-spark-2.4.x-0.4.0.jar dotnet bin\Debug\netcoreapp2.2\mySparkAppAdv.dll`

The app itself is:

[code]

After most of my program executes/produces output as expected, I get the following output after the DataFrame sh

[2019-09-27 22:34] bamurtaugh commented on #245
Thank you for your feedback! I just wanted to make sure I wasn't missing any sort of other way to perform this. Closing this issue since I can get it working (it just required the manual copying).

[2019-09-27 22:34] #245 closed

[2019-09-28 00:42] cstajj commented on #256
No error,But cmd did not enter the correct results,

[2019-09-28 02:49] rapoth commented on #271
Can you supply the appropriate driver JAR through your spark-submit. For instance,

[code]

Note that this is just an example. You'd have to replace the JAR version with the correct version you installed.

[2019-09-28 02:52] rapoth commented on #256
Sorry, I don't understand. What results were you expecting and what are you seeing?

[2019-09-28 02:53] rapoth commented on #216
@topcatarg Did you manage to resolve this issue?

[2019-09-29 02:58] cstajj commented on #256
![2](https://user-images.githubusercontent.com/44864794/65825294-da378c00-e2a7-11e9-896a-346475f20047.png)
This is output without debug mode

[2019-09-29 02:58] cstajj commented on #256
↑

[2019-09-29 03:04] cstajj commented on #256
![5](https://user-images.githubusercontent.com/44864794/65825394-ecfe9080-e2a8-11e9-962b-fcabcda60c41.png)

[2019-09-30 11:38] dotnettrainingacademy opened #276 "The term 'spark-submit' is not recognized as the name of a cmdlet,"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/install-spark
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

spark-submit : The term 'spark-submit' is not recognized as the name of a cmdlet, function, script file, or operabl

[2019-09-30 16:54] rapoth commented on #276
CC: @bamurtaugh

@dotnettrainingacademy Could you please see this issue: https://github.com/dotnet/spark/issues/268?

[2019-09-30 16:59] schinchanikar-rms commented on #271
I tried. I still get exactly same error.

From: Rahul Potharaju <notifications@github.com>
Sent: Friday, September 27, 2019 7:49 PM
To: dotnet/spark <spark@noreply.github.com>
Cc: Suchi Chinchanikar <Suchi.Chinchanikar@rms.com>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/spark] [Error] [JvmBridge] java.sql.SQLException: No suitable driver (#271)

CAUTION – UNVERIFIED EXTERNAL EMAIL

[2019-09-30 17:11] schinchanikar-rms commented on #271
Here is the full log .Please tell me if this is really about the driver or something else in the code:
C:\Users\schinchanikar\mySparkApp>%SPARK_HOME%\bin\spark-submit --jars bin\debug\netcoreapp2.2\mssql-jdbc-7.4.1.jre8.jar --class org.apache.spark.deploy.dotnet.DotnetRunner --master local bin\Debug\netcoreapp2.2\microsoft-spark-2.4.x-0.4.0.jar dotnet bin\Debug\netcoreapp2.2\mySparkApp.dll
19/09/3

[2019-09-30 19:40] GoEddie commented on #271
Hi,

The error you are getting "java.sql.SQLException: No suitable driver" is a jvm error that means that the driver you are asking for cannot be loaded.

The first thing is to make sure you have the sql server driver, which I think you do and it is here "file:///C:/Users/YOURUSERNAME/mySparkApp/bin/debug/netcoreapp2.2/mssql-jdbc-7.4.1.jre8.jar".

If the jar isn't actually there you will need to d

[2019-09-30 20:09] schinchanikar-rms commented on #271
Thanks. I am able to connect to the SQL server now.
Thanks for the help.
Suchi

From: Ed Elliott <notifications@github.com>
Sent: Monday, September 30, 2019 12:41 PM
To: dotnet/spark <spark@noreply.github.com>
Cc: Suchi Chinchanikar <Suchi.Chinchanikar@rms.com>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/spark] [Error] [JvmBridge] java.sql.SQLException: No suitable driver (#271)

CA

[2019-10-01 05:52] GoEddie commented on #271
I wrote this up, in case it helps anyone else (I think it will be quite a common issue for people using spark dotnet!)

https://the.agilesql.club/2019/10/how-to-connect-spark-to-ms-sql-server-without-error-jvmbridge-java.sql.sqlexception-no-suitable-driver/

[2019-10-01 18:40] schinchanikar-rms commented on #271
I tried to connect to SQLServer using databricks cluster and I get following exception:
com.microsoft.sqlserver.jdbc.SQLServerException: The TCP/IP connection to the host CAWL113418, port 1433 has failed. Error: "CAWL113418. Verify the connection properties. Make sure that an instance of SQL Server is running on the host and accepting TCP/IP connections at the port. Make sure that TCP connections

[2019-10-01 19:26] MikeRys commented on #271
Where is your Databricks cluster and SQL Server instance running (on prem, Azure, somewhere else)?

Assuming you specified the correct connection information for your SQL Server instance (I am skeptical if localhost works), you would probably need to make sure that the machine ranges that your Databricks cluster is using is whitelisted in your SQL Server port’s firewall setting.

I would expect th

[2019-10-01 19:34] GoEddie commented on #271
You are right to check that the sql server is listening on tcp and port 1433 and to add a firewall rule to allow it.

You will definitely need connectivity from your databricks cluster through to your sql server - if you don't have that you won't be able to connect.

One thing though is that SocketFinder.findSocket uses `InetAddress.getAllByName(hostName);` to lookup the ip address to connect to a

[2019-10-01 20:02] schinchanikar-rms commented on #271
I did try using my ip address  (IPv4 address) instead of server name. It still doesn’t work.

From: Ed Elliott <notifications@github.com>
Sent: Tuesday, October 1, 2019 12:34 PM
To: dotnet/spark <spark@noreply.github.com>
Cc: Suchi Chinchanikar <Suchi.Chinchanikar@rms.com>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/spark] [Error] [JvmBridge] java.sql.SQLException: No suitable drive

[2019-10-01 20:04] schinchanikar-rms commented on #271
Yes. I tried servername, ip address of my server (ipv4 address). Still doesn’t work. I have 2 sql server options, I tried both. One on my localmachine (I tried using ipv4) and one in Azure.

From: Michael Rys <notifications@github.com>
Sent: Tuesday, October 1, 2019 12:26 PM
To: dotnet/spark <spark@noreply.github.com>
Cc: Suchi Chinchanikar <Suchi.Chinchanikar@rms.com>; Mention <mention@noreply.gi

[2019-10-01 20:08] GoEddie commented on #271
Connecting databricks (azure) to on-prem:

https://docs.azuredatabricks.net/administration-guide/cloud-configurations/azure/on-prem-network.html

Deploying databricks to an azure virtual network:

https://docs.azuredatabricks.net/administration-guide/cloud-configurations/azure/vnet-inject.html

Have you got your databricks cluster connected to any other SQL Servers? It sounds like you have some ne

[2019-10-02 04:14] imback82 opened #278 "[BUG]: Fix flaky tests in SparkSessionTests.cs"
Tests in `SparkSessionTests.cs` have been flaky (mostly due to clearing/setting the active session. This needs an investigation.

[2019-10-02 04:17] imback82 commented on #276
This is now fixed: https://dotnet.microsoft.com/learn/data/spark-tutorial/install-spark.

[2019-10-02 04:17] #276 closed

[2019-10-02 04:46] #237 closed

[2019-10-02 06:21] GoEddie commented on #271
Just an additional thought really, if you are struggling to connect up your various networks you will likely find it easier to have a system where you push your data from your network with sql on to blob or adls and use databricks to read from that (adf can help).

Having adf read your batches, move them into adls and then trigger a databricks job is a pretty typical use of adf / databricks. I've

[2019-10-04 04:31] rknidzam commented on #157
Hi, how do you fix this problem?

[2019-10-07 19:08] schinchanikar-rms commented on #271
Hey Ed,
Is there any documentation available for using vectorized UDF with .net spark?
Thanks,
Suchi

From: Ed Elliott <notifications@github.com>
Sent: Tuesday, October 1, 2019 1:08 PM
To: dotnet/spark <spark@noreply.github.com>
Cc: Suchi Chinchanikar <Suchi.Chinchanikar@rms.com>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/spark] [Error] [JvmBridge] java.sql.SQLException: No suitabl

[2019-10-08 05:02] schinchanikar-rms opened #280 "Can you refer any documentation that explains how to use MapKeys, MAP and MapValues functions?[BUG]:"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

If you think the bug depends on external factors (e.g., dataset), please provide us with a minimal reproducible example that consists of the following items:

- a minimal dataset, necessary to reproduce

[2019-10-08 18:06] schinchanikar-rms opened #281 "RelationalGroupedDataSet does not support Apply"
in the examples given in repo here
https://github.com/dotnet/spark/blob/master/examples/Microsoft.Spark.CSharp.Examples/Sql/VectorUdfs.cs

I see that dataframe is grouped by Age and them Apply is called on it. But I cannot use Apply. For some reason it keeps saying Apply is not supported.

[2019-10-09 07:02] GoEddie commented on #271
https://github.com/dotnet/spark/blob/master/examples/Microsoft.Spark.CSharp.Examples/Sql/VectorUdfs.cs

It is helpful though if you can close an issue if it is complete (the original question was about finding the sql  server driver) otherwise it is hard for other people to find answers to the questions here.

[2019-10-09 23:14] bamurtaugh opened #282 "[BUG]: Outdated Jar file & error that Spark version 2.4.1 is unsupported"
**Describe the bug**
This may be a bug, or I may have missed a step somewhere/be trying to run an invalid command.

I'm following the instructions [here](https://github.com/bamurtaugh/spark/blob/master/docs/building/windows-instructions.md#using-net-core-cli-for-net-core-21x) to build and run the example apps on Windows.

**To Reproduce**
I'm at the stage of `spark-submit`. Specifically, I'm tryin

[2019-10-09 23:24] imback82 commented on #282
Can you use 2.4.x version of jar?

[2019-10-09 23:33] bamurtaugh commented on #282
That fixed it, thank you! I was successful by running:

`spark-submit --class org.apache.spark.deploy.dotnet.DotnetRunner --master local C:\Users\brmurtau\Documents\GitHub\sparkedits\src\scala\microsoft-spark-2.4.x\target\microsoft-spark-2.4.x-0.5.0.jar Microsoft.Spark.CSharp.Examples.exe Sql.Basic %SPARK_HOME%\examples\src\main\resources\people.json`

For updating the doc, should we update the su

[2019-10-10 05:13] imback82 commented on #282
yes, we can update it. `1.0.0-alpha` seems very old. :)

[2019-10-10 16:31] imback82 commented on #281
Can you check if the following Nuget is installed? https://www.nuget.org/packages/Microsoft.Spark.Experimental/

[2019-10-10 16:34] imback82 commented on #280
Does the following help? https://sparkbyexamples.com/spark/spark-sql-map-functions/

[2019-10-10 16:38] schinchanikar-rms commented on #281
Actually, I also checked the code on github. The Apply method is marked internal. I don’t think I will be able to use Apply if it is marked internal.

From: Terry Kim <notifications@github.com>
Sent: Thursday, October 10, 2019 9:32 AM
To: dotnet/spark <spark@noreply.github.com>
Cc: Suchi Chinchanikar <Suchi.Chinchanikar@rms.com>; Author <author@noreply.github.com>
Subject: Re: [dotnet/spark] Relat

[2019-10-10 16:54] imback82 commented on #281
That can be accessed thru the Nuget package I mentioned above: https://github.com/dotnet/spark/blob/master/src/csharp/Microsoft.Spark.Experimental/Sql/RelationalGroupedDatasetExtensions.cs

[2019-10-10 22:44] joperezr opened #284 "[FEATURE REQUEST]: Consider adding support for common RDD operations"
I know that this issue has been closed as won't fix in the past (#101), but I just wanted to add some roadblocks that I've been hitting while porting some existing scala code into Spark.NET. For my scenario, we have some data input that we don't have a control off, and in order to use it for our processing, we need to make some transformations into the data (using map/reduce operations). We can't

[2019-10-10 23:29] joperezr opened #285 "[FEATURE REQUEST]: Consider adding support for ValueTuples when defining UDFs"
It is not uncommon to have people use DataFrames in Scala with schemas with structs as the following example show:
[code]
When developing a a custom UDF in Spark.NET that would take a int and string, it would be very handy to be able to do something like the following:
[code]

Currently if we do this, we get an exception message saying that ValueTuple<T1, T2> is not supported. Is there a different

[2019-10-11 02:41] joperezr opened #286 "[FEATURE REQUEST]: Add support for MapTypes in Vector UDFs"
There are times when the data stored in the DataFrame's column is a bit more complex, and not just a simple primitive type. Such is the case for maps, arrays and structs. Here is an example of what the schema might look like:
[code]
When you have a DataFrame like this, you might still end up requiring to perform Vector UDFs over grouped rows, so you would probably would like to do something like t

[2019-10-11 02:52] joperezr opened #287 "[FEATURE REQUEST]: Add support or documentation/examples on how to connect to common Azure services"
One of the advantages of using Spark.NET over Scala/Java/Python is that you get the ecosystem benefits of coding in C# with VisualStudio as well as how this ecosystem works very well hand in hand with Azure. Most C# developers will use Azure for Cloud Services, so it seems to me that Spark.NET should have a great experience when reading/writing data from Azure Cloud services (like EventHub, Cosmos

[2019-10-11 03:05] imback82 commented on #284
Can you paste the .NET code that takes 20 minutes?

If you define a lambda for map/reduce in C#, it needs to run on CLR. You can take a look at how basic RDD (internal) is done in this repo. If you want to run everything on Java side, you can take a look at `Sql.Functions` if you can leverage any of those.

[2019-10-11 03:05] joperezr opened #288 "[FEATURE REQUEST]: Consider making the execution of UDF lambda functions more performant"
This issue is sort of related to #284. Basically the problem here is that the current way in which Spark.NET runs UDFs causes the execution of them over a lot of data to be very costly performance-wise. I'm not sure if I have understood 100% how this works (correct me if I'm wrong) but I believe that the workflow is like:
1. Two processes are running at the same time always: The Java application w

[2019-10-11 03:09] imback82 commented on #287
I don't understand how you want to achieve this without specifying --jars if the connector is implemented in a jar. This is similar to referencing a dll. Am I missing something?

[2019-10-11 03:11] joperezr commented on #284
Sure, here is the .NET code performing the same transformation than the above scala code:

[code]

[2019-10-11 03:13] imback82 commented on #284
Also, are you running on Windows or Linux?

[2019-10-11 03:17] joperezr commented on #287
We could do this if we grab the .jar that adds this functionality and pack it inside our spark jar, and then add a better abstraction from the .NET side, for example, adding connection configuration classes which will build and set the right parameters for you similar to what the regular Azure SDKs do. I get that this would make our .jar be larger, but if we believe that most customers working wit

[2019-10-11 03:19] joperezr commented on #284
Running on Windows for both the .NET and the Scala runs, and against a local spark cluster running on my machine. For the scala code, I ran the code inside the spark-shell. For the .NET code, I ran using spark-submit very similar to what the instructions of the examples in this repo suggest, and I used both the worker and the app running in .NET Core 2.1.

[2019-10-11 03:24] joperezr opened #289 "Add instructions on how to debug a spark.NET app launched via Visual Studio"
This issue is to track adding documentation similar to the one over here https://docs.microsoft.com/en-us/dotnet/spark/how-to-guides/debug

@imback82 you can assign this one to me, I just logged the issue in order to not forget to do it 😄

[2019-10-11 03:25] imback82 commented on #287
I don't think this is a good idea since the list can grow, maintaining will be hard, etc.

Cool. Please create a PR with your examples. We can even add a section dedicated to Azure SDKs.

[2019-10-11 03:34] imback82 commented on #284
I don't believe the 20 minute cost is mostly from shipping data from JVM to CLR and back to JVM (we have run lots of benchmarks and didn't see 60x difference. we will share more result in Spark Summit next week, but this is what we shared in the last Spark Summit: https://devblogs.microsoft.com/dotnet/introducing-net-for-apache-spark/#performance). I think it's mostly due to how UDF is written.

[2019-10-11 03:36] imback82 commented on #289
It's already in this repo: https://github.com/dotnet/spark/blob/master/docs/developer-guide.md#debugging-spark-net-application

[2019-10-11 03:37] imback82 commented on #289
I am also closing this as a duplicate of #151, which I am working on now.

[2019-10-11 03:37] #289 closed

[2019-10-11 03:39] imback82 commented on #289
As a part of #151, I will surface it to the main README for a better discoverability.

[2019-10-11 03:39] joperezr commented on #284
For the example above, do you mind pointing out what is wrong? BTW all the Serialization code happening in the UDFs is due to not having support for things like ValueTuples or Dictionaries which are needed by the above example. If there is an easier way to perform those UDFs, I'm very interested in learning :)

[2019-10-11 03:40] imback82 commented on #151
I will also surface the debug page to the main README for a better discoverability.

[2019-10-11 03:49] imback82 commented on #286
Dictionary array doesn't seem to be implemented yet: https://github.com/apache/arrow/tree/master/csharp#not-implemented.

[2019-10-11 03:53] imback82 commented on #288
Are you sure 10 times difference is because of this? For our TPCH benchmark, we saw around 2x difference for Query 1 where 5 billion rows are passed b/w JVM and CLR. Using Arrow, the gap is much smaller which we will share next week at Spark Summit.

If possible, can you share your benchmark data where you see 10 times difference due to transferring data b/w JVM and CLR?

[2019-10-11 23:16] #282 closed

[2019-10-13 15:43] imback82 opened #293 "[FEATURE REQUEST]: Show Scala version in microsoft-spark*.jar filename"
Currently, scala version is not embedded in the microsoft-spark JAR name. This will be useful for the user when Spark 3.0 is released which uses 2.12 scala by default.

[2019-10-13 15:43] imback82 commented on #18
I think all the tests that can be ported are already done. Closing this.

[2019-10-13 15:43] #18 closed

[2019-10-14 15:33] imback82 commented on #284
Maybe you can do something similar to https://github.com/dotnet/spark/pull/205/files? There is still one UDF involved, but most of the operations is done on the JVM.

[2019-10-16 21:19] AFFogarty opened #295 "[FEATURE REQUEST]: DataStreamReader E2E tests"
**Is your feature request related to a problem? Please describe.**
`DataStreamReader` does not currently have an E2E test suite like `DataStreamWriter` does.

**Describe the solution you'd like**
A `DataStreamReaderTests` suite that validates the `DataStreamReader` method signatures like we do in other test suites for their respective classes.

[2019-10-16 23:21] elvaliuliuliu commented on #256
@cstajj Looks like it works fine without debug mode from the log. But with debug mode, please follow this https://github.com/dotnet/spark/blob/master/docs/developer-guide.md#how-to-do-local-debugging which also mentioned earlier. Let us know if you still face any issues.

[2019-10-17 19:20] elvaliuliuliu commented on #249
From what I see is that only when you run `filteredDates.Show();` the error message will show up. If you comment this out, there will be no error.

[2019-10-17 19:45] bamurtaugh commented on #249
That's interesting to observe. Do you have any idea why just showing this DataFrame in the same Spark Session would cause this error? I wonder if it could have something to do the stream closing/getting confused after the SQL call concludes.

[2019-10-17 20:43] elvaliuliuliu commented on #249
Not sure, but I don't think show would cause this error. Could be Udf related issue.

[2019-10-21 10:57] aruntyagiTutu opened #299 "Unable to run myapp getting expetion"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/run
Operating System: windows

Exception in thread "main" java.lang.IllegalArgumentException: Unsupported spark version used: 2.4.1. Normalized spark version used: 2.4.1. Supported versions: 2.3.3, 2.3.4, 2.3.0, 2.3.1, 2.3.2

[2019-10-21 14:07] imback82 commented on #299
Please use `microsoft-spark-2.4.x.jar`. (Looks like you are using 2.3.x.jar)

[2019-10-22 01:28] liangb4009 opened #300 "Unsupported major.minor"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/install-spark
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-10-22 01:33] liangb4009 commented on #300
![Uploading 01-issue_for_installed.jpg…]()

[2019-10-22 01:34] liangb4009 commented on #300
the error message as below:
C:\Users\CN093128>%SPARK_HOME%\bin\spark-submit --version
Exception in thread "main" java.lang.UnsupportedClassVersionError: org/apache/sp
ark/launcher/Main : Unsupported major.minor version 52.0
        at java.lang.ClassLoader.defineClass1(Native Method)
        at java.lang.ClassLoader.defineClassCond(ClassLoader.java:631)
        at java.lang.ClassLoader.defineClass

[2019-10-22 02:08] suhsteve commented on #300
There may be something wrong with your java and spark setup.  What version of java and spark have you installed ?

[2019-10-22 02:33] liangb4009 commented on #300
@suhsteve thank you for your reply, i have solved it.
This is my steps record as below:
1 download jdk 1.8.0_231 and install it to "C:\Program Files\java\jde1.8.0_231"
2 set the Env Var "JAVA_HOME", as "C:\Program Files\java\jde1.8.0_231"
3 set the Env Var "Path", add "%JAVA_HOME\bin%;%JAVA_HOME\jre\bin%"
4 set the Env Var "%JAVA_HOME\lib;%JAVA_HOME\lib\tool.jar%"
5 close all cmd window
6 open cmd

[2019-10-22 02:33] #300 closed

[2019-10-22 03:37] liangb4009 opened #302 "Failed to load org.apache.spark.deploy.dotnet.DotnetRunner."
first, The error picture as below:
![02-issue_for_installed](https://user-images.githubusercontent.com/17453548/67257710-d1f5f980-f4bf-11e9-80e4-133c7457a86f.jpg)
second, This issues happen when I run command to exectue the demo program which name is "mySparkApp".
**Note:** i already add User Variables "DOTNET_ASSEMBLY_SEARCH_PATHS", the value is "C:\Users\CN093128\mySparkApp\bin\Debug\netcoreapp2

[2019-10-22 03:38] liangb4009 commented on #302
The command which raises the error as below:

[2019-10-22 03:43] elvaliuliuliu commented on #302
It could not find the microsoft-spark-2.4.x-0.5.0.jar file. it seems like you have installed .net core 2.2. Can you try`%SPARK_HOME%\bin\spark-submit --class org.apache.spark.deploy.dotnet.DotnetRunner --master local bin\Debug\netcoreapp2.2\microsoft-spark-2.4.x-0.5.0.jar dotnet bin\Debug\netcoreapp2.2\mySparkApp.dll`?

[2019-10-22 05:20] liangb4009 commented on #302
@elvaliuliuliu Thank you for response.
I have tried to change the command as below, it is still return error message as below:
C:\Users\CN093128>%SPARK_HOME%\bin\spark-submit --class org.apache.spark.deploy.
dotnet.DotnetRunner --master local bin\Debug\netcoreapp2.2\microsoft-spark-2.4.x
-0.5.0.jar dotnet bin\Debug\netcoreapp2.2\mySparkApp.dll
19/10/22 13:17:35 WARN NativeCodeLoader: Unable to loa

[2019-10-22 05:28] elvaliuliuliu commented on #302
Have you done dotnet build? If so, can you try cd to mySparkApp folder?

[2019-10-22 05:34] imback82 commented on #302
From the log:
[code]
Can you first locate the jar?

[2019-10-22 06:00] liangb4009 commented on #302
@elvaliuliuliu @imback82 it can return the analysis results.
at the end of call progress. it will return java.io.IOException
Is it an issue?
before return the analysis results, it will do preparation, it wastes some time, is it correct behavior?
[log.txt](https://github.com/dotnet/spark/files/3753982/log.txt)
[analysisresult.txt](https://github.com/dotnet/spark/files/3753983/analysisresult.txt)

[2019-10-22 06:05] liangb4009 commented on #302
when i open cmd which name is "spark-submit.cmd".
it will then call another cmd which name is "spark-submit2.cmd".
then call "spark-class2.cmd"
then call many cmd such as "find-spak-home.cmd", "load-spark-env.cmd".
Is there any instruction how would you do like that?

[2019-10-22 06:10] #302 closed

[2019-10-22 06:10] rapoth commented on #302
Would you be able to share your code snippet?

Also, at the end of your program, can you try adding the line `spark.Stop()`? Also, for the last error regarding deleting files, please refer to https://github.com/dotnet/spark/issues/49#issuecomment-486714091. In short, this is a known issue with Spark on Windows.

[2019-10-22 14:41] rapoth commented on #288
@joperezr Thank you! Your understanding is right but we don't expect a 10x difference.

Would you be able to provide us with a repro to investigate this further please?

[2019-10-22 14:42] rapoth commented on #281
@schinchanikar-rms Did you get a chance to try out the suggestion above?

[2019-10-22 14:44] rapoth commented on #252
@QuantApp I'm closing this due to lack of response but please feel free to reopen if you'd like to continue the discussion. Thank you!

[2019-10-22 14:44] #252 closed

[2019-10-22 14:48] rapoth commented on #216
@topcatarg I'm closing this issue due to lack of response but please feel free to reopen if you'd like to continue the discussion. Thank you!

[2019-10-22 14:48] #216 closed

[2019-10-22 15:04] topcatarg commented on #216
Uhh.. I suspend this.. And totally forgot about you.. sorry.. yes, we manage to make some things works... Sorry and thanks a lot!!!!

[2019-10-22 21:30] joperezr commented on #288
I posted the code I am using on this comment: https://github.com/dotnet/spark/issues/284#issuecomment-540881890 and I was trying to replicate the Scala code on the top description of that issue. @imback82 suggested using some of the predefined functions on the Functions class, but I wasn't able to leverage any for my pourposes. That said, this perf diff was noticed while debuggig locally in my loc

[2019-10-23 10:54] aysegulgurmeric opened #303 ".NET for Apache Spark JDBC to connect to Postgresql"
I am new on .NET for Apache Spark. I try connect postgresql db. But get these error:JVM method execution failed: Nonstatic method jdbc failed for class 6 when called with 3 arguments

JVM method ex
ecution failed: Nonstatic method load failed for class 6 when called with no arg
uments

HADOOP_HOME       = C:\bin\spark-2.4.1-bin-hadoop2.7\
SPARK_HOME        = C:\bin\spark-2.4.1-bin-hadoop2.7\
JAVA_

[2019-10-23 21:39] MikeRys commented on #303
This looks like it may be a network setup issue. What Spark engine are you using and where is your Postgres instance running? Have you made sure that all the firewalls are set up to allow the connections?

From: aysegulgurmeric <notifications@github.com>
Sent: Wednesday, October 23, 2019 3:55 AM
To: dotnet/spark <spark@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [do

[2019-10-23 23:34] anand035 opened #304 "spark-submit command does not work after installation"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/install-spark
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-10-23 23:44] imback82 commented on #304
Can you provide more details? (error messages, commands you ran, etc.)

[2019-10-24 00:02] anand035 commented on #304
I installed all prerequisites and extracted Apache Spark artifacts in c:\bin, set the environment variables. After that when I run spark-submit (from C:\bin\spark-2.4.1-bin-hadoop2.7\bin) I get erro
`The system cannot find the path specified.`

[2019-10-24 00:04] imback82 commented on #304
did you install Java? Can you run `java` on the command line?

[2019-10-24 00:06] anand035 commented on #304
yes,
`C:\bin\spark-2.4.1-bin-hadoop2.7\bin>echo %JAVA_HOME%
C:\Program Files\Java\jdk1.8.0_231\bin`

[2019-10-24 00:09] elvaliuliuliu commented on #304
Can you see `spark-submit.cmd` in your folder `C:\bin\spark-2.4.1-bin-hadoop2.7\bin`?

[2019-10-24 00:11] anand035 commented on #304
yes,
` Volume in drive C is OSDisk
 Volume Serial Number is XYZ

 Directory of C:\bin\spark-2.4.1-bin-hadoop2.7\bin

10/23/2019  04:39 PM    <DIR>          .
10/23/2019  04:39 PM    <DIR>          ..
03/26/2019  05:13 PM             1,089 beeline
03/26/2019  05:13 PM             1,064 beeline.cmd
03/26/2019  05:13 PM             5,427 docker-image-tool.sh
03/26/2019  05:13 PM             1,933 fin

[2019-10-24 00:11] imback82 commented on #304
can you run `java -version`?

[2019-10-24 00:15] anand035 commented on #304
yes
`D:\temp>java -version`
`java version "1.8.0_231"`
`Java(TM) SE Runtime Environment (build 1.8.0_231-b11)`
`Java HotSpot(TM) 64-Bit Server VM (build 25.231-b11, mixed mode)`

[2019-10-24 00:18] elvaliuliuliu commented on #304
So my `echo %JAVA_HOME%` returns `C:\Program Files\Java\jdk1.8.0_221` without bin. Not sure if this is some factor

[2019-10-24 00:23] anand035 commented on #304
I got rid of \bin, and now its working 👍

[2019-10-24 00:23] #304 closed

[2019-10-24 09:18] aysegulgurmeric commented on #303
DOTNET_WORKER_DIR = C:\bin\Microsoft.Spark.Worker-0.5.0
HADOOP_HOME = C:\bin\spark-2.4.1-bin-hadoop2.7
SPARK_HOME = C:\bin\spark-2.4.1-bin-hadoop2.7
JAVA_HOME = C:\Program Files\Java\jdk1.8.0_221
Dotnet framework version = 2.2
Nuget spark package = "Microsoft.Spark/0.5.0"

My  Postgres instance  is running on different server. I can access
Postgres instance with pgAdmin from my pc so firewall is n

[2019-10-24 09:20] aysegulgurmeric commented on #303
Hi,

My spark engine version is 2.4.1.

HADOOP_HOME = C:\bin\spark-2.4.1-bin-hadoop2.7
SPARK_HOME = C:\bin\spark-2.4.1-bin-hadoop2.7
JAVA_HOME = C:\Program Files\Java\jdk1.8.0_221
Dotnet framework version = 2.2
Nuget spark package = "Microsoft.Spark/0.5.0"

My  Postgres instance  is running on different server. I can access  Postgres instance with pgAdmin from my pc so firewall is not problem.

[2019-10-24 22:20] anand035 opened #305 "Init script dbfs:/spark-dotnet/db-init.sh failed"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/run
Operating System: windows

Trying to deploy sample Spark App on Azure data bricks. I get this error while running the Spark job
` Unexpected failure while waiting for the cluster to be ready. Cause Unexpected state for cluster (job-7-run-1): Init scripts failed. instance_id: af42971ed91c4248a893139238cd962e, databric

[2019-10-25 00:18] anand035 commented on #305
I changed spark worker version to `0.6.0` in `init.sh` and then I uploaded following jars
`microsoft-spark-2.3.x-0.6.0.jar`
`microsoft-spark-2.4.x-0.6.0.jar`
My cluster is using  Apache Spark 2.4.3, Scala 2.11

[2019-10-25 03:23] imback82 commented on #305
@suhsteve can you help?

@anand035 can you check if your db-init.sh's line endings are LFs, and not CR/LFs?

[2019-10-25 16:01] suhsteve commented on #305
@anand035  can you try @imback82  regarding LF and CR/LF line endings ?  If you modified the .sh files in Windows, it may have added CR/LF as the line ending and that would cause issues when running the shell scripts on linux.

Can you also try looking at the [init script logs](https://docs.databricks.com/clusters/init-scripts.html#cluster-scoped-init-script-logs) and see if there's any relevant e