[2019-10-25 16:13] suhsteve commented on #303
@aysegulgurmeric  I believe postgres uses lowercase for table names unless you surround the name with `"`s.  Can you try the following and let me know if it works ?

[code]

[2019-10-25 16:14] suhsteve commented on #299
@aruntyagiTutu did @imback82 's suggestion fix your issue ?

[2019-10-25 16:18] anand035 commented on #305
yes my shell script had CR/LF endings, when I replaced CR/LF with LF, the job ran successfully

[2019-10-25 16:26] #305 closed

[2019-10-25 20:12] anand035 opened #307 "Sql UDF not working on databricks/locally getting System.IO.FileNotFoundException"
**Describe the bug**
Getting this error when trying to run simple UDF operation locally
`[Error] [JvmBridge] org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 16.0 failed 1 times, most recent failure: Lost task 0.0 in stage 16.0 (TID 207, localhost, executor driver): org.apache.spark.api.python.PythonException: System.IO.FileNotFoundException: Assembly 'mySparkApp,

[2019-10-25 20:28] suhsteve commented on #307
@anand035 for your local run, you have a couple of options:
- copy your `mySparkApp.dll` to the same directory that your worker is installed in, ie `C:\bin\Microsoft.Spark.Worker-0.5.0\`
- change your working directory to the folder that contains `mySparkApp.dll` and run your `spark-submit` command there.
- Set the environment variable `DOTNET_ASSEMBLY_SEARCH_PATHS` to the path that contains `mySp

[2019-10-25 23:27] anand035 commented on #307
I am able to run it locally after manually copying the dll to `C:\bin\Microsoft.Spark.Worker-0.5.0\`
In data bricks, it worked after

- Uploaded mySparkApp.dll to "dbfs:/apps/dependencies/mySparkApp.dll
- Uncommented few lines at bottom of db-init.sh and
- I added "--files","dbfs:/apps/dependencies/mySparkApp.dll" in param list of spark submit

[2019-10-26 19:39] aysegulgurmeric commented on #303
@suhsteve it works as you said. Nevertheless, the main problem is still alive.
The url part is not parsed well.

[2019-10-28 02:58] liangb4009 opened #309 "Which demo code is standard code for structured streaming?"
[Program.zip](https://github.com/dotnet/spark/files/3781820/Program.zip)

[result.txt](https://github.com/dotnet/spark/files/3776927/result.txt)
The **code in structure streaming demo video** has great difference with Github streaming demo code, **May I know which one is the standard code?**
If the structured stream demo video code as the standard code, it will return error message, the error mess

[2019-10-28 15:58] bamurtaugh commented on #309
Hi @liangb4009 - thanks for your question.

There isn't necessarily one "standard code" for structured streaming - as long as you have a Spark Session, use ReadStream() with a DataFrame, and WriteStream() with a StreamingQuery, you have the fundamental elements of a structured streaming app. Out of those 2 examples, the code in GitHub is probably the most "standard" since it's based on a pre-estab

[2019-10-28 16:15] imback82 commented on #201
@camer314 can you try
[code]

The following works for me:
[code]

Prints:
[code]

[2019-10-28 16:58] v2355 opened #310 "[BUG]: Serialization issue on Spark"
I am trying to run spark.Net application on cluster. The application loads a file from hdfs location and runs some customer code on one of the columns  of the input file. But I am getting below serialization issue on Spark (both local and on cluster). When same logic is ran on standalone C# application it works but when ran using Spark it is throwing below exception. I tried making class Injection

[2019-10-28 17:02] imback82 commented on #310
Looks like the type you are serializing is not supported by .NET. One workaround is to have the object as static if applicable. Also, sharing repro code will also help.

[2019-10-28 17:55] v2355 commented on #310
Hi Terry,
ProcessJsonContentToEntityContainerWrapper function is entry point for my code from below file.

Attaching the debug project I am using to invoke the above function, in the attaching file TestApp is the spark project

Repo: https://msasg.visualstudio.com/Bing_UX/_git/EntityExperience?path=%2Fprivate%2Fknowledge%2FCDB%2FInjectionDataBuilderLib%2FEntityBondUtility.cs&version=GBmaster

[Sup

[2019-10-28 19:33] imback82 commented on #310
I don't see any file. Can you paste the "minimum" code to repro this behavior?

[2019-10-28 19:34] imback82 commented on #299
Closing. Please reopen the issue if the suggested solution didn't work.

[2019-10-28 19:34] #299 closed

[2019-10-28 20:27] v2355 commented on #310
shared with you over email.

[2019-10-28 22:16] ericgrover opened #312 "Exception while deleting Spark temp dir"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/run
Operating System: windows

Program executes and outputs correct results, but then gives me the following error:

 Exception while deleting Spark temp dir

java.io.IOException: Failed to delete: C:\Users\grovere\AppData\Local\Temp\spark-127e6ebd-f829-44c5-9666-ccbd7ef392d1\userFiles-25af16be-43b0-4ea3-b0f5-7cd69418463

[2019-10-28 22:34] elvaliuliuliu commented on #312
Could you please provide the command you use and attach a full log for us to better troubleshoot? Thanks.

[2019-10-28 22:41] suhsteve commented on #312
Please refer to  [#49 (comment)](https://github.com/dotnet/spark/issues/49#issuecomment-486714091)

[2019-10-28 23:15] camer314 opened #313 "[FEATURE REQUEST]: Support for Bucketizer"
For ML workloads, the Bucketizer is a handy function -> [https://spark.apache.org/docs/latest/ml-features#bucketizer](url)

You can get around this by writing a UDF however the Bucketizer supports applying to multiple columns in a single task which is way more performant.

[2019-10-29 00:45] imback82 commented on #312
Closing as this is a known Spark issue on Windows.

[2019-10-29 00:45] #312 closed

[2019-10-29 01:56] camer314 commented on #201
Sorry, my original example is not complete. Here is a better one:

[code]

Produces the following. Note the values column. The value of 'keys' is used as a key into the dictionary...

[code]
Meanwhile, the exact conversion to C# does not work as expected:

[code]

Produces:

[code]

While this change produces NULLs:

[code]
[code]

[2019-10-29 02:36] imback82 commented on #201
Scala behaves same as C#:
[code]

Let me check what's different about Python.

[2019-10-29 05:25] imback82 commented on #201
OK. So python behavior is different. In Scala, you have to do the following:
[code]
Unfortunately, C# is missing `Apply()`. I will create a PR for this. I quickly tested this and works as expected:
[code]

[2019-10-29 05:59] suhsteve commented on #303
@aysegulgurmeric have you looked at the official [spark documentation located here](https://spark.apache.org/docs/latest/sql-data-sources-jdbc.html) ?  In their example they have have an example url `jdbc:postgresql://localhost/test?user=fred&password=secret`

[2019-10-29 06:40] camer314 commented on #201
Cool thanks

[2019-10-29 15:48] imback82 opened #314 "[FEATURE REQUEST]: Expose Column.Apply() API"
`Column` class is missing `Apply()` which can help scenarios described in #201.

[2019-10-29 15:48] imback82 commented on #314
@Niharikadutta Can you help on this?

[2019-10-29 18:32] Niharikadutta commented on #314
Yes I'll look into this, thanks!

[2019-10-29 18:36] imback82 commented on #314
You can check #270 for reference.

[2019-10-29 18:58] anand035 opened #315 "[Question]: Read multiple parquet files at once from Azure Data lake Gen 2"
- How to read all parquet files in a folder to a datafame ?
- How to read/write data from Azure data lake Gen2 ?

In PySpark, you would do it this way
`df = spark.read.parquet("abfss://sharedFolder@abc.dfs.core.windows.net/shared/compact.parquet/")`
`display(df)`

How do we do the same for DotNet for Apache spark job that runs in Azure databricks?

[2019-10-30 15:15] imback82 commented on #315
Did you try the following?
[code]

[2019-10-30 16:17] anand035 commented on #315
@rapoth : I am not using Notebook, that code I shared as sample code of pySparkm, I am running my code as job only in databricks

@imback82 : I did, it does not work in databricks, I get error something like `[2019-10-29T17:52:45.1943070Z] [1029-173806-goat465-10-139-64-15] [Error] [JvmBridge] Configuration property lmteamsv.dfs.core.windows.net not found.`

If I run it locally and replace path wi

[2019-10-30 16:40] imback82 commented on #281
Please reopen this if the suggested solution didn't work.

[2019-10-30 16:40] #281 closed

[2019-10-30 17:14] rapoth commented on #315
@anand035 That's because you haven't configured your storage access keys. Please refer to Azure Databricks' documentation on [Azure Data Lake Storage Gen2](https://docs.databricks.com/data/data-sources/azure/azure-datalake-gen2.html). In short, you should do something along the following lines to configure access:

[code]

[2019-10-31 00:56] AFFogarty opened #324 "[BUG]: Typo in HDInsight deployment tutorial"
**Describe the bug**
In [this doc](https://docs.microsoft.com/en-us/dotnet/spark/tutorials/hdinsight-deployment#publish-your-app) there is a typo.

**To Reproduce**

The doc says to compile on windows using this command:

[code]
There is a `4` missing in the `ubuntu.16.04-x6` which should be `ubuntu.16.04-x64`.

[2019-10-31 00:59] suhsteve commented on #324
We should update it to `linux-x64`

[2019-10-31 01:15] imback82 commented on #324
@AFFogarty can you help creating a PR for fixing this?

[2019-10-31 18:16] AFFogarty commented on #324
@imback82 OK, we can open a PR against https://github.com/dotnet/docs/tree/master/docs/spark

[2019-10-31 18:17] imback82 commented on #324
Oh, it's a docs repo. @bamurtaugh can you help?

[2019-10-31 18:36] bamurtaugh commented on #324
@imback82 Yep, I'll open up a PR to fix this today.

[2019-10-31 22:32] anand035 commented on #315
I tried several things, but this one worked
`SparkSession spark = SparkSession
                .Builder()
                .AppName(".NET Spark SQL basic example")
                .Config("spark.some.config.option", "some-value")
                .Config("spark.hadoop.fs.azure.account.oauth2.client.secret", "abcd")
                .Config("spark.hadoop.fs.azure.account.oauth2.client.endpoint", @"htt

[2019-10-31 22:34] anand035 commented on #253
Is there any update on this ?

[2019-10-31 22:50] #315 closed

[2019-10-31 22:50] #307 closed

[2019-11-01 02:46] rapoth commented on #315
Thanks for the update!

[2019-11-01 16:10] rkbalu opened #325 "[Question]: .NET for Apache Spark to stream from Azure EventHub"
**Question**
I'm new to .net for spark and wondering if there is any way we could stream the EventHub events?

**To Reproduce**

Actually, I tried to give the format as "eventHubs" when set up the spark ReadStream, but it throws an error when try to run locally as below:

![image](https://user-images.githubusercontent.com/33522349/68038362-a514c400-fcc1-11e9-89e9-70f69b9614bc.png)

Also, i could n

[2019-11-01 16:15] suhsteve commented on #325
@rkbalu  if you are trying to use azure eventhubs then you may need to add the `--packages` option to your spark-submit command as [documented here](https://github.com/Azure/azure-event-hubs-spark/blob/master/docs/structured-streaming-eventhubs-integration.md#deploying)

[2019-11-01 17:34] rkbalu commented on #325
thanks @suhsteve . But look like the example given is to write it in python/scala. How can we use that in .net spark application? Are there any example link that you can point to?

[2019-11-01 21:41] AFFogarty commented on #324
Fixed in https://github.com/dotnet/docs/pull/15601.  Closing issue.

[2019-11-01 21:41] #324 closed

[2019-11-03 17:13] imback82 commented on #201
Closed by #323

[2019-11-03 17:13] #201 closed

[2019-11-03 17:14] imback82 commented on #201
@camer314 I also fixe the behavior of Python to be consistent with Scala in Spark 3.0: https://github.com/apache/spark/pull/26351.

[2019-11-05 19:30] rapoth commented on #303
@aysegulgurmeric Did you get a chance to try out the suggestion from @suhsteve?

[2019-11-05 19:34] rapoth commented on #314
Closing as this functionality is in now.

[2019-11-05 19:34] #314 closed

[2019-11-05 19:59] suhsteve commented on #310
@v2355 Was your issue resolved?

[2019-11-05 20:19] imback82 commented on #310
Moving to static solved the serialization issue. Closing.

[2019-11-05 20:19] #310 closed

[2019-11-05 20:28] imback82 commented on #147
Reopening since we still need to follow up with documentations capturing different scenarios of using UDFs.

[2019-11-05 20:29] imback82 commented on #310
This will be captured in #147

[2019-11-06 03:55] ksiomelo commented on #168
+1 Please advise on this issue.

[2019-11-06 22:39] dannydwarren commented on #280
I'm not seeing `.map()` on `DataFrame` is this question about the lack of documentation to find and use `.map()` in C#?

[2019-11-07 02:18] fxd1111359 opened #328 "[FEATURE REQUEST]: support for something like dbutils to move/copy/delete data easily"
**Is your feature request related to a problem? Please describe.**
There is a request to save one single file in ADLS Gen2 as the output rather than a folder containing several files with partition GUID. In order to do it, in scala, we can play a trick by using dutils: coalesce the files into one and save the folder, copy the merged csv file and rename it, remove the temp folder.
A sample code is

[2019-11-07 17:02] inxfidxel commented on #208
Would love to see this feature :)

[2019-11-07 18:03] imback82 commented on #280
The original question is on map functions defined in `Microsoft.Spark.Sql.Functions`.

There is no `Map()` that operates on `DataFrame`. However, you can achieve the same using `Select()` along with UDF. Please let me know if you have a specific scenario you are trying to achieve.

[2019-11-07 18:33] dannydwarren commented on #208
One of the struggles we are running into is joining new data in a Kafka stream with data from the beginning of the stream. We think we have a pattern in the Scala API proven out to write to Postgres via JDBC inside of the `.foreachBatch` then joining the batch with the Postgres table immediately after and reducing all the records for the key in Postgres down to a single record and publishing that

[2019-11-07 18:42] dannydwarren commented on #280
Forgive me if this convo should be somewhere else...

We are using Confluent.Kafka.Avro and need to deserialize a column in a DF to a GenericRecord type. When I tried using a UDF I ran into an error when returning a GenericRecord because it does not translate to a Sql Type. We were using the `RegisterUdf` api and doing a `SelectExpr` to call that registered UDF. Is there a way to return arbitrary

[2019-11-07 19:46] imback82 commented on #280
We are working a feature where you can return an arbitrary `Row` object in #117. Would that cover your scenario?

[2019-11-08 09:34] bouyeijiang opened #330 "SparkSession config"
SparkSession spSession = SparkSession.Builder().AppName("words").GetOrCreate();
the default port is 5567.
how to change connect port?

[2019-11-08 14:34] rapoth commented on #325
Cc: @joperezr

[2019-11-08 14:47] #295 closed

[2019-11-08 16:29] imback82 commented on #330
You must be running this in a debug mode. If so, please follow https://github.com/dotnet/spark/blob/master/docs/developer-guide.md#debugging-spark-net-application.

Otherwise, please launch your application thru `spark-submit` as described here:  https://github.com/dotnet/spark/blob/master/docs/getting-started/windows-instructions.md#running-your-net-for-apache-spark-app

[2019-11-08 16:30] #330 closed

[2019-11-08 16:31] imback82 commented on #309
Please reopen the issue if @bamurtaugh's response didn't answer your question.

[2019-11-08 16:31] #309 closed

[2019-11-08 19:21] ravisgoli commented on #168
+1

[2019-11-09 01:21] rapoth commented on #328
Unfortunately, dbutils is closed source and there is not much we can do to add support (we are open to contributions, however!). This may change if Databricks decides to open source dbutils or adds support themselves. Have you considered making a feature request to Databricks?

[2019-11-09 01:23] rapoth commented on #168
Unfortunately, dbutils is closed source and there is not much we can do to add support (we are open to contributions, however!). This may change if Databricks decides to open source dbutils or adds support themselves. Have you considered making a feature request to Databricks?

[2019-11-11 16:11] #278 closed

[2019-11-11 17:26] joperezr commented on #325
Hello @rkbalu. I recently wanted to write a structured Streaming app reading data streaming from Azure eventHubs as well, and this is how I was able to do it:

The library that I used in order to get this working was this one: https://github.com/Azure/azure-event-hubs-spark which is probably the one you found examples for and the reason why you passed in eventhubs expecting for it to work.

1.- Co

[2019-11-11 17:26] joperezr commented on #325
Also, if the above code and instructions work for people, I'll go ahead and submit a PR into this repo to add some docs in the repo on how to do this.

[2019-11-12 21:04] imback82 opened #333 "[BUG]: APIs utilizing SparkSession.getActiveSession() are broken"
As discussed in #332, the active session is stored in a thread-local variable, and since there is no one-to-one mapping from CLR thread to JVM thread, any calls to APIs (`DeltaTable.IsDeltaTable`, etc.) that utilize `SparkSession.getActiveSession()` can result in an error where the active session is not found.

One easy fix is to change the netty server on the JVM works on a single worker thread.

[2019-11-12 21:19] imback82 commented on #293
One suggestion is:
current: `microsoft-spark-2.4.x-0.6.0.jar`
new: `microsoft-spark-2.4.x_2.11-0.6.0.jar`

Any other ideas? @suhsteve @rapoth @Niharikadutta @elvaliuliuliu @AFFogarty

[2019-11-12 21:25] imback82 commented on #151
closed by #289

[2019-11-12 21:25] #151 closed

[2019-11-12 21:28] imback82 commented on #179
@raberana we now support taking a Row object in UDF (#202). Please try it and reopen this issue if you encounter any problems.

[2019-11-12 21:28] #179 closed

[2019-11-13 03:26] bouyeijiang commented on #330
E:\Projects\Demo\SparkWorkerGather\bin\Debug\netcoreapp3.0>spark-submit \
Exception in thread "main" org.apache.spark.SparkException: Cannot load main class from JAR file:/E:/
        at org.apache.spark.deploy.SparkSubmitArguments.error(SparkSubmitArguments.scala:657)
        at org.apache.spark.deploy.SparkSubmitArguments.loadEnvironmentArguments(SparkSubmitArguments.scala:221)
        at org.ap

[2019-11-13 08:58] rkbalu commented on #325
thanks @joperezr for giving this info. I'll give it a go and get back if i face any issues.

[2019-11-13 09:59] bouyeijiang opened #335 "chinese garbled"
chinese garbled

[2019-11-13 16:37] imback82 commented on #335
Can you please provide more information?

[2019-11-13 17:00] imback82 commented on #325
thanks @joperezr!

[2019-11-13 21:47] elvaliuliuliu commented on #330
@bouyeijiang, thanks for your question. Could you provide your full command for us to better troubleshoot? Thanks.

[2019-11-13 23:08] elvaliuliuliu commented on #293
@imback82 May I ask why we need to add scala version in our jar filename? It seems like Spark 3.0 and most Spark 2.4.x uses `2.12.x scala` (except Spark 2.4.0 uses `2.11.x scala`), and Spark 2.3.x uses `2.11.x scala`.

[2019-11-14 01:28] bouyeijiang commented on #330
this problen has been solved.but have new a question,chinese encoding error

[2019-11-14 01:31] elvaliuliuliu commented on #330
Good to hear that the problem has been solved. Could you provide more details about Chinese encoding error here at #335? Thanks.

[2019-11-14 01:34] bouyeijiang commented on #335
sample code
 SparkSession spSession = SparkSession.Builder().AppName("words").GetOrCreate();
            DataFrame dFrame = spSession.Read().Csv(CsvPath);
            dFrame.Show();

result:

|    _c0|           _c1|    _c2|       _c3|   _c4|        _c5|    _c6|       _c7|    _c8|       _c9|
+-------+--------------+-------+----------+------+-----------+-------+----------+-------+----------+
|    ?

[2019-11-14 01:38] bouyeijiang commented on #330
the more detail has been at #335

[2019-11-14 02:53] imback82 commented on #335
What's the encoding of your csv file? The default is UTF-8 and if you have a different encoding, you cand use `Option("encoding", "your-encoding-here")` when you read it. Also, looks like you want the strings to be header, so try `Option("header", "true")` as well.

[2019-11-14 07:56] bouyeijiang commented on #335
csv file  default encoding is UTF-8,but no effect
code:
SparkSession spSession = SparkSession.Builder().AppName("words").GetOrCreate();
            var opt = new Dictionary<string, string>();
            opt.Add("header", "true");
            opt.Add("encoding", "utf-8");//gb2312 or gbk is same effect

            DataFrame dFrame = spSession.Read().Options(opt).Csv(CsvPath);
            dFrame.Sh

[2019-11-14 08:08] imback82 commented on #335
can you post the input file you are using?

[2019-11-14 08:47] bouyeijiang commented on #335
[彩票数据.txt](https://github.com/dotnet/spark/files/3845491/default.txt)

[2019-11-14 20:52] elvaliuliuliu commented on #335
@bouyeijiang So I don't think this is a spark dotnet related problem. Could you try [this](https://superuser.com/questions/269818/change-default-code-page-of-windows-console-to-utf-8)?

[2019-11-14 21:35] imback82 commented on #293
we want to have the consistent versioning with other scala packages in Maven (we plan to put these jars in Maven for livy integration).

[2019-11-14 21:41] elvaliuliuliu commented on #293
Cool, I think `microsoft-spark-2.4.x_2.11-0.6.0.jar` is clear for me. Thanks.

[2019-11-15 02:11] fxd1111359 opened #337 "How to connect to ADLS Gen 2 in Spark.Net?"
How to connect to ADLS Gen 2 in Spark.Net? I tried something below, but the local debug may return the error

**[Error] [JvmBridge] JVM method execution failed: Nonstatic method json failed for class 11 when called with 1 arguments ([Index=1, Type=String[], Value=System.String[]], )
[[Error] [JvmBridge] java.io.IOException: No FileSystem for scheme: abfss**

The code is

           var spark = Spa

[2019-11-15 02:49] suhsteve commented on #293
I think we should put the scala version in front.  I currently see jars in HDInsight named this way.

proposed format: `microsoft-spark_<scala version>-<spark version>-<dotnet version>.jar`
example: `microsoft-spark_2.11-2.4.x-0.6.0.jar`

Should we keep the `.x` ?

[2019-11-15 11:29] bigdatamoore commented on #328
Honestly for this, I think Spark should just have a built-in way of outputting a single file instead of a directory with part files.  This use case comes up so much that somebody should just add it to the Spark APIs.  Since that is not the case, the best way I have found for doing this is the copymerge method that used to be part of Hadoop. You can find a good pyspark implementation in this stack

[2019-11-16 03:15] imback82 commented on #328
If you really need to do the python way, you can look at how we are utilizing `JvmBridge`: https://github.com/dotnet/spark/blob/master/src/csharp/Microsoft.Spark/Interop/Ipc/JvmBridge.cs, and wrap `org.apache.hadoop.conf.Configuration` and `org.apache.hadoop.fs.FileSystem` classes. I think it should be straightforward.

[2019-11-16 18:23] imback82 commented on #246
Fixed by #248

[2019-11-16 18:23] #246 closed

[2019-11-18 07:35] bouyeijiang commented on #335
is it maybe caused by spark environment or system? I saw dotnet  code have some problem about
SerDe.cs file.

 public static string ReadString(Stream s, int length)
        {
            if (length == (int)SpecialLengths.NULL)
            {
                return null;
            }

            var buffer = GetThreadLocalBuffer(length);
            TryReadBytes(s, buffer, length);
            ret

[2019-11-18 07:42] elvaliuliuliu commented on #335
Could you please specify what issue you see here at SerDe.cs? Moreover, could you try scala-shell to quickly test the reading Chinese character problem?

[2019-11-18 07:49] bouyeijiang commented on #335
scala test is ok..

[2019-11-18 07:49] #335 closed

[2019-11-18 07:53] bouyeijiang commented on #335
result

![TIM截图20191118155205](https://user-images.githubusercontent.com/4083760/69034204-99dcca80-0a1b-11ea-939e-c59d13f239ca.png)

[2019-11-18 11:04] PraveshDev opened #340 "I am not able to debug spark application using dot net"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/run
Operating System: windows

On running of below command in cmd to enable debugging using visual studio 2019
**spark-submit --class org.apache.spark.deploy.dotnet.DotnetRunner --master local C:\Users\pkumar\.nuget\packages\microsoft.spark\0.6.0\jars\microsoft-spark-2.3.x-0.6.0.jar \ debug**

I am getting the following

[2019-11-18 17:19] elvaliuliuliu commented on #340
Thanks for your question. Can you try `microsoft-spark-2.4.x-0.6.0.jar `?

[2019-11-18 17:59] Ning-Guo opened #341 "[ERROR]: got error on example "csharp streaming StructuredKafkaWordCount.cs""
**Describe the bug**
I would like to use the dotnet spark to consume my kafka streaming queue here, and when I run my application I got below errors, could someone kindly help me out of this problem? Thanks a lot!
1. **Csharp code :**

using System;
using Microsoft.Spark.Sql;
using static Microsoft.Spark.Sql.Functions;
namespace HelloSpark
{
    class Program
    {
        static void Main(string[

[2019-11-19 01:30] imback82 commented on #210
Closed by #329

[2019-11-19 01:30] #210 closed

[2019-11-20 04:23] imback82 opened #343 "[FEATURE REQUEST]: Introduce StyleCop to the repo."
We can start with a subset of rule sets from https://github.com/dotnet/corefx/blob/master/src/Common/src/CoreLib/CodeAnalysis.ruleset

[2019-11-20 04:24] imback82 commented on #256
@cstajj Please reopen if @elvaliuliuliu's suggestion didn't work.

[2019-11-20 04:24] #256 closed

[2019-11-20 04:25] imback82 commented on #340
@PraveshDev please reopen the issue if @elvaliuliuliu's suggestion didn't work (it should work).

[2019-11-20 04:25] #340 closed

[2019-11-21 05:15] suhsteve commented on #341
@Ning-Guo the following can be found in your stack trace:
[code]

The [Structured Streaming + Kafka Integration Guide](https://spark.apache.org/docs/latest/structured-streaming-kafka-integration.html) has a [Deploying](https://spark.apache.org/docs/latest/structured-streaming-kafka-integration.html#deploying) which contains a `--packages` option that needs to be added to your `spark-submit` comman

[2019-11-21 08:10] ajit1234 opened #346 "[FEATURE REQUEST]: Request for support of reducebykey on dataframes"
I am planning to avail .net for spark and ran the program of word count. I wanted to use reducebyKey to avoid shuffling across all partitions. But did not find reduceByKey on dataframe.cs.

May be i am new to this .net connector with spark but is this feasible to avail it in dot net. Or do we already have an similar alternative already existing for .Net with spark.

[2019-11-21 09:51] Ning-Guo commented on #341
Thank a lot for your reply. Yes, this error was caused by the kafka streaming source. There is nothing wrong with the sample code here. Thanks a lot!

[2019-11-21 09:51] #341 closed

[2019-11-22 00:36] imback82 commented on #192
@suhsteve can you take a look at these two PRs?

[2019-11-22 07:52] imback82 commented on #346
`reduceByKey` is not available, but you can use `groupBy`: https://github.com/dotnet/spark/blob/master/src/csharp/Microsoft.Spark.E2ETest/IpcTests/Sql/DataFrameTests.cs#L223

[2019-11-22 08:38] ajit1234 commented on #346
Thanks Terry, any plans to have reducebykey ,reduce any sooner ? As group
by is very heavy operation when shuffle comes in picture.

On Fri, Nov 22, 2019, 13:22 Terry Kim <notifications@github.com> wrote:

[2019-11-25 06:27] imback82 commented on #215
Since you are already under `<path_to>\mySparkAppAdv\bin\Debug\netcoreapp2.2`, you can just do `spark-submit --class org.apache.spark.deploy.dotnet.DotnetRunner --master local microsoft-spark-2.4.x-0.4.0.jar dotnet mySparkAppAdv.dll`.

Check this `19/08/22 09:22:47 WARN DependencyUtils: Local jar <path_to>\mySparkAppAdv\bin\Debug\netcoreapp2.2\bin\Debug\netcoreapp2.2\microsoft-spark-2.4.x-0.4.0.ja

[2019-11-25 06:27] #215 closed

[2019-11-25 23:26] imback82 opened #351 "[FEATURE REQUEST]: Expose SparkContext.setLogLevel API"
Expose `SparkContext.setLogLevel` API, which helps changing log levels programatically.

[2019-11-26 00:45] rapoth commented on #337
Did you try running this on the cloud (e.g., HDInsight Spark or Azure Databricks)? I'm not sure there is a local run experience for connecting to ADLS Gen2.

[2019-11-26 14:57] ZongWenlong opened #352 "[Structured Streaming Kafka] Why each batch outputted to concole needs 1 minute to refresh?"
Hi guys,

When I run StructuredKafkaWordCount, it will take about 1 minute for printing each batch result to concole after producing message to Kafka. Does this make sense? Shouldn't it be printed immediately according to defult configuration.
And also, there are too many kafka logs printed to concole. Does this make sense?
[code]

[2019-11-26 15:14] #352 closed

[2019-12-01 06:45] marcusturewicz opened #355 "[FEATURE REQUEST]: Use System.Text.Json for Json serialisation"
**Is your feature request related to a problem? Please describe.**
Currently this library uses Newtonsoft.Json for Json serialisation in IPC. [System.Text.Json](https://devblogs.microsoft.com/dotnet/try-the-new-system-text-json-apis/) was released recently and is faster and more memory efficient.

**Describe the solution you'd like**
For the Json serialisation to be done with System.Text.Json.

**

[2019-12-01 07:03] imback82 commented on #355
Thanks @marcusturewicz. Yes, I think we can move to System.Text.Json.

cc: @suhsteve @rapoth

[2019-12-01 07:05] marcusturewicz commented on #355
Great! I'll have a crack then.

[2019-12-02 00:27] diwakarpp opened #356 "[FEATURE REQUEST]: Trying to use Elasticsearch with TiSpark"
Hi,

I am trying to configure TiDB/TiSpark to use Elasticsearch as described in the page: https://www.elastic.co/guide/en/elasticsearch/hadoop/current/spark.html#spark-installation

Could you pl give any references about the installation and configuration? It will be a great help.

Thank you.

Best regards,
Diwakar

[2019-12-02 00:38] diwakarpp opened #357 "[FEATURE REQUEST]: Any doc or config references to use DistSQL API to replace TiSpark"
Hi,

Basically I am planning to replace TiSpark and connect other SQL or Analytical systems directly to DistSQL API.

Is there any example implementation or configuration references or docs so I would be able to hook up other systems through DistSQL API.

Thanks and regards,
Diwakar

[2019-12-02 00:39] #357 closed

[2019-12-02 00:40] diwakarpp commented on #357
Sorry I posted this query in the Spark project instead of TiSpark project. Closing it. Thank you.

[2019-12-02 00:41] diwakarpp commented on #356
Sorry I posted this query in the Spark project instead of TiSpark project. Closing it. Thank you.

[2019-12-02 00:41] #356 closed

[2019-12-03 17:55] bolcman opened #359 "[BUG]: VectorUDF error"
Hi,

i have the following code running using
Spark 2.4.4, Microsoft.Spark 0.6.0 on windows box.

		  var schemaToReturn = new StructType(new[]
                  {
                        new StructField("codeToGroup", new StringType()),
                        new StructField("count", new IntegerType())
                  });

          var mixedDF1 = filtered.GroupBy("codeToGroup")

[2019-12-03 19:59] imback82 commented on #351
closed by #360

[2019-12-03 19:59] #351 closed

[2019-12-05 04:29] imback82 commented on #359
@elvaliuliuliu / @suhsteve can you help?

[2019-12-05 17:07] suhsteve commented on #359
@bolcman your sample code seems very similar to the VectorUdfs examples and I didn't notice anything out of the ordinary with it.   From the exception message it's running into issues when a DataFrame.Show() statement is run, which I don't see in your sample code.   Can you paste your full code sample ?

[2019-12-06 06:13] Plasma opened #366 "[FEATURE REQUEST]: Distributed aggregated user defined function example"
**Is your feature request related to a problem? Please describe.**
It would be great if an example was provided that showed how to:

1. Read from blob storage for example csv/json records
1. Partition the workload by a column, eg User ID
1. Run custom C# code across all rows in the workload on a per User-ID basis to emit a new result to be written to a new output stream (eg a new table)

There doe

[2019-12-06 15:52] xJupiter931 opened #367 "[FEATURE REQUEST]: Ability to write to an SQLServer database withing the context of Structured Streaming"
`StreamingQuery streamingQuery = dataFrame
				.WriteStream()
				.Format("console")
				.Start();`

I would like to know if dotnet spark supports (or will support in the foreseeable future) the option to create a StreamingQuery that will write to SQL.

I understand a foreach sink may be necessary...

Has anyone successfully implemented this?

Thanks in advance.

[2019-12-06 17:02] imback82 commented on #367
@xJupiter931 we will be working on #208, which should address your question. cc: @suhsteve @AFFogarty @Niharikadutta @elvaliuliuliu

[2019-12-06 17:57] bolcman commented on #359
Sure here is the rest, i forgot to mention, i'm using memsql connector in this case.

            var spark = SparkSession.Builder()
                                     .AppName("Hello Spark!")
                                     .Config("spark.memsql.host", "Host")
                                     .Config("spark.memsql.user", "User")
                                     .Config("spark.memsq

[2019-12-06 20:37] imback82 commented on #366
@Plasma if you write in a C# UDF, Spar will do the distributing process with your custom C# code. If you are doing groupBy operation, please take a look: https://github.com/dotnet/spark/blob/master/examples/Microsoft.Spark.CSharp.Examples/Sql/Batch/VectorUdfs.cs.

https://github.com/dotnet/spark/blob/master/examples/Microsoft.Spark.CSharp.Examples/Sql/Batch/Basic.cs also has some UDF examples.

[2019-12-06 20:57] imback82 commented on #346
@ajit1234 wouldn't reduceByKey also introduce shuffle? There is no plan to support `reduceByKey` which is a RDD operations at the moment.

[2019-12-06 21:00] imback82 commented on #26
@elvaliuliuliu which types are remaining now?

[2019-12-06 21:02] imback82 commented on #197
@bamurtaugh did my comment address your issue?

[2019-12-06 21:04] imback82 commented on #287
We should have a documentation similar to https://docs.databricks.com/spark/latest/structured-streaming/data-sources.html.

cc: @rapoth @bamurtaugh @elvaliuliuliu

[2019-12-06 21:06] elvaliuliuliu commented on #26
So according to Row.cs, `ArrayType`, `MapType`, `DecimalType`, `DateType` is not supported at the moment. I am working on `MapType`.

[2019-12-06 21:44] jpsfs commented on #367
@imback82 Any idea on when this will be released?
This is a critical feature for a project we are working on. Otherwise we might have to go with Scala (or Java) to implement it.

[2019-12-07 00:11] imback82 commented on #367
@jpsfs we started working on this feature. I will update this thread with a progress in a couple of weeks. Thanks!

[2019-12-08 23:00] Plasma commented on #366
Thanks @imback82 That looks like something that may work for me.

However the Apply() function is marked internal and so I cannot use it in my own code, see https://github.com/dotnet/spark/blame/master/src/csharp/Microsoft.Spark/Sql/RelationalGroupedDataset.cs#L87 any ideas?

[2019-12-08 23:04] Plasma commented on #366
To elaborate on my use case a bit further, would GroupBy shuffle/hash/partition the data by the grouped column so that on a per-group basis I can distribute the arbitrary running of C# code on that group, allowing me to then process that group as a logical unit and emit zero or more rows based upon that group?

[2019-12-08 23:16] Plasma commented on #366
Are there alternatives to GroupBy and Apply? eg flatMap or something with a partition-by clause?

Hope my use case is making sense -- thank you

[2019-12-09 17:13] bamurtaugh commented on #197
Yes it did, thank you @imback82. Do you think it'd be worthwhile to add to the API/somewhere in documentation a link to or list of these data sources?

[2019-12-09 17:45] suhsteve commented on #359
@bolcman do you also run into issues when you try to run a modified version of your code against `people.json` ?

[2019-12-09 19:06] geyungjen commented on #304
I have the same problem, with jdk1.8.0_231, resolved after I have installed jdk1.8.0_191, strange indeed.

My environment:
Windows 10 professional.

[2019-12-09 19:53] AFFogarty commented on #208
Please assign to me.

[2019-12-09 20:20] imback82 commented on #208
@AFFogarty Can you share the initial proposal?

[2019-12-09 21:12] imback82 commented on #359
@bolcman can you try without selecting the `date` column?

[2019-12-09 21:39] suhsteve commented on #117
Proposed support for UDT like return type using `Row`:
[code]

[2019-12-09 21:50] bolcman commented on #359
Without date column it works! Going fwd can we have this fixed ?

[2019-12-09 22:01] imback82 commented on #359
@eerhardt may have already fixed this issue in Arrow 0.15.x: https://github.com/apache/arrow/commit/0475455bc7ba4297214e618b77ed4a12e1394414

We will update the Arrow version in the next release. Thanks @bolcman for reporting!

[2019-12-10 00:32] imback82 commented on #117
Any reason why one is `GenericRow` and the other is `Row`?

You have to always specify the schema for the `Row`. Is the plan to check the return type and if it's a Row type then schema cannot be null?

[2019-12-10 00:35] elvaliuliuliu commented on #117
Since Row constructor is internal, we could not call it when writing examples in `Basic.cs` for instance.

[2019-12-10 00:51] imback82 commented on #117
I think this would confuse the user.

What if we expose a function that is specialized for returning Row types? Did you explore this option as well?

[2019-12-10 00:58] elvaliuliuliu commented on #117
Yes, I agree, but we have `internal Row(object[] values, StructType schema)`.

Yes, I initially thought of expose a function within `UdfUtils.GetReturnType`, but it seems like this function is mostly for return type that either generic type or implemented from generic type.

[2019-12-10 01:18] imback82 commented on #117
Why not something like `Udf_SomeOtherName<T>(T t, Schema s)` for UDFs that return Row? It's awkward to allow schema for almost all other types that don't even need it.

So we have two options:
1) Have a different name for UDF that returns Row type. The API is clear, but the downside is we need a separate set; I think this is a limitation of C# where you cannot specialize on generic types.
2) Allow

[2019-12-10 02:06] suhsteve commented on #117
Unless we need the schema from the Row object when pickling, I wanted to avoid something like:
[code]

I was thinking of something like the following for the public Udf API
[code]

[2019-12-10 02:11] imback82 commented on #117
As I explained above, it doesn't make sense to do
[code]
since `Row` is supposed to have more info (schema) than `GenericRow`. Can't you just use `GenericRow` here instead? I remember getting the prototype working just using `object[]`.

[2019-12-10 02:12] suhsteve commented on #117
Sure I agree, we can change it to something like
var udf = Udf<string, GenericRow>((str) => new GenericRow(new object[] { 1, "abc" }), schema);

[2019-12-10 03:21] Plasma commented on #359
Can I ask how are you using Apply() after GroupBy() as this is an internal function?

[2019-12-10 03:24] imback82 commented on #359
Can you install this nuget: https://www.nuget.org/packages/Microsoft.Spark.experimental?

[2019-12-10 07:12] Plasma commented on #359
Thank you, that's let me access Apply().

[2019-12-10 07:13] Plasma commented on #366
https://github.com/dotnet/spark/issues/359#issuecomment-563681965 references a nuget that lets me access Apply(). I think I know how to proceed from here, thank you.

[2019-12-10 07:13] #366 closed

[2019-12-10 10:18] Plasma opened #368 "[FEATURE REQUEST]: document blob read push down?"
**Is your feature request related to a problem? Please describe.**
I’m wanting to understand how I tell spark which blobs under an azure blob container should be loaded, when the blobs are organised by date in sub folders.

I can’t spot any documentation on how to do this in a production scenario, any documentation or guidance appreciated.

[2019-12-10 15:46] bolcman opened #369 "[BUG]: udf problem after switching to v0.7.0"
so this started happening after i switched to 0.7.0:
here is my code.

            var spark = SparkSession.Builder()
                                    .AppName("Hello Spark!")
                                     .Config("spark.memsql.host", "somehost")
                                     .Config("spark.memsql.user", "user")
                                     .Config("spark.memsql.password",

[2019-12-10 17:32] imback82 opened #370 "[FEATURE REQUEST]: Update Apache.Arrow to 0.15.1"
Spark .NET currently depends on Apache.Arrow 0.14.1. There is a newer version (0.15.1) of Apache.Arrow, which has new features such as date type support, etc. (see #359). We need to update it to the latest version, and also check if there are any breaking changes.

[2019-12-10 17:38] imback82 commented on #368
@Plasma I need to understand your production scenario a bit more. Do you need to read all files under those sub folders, or do you plan to do partition pruning based on the date ?

[2019-12-10 17:39] imback82 commented on #359
Closing this and will follow up with #370.

[2019-12-10 17:39] #359 closed

[2019-12-10 18:02] imback82 commented on #369
@bolcman I ran the following program:
[code]
I tried this with the following combinations:
nuget: 0.6.0, worker: 0.7.0
nuget: 0.6.0, worker: 0.7.0
nuget: 0.6.0, worker: 0.7.0

[2019-12-10 19:32] bolcman commented on #369
ok, this is strange, I tried your example, got the same error:

nuget: 0.6.0, worker: 0.6.0 - works
nuget: 0.7.0, worker: 0.6.0 - works
nuget: 0.7.0, worker: 0.7.0 - error
nuget: 0.6.0, worker: 0.7.0 - error

[2019-12-10 19:43] imback82 commented on #369
@suhsteve @elvaliuliuliu can you try as well? I used Spark 2.4.4 with .NET Core 2.1 worker.

[2019-12-10 19:43] suhsteve commented on #369
@bolcman can you share the version of spark you are using ?

[2019-12-10 19:44] elvaliuliuliu commented on #369
I have tried the following combination, all works for me.
nuget: 0.7.0, worker: 0.7.0
nuget: 0.6.0, worker: 0.7.0

[2019-12-10 20:39] bolcman commented on #369
it works! please ignore this , I downloaded the worker 0.7.0 files again and replaced the version i had.

[2019-12-10 21:31] #369 closed

[2019-12-10 21:51] eerhardt commented on #370
One change in `0.15.1` to be on the look out for is https://github.com/apache/arrow/commit/4be02c7a468055a9c1309fbeeca8985cc9810821 and corresponding spec change - https://github.com/apache/arrow/pull/4951.

You will probably need to set the new `WriteLegacyIpcFormat = true` option when writing arrow data until Apache Spark is updated with the new Arrow version.

[2019-12-10 22:27] imback82 commented on #370
Thanks @eerhardt for heads up. Spark 3.0 is using `0.15.1`, so we will make sure to use the option when we support Spark 3.0. (#348).

[2019-12-10 22:29] eerhardt commented on #370
No, you need to invert the thought.  `WriteLegacyIpcFormat = true` will be needed for Spark < 3.0. Basically all older versions of Spark you will need to use the "Legacy IPC format".

[2019-12-10 22:31] imback82 commented on #370
Yes, that's what I was planning to do. I meant that I will use the option to support both Spark 2.x and 3.0.

[2019-12-10 23:42] Plasma commented on #368
Partition pruning I think is what I meant.

As an example, assume I have a list of blobs like this in storage:

[code]

I can configure spark to read blobs in that folder structure like this:

[code]

Then run a query:
[code]

But how do I inform spark about being able to do partition pruning (I think?) where it won't read _all_ blobs in the `/my-container/logs/` folder, since it can instead just

[2019-12-11 00:24] elvaliuliuliu commented on #117
I have a prototype working as follows using Option 1 - Have a different name for UDF that returns `GenericRow` type.

[code]

[2019-12-11 03:40] imback82 commented on #368
You can search online with `spark partition pruning` and find some answers like https://mapr.com/blog/tips-and-best-practices-to-take-advantage-of-spark-2-x/. I think you need `hive partitioning`; for example, you can write the data to folders like `year=2019`, `year=2018`, etc. and you can use `year` in your query to filter subfolders.

[2019-12-11 13:02] SaraMoitinho opened #371 "Response status code does not indicate success: 401 (Unauthorized)"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/install-package
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-12-11 16:37] elvaliuliuliu commented on #371
@SaraMoitinho Can you provide more details e.g. error log, etc? Thanks!

[2019-12-11 19:01] suhsteve commented on #117
@elvaliuliuliu can you get it to work with returning `GenericRow`/`Row` instead of `object[]` ?  Also can you get it to work with `Udf` instead of `UdfReturnRowType` ?

[2019-12-11 19:40] suhsteve commented on #371
There may be a bad entry in your nuget sources.   Can you run the following instead ?

`dotnet add package Microsoft.Spark --version 0.6.0 -s https://api.nuget.org/v3/index.json`

[2019-12-11 20:15] elvaliuliuliu commented on #117
1) `UdfReturnRowType` will work with `GenericRow` and `object[]` not `Row` here, since `UdfReturnRowType` takes schema outside. Moreover, if we are going to explore with `UdfReturnRowType` method, should it be aiming at taking `GenericRow` instead of `Row`? Please correct me if I misunderstand anything here.
2) Work with `Udf` instead of `UdfReturnRowType`: Do you mean the second option which @imb

[2019-12-11 21:31] suhsteve commented on #117
I'm not a big fan of introducing a new API name just for a row return type.   I think we can try out either adding a constraint to the type parameter, or only accepting `funcs` with an output type of Row.  ie:
[code]

We can defer to @imback82 and see which approach he would like to take.

[2019-12-11 21:42] elvaliuliuliu commented on #117
How would the above two options you proposed be for other types e.g. `ArrayType`, `MapType` when they are using the same `Udf` API?

[2019-12-11 21:45] imback82 commented on #117
I think this should be good.

[2019-12-11 21:46] suhsteve commented on #117
Are you planning to have separate Udf methods for all these types ?  `UdfRowReturnType`, `UdfArrayReturnType`, `UdfMapReturnType` ?

[2019-12-11 21:50] elvaliuliuliu commented on #117
Nope, `Udf` already has the functionality to take return type as `ArrayType`, `MapType` per `UdfUtils.GetReturnType` as mentioned earlier. I believe `RowType` is different from them since it's not implemented from generic type based on previous discussion.

[2019-12-11 21:59] suhsteve commented on #117
If the current `Udf` implementation already works with `ArrayType` and `MapType` then I don't understand your previous question.

[2019-12-11 22:02] suhsteve commented on #117
Actually, it looks like this approach will not work when `GenericRow` is a sealed class.  Seems like the current options would be

1) Go with the new API name, `UdfReturnRowType`
2) `public static Func<Column, Column, Column> Udf<T1, T2>(Func<T1, T2, GenericRow> udf, StructType returnType)`

[2019-12-11 22:28] elvaliuliuliu commented on #117
Yes, I agree. The following won't work since `GenericRow` is a sealed class.
[code]

I have working prototypes for the following two options. And I think they both have pros and cons.

Option1 - New API (Separate API for `RowType` only)
[code]
Option2 - Take only inputs and accept output as `GenericRow` (Different structure since user doesn't have to specify output type)
[code]

[2019-12-11 22:37] imback82 commented on #117
You don't need to specify return type for option 1 either. So, option 1 and 2 are essentially the same. Option 3 is marking `GenericRow` as non-sealed?

[2019-12-11 23:06] elvaliuliuliu commented on #117
Yes, you are right. We don't have to specify return type for option 1 either. Option 3 as below will also work if `GenericRow` is a non-sealed class.
[code]

[2019-12-12 04:37] anduran opened #372 "[BUG]: Unable to use File Sink"
**Describe the bug**
Unable to use File sink when using Spark Streaming

**To Reproduce**

I'm trying to write appends to a file on a streaming way, but getting the exception:

None of this versions work:
[code]

[2019-12-12 04:46] anduran opened #373 "[BUG]: Unable to debug UDF on Apply"
**Describe the bug**
When following Debugging instructions (making the Worker hit a breakpoint using an env var) my UDF never breaks. Is debugging UDFs in the context of an Apply supported?

**To Reproduce**

Call UDF:
[code]
UDF Definition:
[code]

[2019-12-12 06:44] Plasma commented on #368
Thanks for that. I'm guessing I can't use regular blob storage for this optimization?

If so, is it a bit redundant to then need to copy all data from blob storage to another storage system just for this feature to work?

[2019-12-12 18:42] imback82 commented on #373
Does the debugger break in `TaskRunner.cs` as explained here? https://github.com/dotnet/spark/blob/master/docs/developer-guide.md#debugging-user-defined-function-udf

[2019-12-12 18:51] anduran commented on #373
Yes, after pressing F5 it simply completes.

[2019-12-12 18:57] imback82 commented on #373
When it breaks in `TaskRunner.cs`, can you open the file that contains `UdfHelpers` in the same VS instance, create a breakpoint, then F5? Did you try this as well?

[2019-12-12 18:59] anduran commented on #373
Yeah, that's exactly why I did. I believe the UDF is not even being called (because the side effect of writing to a file is not executed either). However... I can see the output on the Console.

[2019-12-12 19:22] imback82 commented on #372
In the error message, you should see something like the following:
[code]

So you need to set this config: `spark.sql.streaming.checkpointLocation` for your file sink.

[2019-12-12 19:23] imback82 commented on #371
@SaraMoitinho please reopen this issue when you provide more info.

[2019-12-12 19:23] #371 closed

[2019-12-12 19:38] anduran commented on #372
Thanks! I was looking at the wrong output window (seems like there are three), so I didn't read that useful message. This is resolved.

[2019-12-12 19:38] #372 closed

[2019-12-12 22:25] anduran commented on #373
Ok, found the right logs to debug the issue. Turned out it wasn't finding the .dll

I have updated my UDF to this to create a mock UDF:

[code]
or:
[code]

and I'm getting:

[code]

[2019-12-12 23:47] anduran commented on #373
Seems like I was hitting this issue because I'm using a date column...  #359

Aside from supporting new ApacheArrow I would recommend adding some clarification unto this error message.

[2019-12-12 23:47] #373 closed

[2019-12-15 12:50] GoEddie commented on #313
Have you got an example of how you want it to look in dotnet?

[2019-12-16 02:05] imback82 commented on #313
This will require expose MLlib APIs, possibly as a separate Nuget similar to how Delta was done.

[2019-12-16 08:07] GoEddie commented on #313
so everything in here?

https://spark.apache.org/docs/latest/api/scala/index.html#org.apache.spark.ml.package

[2019-12-16 15:42] imback82 commented on #313
Yes, or we can try to match pyspark offering: https://github.com/apache/spark/tree/master/python/pyspark/mllib. We can start implementing `Bucketizer` first then expand it as necessary.

[2019-12-16 15:55] GoEddie commented on #313
got it, implement bucketizer first but put it in a new project (similar to delta)

[2019-12-16 18:40] imback82 commented on #313
@GoEddie did you want to work on this? I can assign this to you.

Also, to make things simpler, we can create a new project as a part of `Microsoft.Spark` Nuget.

[2019-12-16 21:24] GoEddie commented on #313
yep great, i'll get started

[2019-12-16 21:55] imback82 commented on #313
Thanks @GoEddie!

[2019-12-17 11:39] camer314 commented on #313
One important thing to note is the pyspark implementation is nowhere near as performant as Scala because the Scala version allows you to pass in multiple columns and buckets in the one call, pyspark current only supports singular column (as far as I am aware).

https://spark.apache.org/docs/latest/api/scala/index.html#org.apache.spark.ml.feature.Bucketizer
https://spark.apache.org/docs/latest/api/

[2019-12-17 13:34] GoEddie commented on #313
@camer314 got it, include inputCols and outputCols rather than just inputCol and outputCol.

So you'd like to be able to create bucketizer2 in this example?

https://github.com/apache/spark/blob/master/examples/src/main/scala/org/apache/spark/examples/ml/BucketizerExample.scala

ed

[2019-12-18 08:35] AeroXuk opened #375 "Microsoft.Data.Analysis.DataFrame"
It seems on the 16th December, Microsoft has published a new DataFrame type. Adding this here as there may be code from this project that can be contributed or code from there that can be adopted.

- https://devblogs.microsoft.com/dotnet/an-introduction-to-dataframe/
- https://www.nuget.org/packages/Microsoft.Data.Analysis/
- https://github.com/dotnet/corefxlab/tree/master/src/Microsoft.Data.Analy

[2019-12-18 17:15] imback82 commented on #375
Thanks @AeroXuk. There is an ongoing PR #277 that utilizes this to simplify writing UDFs.

FYI @eerhardt @pgovind

[2019-12-23 08:50] will-beta opened #377 "[FEATURE REQUEST]: The ability to process a bunch of messages in Udf"
I am writing a Udf extension for DataFrame, and I found that the `Functions.Udf<string, string>(msg =>...)` only allow one message to process. Can I write a Udf that supports multiple messages processing at a time?
Thanks in advance!

[2019-12-23 09:32] will-beta commented on #377
It seems like the [ForeachBatch](https://spark.apache.org/docs/latest/structured-streaming-programming-guide.html#foreachbatch) is what I wanted.

[2019-12-23 09:44] elvaliuliuliu commented on #377
Thanks for your question! This is the ongoing work item. Please refer to #208.

[2019-12-23 17:03] imback82 commented on #377
@will-beta are you looking at the streaming write scenario only? If not, you can take a look at `VectorUDF` which takes a batch of rows at a time: https://github.com/dotnet/spark/blob/131d9b1f33dde357998b4464e9359ac03abc83fb/src/csharp/Microsoft.Spark.E2ETest/IpcTests/Sql/DataFrameTests.cs#L157

[2019-12-24 08:30] will-beta commented on #377
@imback82 Thanks for your help!
It seems like an experimental function.

[2019-12-24 08:58] imback82 commented on #377
Yes, it is currently under experimental, but will be moved to `Microsoft.Spark.Sql` namespace in a future release as the APIs become stable.

[2019-12-30 06:14] blenddata opened #380 "Set master url & use mongo connector"
Hi
I have a spark cluster on ubuntu which is accessible from http://xxxx:32771/ (running on docker).
Here what i want to do:
1- Connect to cluster
2- Run mongo scripts [(#164)](https://github.com/dotnet/spark/issues/164), I have no idea how to use mongo connector with dotnet core. ([mongo connector](https://docs.mongodb.com/spark-connector/master/python/read-from-mongodb/))
3- Get the result in an

[2019-12-30 06:40] imback82 commented on #380
@blenddata can you be a bit more specific to the issue you are facing?

Did you try the following?
[code]
#164 should have enough info for you to get started.

[2019-12-30 06:47] blenddata commented on #380
I can't connect to my instance
`var spark = SparkSession.Builder().AppName("test").Master("spark://172.31.64.69:32771").GetOrCreate();`
I've got this exception
`No connection could be made because the target machine actively refused it. 127.0.0.1:5567`

[2019-12-30 10:28] GoEddie opened #381 "[FEATURE REQUEST]: Implement ML Features"
This is to track implementation of the ML-Features: https://spark.apache.org/docs/latest/ml-features

Bucketizer has been implemented in https://github.com/dotnet/spark/pull/378 but there are more features that should be implemented.

- [ ] Feature Extractors
  - [ ] TF-IDF
  - [ ] Word2Vec
  - [ ] CountVectorizer
  - [ ] FeatureHasher
- [ ] Feature Transformers
  - [ ] Tokenizer
  - [ ] StopWords

[2019-12-30 18:36] imback82 commented on #380
Looks like you are trying to run a debug session. Can you try to run your application using `spark-submit` (https://github.com/dotnet/spark/blob/master/docs/getting-started/windows-instructions.md#running-your-net-for-apache-spark-app)?

If you want to debug your app, you can try the following instruction: https://github.com/dotnet/spark/blob/master/docs/developer-guide.md#how-to-do-local-debuggin

[2019-12-30 19:05] imback82 commented on #381
Thanks @GoEddie for compiling the list.

This sounds good to me. We will review #378 in the next few days (some of us are out on vacation).

[2019-12-30 19:12] GoEddie commented on #381
Great thanks, @imback82 I didn’t expect anyone to reply until the new year :)

[2019-12-31 04:44] blenddata commented on #380
@imback82 it was about `spark.driver.host` (remote access), I wrote in java in case of test:

[code]
and ended up with this error
`org.apache.spark.util.Utils: Service 'sparkDriver' could not bind on a random free port. You may check whether configuring an appropriate binding address.`

It seems spark on docker has some malfunctions. I want to go with k8s.
Thanks

[2019-12-31 04:44] #380 closed

[2019-12-31 16:47] GoEddie opened #382 "[FEATURE REQUEST]: Consider exposing JvmObjectReference"
There are lots of Apache Spark classes/functions that have not been covered in spark dotnet and it is unlikely that there will ever be 100% coverage (it is possible but dotnet is always going to be playing catchup).

Is it worth exposing some of the internal classes that give access to create Java objects and call Java methods?

It should come with a very big warning that it should be used only un

[2020-01-02 07:19] arulsmith opened #383 "Unable to load native-hadoop library for your platform."
The build  has successful  as 👍

C:\Users\Nivethan\mySparkApp>dotnet build
Microsoft (R) Build Engine version 15.9.20+g88f5fadfbe for .NET Core
Copyright (C) Microsoft Corporation. All rights reserved.

  Restore completed in 55.01 ms for C:\Users\Nivethan\mySparkApp\mySparkApp.csproj.
  mySparkApp -> C:\Users\Nivethan\mySparkApp\bin\Debug\netcoreapp2.2\mySparkApp.dll

Build succeeded.
    0 Warni

[2020-01-02 15:56] GoEddie commented on #383
Spark can’t find your jar that contains DotnetRunner:

“ Local jar C:\Users\Nivethan\mySparkApp\bin\Debug\netcoreapp3.0\microsoft-spark-2.4.x-0.6.0.jar does not exist, skipping.”

Make sure the jar is there or you pass in the correct path.

[2020-01-02 21:48] imback82 commented on #383
@arulsmith You can try the full path of the jar file as well.

[2020-01-02 21:58] imback82 commented on #382
@GoEddie this was by design not to expose them to avoid confusion and misuses.

For advanced users, https://github.com/aelij/IgnoresAccessChecksToGenerator#usage can be used instead to access internal classes.

[2020-01-02 23:26] GoEddie commented on #382
Nice, I’ll give it a go thanks!

[2020-01-02 23:26] #382 closed

[2020-01-04 06:13] kingreatwill commented on #137
Lonely project
https://github.com/justmine66/FLink.CSharp

[2020-01-05 14:08] zwitbaum opened #384 "[BUG]: Error while running a .net application containing a UDF against remote databricks apache spark (e.g. Azure Databricks)"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

Prerequisites: simple .net application with a simple SQL query and a UDF, which runs properly against a local apache spark.
Steps to reproduce the behavior:
1. Setup connection to a remote databricks apache spark (I have tested against an Azure Databricks) on your local dev machine using "databricks-connect

[2020-01-06 22:23] imback82 commented on #384
@zwitbaum did you follow this https://github.com/dotnet/spark/blob/master/deployment/README.md#databricks?

cc: @suhsteve @Niharikadutta @elvaliuliuliu

[2020-01-06 22:38] imback82 commented on #383
@arulsmith did the suggested solution work?

[2020-01-07 03:42] imback82 commented on #208
@suhsteve can you share the initial proposal when it's ready?

[2020-01-07 03:43] imback82 commented on #203
Closing this as a duplicate of #208.

[2020-01-07 03:43] #203 closed

[2020-01-07 03:44] imback82 commented on #367
I am closing this as a duplicate of #208. We will update the status in #208.

[2020-01-07 09:39] zwitbaum commented on #384
@imback82 : the .net application works properly, if it is deployed on the azure databricks. But what I mean is something else.

The issue occurred only if the .net app is started **on the local windows machine** (my dev pc) and should query the data from the remote azure databricks. So what I mean
- .net app without UDF <-> remote azure databricks: works
- .net app with UDF <-> remote azure databr

[2020-01-08 06:19] imback82 commented on #384
I see. Can you check if you see any log messages like the following? `Using the environment variable to construct .NET worker path`

[2020-01-08 07:54] MaxKhlupnov commented on #325
Thanks for the code @joperezr !
The only change I have to made to be able compile this code was events.Select expression:
  Functions.FromJson(Functions.Col("body").Cast("string"), "BlobPath String").Alias("Raw"),
                     Functions.Col("properties"),
                     Functions.Col("enqueuedTime")

[2020-01-08 09:13] MaxKhlupnov commented on #325
I tried run example but get an error:
 java.lang.NoSuchMethodError: com.microsoft.azure.eventhubs.EventHubClient.createSync(Ljava/lang/String;Ljava/util/concurrent/ScheduledExecutorService;)Lcom/microsoft/azure/eventhubs/EventHubClient;

SparkVersion: 2.4.1

spark-submit --jars azure-eventhubs-spark_2.11-2.3.13.jar,azure-eventhubs-3.0.2.jar --class org.apache.spark.deploy.dotnet.DotnetRunner --mas

[2020-01-08 10:19] elvaliuliuliu commented on #384
Moreover, I saw the error message is `Exception: Python in worker has different version 3.7 than that in driver 0.4.0, PySpark cannot run with different minor versions.Please check environment variables PYSPARK_PYTHON and PYSPARK_DRIVER_PYTHON are correctly set.`

Can you check and verify the version?

[2020-01-08 14:41] zwitbaum commented on #384
@elvaliuliuliu: I have investigated the correct values for and set the PYSPARK_PYTHON and PYSPARK_DRIVER_PYTHON as follow, but it does not solve the problem:
- PYSPARK_PYTHON=python3
- PYSPARK_DRIVER_PYTHON=python3

@imback82: what you mean by "remote path where worker binaries are installed"? An URL to the cluster or to the worker file in the cluster? Or the file path to the worker file in the cl

[2020-01-08 16:59] imback82 commented on #384
I meant the path on the cluster. So if the worker binaries are installed under `/usr/bin`, you would set `DOTNET_WORKER_DIR` to `/usr/bin` on the driver side. Looking at your error log, `/databricks/spark/python/pyspark/worker.py` is being launched instead of the .NET worker. Also, how do you plan to ship your DLLs that contain your UDFs? I don't believe we tested your scenario, but you are always

[2020-01-09 12:10] asears commented on #337
Should be possible to connect to Gen2 from local client depending on what hadoop libraries are installed.

https://hadoop.apache.org/docs/stable/hadoop-azure/abfs.html
https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-abfs-driver

[2020-01-09 14:51] zwitbaum commented on #384
If I change the DOTNET_WORKER_DIR on my local windows machine, the app writes in cmd, e.g.:
"Using the environment variable to construct .NET worker path: /usr/bin/Microsoft.Spark.Worker\Microsoft.Spark.Worker.exe", what IMO makes no sense.
If you mean the environment variable should be set on the cluster by the the db-init.sh or install-worker.sh instead, **please describe how to extend one of th

[2020-01-09 17:00] imback82 commented on #384
After setting the env variable, does `/databricks/spark/python/pyspark/worker.py` still get launched? The worker path gets inserted into UDF on the driver side if the env is set, otherwise, it will look for the binary under `PATH`. See this function https://github.com/dotnet/spark/blob/5e9c08b430b4bc56b5f42252c4b73437377afaed/src/csharp/Microsoft.Spark/Services/ConfigurationService.cs#L58

If `wor

[2020-01-09 17:16] elvaliuliuliu commented on #384
@imback82  I will follow up on this.

[2020-01-10 10:09] zwitbaum commented on #384
@imback82 If I set the DOTNET_WORKER_DIR to the azure worker path on **my local dev pc**, e.g. "setx DOTNET_WORKER_DIR /usr/bin" (or /usr/local/bin, or /usr/bin/Microsoft.Spark.Worker) the `/databricks/spark/python/pyspark/worker.py` still get launched.
Must the DOTNET_WORKER_DIR be set **on the azure databricks cluster instead**? If yes, please advice how to do it in the init-script provided ment

[2020-01-10 11:07] elvaliuliuliu commented on #384
Can you try set up DOTNET_WORKER_DIR to the local path of Microsoft.Spark.Worker? Please make sure path is set correctly and Microsoft.Spark.Worker.exe is in the path.

[2020-01-10 14:46] zwitbaum opened #389 "[BUG]: Error while trying to enumerate a DataFrame containing a column of type date: The method or operation is not implemented."
**Describe the bug**
An error occurred while trying to enumerate a DataFrame containing a column of type date.

**To Reproduce**
Steps to reproduce the behavior:

[code]
Command-Line output:
+------------+
|DateAsString|
+------------+
|    2020-1-1|
|    2020-1-2|
+------------+

root
 |-- DateAsString: string (nullable = false)

+----------+
|DateAsDate|
+----------+
|2020-01-01|
|2020-01-02|
+-

[2020-01-10 15:17] michael-damatov commented on #389
When some data types (like _date_ or _map_) are not yet supported, it's ok to throw an exception. However, in this case I'm not even able to **count** the rows regardless of their column types.

[2020-01-10 16:38] imback82 commented on #389
@zwitbaum yes, this is known issue: #26. We will address this in upcoming releases.

@michael-damatov can't you just use this function get the row count? https://github.com/dotnet/spark/blob/5e9c08b430b4bc56b5f42252c4b73437377afaed/src/csharp/Microsoft.Spark/Sql/DataFrame.cs#L723-L727

[2020-01-10 16:41] imback82 commented on #384
@zwitbaum before moving furhther, can you please provide the exact command to submit your spark application to azure databricks?

[2020-01-10 17:42] zwitbaum commented on #384
@elvaliuliuliu : the DOTNET_WORKER_DIR was already set to the local path of Microsoft.Spark.Worker before I have posted the bug (setx DOTNET_WORKER_DIR "C:\bin\Microsoft.Spark.Worker-0.7.0"). Unfortunately, it does not help to solve the problem.

[2020-01-10 18:13] zwitbaum commented on #384
Once again to describe our requirements for a .net spark software development:
![grafik](https://user-images.githubusercontent.com/6919145/72175008-52e7d180-33db-11ea-959f-98b9853fcaa3.png)
We want to develop our .net spark application on a local dev PC with Visual Studio and use all IDE benefits like debugger, source control, static code checker, refactoring, etc. It means, we must "hit F5" and r

[2020-01-10 18:29] imback82 commented on #384
Can't you do the following?
1. Develop/debug your application locally. We have docs how to debug your application: https://github.com/dotnet/spark/blob/master/docs/developer-guide.md
2. Once you are ready to deploy your app, follow this https://github.com/dotnet/spark/blob/master/deployment/README.md#databricks.

Again, can you share the exact command you are using to submit so we can get a better

[2020-01-10 21:08] zwitbaum commented on #384
@imback82 : we develop and debug our application on the windows local machine exactly as described in the link you've provided:
`%SPARK_HOME%\bin\spark-submit --class org.apache.spark.deploy.dotnet.DotnetRunner --master local microsoft-spark-2.4.x-0.7.0.jar debug`

Because we want to query the data from the azure databricks we do following:
1. Let's imagine a following query:
[code]
Because the da

[2020-01-13 18:53] michael-damatov commented on #389
@imback82 calling `DataFrame.Count` works. Is there a way not to throw exceptions from the `Row` constructor, just to allow iterating over rows?

[2020-01-15 21:42] GoEddie opened #393 "[Question] Slack or gitter or something?"
Is there a community channel like slack or gitter where we can ask questions?

It would be useful to be able to ask questions when implementing changes and also it would probably stop some of the issues getting created and then left to hang around (like https://github.com/dotnet/spark/issues/303).

I know the delta lake team have a public slack channel that works really well

(please don't say yam

[2020-01-22 12:55] Yogesh-yrbyogi opened #395 "No connection could be made because the target machine actively refused it. 127.0.0.1:5567"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/code
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

Getting error "No connection could be made because the target machine actively refused it. 127.0.0.1:5567"

[2020-01-22 19:46] elvaliuliuliu commented on #395
Port 5567 is used for debug mode. Please follow [Debugging Spark .NET Application](https://github.com/dotnet/spark/blob/master/docs/developer-guide.md#debugging-spark-net-application) if you want to debug the application. And you can refer to #175.
Feel free to let us know if any questions. Thanks!

[2020-01-23 09:08] shreyshahh opened #396 "ERROR DotnetBackendHandler: methods:"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/run
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

**my Program.cs**

[code]
**I am running this using following command**
spark-submit --class org.apache.spark.deploy.dotnet.D

[2020-01-23 09:57] elvaliuliuliu commented on #396
The following error can be found in your stack trace:
[code]

Can you please make sure `input.txt` exists in path `C:/Users/sshah/mysparkapp/`?

[2020-01-23 10:05] shreyshahh commented on #396
@elvaliuliuliu My bad, I completely missed it. Thanks for the solution.

[2020-01-23 10:07] #396 closed

[2020-01-23 18:19] imback82 commented on #384
Thanks @zwitbaum! @elvaliuliuliu will investigate this.

[2020-01-23 18:20] imback82 commented on #383
Closing this. Please reopen if the suggested solution didn't work.

[2020-01-23 18:20] #383 closed

[2020-01-23 20:31] imback82 commented on #389
@michael-damatov currently no, but we are working to support all the complex types in upcoming releases, and we welcome contributions too!

[2020-01-23 20:50] hgrewa opened #397 "JVM error at the last step. Nonstatic method text failed for class 6 when called with 1 arguments"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/run
Operating System: windows

The program fails at the last step.

[2020-01-23T20:47:54.2185880Z] [WGC110490J5H2] [Exception] [JvmBridge] JVM method execution failed: Nonstatic method text failed for class 6 when called with 1 arguments ([Index=1, Type=String[], Value=System.String[]], )
   at Microsoft.Spark.Interop.Ip

[2020-01-23 21:05] imback82 commented on #397
@hgrewa can you paste the whole log please?

[2020-01-23 21:18] hgrewa commented on #397
Just fixed it. The input.txt file used for the input analysis was not copied over to the debug folder (or it was placed in a wrong folder). Just used the full path to the data frame and it worked without an issue.
`// Create initial DataFrame
DataFrame dataFrame = spark.Read().Text("C:/temp/mySparkApp/input.txt");
`
instead of
`// Create initial DataFrame
DataFrame dataFrame = spark.Read().Text("i

[2020-01-24 09:42] AndreasVolkmann opened #400 "Official testing guidelines"
It seems there is no guidance on how to test spark code written with the dotnet api.

From the resources I found, creating a spark context with `local` as the master is enough to run a single worker on the jvm but it looks like we cannot do this from c#.
(https://stackoverflow.com/a/43734481/5335131)

I replicated the test set up from this repository, which locates the jar and starts a process usi

[2020-01-24 19:23] dkjha811 opened #401 "Error while running sample program for Dotnet for spark"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/run
Operating System: windows

I have gone through this tutotials and intall every package listed down and was able to get the desired results till the last command to get the word count .
Here is the command which gives the error. I am not able to understand where is the gap .
%SPARK_HOME%\bin\spark-submit --class org.a

[2020-01-24 19:55] elvaliuliuliu commented on #401
Can you try run the following command?
[code]

[2020-01-25 00:42] #117 closed

[2020-01-25 01:15] imback82 commented on #253
@anand035 we started working on this, so you can expect this feature in upcoming releases.

[2020-01-25 01:16] imback82 commented on #161
Closed by #338. This is released in 0.8.0.

[2020-01-25 01:16] #161 closed

[2020-01-25 01:18] #397 closed

[2020-01-25 01:18] imback82 commented on #395
Please reopen this the suggested solution didn't work.

[2020-01-25 01:18] #395 closed

[2020-01-25 01:22] imback82 commented on #401
Can you try @elvaliuliuliu's suggestion?

[2020-01-25 01:25] imback82 commented on #400
@AndreasVolkmann, yes, setting up similar to https://github.com/dotnet/spark/blob/master/src/csharp/Microsoft.Spark.E2ETest/SparkFixture.cs is one recommended way to test E2E .NET Spark application.

[2020-01-25 01:39] imback82 commented on #389
cc @elvaliuliuliu

[2020-01-25 01:41] elvaliuliuliu commented on #389
I am working on this and it should be supported in the coming releases. Thanks!

[2020-01-25 11:49] AndreasVolkmann commented on #400
Thanks @imback82 .
Maybe consider adding a note about this to the docs.

[2020-01-25 11:49] #400 closed

[2020-01-27 03:04] sharadagarwal commented on #401
I was getting a similar error, and @elvaliuliuliu 's suggestion fixed it. Thanks @elvaliuliuliu !

[2020-01-27 03:40] dkjha811 commented on #401
Yes
Thank you .it's fixed now with the updated command.

On Sun, Jan 26, 2020, 9:04 PM Sharad Agarwal <notifications@github.com>
wrote:

[2020-01-27 20:39] elvaliuliuliu commented on #401
This [PR](https://github.com/dotnet/website/pull/1709) should address this issue.

[2020-01-28 08:25] JoseTala23 opened #405 "Problema al ejecutar el proyecto apache spark con .NET"
WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Exception in thread "main" java.lang.NoClassDefFoundError: org/apache/spark/internal/Logging$class

[2020-01-28 08:37] elvaliuliuliu commented on #405
Can you please provide more detailed information? e.g. command line you use, full error log, etc

[2020-01-28 08:39] JoseTala23 commented on #405
he utilizado esta linea de comando:
spark-submit --class org.apache.spark.deploy.dotnet.DotnetRunner --master local c:\mySparkApp\bin\Debug\netcoreapp2.1\microsoft-spark-2.4.x-0.8.0.jar dotnet C:\mySparkApp\bin\Debug\netcoreapp2.1\mySparkApp.dll

y el ERROR:
20/01/28 09:31:00 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicabl

[2020-01-28 09:00] elvaliuliuliu commented on #405
Can you confirm the Apache Spark version you are using?

[2020-01-28 09:26] JoseTala23 commented on #405
spark-3.0.0-preview2-bin-hadoop3.2

[2020-01-28 09:34] elvaliuliuliu commented on #405
Spark 3.0 is not supported currently. And it might be supported in the upcoming releases.

Please check supported Spark version here: https://github.com/dotnet/spark#supported-apache-spark

[2020-01-28 11:36] JoseTala23 commented on #405
Thank you very much! I have already solved it.

[2020-01-28 23:33] elvaliuliuliu opened #407 "[FEATURE REQUEST]: Change the API of UDF that returns Row"
Currently, the UDF that returns Row using GenericRow and Schema as below:
[code]
This will cause issues for chaining UDFs. We need to modify the API to return Row.

[2020-01-29 03:50] elvaliuliuliu commented on #407
I have the following chained UDF in PySpark:
[code]
Can we tell if the Row generated by udf1 has a schema by this example?

[2020-01-29 04:11] imback82 commented on #407
Can't you update `udfFun2` to look into `s`, which should be Row object?

[2020-01-29 08:33] JoseTala23 opened #408 "Is apache spark .net compatible with elasticSearch?"
I need to obtain data from elasticSearch and I can't find a solution for it. I wanted to know if there is any manual or any way to make an inquiry to elasticsearch

[2020-01-30 00:50] bamurtaugh opened #409 "[FEATURE REQUEST]: Ability to reference Nuget packages in UDFs in notebooks"
**Is your feature request related to a problem? Please describe.**

I am trying to use a Nuget package in Azure Synapse Analytics notebooks. I wrote a UDF that calls an earlier method, and that method depends on a Nuget package. When I called the UDF (through a Spark SQL call), I got an error: "System.IO.FileNotFoundException: Could not load file or assembly 'Microsoft.ML.Data, Version 1.0.0.0..."

[2020-01-30 00:54] imback82 commented on #408
Yes, can you check this thread: #212, #213? Basically you will need to do something like:
[code]

[2020-01-30 00:56] imback82 commented on #409
cc @suhsteve who worked on integrating this feature to .NET interactive kernel.

[2020-01-31 00:22] elvaliuliuliu commented on #384
@zwitbaum We have been investigating on this scenario. I can reproduce the error you mentioned. Looks like there are some architecture differences which cause SparkDotnet worker is not invoked but PySpark worker. We may need more time investigating this but I am on top of this. Thanks for your patience and feel free to let me know if you have any new findings/updates!

Details of my repro, setting

[2020-01-31 15:52] ewatson95 opened #410 "[FEATURE REQUEST]: Make the DateTime type available in the create dataframe api"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when trying to pass in an object of type DateTime to the CreateDataFrame API. Most data sets, at least from my experience, have some sort of timestamp associated with the data. However, when I try to pass in a DateTime, DateTimeOffset or TimeSpan data type, I get the error: System.DateTime not supported yet. T

[2020-01-31 15:57] imback82 commented on #410
Thanks @ewatson95 for reporting this. This is in our roadmap, and you should see this in upcoming releases. Also #26

cc @elvaliuliuliu

[2020-01-31 16:18] ewatson95 commented on #410
Just to be 100% certain we are talking about the same thing, I'm interested in the SparkSession.CreateDataFrame api. I have seen the DateType data type - will this be sufficient for a c# DateTime object to be passed into the CreateDataFrame method?

[2020-01-31 16:49] imback82 commented on #410
Yes, it is the current plan to use C# DateTime objects.

[2020-01-31 20:26] elvaliuliuliu commented on #410
@ewatson95 , thanks for your question! Could you provide a code snippet of how you are using DateType in your application?

[2020-01-31 22:19] imback82 commented on #410
@elvaliuliuliu Basically, C# [DateTime](https://docs.microsoft.com/en-us/dotnet/api/system.datetime?view=netcore-3.1) objects should be allowed to be used if the type of your `DataFrame`'s fields is `DateType`. This applies to `UDF`, `Collect`, `CreateDataFrame`, etc.

[2020-01-31 22:24] elvaliuliuliu commented on #410
Got it! Thanks for clarification! That's also my understanding. It applies not only to `CreateDataFrame` API, but also all related APIs.

[2020-02-01 05:13] elvaliuliuliu commented on #407
As per offline discussion, `Schema` is not passed in chained UDF in PySpark.

[2020-02-02 01:30] fazal-hotmail opened #412 "Issue when running apache spark in .net CMD"
WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

I have setup the path for dotnet_assembly_search according to microsoft tutorial
OS - Windows 10 - 64X
jdk 8 - 64X

full error message

D:\C# examples\Apache Spark Samples\mySparkApp3>%SPARK_HOME%\bin\spark-submit --class org.apache.spark.deploy.dotnet.DotnetRunner --master

[2020-02-02 01:52] elvaliuliuliu commented on #412
Can you please confirm the jar file and dll exist in the path specified?

[2020-02-02 01:58] fazal-hotmail commented on #412
![image](https://user-images.githubusercontent.com/60559517/73601785-78f13380-458d-11ea-889c-3c52280a6a5a.png)

yes, Please check the image

[2020-02-02 02:06] fazal-hotmail commented on #412
It Worked ! I found the issue.

I have made 2 mistakes.

1. I changed mySparkApp.dll to mySparkApp3.dll in spark-submit command
2. I created text file naming as "input.txt" and changed to "input" because extension is no need.

[2020-02-02 02:06] #412 closed

[2020-02-02 22:57] fabiogouw opened #413 "[BUG]: Error using Spark .NET Interactive Notebook Experiences on HDInsight Spark Cluster"
Hello. I'm trying these steps to enable .NET in Jupyter notebooks in a brand new HDInsight Spark Cluster:
https://github.com/dotnet/spark/tree/master/deployment/HDI-Spark/Notebooks

I'm able to see ".NET Spark (C#)" as an option while creating a new notebook. However, while submitting jobs using Spark .NET (for example, just typing _spark_ and sending this command), I'm receiving this error:

_The

[2020-02-03 00:54] elvaliuliuliu commented on #413
Thanks for your question! Can you attach the full error and output logs from script action?

[2020-02-03 02:29] fabiogouw commented on #413
Sure, here's the information requested:

[code]
And the error
[code]
The lines I've tried were
[code]
and
[code]
Thank you

[2020-02-03 06:53] imback82 commented on #413
[code]
This means that the new livy jars are not being picked up. Most likely you need to remove (please back up) existing livy jars. They should be located under `/usr/hdp/current/livy2-server/`.

I see the following in the installation script:
[code]

I would start looking at the `livy_jar.zip` contents and remove the same files (version should be different) from `/usr/hdp/current/livy2-server/`

[2020-02-03 08:29] ewatson95 commented on #410
Yes that's it - so i want to do:

`            var schema = new StructType(new List<StructField>()
            {
                new StructField("Point", new StringType()),
                new StructField("Status", new StringType()),
                new StructField("Value", new DoubleType()),
                new StructField("Timestamp", new DateType())
            });

DataFrame dataFrame = spark.

[2020-02-03 08:50] elvaliuliuliu commented on #410
@ewatson95, Thanks for providing the example! This is an ongoing work item which will be supported in the upcoming releases. Thanks!

[2020-02-03 20:05] elvaliuliuliu commented on #413
@imback82 Got it, there might be some version different in livy jars, even new livy jars have been copied over, old livy jars (different version) still exist so that new jars are not being picked up. I will update the script to handle this case.

@fabiogouw Have you tried @imback82 's suggestion? Does that work for you?

[2020-02-03 21:08] MikeRys commented on #410
Can we make sure that we use the right datatype in .NET with the right timezone behavior for managing date time values?

E.g., C#’s DateTime datatype does not preserve timezone and uses a property to say if the value should be interpreted as local, system specific or as UTC. Other datatypes give more timezone support.

Thanks
Michael

From: elvaliuliuliu <notifications@github.com>
Sent: Friday, Ja

[2020-02-03 22:01] imback82 commented on #410
FYI, note that there is no timezone involved with [DateType](https://github.com/apache/spark/blob/master/sql/catalyst/src/main/scala/org/apache/spark/sql/types/DateType.scala), but [TimestampType](https://github.com/apache/spark/blob/master/sql/catalyst/src/main/scala/org/apache/spark/sql/types/TimestampType.scala) is in UTC.

[2020-02-03 22:37] MikeRys commented on #410
Thanks. That means we need to set the DateTime.Kind to UTC to keep the semantics.

From: Terry Kim <notifications@github.com>
Sent: Monday, February 3, 2020 2:02 PM
To: dotnet/spark <spark@noreply.github.com>
Cc: Michael Rys <mrys@microsoft.com>; Comment <comment@noreply.github.com>
Subject: Re: [dotnet/spark] [FEATURE REQUEST]: Make the DateTime type available in the create dataframe api (#410)

[2020-02-03 23:11] Niharikadutta commented on #26
@imback82 I can take up DateTime and also expose that type for CreateDataFrame

[2020-02-04 08:15] ewatson95 commented on #410
It seems like TimestampType has a much greater precision and so is the more useful implementation - so if my DateTime object has time associated with it I should be using TimestampType?

[2020-02-04 18:38] imback82 commented on #410
What I am thinking is if you use C# `DateTime`, it will be converted to `DateType`, and a new, C# `Timestamp` class which wraps C# `DateTime` will be introduced to be used for `TimestampType`. All the necessary conversion operator, etc. will be provided. What do you folks think?

[2020-02-04 18:38] imback82 commented on #410
Adding few more folks for discussion: @suhsteve @rapoth @Niharikadutta

[2020-02-05 00:16] fabiogouw commented on #413
@elvaliuliuliu, after putting the following lines in the script and running it again I was able to use .NET in Jupyter! Thank you and @imback82 !

[code]
Ps. No problem just deleting the jars for me, it's just a sandbox cluster.

And about the contents of that folder
[code]

[2020-02-05 00:39] elvaliuliuliu commented on #413
@fabiogouw, Thanks for your updates! This case should be fixed by #415.

[2020-02-06 08:32] Ibrahim-Islam opened #418 "[FEATURE REQUEST]: How to query from Hadoop and deploy in production?"
**Is your feature request related to a problem? Please describe.**
Yes. Dont know how to write a Spark job using .NET for:
1. Query from Hadoop
2. Deploy to production

**Describe the solution you'd like**
Documentation or sample project showing how to query from Hadoop and deploy to production

**Describe alternatives you've considered**
Searched online for samples and resources but could not fin

[2020-02-06 18:04] imback82 commented on #418
@Ibrahim-Islam, can you be more specific to what problems you are encountering? (e.g., what steps did you take? what errors do you see?)

[2020-02-06 20:40] indy-3rdman opened #419 "[FEATURE REQUEST]: Dotnet Backend IPAddress"
**Is your feature request related to a problem? Please describe.**
Currently it is possible to specify a custom port for the Dotnet Backend. However it will only listen on the loopback address.

**Describe the solution you'd like**
Would it be possible to assign a specify the IP-address as well (e.g. 0.0.0.0 for all IPv4 addresses)?

**Additional context**
This would make things easier, if using .

[2020-02-07 04:03] imback82 commented on #419
@indy-3rdman thanks for the suggestion. Note that `DotnetRunner` on the JVM side spawns the .NET application process and starts communicating, thus it's using `localhost`.

I didn't fully get your scenario, but are you trying to run both C# app and spark in the container? Or do you plan to have spark running as a debug mode in the container and run the C# app outside?

Can you try to update
https:

[2020-02-08 00:02] tylorhl opened #421 "[BUG]: Orphaned DotnetBackend thread and .NET process when job cancelled in Databricks"
**Describe the bug**

If a Spark.NET job is run in Databricks and that run is cancelled through Databricks, the .NET process will continue to run after Databricks has considered the job cancelled. The happens with the DotnetBackend thread.

This means that the job will continue to run normally, but Databricks will lose track of its existence.

**To Reproduce**

Steps to reproduce the behavior:
1.

[2020-02-08 00:06] tylorhl commented on #421
I can make the fix and create the PR for this bug on Monday.

[2020-02-08 00:17] elvaliuliuliu commented on #421
@tylorhl, Thanks for your question! I was just wondering how did you come across with this issue (are you testing any scenarios)?

[2020-02-08 00:20] tylorhl commented on #421
@elvaliuliuliu A teammate of mine noticed odd behavior as if our jobs were still running despite no jobs actually running anymore. At some point, he had noticed that there were logs in Databricks's stdout log from our jobs. I looked into it from there and found out the details 🙂

[2020-02-08 07:35] indy-3rdman commented on #419
@imback82 thanks a lot for your reply. The idea is to run .Net for Apache Spark in the container and debug the C# app from the outside, as described in this post https://3rdman.de/2019/10/debug-net-for-apache-spark-with-visual-studio-and-docker.

[2020-02-09 13:30] filipstojakovic opened #423 "spark-submit --version error in cmd"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/intro/install-spark
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

i am having trouble setting up spark in windows 10.
I get an error message "The filename, directory name, or

[2020-02-09 21:27] GoEddie commented on #423
From your command line does "java -version" work?

[2020-02-09 22:11] elvaliuliuliu commented on #423
Can you run `spark-submit` directly in the `C:\bin\spark-2.4.5-bin-hadoop2.7\bin`?

[2020-02-10 08:44] filipstojakovic commented on #423
openjdk version "1.8.0_232"
OpenJDK Runtime Environment (build 1.8.0_232-b09)
OpenJDK 64-Bit Server VM (build 25.232-b09, mixed mode)

[2020-02-10 08:46] filipstojakovic commented on #423
when running full command i get a same error
C:\bin\spark-2.4.5-bin-hadoop2.7\bin\spark-submit --version
The filename, directory name, or volume label syntax is incorrect.

[2020-02-10 08:50] GoEddie commented on #423
Does it have a spark-submit script in the spark bin folder?

[2020-02-10 08:51] filipstojakovic commented on #423
yes

[2020-02-10 21:21] Niharikadutta commented on #423
Can you try setting HADOOP_HOME to some other folder, say `C:/hadoop`, and place winutils.exe inside `C:/hadoop/bin` and see if that fixes/changes anything?

[2020-02-10 21:36] filipstojakovic commented on #423
Everything i tried was of no avail :(
But i notice this message when typing DIR command

C:\bin\spark-2.4.5-bin-hadoop2.7>dir
 Volume in drive C has no label.
 Volume Serial Number is 98DA-5528

 Directory of C:\bin\spark-2.4.5-bin-hadoop2.7

09-Feb-20  01:59 PM    <DIR>          .
09-Feb-20  01:59 PM    <DIR>          ..
09-Feb-20  02:17 PM    <DIR>          bin
09-Feb-20  01:59 PM    <DIR>

[2020-02-10 21:39] GoEddie commented on #423
Can you also type “set” in a command prompt and paste the output (mask things like username etc.) - key ones are path and java_home

[2020-02-10 21:41] filipstojakovic commented on #423
ALLUSERSPROFILE=C:\ProgramData
APPDATA=C:\Users\filip\AppData\Roaming
CommonProgramFiles=C:\Program Files\Common Files
CommonProgramFiles(x86)=C:\Program Files (x86)\Common Files
CommonProgramW6432=C:\Program Files\Common Files
COMPUTERNAME=DESKTOP-BSSOJPH
ComSpec=C:\Windows\system32\cmd.exe
DriverData=C:\Windows\System32\Drivers\DriverData
HADOOP_HOME=C:\bin\hadoop
HOMEDRIVE=C:
HOMEPATH=\Users\fi

[2020-02-10 21:43] GoEddie commented on #423
Ok, set JAVA_HOME to just one path without a ; in so “ C:\Program Files\Java\jdk1.8.0_241” - the spark scripts do %JAVA_HOME%\bin\java so multiple paths with a semi colon cause an error

[2020-02-10 21:49] filipstojakovic commented on #423
Now i get a new error message
C:\bin\spark-2.4.5-bin-hadoop2.7\bin> .\spark-submit --version                                                       The system cannot find the path specified.

[2020-02-10 21:52] GoEddie commented on #423
You only need the .\ in a powershell prompt try spark-shell —version

[2020-02-10 21:58] filipstojakovic commented on #423
i use tab for autocomplete that is why i get .\ at start
In power shell i get a blink/flash of cmd. No message just windows open and closes
in cmd i still get a same error.
Maybe its time to make VM

[2020-02-10 22:00] GoEddie commented on #423
Probably makes sense, if your still getting “ The system cannot find the path specified.” you could use procmon, it is probably your JAVA_HOME path

[2020-02-10 22:02] filipstojakovic commented on #423
I am giving up for now. I will make VM with Linux or windows 7/10 and try again.
Thanks for you help <3

[2020-02-10 22:45] elvaliuliuliu commented on #407
This has been resolved via #411.

[2020-02-10 22:45] #407 closed

[2020-02-11 01:44] imback82 commented on #419
Nice blog post. So, you already have this running with the container, so how would specifying the IP address help further?

By the way, were you able to get your scenario working by changing above files? (You can hard-code the IP and see if it works).

[2020-02-12 02:45] #30 closed

[2020-02-12 14:19] samueleresca commented on #29
Hi @imback82, Can I pick up this one, is it still needed? Do you have any useful advice or suggestions in order to proceed?

[2020-02-12 15:43] Ibrahim-Islam commented on #418
@imback82 Usually any Microsoft product comes with good documentation and examples. I have to write a spark job recently for production so I wanted to understand how I can do that using Spark for .NET.

[2020-02-12 18:43] elvaliuliuliu commented on #418
@Ibrahim-Islam, here are some great resources that can help you get started using .NET for Apache Spark.

- [Tutorial on the .NET website](https://dotnet.microsoft.com/learn/data/spark-tutorial/intro) that helps you write and run your first .NET for Spark app in just 10 minutes.
- [Articles on our official docs page](https://docs.microsoft.com/en-us/dotnet/spark/) that explain various big data and

[2020-02-12 19:47] imback82 commented on #421
fixed by #424

[2020-02-12 19:47] #421 closed

[2020-02-12 19:48] imback82 commented on #413
Fixed by #415

[2020-02-12 19:48] #413 closed

[2020-02-13 05:22] imback82 commented on #29
Thanks for the interest. Frankly, I think it may be an overkill to implement this feature at this point because it will bring too many moving pieces.

However, let me take a look at this one more time and get back to you.

[2020-02-13 05:26] imback82 commented on #29
@samueleresca do you want to work on #28?

[2020-02-13 08:39] samueleresca commented on #29
@imback82 yeah, sure. Proceeding with the #28

[2020-02-15 04:58] #405 closed

[2020-02-17 15:48] Ibrahim-Islam commented on #418
@elvaliuliuliu Any examples that show getting data from Hadoop?

[2020-02-18 19:36] elvaliuliuliu commented on #418
@Ibrahim-Islam: Can you please specify the scenarios you are working on? (e.g. are you running your application locally or in the cluster?)

[2020-02-19 05:46] #389 closed

[2020-02-19 07:57] borgdylan opened #426 "[BUG]: Spark has to be restarted if using UDFs and recompiling"
Whenever I use UDFs in an application utilizing .NET for Spark, and recompile the application regardless of whether I change the UDF code or not, the Spark worker no longer manages to load the UDF when it has to be executed as part of a query. The only workaround I found is to restart the Spark process before each run. This is OK when doing data science on a desktop, but not so if using Spark for

[2020-02-19 08:05] elvaliuliuliu commented on #426
Thanks for your question. Can you please provide minimum repro (e.g. the command you use, a code snippet, etc.)?

[2020-02-19 11:21] Ibrahim-Islam commented on #418
Currently running locally only for testing purposes. If this framework results to be useful then we can think about deploying to production.

[2020-02-19 12:48] borgdylan commented on #426
I will code up a minimum repro after work and submit it here. When I encountered this I was using a non c# programming language so the repro will be in that same language. You will need desktop/mono msbuild to compile the code and .net core to run it. The language has no VS support so I will post the relevant command line steps to run it or leave a tasks.json for use with VSCode.

[2020-02-19 12:54] borgdylan commented on #426
I has encoutntered this issue on v0.6.0. SInce there were UDF changes in v0.9.0, should I try with that version and see if it persists?

[2020-02-19 17:17] michael-damatov opened #427 "[FEATURE REQUEST]: Job Cancellation"
**Is your feature request related to a problem? Please describe.**
With Databricks I'm always able to _cancel_ a job. Is such a case I would like to get notified when the process is about to be closed or killed.

**Describe the solution you'd like**
A _cancellation token_ that is signaled when the job is canceled. The cancellation token can be used to cancel internal tasks.

[2020-02-19 18:16] imback82 commented on #427
@michael-damatov Can you check which signal gets sent (or what behavior you see) to `DotnetRunner` (scala) when a job is cancelled in Databricks? You can check #424 description, and if `process.destory` is called, you can handle it via `AppDomain.CurrentDomain.ProcessExit`.

[2020-02-19 18:20] elvaliuliuliu commented on #426
The v0.9.0 has the new feature to support UDF that returns `Row` object, if you want to try the new feature, you can use v0.9.0, otherwise I would recommend to provide a minimum repro. Thanks!

[2020-02-19 18:20] imback82 commented on #426
@borgdylan can you try setting `spark.python.use.daemon` to `false`? This will start a new process for each task, so it should pick up the new dlls (but at a bit of perf cost).

[2020-02-19 19:33] #423 closed

[2020-02-19 20:04] ravshMSFT commented on #389
I am getting same error when I do dataframe.collect().ToList() though my dataframe does not contains any complex types. It has just string, int and decimals.

Any idea why it is failing for me ?

System.NotImplementedException: The method or operation is not implemented.
   at Microsoft.Spark.Sql.Row.Convert()
   at Microsoft.Spark.Sql.RowConstructor.GetRow()
   at Microsoft.Spark.Sql.RowCollector

[2020-02-20 05:21] imback82 commented on #389
@ravshMSFT, can you paste your schema for this dataframe? (`datafarme.PrintSchema()`)

[2020-02-20 05:43] ravshMSFT commented on #389
Here is the schema from dataframe
root
 |-- DataAreaId: string (nullable = true)
 |-- JobId: string (nullable = true)
 |-- WrkCtrDigitalId: string (nullable = true)
 |-- ActualQty: long (nullable = false)
 |-- RequestedQty: decimal(8,2) (nullable = true)
 |-- ExpectedQty: double (nullable = true)
 |-- ProductionRateDeviationThreshold: string (nullable = true)

[2020-02-20 07:30] elvaliuliuliu commented on #389
Can you try with [Spark.NET v0.9.0](https://github.com/dotnet/spark/releases/tag/v0.9.0)? I think this should work with the new version.

[2020-02-20 08:10] borgdylan commented on #426
@imback82 How and where do I set it? On the spark-submit commandline?

[2020-02-20 08:13] michael-damatov commented on #427
@imback82 Do I need v0.9.0? Or the observed behavior should be the same with v0.8.0?

[2020-02-20 08:28] imback82 commented on #427
#424 is a part of v0.9.0, so please try with v0.9.0.

[2020-02-20 08:29] imback82 commented on #426
Yes, with `--conf` or when you create a `SparkSession`.

[2020-02-20 17:52] ravshMSFT commented on #389
code from 0.5.0. Seems decimal type also not implemented.

private void Convert()
        {
            foreach (StructField field in Schema.Fields)
            {
                if (field.DataType is ArrayType)
                {
                    throw new NotImplementedException();
                }
                if (field.DataType is MapType)
                {
                    throw new

[2020-02-20 20:55] borgdylan commented on #426
@imback82 That works. Using the config I coudlchange my code without restarting spark and I did not get the usual BadImageFormatException. The eception only happens when using UDFs that link to external libraries such as Newtonsoft or BouncyCastle.

[2020-02-20 20:58] borgdylan commented on #426
[sparkrepro.zip](https://github.com/dotnet/spark/files/4232985/sparkrepro.zip)

[2020-02-20 21:00] imback82 commented on #426
What are the exception messages? Are you shipping those external libraries along with UDF dlls?

[2020-02-20 21:03] borgdylan commented on #426
To run the repro you will need Desktop MSBuild. The project has a .vscode subfolder set up to build with msbuild found via PATH and to debug via .NET Core 3.1. It is using .NET for Spark v0.9.0. You will need to change the default rid in the .dylproj file to the one suitable for your machine. After building, you have to copy the people.json (dataset) file to the output directory where all the bina

[2020-02-20 21:08] borgdylan commented on #426
[dylandotnet-vsc.zip](https://github.com/dotnet/spark/files/4233020/dylandotnet-vsc.zip)

[2020-02-20 21:09] borgdylan commented on #426
I am running from the output directory which includes the referenced dll files.

[2020-02-21 19:57] ravshMSFT commented on #389
Upgraded to 0.9.0 and this issue is resolved.

[2020-02-24 12:47] MaxKhlupnov commented on #325
Example works! Thanks @joperezr !
I have to reference package not jars

spark-submit --packages com.microsoft.azure:azure-eventhubs-spark_2.11:2.3.13 --class org.apache.spark.deploy.dotnet.DotnetRunner --master local  microsoft-spark-2.4.x-0.7.0.jar TestSparkStreaming.exe

[2020-02-25 20:17] fabiogouw opened #430 "[BUG]: SerializationException when using the Foreach method in streaming"
I'm trying to run a streaming application that reads from Kafka and uses the Foreach sync. However, when I run my application, just after I put some data in the Kafka topic, I got this error:

_org.apache.spark.api.python.PythonException: System.Runtime.Serialization.SerializationException: Unable to find assembly 'StreamingDemo, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null'._  (Streaming

[2020-02-25 20:30] imback82 commented on #430
[code]

Can you check if the assembly is available on the worker? https://github.com/dotnet/spark/blob/master/docs/deploy-worker-udf-binaries.md

[2020-02-25 21:17] fabiogouw commented on #430
Thanks for your quick response! After setting the env DOTNET_ASSEMBLY_SEARCH_PATHS I no longer got that serialization error. However, a new one appeared as soon as the application starts: _Could not get or parse batch id from TaskContext - batchId:_

Any clues on how to handle it?

[code]

[2020-02-25 21:52] elvaliuliuliu commented on #430
@fabiogouw : Thanks for your question. I will take a look and get back to you.

[2020-02-26 14:52] el-genius opened #434 "not working"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/run
Operating System: windows

 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
20/02/26 17:42:52 INFO DotnetRunner: Starting DotnetBackend with D:/Projects/Test/Pro

[2020-02-26 17:18] elvaliuliuliu commented on #434
I see the error `Path does not exist: file:/D:/Projects/Test/ProcessStreaming/ProcessStreamPOC/input.txt; `, can you make sure input.txt exists in the path specified?

[2020-02-26 17:29] el-genius commented on #434
no, I'm sure the path is correct the problem in jvm bridge i think but i don't know the reason

[2020-02-26 17:41] elvaliuliuliu commented on #434
Can you make sure please? Please refer to https://github.com/dotnet/spark/issues/396.

[2020-02-26 17:55] el-genius commented on #434
different error

[2020-02-26 18:03] elvaliuliuliu commented on #434
Can you point out what different error you are seeing?

And please provide the code snippet and command you are using.

[2020-02-26 18:52] el-genius commented on #434
code is the same in microsoft example get started

[2020-02-26 19:19] elvaliuliuliu commented on #434
I noticed that your `Program.cs` is in `D:\Projects\Test\ProcessStreaming\ProcessStreamPOC\Test\Program.cs` **Test** folder. Please make sure `input.txt` and `Program.cs`  are in the same folder.

[2020-02-26 19:26] el-genius commented on #434
yes in the same folder and i try to pass it as an argument but also the same error

[2020-02-26 19:34] el-genius commented on #434
also i try to debug but i couldn't.
there is any way to debug to make it easy for me to identify the issue

[2020-02-26 19:56] elvaliuliuliu commented on #434
Can you try with specifying the full path of `input.txt`? Like `DataFrame dataFrame = spark.Read().Text("D:/Projects/Test/ProcessStreaming/ProcessStreamPOC/Test/Program.cs/input.txt");`

You can check [how to debug .NET for Apache Spark application](https://docs.microsoft.com/en-us/dotnet/spark/how-to-guides/debug).

[2020-02-26 23:41] fabiogouw commented on #430
@elvaliuliuliu, it seems that the latest version of the binaries (0.10.0) has corrected the _Could not get or parse batch id from TaskContext_ exception.

[2020-02-27 00:05] Niharikadutta commented on #434
@el-genius Please try out @elvaliuliuliu  suggestion and let us know if it solves your issue. Also we have released 0.10.0 version, please try with this latest version.

[2020-02-27 00:48] Niharikadutta commented on #430
@fabiogouw Are you able to run your application successfully now?

[2020-02-27 04:35] el-genius commented on #434
after update to new release the error changed to be:

Unhandled Exception: System.IO.FileNotFoundException: Could not load file or assembly 'System.Runtime, Version=4.2.2.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified.

[2020-02-27 05:20] elvaliuliuliu commented on #430
@fabiogouw, good to hear that it works for you! So the only change you made is to upgrade to v0.10.0, right? Are you able to successfully run the whole application now?

[2020-02-27 06:40] el-genius commented on #434
It's working (Y)
I think it's the path of the file because it's not in the build location
Thank you

[2020-02-27 06:40] #434 closed

[2020-02-27 10:54] fabiogouw commented on #430
Yes, now I'm able to run my IForachWriter implementation. I'm wondering what has changed in order to dismiss that error. Thank you.

[2020-02-28 05:32] elvaliuliuliu commented on #430
You can check the [release note](https://github.com/dotnet/spark/releases) regarding the changes. Actually, I don't think .NET for Apache Spark v0.10.0 has related changes regarding to this specific issue. Have you changed `Microsoft.Spark.Worker` by any chance?

[2020-02-28 16:33] aslotte opened #435 "Unable to find Spark Driver after 16 retries"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/run
Operating System: windows

When following the initial setup steps, I got an error saying it `Service SparkDriver failed after 16 retries`

I solved this by adding `.Config("spark.driver.host","127.0.0.1")` to the code building my `SparkSession`, which finally looked like:
[code]

[2020-02-28 16:42] elvaliuliuliu commented on #435
Can you share the full log?

[2020-02-28 16:52] aslotte commented on #435
[code]

[2020-02-29 04:57] imback82 commented on #435
Can you share your `spark-submit` command?

Btw, any reason why you want to set the driver address explicitly? Can you also try setting ` SPARK_LOCAL_IP` env variable to `127.0.0.1` or try `.Config("spark.driver.bindAddress", "127.0.0.1")`?

[2020-02-29 04:57] imback82 commented on #430
The new release should not have affected the behavior. Since it's working, I am closing this issue.

[2020-02-29 04:57] #430 closed

[2020-02-29 04:58] imback82 commented on #427
@michael-damatov did you get a chance to try this?

[2020-02-29 05:03] imback82 commented on #418
@Ibrahim-Islam do you mean to read data from wasb or abfs?

[2020-02-29 15:29] aslotte commented on #435
Here's the command I'm using:
[code]

The only reason I added the driver address explicitly was because that came up as a solution to this problem when googling it. Thanks!

[2020-02-29 18:23] imback82 commented on #435
Got it. Did `SPARK_LOCAL_IP` or `spark.driver.bindAddress` help you, or no?

[2020-02-29 18:23] #401 closed

[2020-03-01 08:59] Ibrahim-Islam commented on #418
We have our own HDFS and would like to read from that

[2020-03-01 09:11] imback82 commented on #418
Did you try `hdfs` protocol like `"hdfs://localhost:9000/user/hduser/data/testfile"`?

[2020-03-02 11:04] zwitbaum opened #436 "[BUG]: Null values cannot be read from DataFrame"
**Describe the bug**
While trying to read a null value from a DataFrame a NullReferenceException occurred:
[code]

**To Reproduce**

Steps to reproduce the behavior:
1. Create a DataFrame with a null value. Try to enumerate the rows:
[code]
2. NullReferenceException is thrown (see above)

**Additional info**
[code]

**Expected behavior**
- row.Get("Date") returns null instead of throwing the NRE
-

[2020-03-02 12:35] el-genius opened #437 "[BUG]: AwaitTermination"
**Describe the bug**
I try to create a demo for the structure stream that exists at the dotNET channel on youtube.
but I face some errors here at AwaitTermination()

**Exception**
[2020-03-02T12:19:29.1959590Z] [TTC-PC-146] [Debug] [ConfigurationService] Using the environment variable to construct .NET worker path: C:\Spark\Microsoft.Spark.Worker-0.8.0\Microsoft.Spark.Worker.exe.
DotnetWorker PID:

[2020-03-02 16:08] imback82 commented on #437
Can you make sure `NetCatStream.dll` is available on the worker side by following https://github.com/dotnet/spark/blob/master/docs/deploy-worker-udf-binaries.md?

[2020-03-02 16:14] imback82 commented on #436
@zwitbaum Thanks for reporting. This looks like a valid bug. @elvaliuliuliu Can you help fixing this? Note that null should be handled correctly for both reference types and value types (`int`, `double`, etc.)

For a workaround, you can either catch the `NullReferenceException` on your side or drop null rows by using `Na().Drop()` on your dataframe before collecting rows (if it makes sense for you

[2020-03-02 16:42] elvaliuliuliu commented on #436
@zwitbaum Thanks for reporting this. I will take a look and update.

[2020-03-02 16:57] michael-damatov commented on #427
@imback82 I've tried this with 0.10.0. The `AppDomain.CurrentDomain.ProcessExit` event is **not** signaled when I cancel the job in Databricks.

[2020-03-02 17:11] imback82 commented on #427
@tylorhl Do you happen to know how to propagate the "cancellation" message to C# process in Databricks?

[2020-03-02 18:44] tylorhl commented on #427
@imback82 It should be caught with `AppDomain.CurrentDomain.ProcessExit` as you mentioned. This has been working reliably for me.

@michael-damatov What's your test for checking if the registered `ProcessExit` event was fired? Something to note is that writing to `Console` will not work once `process.destroy` has been called as Java closes stdin, stdout, and stderr for `process` immediately after

[2020-03-02 23:03] michael-damatov commented on #427
@tylorhl  I've seen the notes in #424 about closed standard streams, so I'm trying to create a new empty blob in a blob storage when the `ProcessExit` event is fired. Any idea how else could I test this?

[2020-03-02 23:21] tylorhl commented on #427
@michael-damatov When I needed to verify that it was working, I was having my `ProcessExit` event just write an arbitrary string to a file under `/dbfs/` via `File.WriteAllText(string,string)`. It worked well both for me testing #424 and after uptaking the 0.9.0 release in a project.

[2020-03-03 05:10] el-genius commented on #437
Ok, it's working
thank you

But I got another issue in respond or not expected when I didn't use UDF let me share sample code
I get a stream from Netcat ok.
`var words = lines.Select(
                Explode(
                    Split(Col("value"), " ")).Alias("word"));
            var wordCounts = words.GroupBy("word").Count().Alias("count");

            var q = wordCounts.WriteStream().OutputMo

[2020-03-03 06:21] el-genius commented on #437
Also, I try example here for windowing  because I guess the problem in windowing but still

[2020-03-03 07:09] imback82 opened #438 "[FEATURE REQUEST]: Running an C# executable under a directory for spark-submit"
**Is your feature request related to a problem? Please describe.**
Currently, if you run the following:
[code]
where `runner.exe` exists under `dir` directory when `run.zip` is unzipped.

**Describe the solution you'd like**
`DotnetRunner.resolveDotnetExecutable` should be able to handle this case.

[2020-03-03 07:23] elvaliuliuliu commented on #438
I will work on this.

[2020-03-03 07:25] imback82 commented on #438
Thanks @elvaliuliuliu!

[2020-03-03 11:50] michael-damatov commented on #427
@tylorhl now I see that the `ProcessExit` event is fired. However, I wanted to see how much time would I have to cancel my routines, so I've used the event handler (s. below), just to see how far it comes. The method should create a new file every 100 ms.

As a result I only see the `/dbfs/mytemp/process_exit_0` file created. **Is the conclusion correct that I only have less than 100 ms?**

[code]

[2020-03-03 16:20] tylorhl commented on #427
@michael-damatov My guess is that it's because the handler is async, though I haven't tested it. Once `ProcessExit` has finished firing all registered handlers, the process will exit. In the case of your code snippet, being `async void`, my guess is that `ProcessExit` finishes once `await` is hit. What happens if you change `await Task.Delay(100).ConfigureAwait(false)` to `Task.Delay(100).GetAwait

[2020-03-04 09:22] michael-damatov commented on #427
@tylorhl Thanks for the tip, now I see that the `ProcessExit` method is running for ca. 5 full seconds and is interrupted between the 5th and 6th second (as promised). 👍

The next question is after I've got a signaled cancellation token whether I could stop a long running task like writing a data frame to DBFS `dataFrame.Write().Save(...)`. Or should I just let the process die (so the "write" oper

[2020-03-04 16:05] tylorhl commented on #427
@michael-damatov Glad it worked out 😁

Unfortunately I don't have a good answer as far as cancelling a call to Spark goes. Since those calls are delegated to the JVM, there isn't much that can be done on the .NET side unless Spark decides to add some asynchronous cancellation mechanism for `dataFrame.Write().Save(...)`. My best suggestion would be to check on a `CancellationToken` for a cancellati

[2020-03-04 20:09] elvaliuliuliu commented on #384
@zwitbaum: Just FYI, we have opened a ticket with Azure Databricks, this is currently being investigated. I will update you once I hear back from them.

[2020-03-05 04:01] #438 closed

[2020-03-05 14:24] el-genius opened #447 "[QUESTION]:"
**Describe the bug**
I try to run that example
spark/examples/Microsoft.Spark.CSharp.Examples/Sql/Streaming/

good news:
 it's run
bad news:
 it takes much more time to represent data on the console
I didn't know what is the reason
So, if you've any expecting reason for that please share with me

[2020-03-05 17:22] elvaliuliuliu commented on #447
@el-genius , thanks for your question. Can you please provide the command line you use and the full log?

[2020-03-05 17:33] imback82 commented on #447
@el-genius You can try with `--master local[*]` as part of `spark-submit` or you can set `spark.sql.shuffle.partitions` config to a low number like 3. That should speed things up.

[2020-03-06 08:10] michael-damatov commented on #427
@tylorhl When I cancel a job, the Databricks also cancels JVM operations, so it works as expected.

Regarding the data consistency: interrupting the "write" operation using the _delta_ format does not break the data (the new version is simply not committed).

[2020-03-06 08:10] #427 closed

[2020-03-06 11:43] el-genius commented on #447
@elvaliuliuliu
this is command line
`spark-submit --class org.apache.spark.deploy.dotnet.DotnetRunner --master local bin\Debug\netcoreapp3.1\microsoft-spark-2.4.x-0.10.0.jar dotnet bin\Debug\netcoreapp3.1\NetCatStream.dll`

I'll share full log on Sunday morning.

[2020-03-06 11:52] el-genius commented on #447
@imback82
I set `--master local` as you see in command line I used.
so, try to explain how to play with config is it setting in code?

[2020-03-06 17:25] elvaliuliuliu commented on #447
@el-genius: You can set the config in the code or in the command like `spark-submit --conf spark.sql.shuffle.partitions=3`

Or try use `--master local[*]` instead of `--master local`, It will run Spark locally with as many worker threads as logical cores on your machine.

[2020-03-06 17:42] el-genius commented on #447
good, I'll try that them inform you that make things run better or not.
thank you for your help

[2020-03-07 04:57] imback82 commented on #437
I am closing this since the last question is same as #447.

[2020-03-07 04:57] #437 closed

[2020-03-07 04:58] imback82 commented on #419
@indy-3rdman Any update on this?

[2020-03-07 09:30] indy-3rdman commented on #419
@imback82 I'm really sorry for the delay. However, it is still on my todo list.

[2020-03-08 04:50] el-genius commented on #447
I tried `--master local[*]` and `spark-submit --conf spark.sql.shuffle.partitions=3`
It did better but when I used the same example using python, I got the result immediately without any configuration could you tell me the reason behind that?

[2020-03-08 05:00] imback82 commented on #447
Can you share the python script? And did you run it thru `pyspark` or `spark-submit`?

[2020-03-08 05:04] el-genius commented on #447
using pyspark the code almost the same in C# like python both using netcat by the sameway and perform the same calculation on words

[2020-03-08 05:05] imback82 commented on #447
Can you paste the script here? Thanks.

[2020-03-08 05:07] el-genius commented on #447
`import sys
from pyspark.sql import SparkSession
from pyspark.sql.functions import explode
from pyspark.sql.functions import split

# Check that correct number of args have been passed as input
if __name__ == "__main__":

    if len(sys.argv) != 3:
        print("Usage: spark-submit m01_demo01_netcat.py <hostname> <port>", file=sys.stderr)
        exit(-1)

    # Extract host and port from args

[2020-03-08 05:09] imback82 commented on #447
@elvaliuliuliu Can you help repro this?

[2020-03-08 05:22] elvaliuliuliu commented on #447
@imback82 : Sure, I will follow up on this!

@el-genius : Thanks for your question. I will take a look and update.

[2020-03-08 05:40] elvaliuliuliu commented on #447
@el-genius : Can you provide the detailed information on how long does each language take the program to finish?

[2020-03-08 06:09] el-genius commented on #447
@elvaliuliuliu
In C# I can write in the terminal word then another word before processing
In Python once I write the word the process finish

[2020-03-08 07:45] el-genius commented on #447
if you want I provide you with C# code also it's Ok to but I'm sure code in both C# and Python are the same

[2020-03-09 11:23] elvaliuliuliu commented on #447
@el-genius, Can you try run Python example with `spark-submit` to compare?

I have run C# and Python with `spark-submit`, If used `--master local`, both C# and Python takes ~55s for each batch; If used **without** `--master local`, both C# and Python takes ~12s for me.

The behavior looks pretty much the same across these two languages. Can you please try and update here?

[2020-03-09 11:25] el-genius commented on #447
Ok I'll try both and update ou here

[2020-03-09 11:36] el-genius commented on #447
@elvaliuliuliu
are you tried with `spark.sql.shuffle.partitions=3` or without ?

[2020-03-09 11:49] elvaliuliuliu commented on #447
I tried without it, but as long as you run the exact same settings for both, then it will be comparable.

[2020-03-09 17:17] indy-3rdman commented on #419
@imback82 Just built a test image with the two changes and that seems to work fine:

Line 32

` _innerSocket.Bind(new IPEndPoint(IPAddress.Any, 0));`

Line 60

`channelFuture = bootstrap.bind(new InetSocketAddress("0.0.0.0", portNumber))`

Not sure where this leaves us, though, as this probably should be configurable, shouldn't it?

[2020-03-09 17:42] rmart10 opened #448 "Issue Following Tutorial"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/run
Operating System: windows

Thought I followed the tutorial to a tee, got the following when attempting to run the code:

`c:\Users\Username\mySparkApp\bin\Debug\netcoreapp3.1>mySparkApp.exe
[2020-03-09T17:37:05.7783466Z] [MachineName] [Info] [ConfigurationService] 'DOTNETBAC
KEND_PORT' environment variable is not set

[2020-03-09 17:50] elvaliuliuliu commented on #448
Thanks for your question. Can you share the command you use to run?

[2020-03-09 17:55] rmart10 commented on #448
Sure can, I initially just used command prompt window and CD'd into the dir with the exe (which did compile successfully):

C:\Users\[me]>cd C:\Users\[me]\mySparkApp\bin\Debug\netcoreapp3.1

C:\Users\[me]\mySparkApp\bin\Debug\netcoreapp3.1>mySparkApp.exe

I got the same results however by opening up VS and debugging via IDE.

Thank you!

[2020-03-09 17:57] elvaliuliuliu commented on #448
Please follow the command line in the tutorial to run:
`%SPARK_HOME%\bin\spark-submit --class org.apache.spark.deploy.dotnet.DotnetRunner --master local bin\Debug\netcoreapp3.1\microsoft-spark-2.4.x-0.10.0.jar dotnet bin\Debug\netcoreapp3.1\mySparkApp.dll `

[2020-03-12 22:39] joperezr commented on #286
@imback82 I believe you mentioned in the past that this one was done already, is that right?

[2020-03-13 03:36] imback82 commented on #286
@joperezr I may have misunderstood or misspoken about this. I meant this feature: https://github.com/dotnet/spark/blob/master/src/csharp/Microsoft.Spark.E2ETest/UdfTests/UdfComplexTypesTests.cs#L84. Sorry about confusion.

[2020-03-13 16:29] joperezr commented on #286
I see no problem, that other one was actually also something I hit during the port so great to know that one is fixed.

[2020-03-14 07:42] elvaliuliuliu commented on #448
@rmart10 : Does the precious suggestion work for you?

[2020-03-14 07:43] elvaliuliuliu commented on #447
@el-genius : Do you have an update for the comparison as per suggestion?

[2020-03-17 04:04] elvaliuliuliu commented on #384
@zwitbaum : We had a discussion with Databricks today and will get back to you once there are any updates from their side.

[2020-03-18 14:15] alexoss68 commented on #384
Another way around is using the compatible python version in dotNet app so it matches spark cluster

[2020-03-18 22:22] jimishbhayani opened #450 "[BUG]: DataFrame.Count() method fails"
**Describe the bug**
Getting following error when running DataFrame.Count().

[2020-03-18T21:53:59.8533131Z] [wn15-o365cc] [Exception] [JvmBridge] JVM method execution failed: Nonstatic method count failed for class 36 when called with no arguments
   at Microsoft.Spark.Interop.Ipc.JvmBridge.CallJavaMethod(Boolean isStatic, Object classNameOrJvmObjectReference, String methodName, Object[] args)
Sy

[2020-03-18 22:24] elvaliuliuliu commented on #450
I will take a look!

[2020-03-18 22:34] elvaliuliuliu commented on #450
@jimishbhayani : Can you paste the full log here and the cmd you used to submit the job? Thank you!

[2020-03-18 23:26] jimishbhayani commented on #450
Seems to be known issue. Closing the duplicate issue.

[2020-03-18 23:26] #450 closed

[2020-03-19 03:17] Niharikadutta commented on #393
Hi @GoEddie, Thanks for reaching out and apologies for the delay in getting back about this. We had a discussion in the team and we were wondering if you would be open to the idea of an office hour perhaps bi-weekly where we can discuss any open issues or other questions you might have. Please let us know if that works, and we can set up a Teams meeting at the decided frequency.

Thanks!

[2020-03-19 08:35] elvaliuliuliu commented on #384
Which compatible python version you mean here? For example, error shows the python version "0.4.0" mismatches, this version is from `Microsoft.Spark.Worker.exe`.
So looks like the logic plan is correct, but when sending it to driver in the cluster through `databricks-connect`, the `Microsoft.Spark.Worker.exe` is overrided by `worker.py`.

[2020-03-19 14:06] alexoss68 commented on #384
Are you sure that spark cluster runs Microsoft.Spark.Worker.exe? Why Microsoft.Spark.Worker.exe uses python version "0.4.0" which is quite old.

[2020-03-20 00:24] mrpaulandrew commented on #312
This still needs fixing please. Or, at least update the tutorial with a note about the known bug.

[2020-03-20 00:55] imback82 commented on #312
@bamurtaugh Can you help updating the tutorial with this info?

[2020-03-20 17:59] bamurtaugh commented on #312
@imback82 Absolutely, just let me know what you folks think the update should say. I can then open a PR to update the website tutorial.

[2020-03-21 04:47] imback82 opened #453 "[FEATURE REQUEST]: Microsoft.Spark.Worker backward compatible tests"
Currently, it's hard to keep track of backward compatibility of pervious workers, and it would be nice to set up tests (as a part of check in pipeline) so that the current E2E tests run against the oldest worker that is compatible.

[2020-03-22 18:24] Velociraptor115 opened #455 "[FEATURE REQUEST]: Allow UDF that returns Row to be registered using UDFRegistration"
The implementation of UDF that can return custom Row object as requested in #117 has been done.
However, the APIs for UDF registration haven't been updated to support custom return type

We need to add similar set of methods in UDFRegistration.cs that takes a custom return type as a parameter

[2020-03-22 20:47] imback82 opened #458 "[FEATURE REQUEST]: Subscribe to get automatic updates from dotnet/arcade"
Instead of manually updating dotnet/arcade dependency, we should subscribe our repo to get automatic updates from “.NET Eng - Latest” channel using darc add-subscription:
https://github.com/dotnet/arcade/blob/master/Documentation/Darc.md#add-subscription

[2020-03-23 03:10] skyridder opened #459 "[Question]: Does dotnet spark support mapWithState now ?"
Does dotnet spark support mapWithState now ? If so, how to use it ?

[2020-03-23 06:05] imback82 commented on #459
@skyridder Spark Streaming (DStream) APIs (including `mapWithState`) are not supported in .NET for Apache Spark. You can use newer Structured Streaming APIs instead.

[2020-03-23 07:21] skyridder commented on #459
----------------
Thanks for reply.
My goal is to store calculate result in redis and take it as a new condition at next calculation.
Can I achive the goal by using “newer Structured Streaming API” ?

[2020-03-23 07:23] skyridder commented on #459
Thanks for reply.
My goal is to store calculate result in redis and take it as a new condition at next calculation.
Can I achive the goal by using “newer Structured Streaming API” ?

[2020-03-24 05:43] imback82 commented on #459
@skyridder Can you check https://spark.apache.org/docs/latest/structured-streaming-programming-guide.html to Structured Streaming APIs? Stateful operations like `mapGroupsWithState` are only supported in Java/Scala (and not in Python which .NET for Apache Spark piggybacks on).

[2020-03-24 05:44] imback82 commented on #448
@rmart10 Please reopen the issue if the solution provided by @elvaliuliuliu didn't solve your issue.

[2020-03-24 05:44] #448 closed

[2020-03-24 09:33] #459 closed

[2020-03-27 03:43] bigbigword3 opened #460 "[Question]: save data to mongodb error"
**Describe the bug**
this is my codes, read data from mongo is correct,but when i want to write back to mogno,then throw a error.
`            SparkSession spark = SparkSession.Builder()
            .AppName("MongoSparkConnectorIntro")
            .Config("spark.network.timeout", 2000000)
            .Config("spark.driver.port", "32772")
            .Config("spark.driver.host", "127.0.0.1")

[2020-03-27 03:45] imback82 commented on #460
@bigbigword3 Can you share the full error log please?

[2020-03-27 03:47] bigbigword3 commented on #460
Message：
JVM method execution failed: Nonstatic method writeStream failed for class 23 when called with no arguments
StackTrace:
   at Microsoft.Spark.Interop.Ipc.JvmBridge.CallJavaMethod(Boolean isStatic, Object classNameOrJvmObjectReference, String methodName, Object[] args)
   at Microsoft.Spark.Interop.Ipc.JvmBridge.CallNonStaticJavaMethod(JvmObjectReference objectId, String methodName, Object

[2020-03-27 03:48] imback82 commented on #460
Can you share the "full" log?

[2020-03-27 03:49] bigbigword3 commented on #460
System.Exception
  HResult=0x80131500
  Message=JVM method execution failed: Nonstatic method writeStream failed for class 23 when called with no arguments
  Source=Microsoft.Spark
  StackTrace:
   at Microsoft.Spark.Interop.Ipc.JvmBridge.CallJavaMethod(Boolean isStatic, Object classNameOrJvmObjectReference, String methodName, Object[] args)
   at Microsoft.Spark.Interop.Ipc.JvmBridge.CallNonStati

[2020-03-27 03:52] imback82 commented on #460
There should be more logs on the JVM side. How are you running this? Can you copy/paste the whole thing from the command line?

[2020-03-27 03:57] bigbigword3 commented on #460
F:\XXX\HelloSpark\bin\Debug\netcoreapp3.1>spark-submit --class org.apache.spark.deploy.dotnet.DotnetRunner --master local  microsoft-spark-2.4.x-0.10.0.jar dotnet HelloSpark.dll
20/03/27 11:54:07 ERROR Shell: Failed to locate the winutils binary in the hadoop binary path
java.io.IOException: Could not locate executable F:\spark\hadoop-2.7.7\bin\winutils.exe in the Hadoop binaries.
        at org.a

[2020-03-27 04:01] imback82 commented on #460
Here is your issue:
[code]

If you want to use `writeStream`, your dataframe should be created with `readStream`.

[2020-03-27 04:05] bigbigword3 commented on #460
can you tell me ?

[2020-03-27 04:08] bigbigword3 commented on #460
i changed ,but no use,this is my codes

`            Debugger.Launch();

            var spark2 = SparkSession.Builder().GetOrCreate();
            var df2 = spark2.Read().Json("people.json");
            df2.Show();

            SparkSession spark = SparkSession.Builder()
            .AppName("MongoSparkConnectorIntro")
            .Config("spark.network.timeout", 2000000)
            .Config("sp

[2020-03-27 04:08] imback82 commented on #460
You can try something like `df.write.format("mongo").mode("append").save()`

[2020-03-27 04:09] imback82 commented on #460
Do you need streaming? Can you first get the non-streaming work first? Something like `df.write.format("mongo").mode("append").save()`

[2020-03-27 04:10] imback82 commented on #460
Check this example: http://docs.mongodb.com/spark-connector/master/python/write-to-mongodb/

[2020-03-27 05:11] bigbigword3 commented on #460
thanks, it works. it is my codes：
 ` var structFields = new List<StructField>() {`
 ``
 `    new StructField("_id", new StringType()),`
 ``
 `    new StructField("Name", new StringType()),`
 ``
 `    new StructField("Price", new IntegerType()),`
 ``
 `};`
 ` var schema = new StructType(structFields);`
 ` var frame = spark.CreateDataFrame(new List<GenericRow> { new GenericRow(new object[] { "001",

[2020-03-27 05:15] imback82 commented on #460
Great!

[2020-03-27 05:15] #460 closed

[2020-03-28 17:52] imback82 opened #462 "[FEATURE REQUEST]: Forward compatibility E2E tests"
Similar to #453, I think it's equally important to have forward compatibility tests. There are scenarios where the version of worker binaries is newer than the client side Nuget. This testing framework should help easily identify the forward compatibility.

For this, we need to set up a new project that depends on old Microsoft.Spark Nuget, and run it against the Worker in the master branch. One i

[2020-03-28 17:56] imback82 commented on #462
@elvaliuliuliu Can you help on this?

[2020-03-28 17:59] imback82 commented on #408
@JoseTala23 I hope that the suggestion worked out for you. Feel free to reopen the issue if it didn't work.

[2020-03-28 17:59] #408 closed

[2020-03-28 18:37] elvaliuliuliu commented on #462
Sure, I will work on this!

[2020-03-29 20:24] GoEddie commented on #393
Hi,

Yes anything like that would be interesting, I wouldn’t want to cause extra work so maybe monthly or every other month?

Ed

[2020-03-30 06:35] imback82 commented on #455
Fixed by #456.

[2020-03-30 06:35] #455 closed

[2020-03-31 03:34] Niharikadutta commented on #393
@GoEddie yes I think monthly would work great. Could you please provide us with your preferred email id and I will set up a monthly Teams meeting. Thanks!

[2020-03-31 05:52] bigbigword3 opened #465 "[Question]: spark.Sql insert data to hive error"
this is my codes:
`        private static void HiveTest()
        {
            var spark = SparkSession.Builder()
                .Config("spark.sql.warehouse.dir", "/user/hive/warehouse2/")
                .EnableHiveSupport().GetOrCreate();
            //spark.Sql("create database hive_test_db");
            spark.Sql("use hive_test_db");
            spark.Sql("show tables").Show();

[2020-03-31 05:58] imback82 commented on #465
You don't need to specify column names when you use `INSERT INTO`: https://docs.databricks.com/spark/latest/spark-sql/language-manual/insert.html

[2020-03-31 06:14] bigbigword3 commented on #465
thanks!
you are right

[2020-03-31 06:15] bigbigword3 commented on #465
thanks!
it works

[2020-03-31 07:21] bigbigword3 commented on #465
this is my codes:
spark.Sql($"insert into default.test_product_table values(\"boy\",\"23\")");

20/03/31 15:18:33 INFO SessionState: Could not get hdfsEncryptionShim, it is only applicable to hdfs filesystem.
20/03/31 15:18:33 INFO Hive: Renaming src: file:/user/hive/warehouse/test_product_table/.hive-staging_hive_2020-03-31_15-18-33_714_2815418674674332305-1/-ext-10000/part-00000-c311fd6e-69b3-4c

[2020-03-31 08:02] bigbigword3 opened #466 "how to config spark connect hive"
i create hive in my local machine, and use mysql as metastore_db,but unfortunate,when running program,the program create a metastore_db in .netcore bin folder ,such as "F:\XXX\HelloSpark\bin\Debug\netcoreapp3.1\metastore_db". then i check my mysql db has not data created.

this is my codes:
`        private static void HiveTest()
        {
            var spark = SparkSession.Builder()

[2020-03-31 08:21] #466 closed

[2020-03-31 09:23] bigbigword3 opened #467 "create database no show in hadoop"
when i use hive cmd :  create database test_db_98k
it will create a "test_db_98k.db" on hadoop,
but if i use follow codes create database,then not show db in hadoop,and then i find it in my application debug folder.
`            var spark = SparkSession.Builder()
                .Config("spark.sql.warehouse.dir", "/user/hive/warehouse/")
                .EnableHiveSupport().GetOrCreate();

[2020-03-31 18:09] #465 closed

[2020-03-31 22:24] jammman opened #468 "[BUG]: UDF Group Apply on Azure DataBricks causes NRE at ArrowColumnVector.getChild"
**Describe the bug**
Application works locally using spark-submit but once deployed to Azure Databricks it throws a java.lang.NullPointerException
	at org.apache.spark.sql.vectorized.ArrowColumnVector.getChild(ArrowColumnVector.java:132) exception using Set Jar job.

The code works fine when testing locally using spark-submit. We're guessing the issue is related to dependencies on the workers?

We

[2020-03-31 23:19] imback82 commented on #468
Thanks @jammman for reporting this. Can you run the following and leave the outputs?

[code]

The local Spark version is also 2.4.5 right? We will also try to repro this on our side. cc @elvaliuliuliu

[2020-03-31 23:22] thrixton opened #469 "[FEATURE REQUEST]: Mocking support"
Is it absolutely necessary to seal all classes. e.g. SparkSession?
This is problematic for mocking as Moq (and others) cannot mock sealed classes.

[2020-04-01 00:44] imback82 commented on #467
If you want to write data to HDFS by default, you need to configure Spark to do that. Otherwise, it will use the local filesystem. This may help https://cbw.sh/spark.html. And this may help for Hive interoperability: https://spark.apache.org/docs/latest/sql-data-sources-hive-tables.html

[2020-04-01 00:46] imback82 commented on #467
I am closing this since the question is not specific to .NET for Spark but more of a general question for Spark. You can also try asking Spark-related questions to Spark community: https://spark.apache.org/community.html

[2020-04-01 00:46] #467 closed

[2020-04-01 04:25] bigbigword3 commented on #467
thanks!

[2020-04-01 18:07] jammman commented on #468
Thanks @imback82 . Local Spark was 2.4.1, upgraded it 2.4.5 and it still works locally. The above was sample code. Here is the real code but it contains some of our real code:

Should also point out we're using
 - mssql-jdbc-8.2.0.jre8.jar

Actual Code:

[code]

Running on Azure Databricks.

[code]

[2020-04-01 18:35] jammman commented on #468
Reviewing the Spark code, it looks like this null exception would only happen if [ArrowVector.childColumns is null](https://github.com/apache/spark/blob/master/sql/catalyst/src/main/java/org/apache/spark/sql/vectorized/ArrowColumnVector.java#L131) and since it seems to be [initialized in the constructor](https://github.com/apache/spark/blob/master/sql/catalyst/src/main/java/org/apache/spark/sql/ve

[2020-04-02 03:52] jammman commented on #468
I tried a Azure HD Insight Spark cluster to compare and I can confirm this **does** work correctly on HDInsight with no code changes - as expected (and hoped), so it does seem to be a bug specific to Azure Databricks

[2020-04-02 04:17] imback82 commented on #468
Oh, thanks @jammman for trying this out. We were planning to experiment the same. :) And it looks like the `FlatMapGroupsInPandasExec.scala:155` is different from the OSS Spark, so there must be something specific to Databricks runtime. We will create a ticket to Databricks team and follow up. Btw, did you try this with an earlier version of Spark?

[2020-04-02 04:32] jammman opened #470 "[BUG]: Install-worker.sh for HDInsight is out of date."
**Documentation/Readme Change Suggestion**
Install-Worker.sh shell script in the deploy folder is outdated and doesn't work at all for HD Insight Spark 2.4. This one works better just needs aws git support etc. I updated it for .NET Core 3.1.

Section 2 of the deployment readme should be completely updated to use this script. Hopefully, this helps. I copied it from [here](https://raw.githubusercon

[2020-04-02 04:42] imback82 commented on #470
@jammman Thanks for reporting this. The HDInsight Spark cluster should come with the Microsoft.Spark.Worker preinstalled. But we will still update this in case one wants to override the version already installed.

[2020-04-02 04:43] imback82 commented on #470
@Niharikadutta Can you help fixing this?

[2020-04-02 04:54] elvaliuliuliu commented on #468
Thanks @jammman for the repro and comparison with HDI! So we will open a ticket with Databricks team and start thread! Will also update the status here! And as @imback82 mentioned, it will also be helpful if you could list the Spark version you tried with local environment vs Databricks vs HDInsight. Thanks!

[2020-04-02 05:15] Niharikadutta commented on #470
Yes I'll work on this!

[2020-04-02 06:00] jammman commented on #468
Thanks @elvaliuliuliu and @imback82 , so far have only tried:

- Local, spark-2.4.1-bin-hadoop2.7, successful
- Local, spark-2.4.5-bin-hadoop2.7, successful
- Databricks 6.4 (includes Apache Spark 2.4.5, Scala 2.11), failed
- HDInsight 2.4, successful

Hope that helps!

[2020-04-02 06:03] jammman commented on #470
Ok, great thanks @Niharikadutta and @imback82

[2020-04-02 08:49] thrixton opened #471 "[FEATURE REQUEST]: Structured DataFrame.Explain"
Is there any technical reason why the output of `DataFrame.Explain` cannot be returned in a structured form?
Happy to have a look and submit a PR if it's possible and would be desirable.

Thanks for the great work.

[2020-04-02 09:26] elvaliuliuliu commented on #471
@thrixton thanks for your question! Could you please provide an example of the format you want?

And your contributions would be really appreciated! Please feel free to explore and submit your PR! Thank you!

[2020-04-02 17:03] imback82 commented on #471
@thrixton This is the same behavior as Scala: https://github.com/apache/spark/blob/55dea9be62019d64d5d76619e1551956c8bb64d0/sql/core/src/main/scala/org/apache/spark/sql/Dataset.scala#L547

We may expose something like `explainString` but I am -1 for supporting C# specific APIs at the moment unless they are absolutely necessary.

[2020-04-02 17:04] imback82 commented on #469
They are sealed because we don't expect them to be extended. Can't you wrap them with your interfaces?

[2020-04-02 23:22] thrixton commented on #471
@elvaliuliuliu , I really just want to be able to easily grab the output for logging at this stage to be honest.
@imback82 , I think something like explainString would be fine.
Would this be ok?
[code]
And then refactor Explain to use `ExplainString`.

[2020-04-02 23:30] thrixton commented on #469
Thanks @imback82,
I can wrap them but that then requires extra maintenance and I'm no longer using the original interface so lose intellisense documentation etc...

An alternative would be to extract an interface and then I could mock the interface.
I'd be happy to do the work if it would help and a PR would be pulled.
Thoughts?

It's fine if you don't want to, I just thought I'd check :)

Thanks

[2020-04-03 00:50] thrixton opened #472 "[FEATURE REQUEST]: Expose JVM exceptions"
Currently an exception is only logged and then translated per the below.
[code]
Is it possible maybe throw an AggregateException with both exceptions or pass an InnerException containing the full original exception?

[2020-04-03 01:05] thrixton opened #473 "[FEATURE REQUEST]: Allow injection of custom LoggerService"
It's not possible to redirect all logging to the applications own logging pipeline currently as both `LoggerServiceFactory` and `ILoggerService` are internal.

I would like to inject my own logging service (either [seq](https://datalust.co/) or Application Insights depending on environment) and have all logs consolidated.

It seems log4net is suppoerted via config file however I have other correla

[2020-04-03 06:41] imback82 commented on #472
Thanks @thrixton. Can you make the change and show how the new log message will look?

[2020-04-03 06:46] imback82 commented on #473
We could expose `LoggerServiceFactory` and `ILoggerService` as public, but let me double-confirm. Meanwhile, you can use https://github.com/aelij/IgnoresAccessChecksToGenerator to access internal classes if you are blocked.

[2020-04-03 06:54] imback82 commented on #410
closed by #420 and #428

[2020-04-03 06:54] #410 closed

[2020-04-03 06:56] imback82 commented on #253
Closed by #414

[2020-04-03 17:03] imback82 commented on #471
Since `queryExecution` is an [unstable developer API ](https://github.com/apache/spark/blob/5d76b12e9b2ca0eb090c3c5145eee4cf78caba13/sql/core/src/main/scala/org/apache/spark/sql/Dataset.scala#L192), I don't think it's a good idea to depend on it (although it's less likely to change). Can you work around by using https://github.com/aelij/IgnoresAccessChecksToGenerator to access internal fields?

Ac

[2020-04-03 22:26] thrixton commented on #471
I don't quite follow. Apologies, I'm a long way from understanding how the bridge internals work or even how Spark works internally.
The output is already outputted to the console on the .NET side, not the JVM side, as per below. Am I missing something?

[code]
I'm not sure exactly how accessing any internals would help me here.

[2020-04-03 22:43] imback82 commented on #471
You can get to `JvmObjectReference IJvmObjectReferenceProvider.Reference => _jvmObject;` or `SparkEnvironment.JvmBridge`.

[2020-04-03 22:44] imback82 commented on #471
They are two different processes so the output can go to a different console, for example.

[2020-04-03 22:56] imback82 commented on #471
Also, if you want to see this in action, you can try to debug the application: https://github.com/dotnet/spark/blob/master/docs/developer-guide.md#how-to-do-local-debugging and you will see which gets outputted to which console.

[2020-04-04 08:53] Yogesh-yrbyogi opened #474 "[FEATURE REQUEST]: Geospatial Support for streaming IOT device Data"
**GeoSpatial Query Support for streaming IOT data **
For Finding the IOT Device Location based on the IOT Device Data, require the capabilities of the GeoSpatial Query during the streaming of the data.

**Describe the solution you'd like**
GeoSpatial query support while processing the stream data using the .Net Spark.

**Describe alternatives you've considered**
Using the Tile38 with streaming wil

[2020-04-05 07:58] hsfert opened #475 "Could not run UDF with EntityFrameworkCore"
Is there a way to run UDF in the worker nodes when using EntityFrameworkCore? I am running the application on Windows 7 and at .Net Core 3.1 and my code looks something as follows:
[code]
When I deploy the application via DotnetRunner, the first call `MyUDF(73546)` runs okay. But when it is running through the worker node, there is an error:

[code]

When I searched this error on the web, it seems

[2020-04-06 04:32] imback82 commented on #475
@hsfert I am not familiar with entity framework, but can you make sure you have the same setting for worker nodes as the driver node? If you have a repro code I can test on my box, that will be helpful as well. (I am assuming `DataEntity` is your code that utilizes the entity framework)

[2020-04-06 04:35] imback82 commented on #474
@Yogesh-yrbyogi, can you be more specific about your ask? Do you have a library that works with Apache Spark for Geospatial and expose C# binding? Or something else?

[2020-04-06 09:20] hsfert commented on #475
I can reproduce the error without an existing SQL server as follows. I have just installed two packages `Microsoft.Spark` and `System.Data.SqlClient`. I am deploying the application in the local machine using `--master local` so I assume that the driver node and the worker node have the same setting.

[code]
The `SparkTesting.deps.json` is as follows:

[code]

[2020-04-07 01:46] guruvonline opened #477 "Explode UDF response for returning multiple rows"
HI,
How can I have udf return multiple rows? I am trying to return string from UDF as json array and then explode/fromjson to get rows but getting error.

I have UDF which returns a string (josn array) like

[
{"id":"1", "name":"name1"},
{"id":"2", "name":"name2"}
]

I want to explode it into 2 rows and then save into table with id and name as columns.

I tried defining schema like

/ schema of ea

[2020-04-07 01:51] imback82 commented on #477
Spark doesn't support this scenario (CSV support complex types): https://github.com/apache/spark/blob/f5250a581b765ef8c9044438b5d27461f843b7fd/sql/core/src/test/scala/org/apache/spark/sql/FileBasedDataSourceSuite.scala#L326

Can you use Parquet instead if you want to write a struct type to a file?

[2020-04-07 05:56] imback82 commented on #475
@hsfert sorry, I didn't get a chance to get to this today. But can you try to place `.deps.json` file in the directory where `Microsoft.Spark.Worker.exe` is located (since that's the process that loads the UDF and executes it). You may need to rename `SparkTesting.deps.json` accordingly.

[2020-04-07 06:16] Yogesh-yrbyogi commented on #474
Dear @imback82 ,
Thanks for your quick update. I don't aware about the library & all. My requirement is to process millions of data IOT data & valid the each & every data against the Geo-fences (Predefined Location) created using the customized application.

[2020-04-07 07:14] guruvonline commented on #477
got the correct syntax from another [forum ](https://stackoverflow.com/questions/61070630/spark-explode-column-with-json-array-to-rows)and able to explode json array as simple types and save into csv file.

[2020-04-07 07:14] #477 closed

[2020-04-07 12:36] hsfert commented on #475
Ultimately what worked for me is that I just add those packages to the source code, call some of the libraries in the code and build the `Microsoft.Spark.Worker` application from it. I think it is not ideal as I might miss some of the configuration.

For the `deps.json`, `Microsoft.Spark.Worker.exe` seems to be only loading dll from `Microsoft.Spark.Worker.deps.json` and I will have to override it

[2020-04-07 18:10] Yogesh-yrbyogi commented on #474
Dear @imback82 ,
Thanks for your quick update. I don't aware about the library & all. My requirement is to process millions of data IOT data & valid the each & every data against the Geo-fences (Predefined Location) created using the customized application.
I want to utilize the spark stream to process such big data, I require help for validating the IOT data with geospatial dataset.

[2020-04-07 20:17] guruvonline opened #478 "[FEATURE REQUEST]: How to call C# UDF from pyspark"
Can i call a UDF written in c# ,from other languages? I have a UDF and want to use same from pyspark.

[2020-04-07 20:31] imback82 commented on #478
Theoretically yes, but you need hop thru many steps. I have one example where you can call C# UDF from Scala: https://github.com/imback82/sparkdotnetudf. Enjoy!

[2020-04-08 19:27] guruvonline commented on #478
thanks will try it.

[2020-04-08 19:27] #478 closed

[2020-04-09 04:44] #453 closed

[2020-04-09 12:29] GoEddie opened #479 "[Coding Style]: Is there a preference for methods?"
Hi,

I just wanted to see if there was a preference for when to use either of these styles?

[code]
or
[code]

Thanks,

Ed

[2020-04-09 17:59] Niharikadutta commented on #479
@GoEddie Thanks for your question! The preference is to use the second style whenever there is a one-line function.

[2020-04-09 18:57] GoEddie commented on #479
Great thanks

[2020-04-09 18:57] #479 closed

[2020-04-09 21:14] imback82 commented on #474
I think you can try Spark's structured streaming with ForEach [API](https://spark.apache.org/docs/latest/structured-streaming-programming-guide.html#foreach) and C# examples can be found [here](https://github.com/dotnet/spark/blob/5f53809c1306d96ef7ffcf6004bd18ee380719d7/src/csharp/Microsoft.Spark.E2ETest/IpcTests/Sql/Streaming/DataStreamWriterTests.cs#L203).

I am not familiar with the Geospatial

[2020-04-10 00:00] guruvonline opened #480 "[FEATURE REQUEST]: Invoking from Databricks notebook"
Hi,

Instead of creating my job with setjar or spark-submit, can i run my application directly from Notebook ?

[2020-04-10 02:42] rapoth commented on #475
+ @indy-3rdman since I believe he got this working.

[2020-04-10 05:30] neil-hudson-SQC opened #481 "[Question]: Unexpected warning "Unable to load native-hadoop library for your platform...""
Having followed the installation process, when I run the tutorial application I see the warning message

WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Having checked this out I believe that the installation of WinUtils (https://github.com/steveloughran/winutils/blob/master/hadoop-2.7.1/bin/winutils.exe) done as part of

[2020-04-10 07:56] indy-3rdman commented on #475
@hsfert, I think that might be related to the EntityFramework provider for the SQL Server database engine. I've used EntityFramework to [test the ForeachWriter](https://3rdman.de/2020/03/dotnet-for-apache-spark-foreachwriter/) and it worked fine for PostgreSQL and SQLite. But when testing with SQL-Server, I get a similar error message.

[2020-04-10 15:19] neil-hudson-SQC commented on #481
Have now established this is not related to WinUtils. The question is now..
(a) Is there a "downside" to not using a native-hadoop library compared with using a native-hadoop library, the read me page for the native libraries mentions performance benefits?
Assuming there would be some benefit then..
(b) Are there native libraries for Windows available as binaries?
(c) Is there a way of building na

[2020-04-11 15:41] mohammednaseem opened #482 "Ran into issue while trying out .NET for Apache Spark Tutorial - Get started in 10 minutes"
Problem encountered on **https://dotnet.microsoft.com/learn/data/spark-tutorial/run**
Operating System: windows

**Windows 10 Home Edition.**
Followed the sample tutorial and saw the below error message. The program does run successfully. But I see the below error message too.
**jdk-8u241-windows-x64.exe**

20/04/11 21:05:00 INFO SparkUI: Stopped Spark web UI at http://LAPTOP-K3HJ3ONU:4040
20/04/1

[2020-04-11 15:41] mohammednaseem opened #483 "Ran into issue while trying out ".NET for Apache Spark Tutorial - Get started in 10 minutes""
Problem encountered on **https://dotnet.microsoft.com/learn/data/spark-tutorial/run**
Operating System: windows

**Windows 10 Home Edition.**
Followed the sample tutorial and saw the below error message. The program does run successfully. But I see the below error message too.
**jdk-8u241-windows-x64.exe**

20/04/11 21:05:00 INFO SparkUI: Stopped Spark web UI at http://LAPTOP-K3HJ3ONU:4040
20/04/1

[2020-04-11 17:56] imback82 commented on #482
closing as a duplicate of #483

[2020-04-11 17:56] #482 closed

[2020-04-11 18:00] imback82 commented on #483
@mohammednaseem This is a known issue on Windows. You can follow this thread if you want to disable this error message: https://github.com/dotnet/spark/issues/49#issuecomment-486714091

@bamurtaugh Can you help updating the getting started guide with this info that this error message is a known issue on Windows?

[2020-04-11 18:09] imback82 commented on #481
@neil-hudson-SQC Hadoop is a library that Spark depends on (client part), so I cannot help much here. You may want to look at some answers from Stackoverflow or reach out to Hadoop community.

Unless you plan to deploy/manage Hadoop on Windows by yourself, I wouldn't worry too much about this warning message. Thanks!

[2020-04-11 18:14] imback82 commented on #480
@guruvonline Notebook experience for .NET for Apache Spark is not available on Databricks, and I suggest requesting this feature to Databricks directly so that they are aware of the customer demand.

There is a [databricks-connect](https://docs.microsoft.com/en-us/azure/databricks/dev-tools/databricks-connect) experience you can try. The UDF is not working yet, but we are currently  working with D

[2020-04-11 18:20] imback82 commented on #475
Yea, but I think this is an easier/better solution than having to build/maintain `Microsofoft.Spark.Worker.exe`.

[2020-04-12 01:37] imback82 commented on #312
same as #483

[2020-04-12 03:46] yuejli opened #485 "error when submitting new script action"
I followed the tutorial and instructions in [.NET for Apache Spark 101](https://www.youtube.com/watch?v=7PY84oJ6LQU&list=PLdo4fOcmZ0oXklB5hhg1G1ZwOJTEjcQ5z&index=8) and [.NET for Apache Spark-hdinsight-deployment](https://docs.microsoft.com/en-us/dotnet/spark/tutorials/hdinsight-deployment) to deploy a app on HDInsight. But when submmitting script action, it installed failed with the following inf

[2020-04-12 04:07] imback82 commented on #485
Can you follow instruction in #470? I think the install script is out of date and @Niharikadutta is planning to update it asap.

[2020-04-12 04:50] yuejli commented on #485
Thanks @imback82, I was wondering If changing .netcore version back into 2.1 could temporarily solve this problem?

[2020-04-12 04:55] imback82 commented on #485
Can you share the actual log messages when you run the script action?

[2020-04-12 05:02] yuejli commented on #485
Sure
[code]

[2020-04-12 05:08] imback82 commented on #485
Hmm the logs don't seem to be useful. Did you try the one in #470?

[2020-04-12 05:13] imback82 commented on #485
Btw, HDInsight currently comes with Microsoft.Spark.Worker 0.8.0 version by default, so if you are using the script action to install worker, you can skip it and use 0.8.0 Nuget version to test it out.

[2020-04-12 05:20] elvaliuliuliu commented on #485
@yuejli Can you also share the HDI Spark version and the parameters you use to submit script action (as @imback82 mentioned)?

[2020-04-12 05:43] yuejli commented on #485
Sure. The HDI Spark version is Spark 2.4 (HDI 4.0), and the parameters are
[code]

[2020-04-12 05:55] yuejli commented on #485
@imback82 Do you mean that I should install `Microsoft.Spark` with verision 0.8.0 and skip the “install-worker.sh step”, and directly go to ssh and run app with `spark-submit`?

[2020-04-12 05:56] elvaliuliuliu commented on #485
@yuejli : I am able to submit the script action successfully. Can you share the stderr and stdout log from ambari as below?
![image](https://user-images.githubusercontent.com/47404285/79061705-a6babe80-7c47-11ea-903d-9d95efb6c1eb.png)

[2020-04-12 05:59] elvaliuliuliu commented on #485
@yuejli : Right, If you are not requesting to use the feature in 0.8.0 version above, you can skip the install-work.sh step, and submit your app with microsoft-spark-2.4.x-0.8.0.jar.

[2020-04-12 06:06] yuejli commented on #485
@elvaliuliuliu So how can I find this task log from ambari?

[2020-04-12 06:15] elvaliuliuliu commented on #485
@yuejli : Please see my updated comments with instructions as above. Feel free to let me know if any questions.

[2020-04-12 06:25] yuejli commented on #485
@elvaliuliuliu Thanks a lot! Here is the copy of the error
[code]
 and the stdout is
[code]
Seems like it didn't find the `Microsoft.Spark.Worker.netcoreapp3.1.linux-x64-0.10.0.tar.gz`. But I have checked my contianer and it is over there.

[2020-04-12 06:40] yuejli commented on #485
@imback82 @elvaliuliuliu Thanks a lot, I have found the reason. The parameters for script action is wrong. I directly use the copy of the uri of `Microsoft.Spark.Worker.netcoreapp3.1.linux-x64-0.10.0.tar.gz` from the property of it in azure storage explorer. But the right format is wasbs://containername@... After changing this, it worked!

[2020-04-12 06:46] #485 closed

[2020-04-12 23:01] Niharikadutta commented on #381
@GoEddie Thanks so much for your work on this! Would you be willing to write a blog post on these ML-features currently supported on .NET for Apache Spark? Please let us know if that is something that could interest you, and if you might require any help from us. Thanks! :)

[2020-04-13 08:11] GoEddie commented on #381
Hi @Niharikadutta sure no problem I would be happy to do this.

Where is best to publish it? My site or is there a ms one I could guest write it for?

[2020-04-13 22:07] Niharikadutta commented on #381
Hi @GoEddie Awesome, thanks so much! I will get back to you with the details about where to publish and how to get you guest access for it. Could you provide me with a preferred email account you would wish to have this associated with, and I will work on getting that access. Thanks again! :)

[2020-04-13 22:11] GoEddie commented on #381
Great, ed.elliott AT outlook.com is good :)

[2020-04-13 22:15] Niharikadutta commented on #381
Perfect, thank you! Will get back to you soon with the details. Also, is this email good to also have the monthly office hour Teams meeting on, as discussed in a separate thread?

[2020-04-13 22:22] GoEddie commented on #381
Yes great (sorry forgot about that issue!)

[2020-04-13 22:29] Niharikadutta commented on #381
Awesome, thanks for confirming! Will set that one up starting sometime next month if that works for you, or please let me know when you would like to have it start, along with your day of the week/time preference.

[2020-04-13 22:30] GoEddie commented on #381
Just whatever suits you really, I didn’t want to make work for anyone

[2020-04-13 22:41] Niharikadutta commented on #381
oh no we are happy to do this :) I just want to make sure I have your timezone/work hour constraints in mind before setting a meeting up.

[2020-04-13 22:44] GoEddie commented on #381
Great, I’m in the UK so morning US time works better for me

[2020-04-13 22:48] Niharikadutta commented on #381
Sounds good, will set up a cadence accordingly, thanks!

[2020-04-13 22:54] guruvonline commented on #480
@imback82 , i have spark batch job with UDF and trying to attach microsof.sparxx.jar to cluster and  then run my below notebook code (attached to above cluster) as below. it start my app but looks like doesn't wait for it to complete and notebook shows as command completed.
From you response it means it is not supported but just wanted to get explicit confirmation on what im trying.

[code]

[2020-04-13 23:42] imback82 commented on #480
I haven't tried this, but I think it may work out (you need to specify hdfs location for your zip). Let me know how it works out.

[2020-04-14 15:09] PAPIPANNE opened #487 "%SPARK_HOME%\bin\spark-submit --version"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/install-spark
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-04-14 16:58] elvaliuliuliu commented on #487
@PAPIPANNE ：Can you provide more details on the problem you encounter? Thanks.

[2020-04-14 18:40] PAPIPANNE opened #488 "'spark-submit' is not recognized as an internal or external command,"
I ran this commands to set environment variables
setx HADOOP_HOME C:\bin\spark-2.4.1-bin-hadoop2.7\
setx SPARK_HOME C:\bin\spark-2.4.1-bin-hadoop2.7\

then ran this command to check if everything is installed correctly
%SPARK_HOME%\bin\spark-submit --version

but i get this error :
C:\WINDOWS\system32>spark-submit --version
'spark-submit' is not recognized as an internal or external command,
opera

[2020-04-14 18:48] elvaliuliuliu commented on #488
Can you try `%SPARK_HOME%\bin\spark-submit --version` as shown in the [get-started tutorial](https://dotnet.microsoft.com/learn/data/spark-tutorial/install-spark)?

[2020-04-14 18:51] PAPIPANNE commented on #488
The system cannot find the path specified.

[2020-04-14 18:52] imback82 commented on #488
Can you check if you can run `java`?

[2020-04-14 18:53] PAPIPANNE commented on #488
Usage: java [-options] class [args...]
           (to execute a class)
   or  java [-options] -jar jarfile [args...]
           (to execute a jar file)
where options include:
    -d32          use a 32-bit data model if available
    -d64          use a 64-bit data model if available
    -server       to select the "server" VM
                  The default VM is server.

    -cp <class search path

[2020-04-14 18:55] imback82 commented on #488
How about `C:\bin\spark-2.4.1-bin-hadoop2.7\bin\spark-submit`?

[2020-04-14 18:58] PAPIPANNE commented on #488
The system cannot find the path specified.

C:\bin\spark-2.4.1-bin-hadoop2.7\bin\spark-submit

[2020-04-14 19:03] elvaliuliuliu commented on #488
Can you please refer to #304 and give it a try?

[2020-04-14 22:41] Niharikadutta commented on #470
Hi @jammman , could you please paste the error you are getting on using the current `install-worker.sh` script on the HDI 2.4 cluster? I am unable to reproduce any error behavior at my end. Thanks!

[2020-04-15 00:32] bamurtaugh commented on #483
Warning has been merged into the tutorial and should be visible soon.

[2020-04-15 00:32] bamurtaugh commented on #312
Warning has been merged into the tutorial and should be visible soon.

[2020-04-15 17:30] eerhardt opened #490 "[BUG]: Better logging when UDF type can't be found"
**Describe the bug**
When the SparkWorker.exe and the host runner .exe process load 2 different versions of an assembly containing a UDF, you get an error similar to:

[code]

We should give a better error indicating what we were trying to do when we got an `ArgumentNullException` and what it means.

**To Reproduce**

Steps to reproduce the behavior:
1. Have the SparkWorker.exe and the host runner

[2020-04-16 05:20] imback82 commented on #483
Thanks @bamurtaugh!

[2020-04-16 05:20] #483 closed

[2020-04-22 18:39] BhanumathiSubramanian opened #492 "Apache Spark Problem"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/run
Operating System: windows

While running the following code: **%SPARK_HOME%\bin\spark-submit --class org.apache.spark.deploy.dotnet.DotnetRunner --master local bin\Debug\netcoreapp3.1\microsoft-spark-2.4.x-0.10.0.jar dotnet bin\Debug\netcoreapp3.1\mySparkApp.dll**

The final step showed me error **java.lang.ClassNotF

[2020-04-22 18:42] elvaliuliuliu commented on #492
Could you share the full log?

[2020-04-22 18:44] BhanumathiSubramanian commented on #492
Hi...

Please find the below given complete error log

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform
(file:/C:/bin/spark-2.4.1-bin-hadoop2.7/jars/spark-unsafe_2.11-2.4.1.jar)
to method java.nio.Bits.unaligned()
WARNING: Please consider reporting this to the maintainers of
org.apache.spark.unsafe.Platform
WARNING:

[2020-04-22 18:58] Niharikadutta commented on #492
@BhanumathiSubramanian Can you please verify if the `microsoft-spark-2.4.x-0.10.0.jar` is present in `bin\Debug\netcoreapp3.1\`? How did you build the jar? Please look for this jar in `src\scala\microsoft-spark-2.4.x\target\` folder.

[2020-04-22 19:04] imback82 commented on #492
I see that
[code]

[2020-04-23 06:09] BhanumathiSubramanian commented on #492
Nope. Its available. C:\Users\bhanumathi.s\mySparkApp\bin\Debug\netcoreapp2.1\microsoft-spark-2.3.x-0.10.0.jar

but the version of .NET Core is 2.1. Will this work with only 3.1 ? Please let me know.

[2020-04-23 09:11] elvaliuliuliu commented on #492
Please use .NET Core 3.1.

[2020-04-23 14:36] BhanumathiSubramanian commented on #492
ok..will try to upgrade my .net version and check

[2020-04-23 14:40] velsarav opened #493 "Apache Spark - Installation"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/install-spark
Operating System: linux

NAME="Ubuntu"
VERSION="18.04.4 LTS (Bionic Beaver)"

./spark-shell
bash: ./spark-shell: No such file or directory

[2020-04-23 14:45] velsarav commented on #493
Moved to /home/<usr>/bin/spark-2.4.1-bin-hadoop2.7 and run the command ./spark-shell and it is working.

[2020-04-23 14:45] #493 closed

[2020-04-24 09:28] mllab-nl commented on #384
Having a UDF breaks consistently on local and on Azure HDInsights/Spark 2.4 setup whne using "Microsoft.Spark.Worker-0.10.0" with:
FileNotFoundException

[2020-04-24T08:56:24.0906298Z] [DESKTOP-XXXXX] [Error] [TaskRunner] [0] ProcessStream() failed with exception: System.IO.FileNotFoundException: Assembly 'mySparkApp, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' file not found 'mySparkAp

[2020-04-24 13:09] mllab-nl opened #494 "Having an UDF in the pipeline breaks consistently on local and on Azure HDInsights/Spark 2.4 setup"
**Describe the bug**
Having an UDF in the pipeline breaks consistently on local and on Azure HDInsights/Spark 2.4 setup

**To Reproduce**

Follow the [10 min tutorial ](https://dotnet.microsoft.com/learn/data/spark-tutorial/intro)- works fine(On local and Azure setup).
Add a simple UDF to make works uppercase.  - breaks with FileNotFoundException exception in both setups

Rerun the app - breaks bo

[2020-04-24 13:20] mllab-nl commented on #494
Workaround for local setup is to run in from bin\Debug\netcoreapp3.1 (with adjusted paths) is there a workaround available for Azure HDInsights/Spark 2.4 ?

[2020-04-24 14:54] mllab-nl commented on #494
It looks like it is described here:
https://docs.microsoft.com/en-us/dotnet/spark/how-to-guides/deploy-worker-udf-binaries

[2020-04-24 22:17] elvaliuliuliu commented on #494
@mllab-nl : Did this [udf FAQ guild](https://docs.microsoft.com/en-us/dotnet/spark/how-to-guides/deploy-worker-udf-binaries#when-i-run-a-spark-app-with-udfs-i-get-a-filenotfoundexception-error-what-should-i-do) solve your issue?

[2020-04-25 12:24] mllab-nl commented on #494
Local deployment works with the following cmd script:

set DOTNET_ASSEMBLY_SEARCH_PATHS=%cd%\bin\Debug\netcoreapp3.1
echo %DOTNET_ASSEMBLY_SEARCH_PATHS%
%SPARK_HOME%\bin\spark-submit --class org.apache.spark.deploy.dotnet.DotnetRunner --master local bin\Debug\netcoreapp3.1\microsoft-spark-2.4.x-0.10.0.jar dotnet bin\Debug\netcoreapp3.1\mySparkApp.dll > out 2>&1

[2020-04-25 12:33] elvaliuliuliu commented on #494
Can you try with this [instruction](https://docs.microsoft.com/en-us/dotnet/spark/how-to-guides/deploy-worker-udf-binaries#how-do-i-run-my-spark-application-with-udfs-on-yarn-which-environment-variables-and-parameters-should-i-use) on the HDI Cluster or use `--files` to place dlls in the executor as refered in the [parameter options](https://docs.microsoft.com/en-us/dotnet/spark/how-to-guides/depl

[2020-04-25 13:08] sourabhXIII opened #495 "[FEATURE REQUEST]:"

[2020-04-25 13:21] #495 closed

[2020-04-26 17:52] ashishambekar018 opened #496 "after set the environment variable as SPARK_HOME with path as C:\bin\spark-2.4.1-bin-hadoop2.7\ and try to run command as %SPARK_HOME%\bin\spark-submit --version i get this message as "The system cannot find the path specified." where when i do echo on cmd its prints this path as why its giving this error not getting kindly suggest please in this regards."
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/install-spark
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-04-26 21:37] rapoth opened #497 "[BUG]: The catalog member of Spark should be a property, not a method"
**Describe the bug**
The catalog member of spark in PySpark is an property. But with .NET for Spark it’s a method I have to call and then use.

### with PySpark

[code]

### with .NET

[code]

To be consistent, we should also change this Catalog method to a property.

**Screenshots**
![image](https://user-images.githubusercontent.com/8262876/80320460-5dcc4380-87cb-11ea-805e-ee5ab06a71b6.png)

[2020-04-26 21:37] rapoth commented on #497
CC: @saveenr who reported it

[2020-04-26 23:49] imback82 commented on #496
Can you check #304?

[2020-04-27 01:06] saveenr opened #498 "[BUG]: The Udf() member of Spark should be a property, not a method"
Here's the PySpark

`spark.udf.register("UDF_MyUpper", UDF_MyUpper)`

Here's what I have to do with .NET for Spark

`spark.Udf().Register<string, string>("UDF_MyUpper", Helpers.MyUpper);`

It should instead work like this:

`spark.Udf.Register<string, string>("UDF_MyUpper", Helpers.MyUpper);`

[2020-04-27 01:39] imback82 commented on #498
We tried to mirror the Scala APIs and we used a function on C# side if the Scala side is a `def` even if it's a `def` without parenthesis (and use a property if the Scala side is a `val`):
[code]

But I am open for a discussion for a `def` without parenthesis. @rapoth / @suhsteve What do you think?

[2020-04-27 01:40] imback82 commented on #488
@PAPIPANNE please reopen this issue if the suggestion by @elvaliuliuliu didn't work.

[2020-04-27 01:40] #488 closed

[2020-04-27 01:41] imback82 commented on #487
This must be related to #488. Closing.

[2020-04-27 01:41] #487 closed

[2020-04-27 01:42] imback82 commented on #481
@neil-hudson-SQC I am closing this since the question is related more to Hadoop. But feel free to reopen if you have further questions.

[2020-04-27 01:42] #481 closed

[2020-04-27 01:51] Niharikadutta commented on #470
@jammman We are going to close this issue as we have tested the script and it is working as expected in Spark 2.4 HDI 4.0 cluster. Just as an FYI, we do not want to upload the microsoft spark jar to every worker as being done in the script you pasted here as that is not the intended behavior of this script. Thanks for your question and please feel free to open another issue in case you come across

[2020-04-27 02:02] #470 closed

[2020-04-27 02:16] rapoth commented on #498
@imback82 Yes, in my opinion, we can handle `def` without parenthesis similar to how we handle `val`. We should support both APIs for the time being to ensure backward compatibility. We can get rid of the `Udf()` API when we release v1.0.

[2020-04-27 05:02] imback82 commented on #492
For the example you are running, .NET Core 2.1 should work fine. Just make sure that the jar is present. And please feel free to reopen the issue if something doesn't work.

[2020-04-27 05:02] #492 closed

[2020-04-27 15:31] ashishambekar018 commented on #496
please find below details if anything required please let me know

operating system -  windows 10 home single edition
-----------------------------------------------------------------------------------
java version install as below after running command java -version
java version "1.8.0_241"
Java(TM) SE Runtime Environment (build 1.8.0_241-b07)
Java HotSpot(TM) 64-Bit Server VM (build 25.241-b07,

[2020-04-27 15:34] ashishambekar018 commented on #496
after setting all the things as mentioned above still i getting the same as below

%SPARK_HOME%\bin\spark-submit --version
The system cannot find the path specified.

can anyone suggest me

[2020-04-27 19:49] Niharikadutta commented on #496
@ashishambekar018  Could you please try the following steps:

1. Set JAVA_HOME to C:\Program Files\Java\jdk1.8.0_201 (removing the bin)
2. Set HADOOP_HOME to the parent directory of where you saved winutils.exe (and not spark as you are doing currently).
3. Please check if you find spark-submit.cmd in the folder C:\bin\spark-2.4.1-bin-hadoop2.7\bin

Please try after setting the above as mentioned

[2020-04-27 20:24] mllab-nl commented on #494
Was able to get it working with --file:
$SPARK_HOME/bin/spark-submit --master yarn --num-executors 10 --class org.apache.spark.deploy.dotnet.DotnetRunner \
--files wasbs://cdotc@cdots.blob.core.windows.net/publish100m/mySparkApp.dll#mySparkApp.dll \
wasbs://cdotc@cdots.blob.core.windows.net/microsoft-spark-2.4.x-0.10.0.jar wasbs://cdotc@cdots.blob.core.windows.net/publish100m.zip mySparkApp > out

[2020-04-27 20:26] elvaliuliuliu commented on #494
@mllab-nl : Nice! Good to know. Please let us know if there are any further questions. Thanks!

[2020-04-27 20:26] mllab-nl commented on #494
@elvaliuliuliu was not able to get the wanted --archive option to work.
it looks like the environment variables passed via --conf are not set in the executor.
Is there an open  issue for that ?

[2020-04-27 20:30] mllab-nl commented on #494
sudo cat /proc/workerPID/environ:
SPARK_YARN_STAGING_DIR=wasb://cdotc@cdots.blob.core.windows.net/user/sshuser/.sparkStaging/application_1587824952802_0050^@PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/var/lib/ambari-agent^@HADOOP_CONF_DIR=/usr/hdp/3.1.2.2-1/hadoop/conf^@JAVA_HOME=/usr/lib/jvm/zulu-8-azure-amd64^@SPARK_REUSE_WORKER=1^@LANG=en_US.UT

[2020-04-27 23:27] guruvonline opened #499 "[FEATURE REQUEST]: copying dependencies for UDF"
I have a UDF which have other dependent dlls and appsettings.json for some of the config values that UDF uses. Presently i have to uncomment the dependency copy part in db-init.sh to copy it to node. even though i have all the binaries and json setting file in the application zip, still i have to write additional step in my CI/CD to upload dependencies to dbfs folder.
Can Spark.net can automatical

[2020-04-28 19:30] jammman commented on #470
Ok, it may be related to this other issue as I should've clarified I was
using vector UDFs and did have to specify --files flags when testing to
deploy the UDF

On Sun, Apr 26, 2020 at 8:51 PM Niharika Dutta <notifications@github.com>
wrote:

--

*Marcus D. Cobb | *CEO | marcus@jammber.com | 844-JAMMBER (526-6237)

www.jammber.com
www.linkedin.com/in/marcuscobb

This email is intended solely for t

[2020-04-28 22:22] GoEddie opened #500 "Implementation Question"
Hi,

In the ML API each (most/all?) of the classes implement `Identifiable` (https://spark.apache.org/docs/latest/api/java/org/apache/spark/ml/util/Identifiable.html) and `Params` (https://spark.apache.org/docs/1.5.1/api/java/org/apache/spark/ml/param/Params.html).

Is it preferred to re-implement these on every class or use a base class to implement the shared code?

For a base class implementati

[2020-04-29 02:57] imback82 commented on #500
Do you have an example code that utilizes `FeatureBase.cs`? I think this is the right direction.

[2020-04-29 07:59] GoEddie commented on #500
Thanks @imback82 I have added started to add it to Bucketizer:

https://github.com/GoEddie/spark/blob/ml/missing-methods/src/csharp/Microsoft.Spark/ML/Feature/Bucketizer.cs#L23

[2020-04-29 19:56] asif48 opened #501 "No appenders could be found for logger (org.apache.spark.deploy.SparkSubmit$$anon$2)."
**Describe the bug**
I have seen an article with the same subject but I am not been able to resolve my problem using that solution...

I am following an article of running [Apache Spark with asp.net C#.](https://www.red-gate.com/simple-talk/dotnet/net-development/apache-spark-for-net-developers/)
 when I ran the command from cmd I got error as described in the subject.

**Expected behavior**
Syste

[2020-04-29 21:05] asif48 commented on #501
I have changed the line from `--class org.apache.spark.deploy.DotnetRunner` to  `--class org.apache.spark.deploy.dotnet.DotnetRunner` then it throws another error as below ...

Could not resolve CoreCLR path. For more details, enable tracing by setting COREHOST_TRACE environment variable to 1

![spark submit](https://user-images.githubusercontent.com/7997380/80646857-efb3a500-8a86-11ea-949e-97f848

[2020-04-30 10:53] michael-damatov opened #502 "[FEATURE REQUEST]: Expose exceptions"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when any exception I get is an `Exception`. For example, when reading a delta file fails, I do not know why: it could be a concurrency error, or, simply, the file doesn't exist. Reading/parsing the exception text is not a viable option.

**Describe the solution you'd like**
Please introduce more exception type

[2020-05-01 19:43] guruvonline opened #504 "Not able to use async functions in UDF"
my UDF calls a helper function, which gets some data from external API call, if i declare the helper functions as async, and put await. it doesn't wait for it's completion and exit immediately.

 can i use C# async/await functions in my code running on spark.

Thanks

[2020-05-01 20:52] ashishambekar018 commented on #496
echo %JAVA_HOME%
C:\Program Files\Java\jdk1.8.0_201
echo %HADOOP_HOME%
C:\bin\hadoop
echo %SPARK_HOME%
C:\bin\spark-2.4.1-bin-hadoop2.7\
%SPARK_HOME%\bin\spark-submit --version
Welcome to
      ____              __
     / __/__  ___ _____/ /__
    _\ \/ _ \/ _ `/ __/  '_/
   /___/ .__/\_,_/_/ /_/\_\   version 2.4.1
      /_/

I GUESSS IT WORKS

THANKS A LOT NIHARIKA

WHAT NEXT TO BE DONE IF ANYTHI

[2020-05-02 01:13] Niharikadutta commented on #496
Please take a look at [getting started docs](https://github.com/dotnet/spark/blob/master/docs/getting-started/windows-instructions.md ) for further steps.

[2020-05-03 10:38] parad74 opened #505 "[BUG]: In WriteStream not run ForeachWriter"
**Describe the bug**
I created simple code

[code]
not run
[code]
from it

**To Reproduce**
Add sample project to look at
https://github.com/parad74/StreamingSparkTest

It possible add working simple code or look at my project
Thanks

[2020-05-03 13:46] BhanumathiSubramanian commented on #492
Hi All...Thanks it is working fine with .NET Core 3.1...Thank you all.

[2020-05-04 17:09] imback82 commented on #505
@suhsteve Can you take a look?

@parad74 I cannot get to your repo. Can you share?

[2020-05-04 18:51] suhsteve commented on #505
Are there any error messages you can share with us ?

[2020-05-05 06:16] imback82 commented on #500
Looks reasonable to me. Do you want to create a PR that utilizes `FeatureBase` for the existing classes?

[2020-05-05 07:41] GoEddie commented on #500
yep will do, thanks!

[2020-05-05 07:41] #500 closed

[2020-05-05 18:47] parad74 commented on #505
https://github.com/parad74/StreamingSparkTest

[2020-05-06 04:20] suhsteve commented on #505
@parad74 can you provide your error logs, the `spark-submit` command you used, and your the `DOTNET_ASSEMBLY_SEARCH_PATHS` environment variable if it is set ?

[2020-05-06 19:05] #497 closed

[2020-05-06 21:49] imback82 commented on #496
Closing this as the original issue has been resolved.

[2020-05-06 21:49] #496 closed

[2020-05-06 21:52] imback82 commented on #498
Some APIs like `SparkSession.read` is also a `def` without parenthesis. So to be consistent, `def` on Scala will be mapped to a method in C# regardless whether it has parenthesis or not.

[2020-05-06 21:52] #498 closed

[2020-05-06 21:56] imback82 opened #509 "[FEATURE REQUEST]: Multiple stages for the Azure Pipeline"
The build pipeline is reaching the timeout limit (one hour) after #506. We can break up the pipeline into multiple stages to avoid the timeout.

[2020-05-07 00:28] #462 closed

[2020-05-07 07:51] parad74 commented on #505
spark-submit --class org.apache.spark.deploy.dotnet.DotnetRunner --master local C:\Count4U\S3\SparkTest\StreamingSparkTest\src\StreamingSparkTest\bin\Debug\netcoreapp3.1\microsoft-spark-2.4.x-0.10.0.jar debug

DOTNET_ASSEMBLY_SEARCH_PATHS not set

System.Exception: 'JVM method execution failed: Nonstatic method awaitTermination failed for class 21 when called with no arguments'
   at Microsoft.Spa

[2020-05-07 08:25] suhsteve commented on #505
@parad74 what's the working directory where you're running the `spark-submit` from?

[2020-05-07 19:53] imback82 commented on #505
@parad74 In addition to what @suhsteve is asking, can you share the full log for your run? (there should have been error messages before the ones you pasted above).

[2020-05-07 19:59] imback82 commented on #494
@mllab-nl Did you try `--deploy-mode cluster`? If you are deploying as a client mode, you need to set `DOTNET_ASSEMBLY_SEARCH_PATHS` locally. (`spark.yarn.appMasterEnv.DOTNET_ASSEMBLY_SEARCH_PATHS` is for cluster mode)

[2020-05-07 20:23] paul-pl opened #514 "[FEATURE REQUEST]: Spark connector for SQL Server (bulk insert through JDBC)"
JDBC driver for SQL Server is very slow. I noticed that the JDBC driver uses sp_prepare followed by sp_execute for each inserted row, therefore the operation is not a bulk insert (low performance of the batch size of 2 000,000 rows and more).

Similar case: https://techcommunity.microsoft.com/t5/datacat/turbo-boost-data-loads-from-spark-using-sql-spark-connector/ba-p/305523#

There is  Spark conne

[2020-05-07 20:35] suhsteve commented on #505
@parad74 can you also try setting the DOTNET_ASSEMBLY_SEARCH_PATHS env variable to the directory that your UDF dlls are located (probably `C:\Count4U\S3\SparkTest\StreamingSparkTest\src\StreamingSparkTest\bin\Debug\netcoreapp3.1`)

https://github.com/dotnet/spark/blob/master/docs/deploy-worker-udf-binaries.md#1-question-when-i-run-a-spark-app-with-udfs-i-get-the-following-error-what-should-i-do

[2020-05-09 22:00] mllab-nl commented on #494
Thx @imback82 .
Indeed in cluster mode variables are set correctly.

[2020-05-09 22:00] #494 closed

[2020-05-11 20:19] Niharikadutta commented on #381
Hi @GoEddie , We had a discussion with the .NET blog folks and looks like the current process of doing this is to have the guest publish on their own blog if they have one, which then gets amplified  by us through social media. Do you have a blog you can publish this on? If no, we can work on co-authoring one on the .NET blog.

[2020-05-12 19:12] GoEddie commented on #381
Hi @Niharikadutta yes no problem, I have a blog https://the.agilesql.club/ - what are you looking for in the post?

[2020-05-12 19:18] sanket-t-shah commented on #325
Hi @joperezr - tried following command, but it failed.

[code]

Here is the full message:

[code]

My Spark version is: 2.4.5.

Can you please help with recommended solution?

[2020-05-12 19:22] joperezr commented on #325
mm unfortunately I'm not an expert on package dependencies so I'm not sure if I would be able to help here, @imback82 do you have any idea of what might be going on in @sanket-t-shah case?

[2020-05-12 20:27] sanket-t-shah commented on #325
Hi @imback82 - can you please help on error that am getting? I'll be highly obliged if you can provide some guidance over the same.

[2020-05-12 20:52] imback82 commented on #325
I cannot repro your problem by running `./spark-shell --packages com.microsoft.azure:azure-eventhubs-spark_2.11:2.3.15`. Maybe can you try to delete `C:/Users/Sanket/.m2` and try again?

[2020-05-12 20:59] sanket-t-shah commented on #325
@imback82 - Thanks, it worked in a way, but started giving me different problem now.

I've used the code sample as given by @joperezr. Below is my command:

[code]

Here is the output am getting.

[code]

[2020-05-12 22:49] crackityjones666 opened #516 "Connect to a remote spark cluster (Databricks Connect)"
Hi!

I need to refactor a python api that uses pyspark to execute a sql statement on Spark cluster in Azure Databricks.  It uses Databricks connect (https://docs.databricks.com/dev-tools/databricks-connect.html) to initialize the connectivity to the cluster.

Is it possible to achieve something like this in c#, I would love to have an mvc core api!

Thanks!

[2020-05-12 22:53] imback82 commented on #516
We are working with Databricks engineers to be able to use C# with databricks-connect. We will update this thread when we get more info. cc: @elvaliuliuliu

[2020-05-12 23:26] crackityjones666 commented on #516
Thank you!  My best bet would be to keep this python api for now?  Or is there another way to have my web service trigger a SQL query against a Databricks model?  Also, is there an ETA around this?

Thank you very much for such a quick reply!

[2020-05-13 11:14] sanket-t-shah commented on #325
@imback82 @joperezr - Here is a new hack that kind of moved me to different error.

I copied following 3 files to spark --> jars folder.
```azure-eventhubs-3.1.1.jar```
```azure-eventhubs-spark_2.11-2.3.15.jar```
```microsoft-spark-2.4.x-0.11.0.jar```

Seems that above 3 JARs are not getting passed via my earlier command. Is there any way to put these files via Spark Submit job as I intend to publ

[2020-05-13 20:23] sanket-t-shah commented on #325
Hi @imback82 / @joperezr - just wanted to check with you about any solution you have for the problem am facing or if you can connect me with someone. Would be highly obliged.

[2020-05-14 00:36] imback82 commented on #325
The following is happening from https://github.com/Azure/azure-event-hubs-spark. You may want to ask in that repo?
[code]

[2020-05-14 04:47] guruvonline opened #518 "[BUG]: Not able to return error from UDF"
i have a UDF  used in a Batch job(not streaming) which does one time initialization of reading some config data from blob storage and then run for each row. If there is some exception in initialization function of UDF,  it still continues with rest of my job.
Even if my UDF has throw, still my mail job continue with rest of the steps and don't fail the job.
How can i return error from my UDF, so t

[2020-05-14 05:03] imback82 commented on #518
I am a bit confused.

[code]

When you run above, your dataframe is not materialized since `Select` is a transformation, not an action. Thus, the UDF doesn't run yet.

So by the it reaches `CheckPoint` below, it's expected that UDF didn't run.

[code]

[2020-05-14 08:49] thrajput opened #519 "SPARK_VERSION_OVERRIDE rename request to use DOTNET suffix"
SPARK_VERSION_OVERRIDE rename request to use DOTNET suffix

[2020-05-14 12:03] SumitMeh opened #520 "Cosmos and Couchbase Spark Connector"
I tried using Couchbase 6.0.2 as a sink for Dataframe using [Couchbase Spark connector v2.4.0](https://docs.couchbase.com/spark-connector/2.4/download-links.html).
There was no error but nothing was written to Couchbase either.
`var dictionary = new Dictionary<string, string>
            {
                {"spark.couchbase.nodes", "127.0.0.1:8091"},
                {"spark.couchbase.username", "<u

[2020-05-14 16:38] suhsteve commented on #519
I was thinking about this.  Should we standardize all our ENV variable names with the same prefixes ?  @imback82 @Niharikadutta  what do you think ?

ie,
`DOTNET_SPARK_`   or  `SPARK_DOTNET_`

[2020-05-14 17:18] guruvonline commented on #518
in my checkpoint i have action to save UDF response DataFrame into table and inserts  current checkpoint datetime into checkpoint table (to indicate till that datetime records are processed).
 When my UDF executes(on saving to delta table) if there is error I was expecting it should not save into checkpoint table. my driver code is like

try
{
   read();
   calludf() ;
// i want when UDF executes

[2020-05-14 18:44] Niharikadutta commented on #519
I think we should do that, either looks fine to me.

[2020-05-14 19:12] imback82 commented on #519
We can do `DOTNET_SPARK_`, but let's make sure the backward compatibility (support two env variables for the time being).

[2020-05-15 04:42] imback82 commented on #518
The following works as expected (prints "exception thrown"):
[code]
You may want to share a simplest example to repro.

[2020-05-15 04:49] imback82 commented on #520
@SumitMeh did you call `Save()` at the end? `fileDataFrame.Write().Format("com.couchbase.spark.sql.DefaultSource") .Options(dictionary).Save();`

Otherwise, I don't see anything wrong on the Spark .NET side in the output file as you mentioned. Can you double check if the settings are correct (I am not familiar with this connector, so you may want to reach out the devs for the connector)? Thanks.

[2020-05-15 05:22] SumitMeh commented on #520
If i remember corretly, i did tried `Save()` but it expected it with parameter which is `table` and table doesn't makes sense with NoSQL. Anyways i will try `Save` again both with and without parameter and share exact logs. If that helps identifying issue then great else will reach out to devs for the connector as suggested by you.

[2020-05-15 05:33] imback82 commented on #520
Well, without `Save()` you are not performing any action, but just building `DataFrameWriter`. If I look at the connector API, you have to do the following for Scala: `people.write.couchbase(Map("idField" -> "uid"))`.  However, the `couchbase` eventually calls `Save()`:
https://github.com/couchbase/couchbase-spark-connector/blob/master/src/main/scala/com/couchbase/spark/sql/DataFrameWriterFunction

[2020-05-15 05:58] SumitMeh commented on #520
For Cosmos DB, i was missing `Mode(SaveMode.Append)` without mode it gave
`JVM method execution failed: Nonstatic method 'save' failed for class '33' when called with no arguments`.
So, changed code to
` fileDataFrame.Write()
                .Format("com.microsoft.azure.cosmosdb.spark")
                .Options(dictionary)
                .Mode(SaveMode.Append)
                .Save();`
along with

[2020-05-15 08:26] #520 closed

[2020-05-15 14:26] briancuster opened #521 "No Connection could be made because the target machine actively refused it"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/code
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

I tried to run the code sample for the .net Spark app and got an error message saying that System.Net.Internals.SocketExcepti

[2020-05-15 15:42] sanket-t-shah commented on #325
@joperezr, @imback82 - I recognized the problem. Event Hub Connection string needs to be encrypted with latest version. I don't have a sample for the same. Would it be kindly possible for you to give one?

Also, I had to move version back, and had to copy .jar files to ```spark\jars``` folder. Would there be any possibility to have dependencies installed / downloaded automatically? Pardon me if th

[2020-05-16 03:38] MaxKhlupnov commented on #325
Hello!
Jars was uploaded by spark-submit. I don't copy jars into spark folder.

[2020-05-16 09:28] suhsteve commented on #521
When you ran your app, did you run just your C# binary or did you try running it using `spark-submit` ?

[2020-05-16 17:33] imback82 commented on #521
@briancuster, Please check #395, #175. Thanks.

[2020-05-17 06:46] sanket-t-shah commented on #325
Thanks, @MaxKhlupnov for a super quick response. Closing this for now as obtained solution by lot of experiments.

[2020-05-17 07:26] sanket-t-shah opened #522 "Question - How to override log levels?"
Here is something that I see very heavily on console. Is there any way to remove INFO logs for DotnetWorker, SimpleWorker and TaskRunner classes? Tried via log4j.properties, but it didn't helped.

[code]

[2020-05-17 21:53] githubone opened #523 "Error "The system cannot find the path specified " when executing %SPARK_HOME%\bin\spark-submit --version"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/install-spark
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-05-17 21:57] githubone commented on #523
Please ignore this as the resolution is similar  to this https://github.com/dotnet/spark/issues/304
Thanks

[2020-05-17 21:57] #523 closed

[2020-05-17 23:35] imback82 commented on #522
Currently, you cannot turn this off and it is being tracked by #473.

[2020-05-17 23:38] imback82 commented on #501
@asif48 Did you try to set `COREHOST_TRACE=1` to see what's going on?

[2020-05-17 23:44] imback82 commented on #514
Thanks for the suggestion. Unfortunately, I don't think we can support/maintain this in our repo (unless there is a huge demand for this).

If you need to use this from you application, you can use https://github.com/aelij/IgnoresAccessChecksToGenerator to access internal classes of Spark .NET to call Scala functions for the connector. Please let me know if you need additional help. Once that is w

[2020-05-18 19:04] githubone opened #525 "Error encountered "An illegal reflective access operation has occurred" when running %SPARK_HOME%\bin\spark-submit --class org.apache.spark.deploy.dotnet.DotnetRunner --master local bin\Debug\netcoreapp3.1\microsoft-spark-2.4.x-0.10.0.jar dotnet bin\Debug\netcoreapp3.1\mySparkApp.dll"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-05-20 08:52] borgdylan opened #527 "[BUG]: TimestampType.FromInternal does not handle nulls"
**Describe the bug**
When iterating over a DataFrame with nullable timestamp columns, a NullReferenceException pops up. The issue is with TimestampType.FromInternal which does not contain a null check.

**To Reproduce**

Steps to reproduce the behavior:
1. Try foreach-ing the output of ToLocalIterator() on a DataFrame with timestamp columns containing nulls.
2. Notice the exception.

**Expected be

[2020-05-20 08:56] elvaliuliuliu commented on #527
Thanks for reporting this. I will take a look.

[2020-05-20 09:05] borgdylan commented on #527
This is a major blocker for some of my company's ETL pipelines.

[2020-05-20 09:06] borgdylan commented on #527
I also think that the DateType.FromInternal method suffers from the same bug (inspected using ILSpy).

[2020-05-20 09:21] borgdylan commented on #527
I have added the null checks locally and can verify that it fixes the bug.

[2020-05-20 09:24] borgdylan commented on #527
Below, please find a git patch series (one commit)that fixes the issue:

[code]

[2020-05-20 17:45] imback82 commented on #527
Thanks @borgdylan. We are also tracking this issue here: #436

[2020-05-21 05:36] imback82 commented on #527
@borgdylan Since you already have a fix, do you want to create a PR (with proper tests, etc.)? Otherwise, I can take care of it. Thanks.

[2020-05-21 07:06] borgdylan commented on #527
I do not have enough time to go through the whole process as I have work to carry out. Feel free to use my patch though.

[2020-05-21 15:03] borgdylan commented on #527
My patch can be applied using ```git am < file.patch``` where file.patch is the file in which the patch is in. That process will apply a commit equivalent to the one I did in my local copy.

[2020-05-21 23:06] elvaliuliuliu commented on #525
Could you share the full log?

[2020-05-23 02:29] WhitWaldo opened #529 "Using with .NET Interactive notebooks locally"
I'd ideally like to submit jobs to my Spark cluster (local or remote) via a Jupyter notebook. It turns out that there's a recent update to .NET Interactive to allow me to use their C# REPL within Jupyter, but I'm unable to find any documentation  indicating how to use this with Spark.NET.

Both Synapse and Databricks offer support to use notebooks online with Spark, so I'm looking for guidance on

[2020-05-23 04:10] imback82 commented on #529
Yes, this is doable.

First, run a `spark-submit` with a debug mode:
[code]
Now, open up the Jupyter notebook with dotnet-interactive kernel (C#), install `Microsoft.Spark` Nuget with `#r "nuget: Microsoft.Spark"`, and start writing your application:

![image](https://user-images.githubusercontent.com/12103644/82721254-5a17c980-9c70-11ea-9366-c78acd9a2f21.png)

The ability to write UDF in notebook

[2020-05-23 04:21] imback82 commented on #529
cc: @jonsequitur (just FYI)

[2020-05-25 19:42] moredatapls commented on #419
For work, I'd like to implement a similar scenario to integration test our Spark jobs. To simplify the development setup, we're running all our components (DB servers, Redis caches etc.) in a local Docker compose setup. I'd like to integrate the Dotnet Backend into this setup as well so that we can easily run the tests in the developer's IDEs as well as in our Azure pipelines without having to go

[2020-05-26 17:50] indy-3rdman commented on #419
@moredatapls,
for now I am using port redirection via socat as a workaround for my [docker image ](https://github.com/indy-3rdman/docker-dotnet-spark). So maybe that would be an option for you as well, until this gets implemented.

[2020-05-27 01:04] imback82 commented on #419
@indy-3rdman / @moredatapls So, what's the recommended way of doing this for the docker container? Would `socat` be enough or allowing users to override binding address/port will be a better solution?