[2020-10-28 15:11] GoEddie commented on #755
The thing to bear in mind is that UDF's run in a separate process so there is no shared state and your dependency injection code won't have run.

The process is your .NET application runs, calls Apache Spark which starts the separate worker application. The worker application loads your dll and uses reflection to find your method and calls it so no module initialisation or shared state will be ava

[2020-10-28 19:35] GoEddie opened #758 "[BUG]: UDF SerDe cannot get to FileNotFoundException because of null reference exception"
**Describe the bug**

When using a UDF if you do not have the dll in the working directory or have not configured DOTNET_ASSEMBLY_SEARCH_PATHS (or have configured it incorrectly) you get a Null Reference Exception in "/_/src/csharp/Microsoft.Spark/Utils/UdfSerDe.cs:line 168"

https://stackoverflow.com/questions/61496962/dotnet-apache-spark-object-reference-not-set-to-an-instance-of-an-object

[cod

[2020-10-28 22:23] fforgoso commented on #755
Thanks @GoEddie. Makes sense. I will give it a try ...

[2020-10-28 22:29] Niharikadutta commented on #755
@fforgoso You might find [this article](https://medium.com/hackernoon/how-to-log-in-apache-spark-f4204fad78a) helpful, that sort of illustrates what @GoEddie explained, in Scala.

[2020-10-28 23:33] fforgoso commented on #755
Works like a charm! Thanks again @GoEddie and @Niharikadutta!

[2020-10-28 23:33] #755 closed

[2020-10-29 04:49] akamor opened #760 "[BUG]: Applying UDFs to TimestampType causes occasional exception"
**Describe the bug**
When applying multiple UDFs to a dataframe an error is thrown when at least one of the target columns of the UDF is a TimestampType column.

**To Reproduce**

Below is a minimal reproduction you can use.  It includes a comment on how to create the necessary parquet file.  It must have 2 timestamp columns and a sufficient number of rows (~2k) for the issue to occur.  It is laun

[2020-10-29 05:00] akamor commented on #760
Here is the parquet file I used for my test to save you the trouble of having to make one.

[data.zip](https://github.com/dotnet/spark/files/5456257/data.zip)

[2020-10-29 05:14] imback82 commented on #760
Thanks @akamor for reporting this issue! @elvaliuliuliu Can you help with this?

[2020-10-29 05:17] elvaliuliuliu commented on #760
I will take a look!

[2020-10-29 09:46] elvaliuliuliu commented on #760
@akamor Thanks for providing the repro as well as the parquet data. I have run this test multiple times (>10) and they all succeeded. How frequent are you getting this error?

[2020-10-29 14:02] akamor commented on #760
This repros for me every time without fail.  To double check I just wiped away my initial setup and followed the above repo instructions to verify that what I posted is indeed reproducible.  I've included my exact steps below:

In powershell (not WSL):

[code]
Now open open Program.cs in your editor of choice and copy the contents of my Program.cs from above.

You'll need to provide your own crede

[2020-10-29 20:12] suhsteve commented on #760
Does this only repro if you use s3?  What if you read/write to a local storage ?

[2020-10-29 20:14] elvaliuliuliu commented on #760
I am running the app in my local environment which do not repro this issue.

[2020-10-29 20:51] akamor commented on #760
@suhsteve I've only ever repo'd this on S3.  Based on our investigation I think there is likely some race condition so it is believable that it might not occur using local storage, imo.

can y'all try on s3?  I can also send over some creds if you need assuming it can be done in a secure way.

[2020-10-29 21:44] akamor commented on #760
@elvaliuliuliu Sorry, just saw you already asked for the AWS setup.  I'll get that to you in a few minutes!

[2020-10-29 21:57] akamor commented on #760
@elvaliuliuliu Sorry, I don't actually know how to DM you.  How do I do that?  I'm ready to send the creds when I figure that out.

[2020-10-29 22:07] elvaliuliuliu commented on #760
If you would like to provide a contact info, I can reach out.

[2020-10-29 22:08] akamor commented on #760
Sure.  Can you reach out to hello@tonic.ai.  I'll see the e-mail and respond.

[2020-10-29 22:46] akamor commented on #760
@elvaliuliuliu Details sent!

[2020-10-29 22:56] elvaliuliuliu commented on #760
Sorry I don’t seem to receive anything yet.

[2020-10-29 22:58] akamor commented on #760
Just sent again. Please check spam folder, I guess?

[2020-10-29 23:01] elvaliuliuliu commented on #760
Yep, got it. Thanks!

[2020-10-30 01:08] elvaliuliuliu commented on #760
@akamor I was able to repro this issue with Spark 3.0. Thanks for providing all the details! However, spark 2.4 works in this case. Maybe you can try to unblock yourself with Spark2.4 for now and I will take a closer look at this with Spark 3.0. Thanks.

[2020-10-30 01:32] akamor commented on #760
Moving back to Spark 2.4 is not an option for us, unfortunately.  We have a non-ideal fix at the moment which we've implemented in RowConstructor.GetRow.

Instead of passing _args into the Row constructor we instead copy _args first into a new object[] then pass it along.  I'm sure we are taking a performance hit there, but it does fix things.  It is also why we *think* this is somehow a cache-ing

[2020-10-30 02:01] this-fifo opened #762 "[BUG]: macOS Catalina Permissions"
**Describe the bug**
Permission issues when requiring `Microsoft.Spark.Worker`

**To Reproduce**

Steps to reproduce the behavior:
I am not sure but this happens only when I try to use a custom `When` predicate, example:
[code]
I'm doing this logic to handle for when I don't have a value for `State` but I will have a value for `StateIso`, which I pass to that string function that goes in a switch

[2020-10-30 02:04] this-fifo commented on #762
Looks like I was able to move past the `Microsoft.Spark.Worker` permissions by doing
[code]
but now I am getting the following error
[code]

[2020-10-30 02:13] elvaliuliuliu commented on #760
I agree with @akamor , the above two methods are not permanent fixes. I will investigate more on the underlying issue and get back on this.

[2020-10-30 23:26] #758 closed

[2020-10-31 06:53] sergiodelossantosjr opened #763 "I can't iterate in DataFrame"
Hi Guys,

Please help on this, why I cant iterate in DataFrame?
Below is my screenshot:
![image](https://user-images.githubusercontent.com/22256389/97773211-e2d45300-1b88-11eb-9b5c-2bed8d72d1d2.png)

[2020-11-02 13:59] GoEddie commented on #763
"Unsupported class file major version" normally means you have the incorrect Java VM version. If you have Apache Spark 3.0 then you can use a Java 8 or 11, if you are using an older version then you will need Java version 8.

[2020-11-02 19:46] jonathantonic commented on #754
Hey @Niharikadutta, any luck reproducing?

[2020-11-02 20:06] Niharikadutta commented on #754
Hey @jonathantonic I am sorry for the delay have been a little occupied, I am working on it and will get back to you soon. Thanks for your patience!

[2020-11-03 05:04] sergiodelossantosjr commented on #763
Thank you @GoEddie for your help, you're right its my version of Spark has the issue so I upgraded it to Spark 3.0 and its work now 👍

[2020-11-03 05:04] #763 closed

[2020-11-03 16:50] imback82 commented on #760
Any update on this? We need to decide whether this is a blocker for 1.0.1 release or not.

[2020-11-03 16:54] akamor commented on #760
@imback82 It is certainly causing issues for us in multiple production deployments.  We'd be very appreciative if this could get fixed in 1.0.1.  We can also assist with testing if that helps.

[2020-11-04 09:25] elvaliuliuliu commented on #760
Spark 3.0 works fine in local environment but not with remote storage s3 in this case. I am actually not sure what caused this issue with remote storage for Spark 3.0.

@akamor I have a potential fix (PR #765) which should unblock you. Please kindly try it and let me know if this doesn't address the issue.

Any other ideas are very welcome.

[2020-11-04 10:51] Niharikadutta commented on #754
Hi @jonathantonic I was able to reproduce this on AWS as well as Azure Databricks for Spark versions 2.4.5 and 3.0.1. We are working on coming up with a solution/workaround and will update you as soon as we have a plan. Thanks!

[2020-11-04 14:59] akamor commented on #760
I'll give it a whirl in a moment.  We actually did a similar fix on our side but decided to go more heavy-handed in case there were other hidden issues.

It seems like the real issue here is re-use of the arrays storing values before being passed to the Row constructor (line 104 of spark/src/csharp/Microsoft.Spark/sql/RowConstructor.cs.  Is that your take as well?  If so, is it possible this issue

[2020-11-04 15:31] akamor commented on #760
I can confirm the PR fixes the issue in our test cases.  Thank you very much for such a rapid turnaround.

With that being said, I would be curious to hear your thoughts on my above point.

[2020-11-05 08:32] artyomtserashkovich opened #767 "[BUG]: Set Jar failed on Azure Databricks"
**Describe the bug**
Databrick's job which was set up by set jar is failing during executions. Otherwise, the job which was set up by spark-submit with similar parameters is executing successfully.  In both scenarios, the cluster was set up with the same init script and the same dotnet spark app was used (Word Count from examples).

**To Reproduce**
Spark Version: 5.5 LTS (includes Apache Spark 2.

[2020-11-05 09:11] Niharikadutta commented on #767
According to the logs, looks like it is failing because of the R interpreter not starting:

`
ERROR RShell: Failed to evaluate init script at path '/local_disk0/tmp/_CleanRShell.r7367937823248128280resource.r'
20/11/05 08:23:05 ERROR RDriverLocal: Starting R interpreter failed.
`
What is this job doing? Also are you submitting the exact job through `spark-submit` and it always succeeds? How many t

[2020-11-05 09:18] ArtemTereshkovich commented on #767
I use the same example from [Get-Started topic](https://docs.microsoft.com/en-us/dotnet/spark/tutorials/get-started?tabs=windows#3-write-your-app) for `spark-submit` and `set jar` with the same args. `spark-submit` always succeeds but `set jar` failed every time.

[2020-11-05 19:23] Niharikadutta commented on #767
Got it, let me try to reproduce this and get back to you.

[2020-11-06 01:49] zbills opened #768 "[BUG]:DataFame.Persist seems not working"
**Describe the bug**
I am trying to use DataFrame.Persist() to save the computing results and avoid re-computing seems it is not working

here is the concept of my code:

var df1 = input.Groupby(key).apply(udf(batchRecode)).persist();

var df2 = df1.Select()

**To Reproduce**
I am using
Azure HDInsight cluster,
Using Scala version 2.11.12, OpenJDK 64-Bit Server VM, 1.8.0_262
Branch Clearlake/Relea

[2020-11-06 05:15] steven95421 commented on #475
I'm facing the same error. With Microsoft.SqlServer.Types

[2020-11-08 22:44] jolurf commented on #304
Hey guys. I got the same issue.
My %JAVA_HOME% is C:\Program Files\Java\jdk-15.0.1
MY %SPARK_HOME% C:\Spark\spark-3.0.1-bin-hadoop2.7
and when i try to run %SPARK_HOME%/bin/spark-shell I get
"System couldn't find specified path'

[2020-11-09 10:29] vineeetska opened #769 "EMR zero performance with spark udf"
Hi,

I am working on AWS EMR infra with target OS ubuntu.16.04-x64 & Microsoft.Spark 1.0.0 with dotnet core 3.1
We are using DataFrame with Udf to match X regex with Y problem statements where X,Y are more than 5K.

It's execution time is more than 2 hrs when run with AWS EMR.

Execution steps,

1. Load text file into DataFrame.
2. Apply filters.
3. Create temp view.
4. Execute udf func for each r

[2020-11-09 18:33] clegendre opened #770 "Log redirection issue on DotnetRunner"
https://github.com/dotnet/spark/blob/b8e2259bcf81ea82bb0827321664ebb6889ba56b/src/scala/microsoft-spark-2-4/src/main/scala/org/apache/spark/deploy/dotnet/DotnetRunner.scala#L128

Shouldn't be getInputStream here

https://github.com/dotnet/spark/blob/b8e2259bcf81ea82bb0827321664ebb6889ba56b/src/scala/microsoft-spark-2-4/src/main/scala/org/apache/spark/deploy/dotnet/DotnetRunner.scala#L130

And getO

[2020-11-09 19:19] imback82 commented on #769
@vineeetska, for the C# UDF to be executed, the values should be moved out of JVM and be executed on CLR, incurring some overhead. If you are just doing regex, I suggest to check the built-in regex SQL function, which will be executed on JVM: https://github.com/dotnet/spark/blob/b8e2259bcf81ea82bb0827321664ebb6889ba56b/src/csharp/Microsoft.Spark/Sql/Functions.cs#L2430

If that is not an option, th

[2020-11-09 19:37] imback82 commented on #770
@clegendre Can you elaborate what's wrong here? Please check this for `getInputStream`: https://docs.oracle.com/javase/8/docs/api/java/lang/Process.html#getInputStream--  . For example, `getIntputStream` returns `the input stream connected to the normal output of the subprocess.` so that the parent process can consume the stream.

[2020-11-09 20:30] clegendre commented on #770
You might have right, I've been disappointed by the logs on Azure Synapse Spark which shows the whole output logs on **stderr**.
So it must be an issue on Synapse Spark.

![image](https://user-images.githubusercontent.com/1580277/98592803-841e8000-22d2-11eb-89d8-227f2ad55ae0.png)

[2020-11-09 21:04] imback82 commented on #770
These logs in `stderr` are normal (you can check HDInsight and Databricks. Only the outputs from your application (e.g., `Console.WriteLine`) should land in `stdout`.

[2020-11-09 21:06] clegendre commented on #770
Oh OK, thanks for the clarification!

[2020-11-09 21:06] #770 closed

[2020-11-10 11:46] luciantimar opened #771 "Apache Sedona with Spark .NET"
I'm new to Spark and might be the case that my question to be trivial but is there any possibility to use Apache Sedona with Spark .NET.
I know the Spark SQL could be used to make the queries with Spark .NET but I don't know how to register the GeoSparkSQL/Sedona.
Than you.

[2020-11-10 17:34] imback82 commented on #771
@luciantimar I am not familiar with Apache Sedona, but it seems possible to use Sedona with Spark .NET; you many need to expose some Sedona specific classes in .NET. Can you share a specific scenario where we can help (sharing logs where integration doesn't work, etc.)?

[2020-11-11 01:37] akamor opened #772 "[BUG]: Cannot call read.parquet on Spark 2.4.4"
**Describe the bug**

Calling _sparkSession.Read().Parquet(tablePath) on an EMR 5.28.0 using Spark 2.4.4 causes an exception.  This exception does not on Spark 3.0.

We are currently using v1.0.0 of dotnet+spark.  This issue did not occur before we upgraded from v0.12.1.

**To Reproduce**

Steps to reproduce the behavior:

Using data in S3 the above function calls throws an exception.  The stack t

[2020-11-11 01:48] imback82 commented on #772
From the .NET Spark side, it just calls `DataFrameReader.parquet` as you can see from the call stack you shared:
[code]

Seems like v2 datasource is being used by default in your Spark distro (usually, v1 datasource is used by default). Can you double check on your side?

[2020-11-11 01:52] akamor commented on #772
@imback82 Thanks for fast reply.

Are you asking if the Spark distro is using v1 or v2 Datasource API?  If so, how do I check that?

[2020-11-11 01:59] imback82 commented on #772
From the callstack, it appears that your Spark distro cannot find `org.apache.spark.sql.execution.datasources.v2.FileDataSourceV2` while looking up data source (`lookupDataSource`). I don't have a visibility to Spark distro in Amazon EMR, so not sure what's happening.

Can you quickly check this in Scala? (`spark.read.parquet("/data_location")`)

[2020-11-11 02:05] akamor commented on #772
I understand your point now.  Thanks for clarifying.

When I run spark.read.parquet(...) directly from spark-shell on EMR 5.28.0 with Spark 2.4.4 I get the same error.

[2020-11-11 02:05] akamor commented on #772
When running it on EMR 6 with Spark 3 no such error occurs.

[2020-11-11 02:14] akamor commented on #772
Looks like this problem is entirely on my side.

For anyone that encounters this in the future I've narrowed the problem down to a package I was importing when calling spark-shell and spark-submit which was incorrectly referencing spark3 (even when called on a spark 2 cluster).

Thanks @imback82 and sorry for the noise.

[2020-11-11 06:52] luciantimar commented on #771
Hi,
I'm not familiar with Apache Sedona too, but I investigate the possibility to use it for its spatial data features.
Frankly, I'm new to Spark too but I have to use .NET in projects, and Spark .NET is a very good candidate.
And I have no idea where to start.

Based on their tutorial
http://sedona.apache.org/tutorial/sql/

To initiate Spark context
[code]

but then I have to register Register Ge

[2020-11-11 06:59] imback82 commented on #772
No problem!

[2020-11-11 06:59] #772 closed

[2020-11-11 12:42] artyomtserashkovich commented on #767
The issue is resolved. Didn't notice that `SparkSession.Stop()` can't be invoked with `SetJar`.

[2020-11-11 12:42] #767 closed

[2020-11-11 18:40] Niharikadutta commented on #754
HI @jonathantonic , the fix for this bug is in PR - https://github.com/dotnet/spark/pull/766 and will be available in v1.0.1, which is the next release.

[2020-11-12 04:45] Niharikadutta opened #773 "E2E tests occasionally fail with `No connection could be made because the target machine actively refused it` errors"
**Describe the bug**
E2E tests on the pipeline occasionally fail with the following error:

`
[2020-11-12T00:46:20.4899856Z] [WIN-CB3SCTO3KGE] [Exception] [JvmObjectId] Unable to read data from the transport connection: An established connection was aborted by the software in your host machine..
   at System.Net.Sockets.NetworkStream.Read(Byte[] buffer, Int32 offset, Int32 size)
   at System.IO.Bu

[2020-11-12 06:12] #754 closed

[2020-11-12 11:44] luciantimar opened #774 "[BUG]: Error when trying to process multiple csv files using Spark 2.4.1."
When version 2.4.1 of Spark is used the read multiple CSV files and exception is generated and csv processing is stoped.
If a single file is provided then the execution finishes successfully.
I have tried also to use `Format("csv")` and the `Load `method but the exception is similar.

[JvmBridge] JVM method execution failed: Nonstatic method 'csv' failed for class '7' when called with 1 arguments

[2020-11-12 11:58] luciantimar commented on #774
A small update may help.
The issue is reproduced only there are more than 32 files in that folder, each file with approx 1 mil lines

[2020-11-12 13:27] SWATOPLUS opened #775 "[FEATURE REQUEST]: Add AwaitTerminationAsync for StreamingQuery"
I am wanna to mange with many StreamingQuery in single spark job. So adding a AwaitTerminationAsync method should resolve this problem.

The example solution

[code]

[2020-11-13 01:12] elvaliuliuliu commented on #760
Followed the repro and data provided by @akamor, please see below as my repro and investigation:

**To repro, I copied the following file into `Basic.cs`, read the data locally:**
[code]
input file:
[test.zip](https://github.com/dotnet/spark/files/5534082/test.zip)

then I run the following `spark-submit` command
[code]

Found the error:
[code]
**Initial investigation:**
1)Before unpickling: RowCo

[2020-11-13 05:39] imback82 commented on #775
@SWATOPLUS we only expose APIs that are already available on the Java/Scala side. This can be just added in your application as needed?

[2020-11-13 05:41] imback82 commented on #774
If you see `Unsupported class file`, it usually means the mismatch of Java versions. Can you share the Java version you are using? Note that Spark 2.4 only supports Java 8.

[2020-11-13 05:45] imback82 commented on #771
Yes. You can check out this repo how the bindings are done: (e.g., https://github.com/dotnet/spark/blob/master/src/csharp/Microsoft.Spark/Sql/SparkSession.cs)

You need to access internal classes if you are developing outside this project, so this will help: https://github.com/aelij/IgnoresAccessChecksToGenerator

[2020-11-13 06:40] luciantimar commented on #774
Hi,
I had Java 11 installed.

With Java 8 works.

Anyway, what confused me was that if the folder contains less than 32 files, everything worked even with Java 11.

Thank you.

[2020-11-13 06:40] #774 closed

[2020-11-13 06:46] imback82 commented on #774
Different code path - compatible with Java 11 - must have been taken.

[2020-11-13 06:49] luciantimar commented on #771
Thank you for your information.
I will give it a try to see how it works.
If I will not manage it I will come back with new questions.

Thank you.

[2020-11-13 06:49] #771 closed

[2020-11-13 09:13] luciantimar commented on #249
Hi,

I got a similar issue with Spark .Net 1.0 but the issue is only when I am using Udf functions.
The Show method shows the correct results.

Is it something that I should worry about? or is just some cleaning exceptions because the log is showing that the "RunSimpleWorker() finished successfully" and also "DotnetRunner: .NET application exited successfully".

Java version 8
Spark 2.4.1 or Spark

[2020-11-15 12:58] SWATOPLUS commented on #775
I think it will be good if you found some other way to complete the task, instead of Delay. Maybe java api has some callback registration. and so on. Yeah this is not hottest feature, but it need to be implemented in dotnet way.

[2020-11-16 15:37] lqdev opened #776 "[BUG]: IsIn Function not in API Docs"
**Describe the bug**

`IsIn` function is not in API Docs.

https://github.com/dotnet/spark/blob/38531dee4a3f508c398ebb0a69fd922213ae6492/src/csharp/Microsoft.Spark/Sql/Column.cs#L770

**To Reproduce**

Go to docs and search / browse for `IsIn`.

https://docs.microsoft.com/en-us/dotnet/api/microsoft.spark.sql.column?view=spark-dotnet

[2020-11-16 20:25] Niharikadutta commented on #776
Thanks @lqdev for reporting this issue. I verified there are more APIs that are exposed as part of the latest v1.0.0 that have not made it to the API documentation yet (Such as `DataFrame` APIs: `ToJson()`, `Explain(String mode)`, `Observe()` etc.) and I wonder if it might be because they haven't synced with the latest `Microsoft.Spark` version yet. I checked the reference documentation for all th

[2020-11-17 14:27] zelgawis2 commented on #304
Hey,
I got the same issue today. Reading this topic and suggested solutions I wanted to install a new Java version to get rid of the problem.
**but...** before I did this I checked my %JAVA_HOME% environment variabale in cmd (echo %JAVA_HOME%) and it returned some version number.
Then I checked java version in cmd (java -version) and it returned **some other** version number.
So I just simply upda

[2020-11-17 16:10] thedanfields opened #777 "[Question] Is there a way to use the GenericRow to load a complex type in a MapType?"
Hi!
I'm currently using v1 of the Microsoft.Spark nuget packages and the microsoft-spark-2-4_2.11-1.0.0.jar.

I've currently got the need to have a DataFrame schema which looks similar to this:

[code]

I'm trying to write tests by generating data using a `GenericRow` to hydrate a `DataFrame` like so:
[code]

During execution, I receive run time errors stating:

[code]
Is there a way to do accompl

[2020-11-18 15:44] vineeetska commented on #769
Thanks @imback82 for the response & sorry for replying late.

I have used Regex cache to avoid recompiling [Regex.IsMatch](https://docs.microsoft.com/en-us/dotnet/api/system.text.regularexpressions.regex.ismatch?view=net-5.0) with [Regex.CacheSize](https://docs.microsoft.com/en-us/dotnet/api/system.text.regularexpressions.regex.cachesize?view=net-5.0)=6000

I am using below spark-submit cmd in aws

[2020-11-18 17:56] bolcman opened #778 "[FEATURE REQUEST]: Support for regression models"
Hi,

I see that some of the MLlib functionalities are already in place, is there any plan to support other?
Specifically, I'm interested in regression models.

Thanks,
Aleks

[2020-11-18 22:14] GoEddie commented on #778
Hi,

We have started implementing the ml features:

https://github.com/dotnet/spark/issues/381

There isn’t a formal plan to implement ml other than I started with features and was then going to move onto the rest of the ml objects.

If you would like to contribute and would like some pointers I would be happy to help. If you aren’t able to commit but are blocked by an object not being available l

[2020-11-19 01:52] Niharikadutta commented on #776
Thanks for reporting this and working on getting the v1.0.0 nuget updated with the .NET API browser @lqdev ! Closing this issue as it has been resolved.

[2020-11-19 01:52] #776 closed

[2020-11-19 12:24] artyomtserashkovich commented on #419
Hello. Any updates due to this feature request and #537 PR? We have some dependencies for Environment's setup(dev and test) and this feature will be very helpful.

[2020-11-19 12:56] SWATOPLUS opened #779 "[BUG]: Cannot join to external master node"
I want to use Azure DataBricks for local integration testing. I have write some test for this.

[code]

If I don't set SparkSession.Builder().Master() property test works well with local spark-submit started in debug mode. If I set some some spark url like "spark://4.2.2.2:8795" or just  wrong address like "#" the builder throws network exception with localhost ip address (127.0.0.1)

Looks like t

[2020-11-19 13:01] thedanfields commented on #777
@Niharikadutta !!! Thanks so much.

Out of curiosity, what c# type should I use for a `StructType`, if I wanted to keep the original schema I provided?

Thanks again for your time and attention!  Really appreciate it.

[2020-11-19 13:05] SWATOPLUS opened #780 "[FEATURE REQUEST]: In menory DataFrame"
I need ability to write unit tests for my data conversion. I want to create to DataFrame using in-memory collection, and then apply some changed like select or applying UDF. Now I need to start spark submit locally in debug mode to run this tests. It prevent using CI for my tests.

[code]

It can be implemented like loading spark-submit jars in-memory like loading of spark java client now.

[2020-11-20 01:23] imback82 commented on #780
Can you check how this repo set up the E2E tests? https://github.com/dotnet/spark/blob/master/src/csharp/Microsoft.Spark.E2ETest/SparkFixture.cs

[2020-11-20 04:52] Niharikadutta commented on #777
I'm not sure I understood your question, but if you want to use `StructType` as the original schema, you would need to change your `nestedComplexMap` to use `StructType` instead of `Dictionary` in the nested type.

[2020-11-20 15:26] ramanathanv commented on #381
@GoEddie As part of #381, SQLTransformer class is in progress

[2020-11-20 18:02] GoEddie commented on #381
Awesome - have updated list :)

[2020-11-22 08:53] KimKiHyuk commented on #601
I hope it helps

[code]

[code]

![image](https://user-images.githubusercontent.com/32787543/99899265-461a5680-2ceb-11eb-9a22-db3326013a0b.png)

you can try it on
https://github.com/indy-3rdman/spark/tree/dev-docker-image/docker/images/dev

[2020-11-23 10:50] abhaysibal commented on #230
@bamurtaugh I ran into the same issue just now, and was stuck for long. Thanks for posting this!

[2020-11-24 01:55] this-fifo opened #782 "[QUESTION]: Using appSettings.json with Azure Databricks job"
Hey, I am using an `appSettings.json` configuration file like this in my .NET Core project

[code]

And I have the following in my `.csproj`

[code]

This works fine running locally through `spark-submit`

Now I have tried following the Databricks deployment tutorial and have used the Set Jar option when configuring a new job using the `publish.zip` generated from `dotnet publish -c Release -f net

[2020-11-24 02:05] elvaliuliuliu commented on #782
@this-fifo Can you try using [Databricks CLI](https://docs.databricks.com/dev-tools/cli/index.html) to upload files to the required location mentioned in the error message? Similar to step 2 in Publishing your App & Running section described [here](https://github.com/dotnet/spark/tree/master/deployment#run-your-app-on-the-cloud-2)

[2020-11-24 02:10] this-fifo commented on #782
@elvaliuliuliu thank you for the quick reply!

I was able to make it work past that step just now by simply removing the attempt to locate the file and use the absolute path since it gets copied over to the `publish.zip`

what I basically did was comment that line to test just now and it worked

[code]

I agree this doesn't seem elegant tho, might be nicer to think of a way to include that file us

[2020-11-24 03:26] ageekymonk opened #783 "[FEATURE REQUEST]: Graphx Support"
**Is your feature request related to a problem? Please describe.**
We would like to use graphx from dotnet spark

**Describe the solution you'd like**
Support for graphx

**Describe alternatives you've considered**
NA

**Additional context**
NA

[2020-11-24 03:59] elvaliuliuliu commented on #782
@this-fifo  Glad to hear you have a workaround for this issue. I am not so sure but from the error above, it shows the path is `/databricks/driver/appSettings.json`?

[2020-11-24 11:59] martina-oefelein commented on #762
Run into the same issue.

Depending on how you downloaded and unpacked `Microsoft.Spark.Worker`, it may have a “quarantine” attribute set that triggers this behavior. To remove, use the `xattr` command:

[code]

[2020-11-24 14:14] this-fifo commented on #782
@elvaliuliuliu yes, thank you, it seems that value is the absolute path it is outputting in the error message when it tries to find it, hardcoding it on my project to be that is actually worse then leaving it as just the filename — _having it be the filename makes it so it still works locally but if I use `/databricks/driver/appSettings.json` it won't work locally without manually updating everyti

[2020-11-24 14:20] this-fifo commented on #475
Not sure if this is related but I can actually load and invoke `System.Data.SqlClient` with no problem inside a Databricks cluster on Azure

I do however, get this issue shortly after that I am not being able to solve right now.

I am thinking it could be related to the fact that the runtime is linux and the tcp socket to SQL Server needs to be configured differently than the default values but I

[2020-11-24 14:48] this-fifo commented on #782
I guess I realize now uploading there would probably make it work with the `Path` function

My concern with using that location is that I don't understand if that is permanent or what controls it, whereas using the root of `publish.zip` keeps things in my control and remove that step

Maybe that's the solution for now?

I still would like to better understand how Databricks handle the executing as

[2020-11-24 21:55] #782 closed

[2020-11-24 22:03] this-fifo opened #785 "[QUESTION]: How to use SparkSession.ExecuteCommand"
I have found this page in the [documentation](https://docs.microsoft.com/en-us/dotnet/api/microsoft.spark.sql.sparksession.executecommand?view=spark-dotnet) but I would like to know how to use it

I have tried doing the following example:

[code]

StackTrace:
[code]

[2020-11-24 23:57] imback82 commented on #785
Can you share the full log please?

[2020-11-25 00:11] this-fifo commented on #785
Sure, here's the full stack trace

[code]

[2020-11-25 07:24] imback82 commented on #785
Do you have a `runner` class that implements `ExternalCommandRunner` on the JVM side?

[2020-11-25 07:27] #762 closed

[2020-11-25 13:51] this-fifo commented on #785
Ah, so that's how you use it? I knew I was doing something wrong, I certainly did not implement an `ExternalCommandRunner` JVM class 🙈

Thank you for the explanation @imback82 , I certainly did not pay attention to that and was expecting it to be way too high level of an abstraction for anyone's taste 😅

[2020-11-25 13:51] #785 closed

[2020-11-25 20:42] Niharikadutta commented on #779
@SWATOPLUS Are you using [Spark standalone cluster deployment](https://spark.apache.org/docs/latest/spark-standalone.html#installing-spark-standalone-to-a-cluster)? If yes, can you confirm where your Spark Master is running? That URL is the URL you would need to set at `SparkSession.Builder().Master("spark-master-url")`.

[2020-11-27 15:06] thedanfields commented on #777
Hey @Niharikadutta, thanks for your response.

I see why I was unclear.

Ultimately I do not have control of the schema, it's being dictated by a process upstream.  My goal is to be able to use the `GenericRow` to create some fake data to mock the result of that upstream process.

I am stuck with this schema:

[code]

I've tried a number of ways of using the `GenericRow` to adhere to the schema, b

[2020-11-29 05:55] KimKiHyuk opened #786 "[BUG]: .NET Spark with udf not works on AWS EMR"
**Describe the bug**

my app(emrApp) contains udf function (not external file, just built in)
when i tried to execute it in local, it works well
[code]

but when i tried it on AWS EMR with
[code]
stderr said
[code]

I feel it's quite similar with https://github.com/dotnet/spark/issues/615

source code is
[code]

**To Reproduce**

Steps to reproduce the behavior:
1. deploy cluster
[code]
2. Add ste

[2020-11-29 06:01] imback82 commented on #786
Did you deploy `emrApp` to the executors? `--archives` is an option if you are using YARN. Check this doc as well: https://github.com/dotnet/spark/blob/master/docs/deploy-worker-udf-binaries.md#2-parameter-options

[2020-11-29 06:31] KimKiHyuk commented on #786
thank you for your reply :)

First, i've tried it but that's not work..
command
[code]
[code]

i'm following this description
https://docs.microsoft.com/en-us/dotnet/spark/tutorials/amazon-emr-spark-deployment

in docs,
spark-submit \
--master yarn \
--class org.apache.spark.deploy.dotnet.DotnetRunner \
--files <comma-separated list of assemblies that contain UDF definitions, if any> \
s3://mybuck

[2020-11-29 06:44] KimKiHyuk commented on #786
@imback82
Do you mean that include with udf functions name?

like

[code]
[code]

[2020-11-29 07:43] KimKiHyuk commented on #786
hmm..  log said new error
[code]
[code]

[2020-11-29 12:54] KimKiHyuk commented on #786
@imback82

I read docs that you linked carefully, but i don't get it why should i pass these parameters and how..
I would appreciate it if you would explain under questions.

in the examples,
`DOTNET_ASSEMBLY_SEARCH_PATHS= ./udfs` , so i've searched my published app has udfs, but there's no file udfs
what kind of string should i pass to DOTNET_ASSEMBLY_SEARCH_PATHS? is it emrApp(my app name) ? or

[2020-12-06 11:22] Niharikadutta commented on #777
@thedanfields Thanks for explaining your scenario and apologies for the late reply. It is currently not possible to create a DataFrame for the schema you have provided (or nested DataFrames in general) because we do not support `GenericRow` as an argument as of [yet](https://github.com/dotnet/spark/blob/master/src/csharp/Microsoft.Spark/Interop/Ipc/PayloadHelper.cs#L376). We can talk about support

[2020-12-07 00:53] imback82 commented on #777
@Niharikadutta, Can you check if we can make the following work?

[2020-12-07 13:34] markookram opened #788 ".NET Apache Spark write to ElasticSearch"
Does .NET for Apache Spark supports writing to Elastic Search?

If not, do you have a hint when that might be available?

Thank you

[2020-12-07 13:46] #786 closed

[2020-12-07 18:38] thedanfields commented on #777
@Niharikadutta, thanks again for the attention to this.

Just to follow up, While I wasn't able to _directly_ create the needed data, I managed to do it _indirectly_ with two DataFrames and some joins.

[2020-12-08 16:54] GoEddie commented on #788
I haven't used it so can't confirm if this works but if you can get the elastic search hadoop jar and use this to write then it should work:

[code]
Download:

https://www.elastic.co/downloads/hadoop

Inside the download is "elasticsearch-spark-20_2.11-7.10.0.jar" pass that to your Apache Spark job when you submit your .NET for Apache Spark application using "--jars /path/to/elasticsearch-spark-20

[2020-12-08 19:00] Niharikadutta commented on #777
Yes @imback82 I did test this and it failed with `[Exception] [JvmBridge] Type Microsoft.Spark.Sql.GenericRow not supported yet`, so was wondering if we want to add the support [here](https://github.com/dotnet/spark/blob/master/src/csharp/Microsoft.Spark/Interop/Ipc/PayloadHelper.cs#L376), will test it out.

[2020-12-08 19:01] Niharikadutta commented on #777
@thedanfields could you elaborate a little more on how you created it indirectly with two DataFrames? Thanks!

[2020-12-08 21:20] akamor opened #789 "[BUG]: Cannot run UDFs on AWS Databricks v7.4"
**Describe the bug**
When running program including UDFs I get following exception:

Caused by: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 38.0 failed 4 times, most recent failure: Lost task 0.3 in stage 38.0 (TID 40, 10.175.227.18, executor 0): java.io.IOException: Cannot run program "Microsoft.Spark.Worker": error=2, No such file or directory

This excepti

[2020-12-08 22:02] Niharikadutta commented on #789
@akamor Have you modified the `db-init.sh` file to download the v1.0 release? (The current version has version 0.2.0 as shown below)

![image](https://user-images.githubusercontent.com/8151864/101546506-bc5ec000-395d-11eb-955a-132bece0a4d5.png)

[2020-12-08 22:30] akamor commented on #789
Hi @Niharikadutta

So I just deleted my old db-init and install-worker scripst because I had modified them a bit and I started fresh and made the change you suggested above and things seem to be working a little better now.

The program still fails when the first UDF is called, however, the exception now is much different.  I've included it below.  FWIW, this same code runs on AWS EMR and on regul

[2020-12-08 22:37] akamor commented on #789
@Niharikadutta Ah, I also see from the cluster init logs that the install-worker.sh script is exiting with errors:

tar: Microsoft.Spark.Worker-1.0.0/Apache.Arrow.dll: Cannot change ownership to uid 197108, gid 197121: Invalid argument
tar: Exiting with failure status due to previous errors

The above line about Cannot change ownership seems to repeat for each file in the tarball.  If the tar comm

[2020-12-09 00:41] akamor commented on #756
@Snapperhead123 Can you provide a few more details on how you solved this problem?  I believe I'm encountering it now.

[2020-12-09 00:52] Niharikadutta commented on #789
@akamor As per the following error in the stacktrace you provided, it looks like the environment variable to find the assemblies where your UDF is defined is not set:

[code]

Could you please set the value of env variable `DOTNET_ASSEMBLY_SEARCH_PATHS` to `/dbfs/apps/dependencies` (where you have uploaded your dlls)?

Regarding the error about changing ownership, I am not sure I have encountered

[2020-12-09 01:42] akamor commented on #789
Settings DOTNET_ASSEMBLY_SEARCH_PATHS moves things further along but I get a new error:

System.IO.FileNotFoundException: Could not load file or assembly 'Allos.Core, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null'. The system cannot find the file specified.

Allos.Core is an assembly in our project.

I've also set DOTNET_WORKER_DIRECTORY=/usr/local/bin/Microsoft.Spark.Worker but that does

[2020-12-09 02:06] akamor commented on #789
Ah, I see.  I need to add Allos.Core.dll to /dbfs/app/dependencies as well.

The issue is we have 100s of DLLs in our publish directly.  Must I copy all of them to /dbfs/app/dependencies?

[2020-12-09 02:34] Niharikadutta commented on #789
@akamor You can use the `--archives` option instead of `--files` as documented [here](https://spark.apache.org/docs/latest/running-on-yarn.html#important-notes). Another option would be to upload your zip file to `/dbfs/app/dependencies` and then using `%sh unzip` to unzip them into a folder, and point `DOTNET_ASSEMBLY_SEARCH_PATHS` to that folder.

[2020-12-09 07:43] abhilasha9411 opened #791 "[BUG]: java.lang.IllegalArgumentException: Maximum String literal length exceeded"
at scala.tools.asm.ByteVector.putUTF8(ByteVector.java:213)
	at scala.tools.asm.ClassWriter.newUTF8(ClassWriter.java:1114)
	at scala.tools.asm.ClassWriter.newString(ClassWriter.java:1582)
	at scala.tools.asm.ClassWriter.newConstItem(ClassWriter.java:1064)
	at scala.tools.asm.MethodWriter.visitLdcInsn(MethodWriter.java:1187)
	at scala.tools.nsc.backend.jvm.GenASM$JPlainBuilder.genConstant(GenASM.sca

[2020-12-09 07:53] Snapperhead123 commented on #756
Hi Akamor

If you use UDFs in your code, you have to specify the path to the dll where the code is (even of the the dll is the same as the main program) Notice the top-level "--files" parameter in the call below. This is needed for the code to run succesfully.
spark-submit --deploy-mode cluster --master yarn --files wasbs://xxx@yyy.blob.core.windows.net/SparkJobs/mySparkApp.dll --class org.apache.

[2020-12-09 12:36] akamor commented on #789
@Niharikadutta I'll give the zip command a try.

AFAIK, --files and --archives aren't suitable for us as we are using the Set JAR option on Databricks.

When we run our offering on using spark-submit we do use --archives which is why we were unsure what to do in this situation.

[2020-12-09 13:56] gaoyangxiaozhu opened #792 "[BUG]: dotnet-interactive will hang due to deadlock if recursively call Spark Dotnet method"
### Describe the bug

#### It is not easy to desrible the bug  by simply explaining,  i will share the detail context to you for your understand the issue.
#### We are currently working on creating a utility jar package which can be used to recursively launch multiple dotnet-interactive instances to run sparkNet code blocks. The code blocks from different csharp notebooks, one dotnet-interactive i

[2020-12-09 14:47] markookram commented on #788
@GoEddie tnx.
I'll try, and will share experience.
 :):)

[2020-12-09 19:55] akamor commented on #789
Thanks @Niharikadutta We were able to resolve this by simply packaging up additional items before sending to databricks and using the ENV vars you suggested.

[2020-12-09 21:41] Niharikadutta commented on #789
@akamor Great! Good to know this was resolved. Please feel free to close the issue if there is nothing else. Thanks!

[2020-12-11 03:25] #789 closed

[2020-12-11 03:26] rapoth commented on #791
Hi @abhilasha9411 Thanks for opening the issue. Can you please provide more information (e.g., sample code that repros, which runtime are you using etc.)?

[2020-12-11 03:26] #788 closed

[2020-12-11 03:27] #780 closed

[2020-12-11 03:27] #779 closed

[2020-12-11 03:27] #778 closed

[2020-12-11 03:28] #777 closed

[2020-12-11 03:29] #775 closed

[2020-12-11 03:29] #769 closed

[2020-12-11 03:29] #768 closed

[2020-12-11 03:31] #750 closed

[2020-12-11 03:31] #749 closed

[2020-12-11 03:32] #733 closed

[2020-12-11 03:33] rapoth commented on #671
@Niharikadutta Do you think we can close this issue?

[2020-12-11 03:33] #664 closed

[2020-12-11 03:34] #660 closed

[2020-12-11 03:34] rapoth commented on #657
@imback82 @AFFogarty Do we need to keep this open or can we close this?

[2020-12-11 03:37] #585 closed

[2020-12-11 03:37] #587 closed

[2020-12-11 03:38] #589 closed

[2020-12-11 03:39] #590 closed

[2020-12-11 03:39] #592 closed

[2020-12-11 03:40] #601 closed

[2020-12-11 03:41] #611 closed

[2020-12-11 03:42] #615 closed

[2020-12-11 03:42] #627 closed

[2020-12-11 03:43] #645 closed

[2020-12-11 03:43] #648 closed

[2020-12-11 03:44] rapoth commented on #654
I'm closing this issue considering it is done. Thank you all!

[2020-12-11 03:44] #654 closed

[2020-12-11 03:44] #469 closed

[2020-12-11 03:45] #474 closed

[2020-12-11 03:45] #475 closed

[2020-12-11 03:46] #480 closed

[2020-12-11 03:46] #499 closed

[2020-12-11 03:46] #501 closed

[2020-12-11 03:48] rapoth commented on #502
Since #566 has been merged, I am closing this issue. Please feel free to re-open if it has not answered your question.

[2020-12-11 03:48] #502 closed

[2020-12-11 03:48] #505 closed

[2020-12-11 03:48] #514 closed

[2020-12-11 03:49] #516 closed

[2020-12-11 03:50] rapoth commented on #519
Closing this issue.

[2020-12-11 03:50] #519 closed

[2020-12-11 03:50] #522 closed

[2020-12-11 03:50] #531 closed

[2020-12-11 03:51] #535 closed

[2020-12-11 03:51] #538 closed

[2020-12-11 03:52] #545 closed

[2020-12-11 03:52] #575 closed

[2020-12-11 03:53] #576 closed

[2020-12-11 03:53] #578 closed

[2020-12-11 03:53] #580 closed

[2020-12-11 03:53] #583 closed

[2020-12-11 03:53] #584 closed

[2020-12-11 15:51] Niharikadutta commented on #671
Yes we can close this.

[2020-12-13 15:14] ramanathanv commented on #381
Hi @GoEddie . I have started implementation for StringIndexer class.

[2020-12-13 21:31] GoEddie commented on #381
@ramanathanv awesome, have updated the list

[2020-12-13 23:41] samueleresca opened #794 "[BUG]: The project doesn't build on macOS"
**Describe the bug**
The project returns the following error when build on MacOSX:
[code]

**To Reproduce**

Steps to reproduce the behavior:
1. `git clone https://github.com/dotnet/spark`
2. `cd spark/src/csharp`
3. `dotnet build`
4. See error

**Desktop (please complete the following information):**
- OS: macOS
- .NET Core 3.1.404

**Additional context**
Probably caused by the addition of arcade

[2020-12-14 00:55] imback82 commented on #794
I cannot reproduce this with a fresh installation of dotnet 3.1.404.

[2020-12-14 12:55] oefe opened #795 "[BUG]: .Net Interactive: UDF use deprecated BinaryFormatter, fail in VS Code"
**Describe the bug**
UDFs are serialized using BinaryFormatter, which is deprecated for security reasons.

In environments where `BinaryFormatter` is already disabled, this causes UDFs to fail with a `NotSupportedException`.

**To Reproduce**

Steps to reproduce the behavior:
1. Use Visual Studio Code with the [.Net Interactive Notebooks](https://marketplace.visualstudio.com/items?itemName=ms-dotn

[2020-12-14 13:53] oefe opened #796 "[BUG]: UDFs in .NET Interactive: example fails (on .NET 5 / Jupyter / macOS)"
**Describe the bug**
The UDFs in .NET Interactive](https://docs.microsoft.com/en-us/dotnet/spark/how-to-guides/dotnet-interactive-udf-issue#define-a-udf-in-net-interactive) fails on macOS Catalina using .NET 5 and Jupyter.

**To Reproduce**

Steps to reproduce the behavior:
1. Launch Spark using `spark-submit --class org.apache.spark.deploy.dotnet.DotnetRunner --master local microsoft-spark-3-0_2.

[2020-12-14 13:59] oefe commented on #795
The same example also fails in Jupyter, but for a different reason: #796

[2020-12-14 20:59] oefe commented on #796
User error? I had launched
`spark-submit --class org.apache.spark.deploy.dotnet.DotnetRunner --master local microsoft-spark-3-0_2.12-1.0.0.jar debug`
In a directory that hat the jar, but not the `Microsoft.Spark.dll` and its dependencies.

If I run `spark-submit` a directory that contains these (e.g. the `bin/Debug/netcoreapp3.1` of a simple Spark app), it works fine.

Shouldn’t it find `Microsoft

[2020-12-14 22:59] Niharikadutta commented on #796
Hi @oefe , the worker needs to know the path in which to look for the binaries, which it does via the `DOTNET_ASSEMBLY_SEARCH_PATHS` environment variable that needs to be set to the path where the binaries and its dependencies are, and then passed as a conf via `spark-submit`. Please refer to [this document](https://docs.microsoft.com/en-us/dotnet/spark/how-to-guides/deploy-worker-udf-binaries#env

[2020-12-15 01:53] imback82 commented on #795
Thanks @oefe for reporting this. We will move away from `BinaryFormatter` from upcoming releases.

[2020-12-15 06:29] abhilasha9411 commented on #791
I am trying to run spark-submit in azure databricks and spark version is 2.4.4 I am getting this issue when I pass an argument of around 73k characters.

[2020-12-16 00:49] imback82 opened #798 "[FEATURE REQUEST]: Expose Avro-related APIs"
Related thread: https://github.com/dotnet/spark/discussions/797 and https://github.com/dotnet/spark/discussions/592#discussioncomment-190407

[2020-12-17 17:28] spzSource opened #799 "[BUG]: Memory Leak when running scheduled job using DotnetRunner"
**Description**
There is massive memory leak when running scheduled jobs using `org.apache.spark.deploy.dotnet.DotnetRunner`. As a result it causes Spark Driver node crash and restart due to GC overhead or heap size exception.

**To Reproduce**
1. Create simple batch job
[code]
_Important note_: delta folders do not contain any data. It doesn't matter for that particular case.

2. Create databrick

[2020-12-17 17:37] imback82 commented on #799
@spzSource Thanks for reporting. Could you create a PR with your patch?

So in your scenario, you have `DotnetRunner` always running and submit .NET applications?

[2020-12-18 05:51] akamor opened #800 "[FEATURE REQUEST]: Call dotnet UDFs directly from Scala or Java code"
Let me first say, perhaps this is possible today but I haven't seen any documentation on it.  If that is the case, perhaps then just documentation is needed.

**Is your feature request related to a problem? Please describe.**
I'd like to be able to call the our dotnet UDFs directly from Scala or Java code.  This is because our UDFs wrap a set of function calls we already have implemented in C# and

[2020-12-18 06:50] imback82 commented on #800
This is doable, but quite convoluted: https://github.com/imback82/sparkdotnetudf#invoke-c-udf-from-scala

[2020-12-18 14:20] spzSource commented on #799
Hi @imback82
Yes, `DotnetRunner` spin ups jobs on the same cluster (hence on the same JVM). This is how [SetJar](https://docs.microsoft.com/en-us/dotnet/spark/how-to-guides/databricks-deploy-methods#deploy-using-set-jar) approach in Databricks works.

Since `JVMObjectTracker` is a singleton by it's nature, it resides in spark driver node throughout the entire life cycle of the node, which leads to

[2020-12-20 19:38] samueleresca commented on #794
Solved by reinstalling `dotnet 3.1.404` and re-cloning the repo

Thanks

[2020-12-20 19:38] #794 closed

[2021-01-04 12:12] ali-khawaja opened #803 "Exception in thread "main" java.lang.NoClassDefFoundError: org/apache/spark/internal/Logging$class"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/run
Operating System: windows

I am trying to run the sample but its giving me NoClassDefFoundError.

C:\git\spark\mysparkapp1>spark-submit --class org.apache.spark.deploy.dotnet.DotnetRunner --master local bin\Debug\net5.0\microsoft-spark-2.4.x-0.10.0.jar dotnet bin\Debug\net5.0\mySparkApp1.dll

WARNING: An illegal refl

[2021-01-04 19:01] imback82 commented on #803
You are using `microsoft-spark-2.4.x-0.10.0.jar` (scala-2.11) against Spark 3.0 (scala-2.12). Can you run it against Spark 2.4 (or upgrade .NET for Apache Spark to 1.0 and use `microsoft-spark-3-0_2.12`)?

[2021-01-05 06:50] ali-khawaja commented on #803
my bad. thanks. i realized that after posting.  i updated to the release version for .net for apache spark and it worked fine.

[2021-01-05 06:50] #803 closed

[2021-01-09 11:11] CJX-nice opened #806 "[BUG]:"
System information
windows 10
.net core 3.1
spark 3.0.1
.net for spark 1.0.0

Issue
Learn < Sentiment analysis with .NET for Apache Spark and ML.NET> in https://docs.microsoft.com/zh-cn/dotnet/spark/tutorials/ml-sentiment-analysis

I create my project and copy the official code ;
but An error occurred
**[Error] [TaskRunner] [0] ProcessStream() failed with exception: System.TypeLoadException: Could

[2021-01-14 18:47] #799 closed

[2021-01-14 19:32] spzSource commented on #15
Hi @imback82
I'm happy to be a volunteer for working on that ticket.

[2021-01-14 20:18] imback82 commented on #15
That will be great, thanks @spzSource!

[2021-01-15 19:54] Niharikadutta commented on #796
Hi @oefe Were you able to resolve this issue?

[2021-01-15 20:01] Niharikadutta commented on #800
Hi @akamor were you able to resolve this using @imback82 's earlier suggestion?

[2021-01-15 20:05] Niharikadutta commented on #792
@imback82 Can we close this issue as per #801 ?

[2021-01-17 02:24] akamor commented on #800
I haven't tried it out yet but I plan in to in the next month or so.

[2021-01-19 20:39] spzSource commented on #15
Hi @imback82

Before start work I just want to confirm if I correctly understand suggested approach.

Am I correct saying that the intention is to create separate maven project (for instance, `microsoft-spark-common`), which should compile into separate `.jar` file?

[2021-01-20 00:02] imback82 commented on #15
Yea, I think that's one way to do it. But we have to make sure `microsoft-spark` is a fat JAR so that we don't break the existing customers' pipeline. Or we can put the common files into a common folder that different projects can build (not sure if this is doable). Does this make sense?

[2021-01-20 21:55] imback82 opened #811 "[FEATURE REQUEST]: Support for Spark 3.1.1"
Spark 3.1.1 release is coming soon. I ran E2E tests against the RC version of Spark 3.1.1 and the following two tests fail due to the internal changes, which we should address to support Spark 3.1.1:
[code]

[2021-01-21 21:39] AFFogarty commented on #328
@fxd1111359 In #787 we have added support for `FileSystem.Delete()` which matches the Scala `org.apache.hadoop.fs.FileSystem.delete()` API.

If you copy the template in `Delete()`, it will be very straightforward to add support for any other `FileSystem` methods.  Please feel free to open a PR if you add any more.

[2021-01-24 03:22] nmnick18 commented on #19
I'd like to take up this issue

[2021-01-24 03:41] imback82 commented on #19
Cool, that will be great. Please let me know if we can retain most of the existing formatting or not. Thanks!

[2021-01-24 06:13] nmnick18 commented on #19
I am gonna need more context, but is this mainly looking to use some of the 'format' code to automatically format the scala code?

[2021-01-26 17:15] jahansha opened #813 "Spark-Submit --version unrecognized"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/install-spark
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-01-26 19:48] Niharikadutta commented on #813
Hi @jahansha , could you please provide some more information about the command you used and the stacktrace you are seeing?

[2021-01-29 06:11] Niharikadutta commented on #806
Hi @CJX-nice , can you check if there is a different version of the assembly that is being loaded (perhaps from the Global Assembly Cache) into the runtime besides the one that has `Microsoft.ML.Data.DataViewTypeAttribute` defined?

[2021-01-30 17:54] briancuster opened #816 "Can't get the spark-submit command to work on Windows 10 after installing spark"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/install-spark
Operating System: windows

I installed spark in accordance with the directions located https://dotnet.microsoft.com/learn/data/spark-tutorial/install-spark and am getting the error 'spark-submit' is not recognized as an internal or external command,
operable program or batch file.

[2021-01-30 23:07] suhsteve commented on #816
This often means that either your PATH environment variable is not set correctly or you need to open a new terminal/command prompt session.

Please follow the suggested steps in #557 and #304 .

[2021-02-03 10:09] Niharikadutta commented on #813
This has been covered in detail in issues #557 and #304, please go through the steps laid out there and feel free to open an issue if this still persists. Thank you!

[2021-02-03 10:09] #813 closed

[2021-02-03 10:11] Niharikadutta commented on #796
Hi, we are going to close this issue as it has been inactive for a while. Please feel free to re-open it if the issue persists and/or there are any new updates. Thank you!

[2021-02-03 10:11] #796 closed

[2021-02-03 20:21] jgavin opened #818 "[FEATURE REQUEST]: Support System.Decimal in CreateDataFrame API"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to use the `System.Decimal` type when using the CreateDataFrame API. Currently we see the following:

`decimal? minValue = 4.0M;
  decimal? maxValue = 5.0M;
  var df = sparkSession.CreateDataFrame(
      new List<GenericRow>
      {
          new GenericRow(
              new object[]
              {

[2021-02-04 14:08] Niharikadutta commented on #818
Thanks @jgavin for creating this issue, we are yet to add support for `System.Decimal` and will get back to you about the timeline of getting this in.

[2021-02-04 21:29] imback82 commented on #792
Fixed by #793.

[2021-02-04 21:29] #792 closed

[2021-02-04 21:36] imback82 commented on #795
cc @suhsteve @jonsequitur (FYI)

[2021-02-05 10:13] bexstx opened #820 "cannot connect to sql server"
I have enable tcp port in sql server manager and set up user for admin in sql server management

I'm not sure that I install jdbc driver correct or set Environment correct

And not sure that the jdbc format correct

--------------------------------------------------
            SparkSession spark = SparkSession
                .Builder()
                .AppName("Connect to SQL Server")

[2021-02-05 13:22] pkazachkov commented on #806
Hi, @CJX-nice,
I got the same issue and my solution was just to substitute Microsoft.ML.DataView.dll at "Microsoft.Spark.Worker-1.0.0" folder with one from my application "bin" folder.
As far as I realised, when we call UDF, it goes for ML-library to "Worker" folder instead of application one.
Sincerelly ))

[2021-02-05 17:43] imback82 commented on #820
Try `.Format("jdbc")`

[2021-02-08 02:40] sandipbramhankar commented on #359
Need Help.
JVM method execution failed: Nonstatic method 'showString' failed for class '72' when called with 3 arguments
spark.Udf().Register<string,  string>(
                "MyUDF",
                (name) => name + " My New Name " );
            dfEmployee.CreateOrReplaceTempView("dateView");
            spark.Sql("Select * From dateView").Show();
            DataFrame dfv = spark.Sql("Select

[2021-02-08 03:01] imback82 commented on #359
Can you check this doc: https://github.com/dotnet/spark/blob/master/docs/deploy-worker-udf-binaries.md?

[2021-02-17 06:33] sindujacse opened #824 "While saving data to json format using .net for apache spark"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/run
Operating System: windows

Error encountered while executing this code  -

words.Write().Format("json")
                .Mode("overwrite")
                .Option("compression", "snappy")
                .Save("C:\\Users\\sa\\mySparkAppdf_json\\sample.json");

JVM method execution failed: Nonstatic method 'save' fail

[2021-02-17 06:52] imback82 commented on #824
@sindujacse Can you share the full error log?

[2021-02-17 10:34] sindujacse commented on #824
Im getting such a long exception like this: what am i doing wrong here. pls help. error message is very huge and i cant post here. its creating 200 tasks

C:\Users\sinduja.balasundaram\mySparkApp>spark-submit --class org.apache.spark.deploy.dotnet.DotnetRunner --master local bin\Debug\netcoreapp3.1\microsoft-spark-3-0_2.12-1.0.0.jar dotnet bin\Debug\netcoreapp3.1\mySparkApp.dll
21/02/17 15:56:42 W

[2021-02-17 17:11] imback82 commented on #824
I don't see anything wrong with your job. The exception message at the end is a known issue on Windows: https://github.com/dotnet/spark/issues/49#issuecomment-486714091. A workaround is https://github.com/dotnet/spark/issues/49#issuecomment-486759230

[2021-02-18 16:55] #820 closed

[2021-02-18 16:58] imback82 opened #826 "[FEATURE REQUEST]: Support StructArray as a return type in ArrowFunctions.VectorUdf"
We need to support `StructArray` as a return type in `ArrowFunctions.VectorUdf`.

To repro:
[code]
You will get:
[code]

[2021-02-19 10:01] sindujacse commented on #824
This is working now Kim. Can you help me with this ? i want to read data from CSV file , do some columns manipulation and save it to Mongo DB. Does .net for Apache Spark has support ? im not finding tutorials to save data from dataframe to Mongo DB. let me know your thoughts.

[2021-02-19 16:52] imback82 commented on #824
Yes, this is possible. You can check the mongoDB connector: https://docs.mongodb.com/spark-connector/master/python-api. The needed APIs are already available in .NET for Apache Spark.

[2021-02-19 21:27] imback82 opened #827 "[FEATURE REQUEST]: Support for Spark 3.0.2"
Spark 3.0.2 has just been released and we need to update `microsoft-spark` JAR to enable the support.

[2021-02-22 06:40] sindujacse commented on #824
Thanks for the link. But I think this is for pyspark/python use. I wanted to use the connector in my .Net console/web application. which Nuget package should i use.

[2021-02-22 07:39] suhsteve commented on #824
@sindujacse you can follow the python guide to achieve what you need.  You can add the connector using the `--packages` command when using `spark-submit`.  We support the necessary APIs to use the connector (the python instructions use all lowercase APIs, but you should be able to use an equivalent Spark .NET api that starts with an uppercase)

[2021-02-22 11:16] sindujacse commented on #824
Thanks a lot kim. It worked and .net for apache spark is amazing. I would want to deploy this console app as an secheduled task on the windows server 2019. Can you provide some guidance on the installables required in the server to run this exe.

[2021-02-24 04:25] sindujacse commented on #824
@imback82 - Can you provide your thoughts on this. i have a requirement to import data from CSV  and save it to mongo db. Im using .net for apache spark for this since the file size is huge and performance should not be a concern. im planning to deploy this as an scheduled task on windows server. can i go ahead with this? Let me know will this have an impact on Server RAM/memory.

[2021-02-24 05:11] imback82 commented on #824
I cannot suggest to go one way or another since I am lacking many info here. Why don't you do a quick POC and see if it meets your requirements?

[2021-02-24 07:11] shekharmayank commented on #582
I'm also facing the issue, I don't know why Spark is picking up Docker IP.
[code]
After giving above error, it's terminating.

[2021-02-24 07:18] shekharmayank opened #828 "[BUG]: Failed to connect to <docker-ip>:<random-port>"
I'm running Spark in local mode in Java on Windows 10. The Spark pipeline is failing with following error.
[code]
After running `ipconfig` I found out that that's the IPv4 for DockerNAT vEthernet but in order to work properly Spark should pick up the Ethernet2 IPv4 address, i guess.

Version:
Spark: 2.4.4
Java: JDK 8
Window: 10

[2021-02-24 07:21] shekharmayank commented on #828
Sorry, I think I should raise this issue elsewhere.

[2021-02-24 07:21] #828 closed

[2021-02-27 13:09] spzSource commented on #15
Hi @imback82

Looks like I'm stuck right after creating common maven module. Almost all classes inherit from `org.apache.spark.util.Utils.Logging` which doesn't allow to move such classes into common module due to dependence on specific spark version.

Am I correctly understand that removing `Logging` inheritance is not the option? In any way I'm happy for any ideas how to mitigate the  problem.

[2021-03-03 06:33] sindujacse commented on #824
@imback82  -  Thanks for the response. can you help me if we can call .net for apache spark (i.e,  invoke Spark session and Dataframe objects) from a .net core web application.

[2021-03-03 08:25] sindujacse opened #829 "Call .net for Apache Spark from WEB API"
Can we invoke .net for apache spark from .net core web api? my request is to have a simple web page which has the file upload button to upload the file and submit. By submitting, the application should invoke spark session and read the data from csv , load into dataframe and upload to mongo db.

[2021-03-03 20:08] #816 closed

[2021-03-03 20:14] suhsteve commented on #829
Should be possible.  It can be something as simple as doing as running a `spark-submit` after the file has been submitted through the web page and verifying that the job finished successfully.  However, if it's something more complex where you want your web app to use `SparkSession`, `DataFrames` etc, then you'll want to ensure that `spark` is running and `[DotnetBackend](https://github.com/dotnet

[2021-03-04 02:47] #824 closed

[2021-03-04 06:47] sindujacse commented on #829
Hi @suhsteve  - Thanks for the comment, may i know how to run this - spark and DotnetBackend for my web application to use spark session and Dataframes

[2021-03-04 07:43] suhsteve commented on #829
You can try this out by running `spark-submit` in debug mode.  This will start the `DotnetBackend` and wait for connections from Spark .NET.

[code]

[2021-03-04 16:04] Frassle commented on #795
Not sure what the dotnet plan for replacing BinaryFormatter here is, but I was wanting to use net spark in F# notebooks (where UDFs have never been supported), plus I had a couple of other similar problems that all looked solvable if dotnet had something like pythons cloudpickle. So I wrote one, https://github.com/Ibasa/Pikala. Forked spark to use it and can now run F# UDFs from notebooks.

[2021-03-05 17:47] Fabiest opened #831 "Spark-submit not recognized"
**Describe the bug**
spark-submit' is not recognized as an internal or external command,
operable program or batch file.

**To Reproduce**

I'm following https://dotnet.microsoft.com/learn/data/spark-tutorial/intro and I can not make spark-submit work.

%JAVA_HOME%        => C:\Program Files\Java\jdk1.8.0_281
%SPARK_HOME%      => C:\spark\spark-3.0.1-bin-hadoop2.7
%HADOOP_HOME% => C:\spark\spark-3

[2021-03-05 18:12] fwaris commented on #760
running into a similar issue.
Here is the schema of the dataframe  "dfpWA":
root
 |-- pattern: string (nullable = true)
 |-- window: struct (nullable = false)
 |    |-- start: timestamp (nullable = true)
 |    |-- end: timestamp (nullable = true)
 |-- times: array (nullable = true)
 |    |-- element: timestamp (containsNull = false)
 |-- count: integer (nullable = false)

strangely this fails:
[co

[2021-03-05 18:33] Niharikadutta commented on #831
This has been covered in detail in issues #557 and #304, please go through the steps laid out there and let us know if it fixes the issue.

[2021-03-05 18:47] suhsteve commented on #831
Closing, please reopen if the suggestions in other threads did not resolve your issue.

[2021-03-05 18:47] #831 closed

[2021-03-06 15:56] sjahongir opened #832 "Using custom connectors written in C#"
Hi.
I have connectors written in C#.
For example, MSSQL Connector, used 'System.Data.SqlClient'.
How can I use this connector (instead of JDBC) to read data from the source with spark.net?

[2021-03-08 03:08] imback82 commented on #832
Hi @sjahongir, the scenario you described (using C# connector) is not supported, since .NET for Apache Spark is more like a wrapper around Apache Spark. This means that the connector should be written in Java/Scala. Could you explain why the built-in jdbc wouldn't work? https://github.com/dotnet/spark/blob/fe03c7431e174811fa51c84055343bc6e6025b80/src/csharp/Microsoft.Spark/Sql/DataFrameReader.cs#L

[2021-03-09 05:49] sjahongir opened #835 "Share Data from one Spark application to another"
I run Apache Spark as a standalone.

I have 2 Spark applications and these connected to Apache Spark with master URL:

[code]

The first application reads data from CSV and shares this data frame in some way
`DataFrame dataFrame = spark.Read().Text("input.txt");`

The second application needs to access this shared data frame.

How can I do this? Is it possible?

[2021-03-10 00:05] #835 closed

[2021-03-12 06:15] yushu3166 commented on #783
When will GraphX be supported?

[2021-03-14 22:49] imback82 opened #838 "The default branch will be renamed to main"
On the week of March 15-19, we're going to rename the default branch in this repository to main. For more details, see [our earlier announcement](https://github.com/dotnet/announcements/issues/172).

The existing PRs will be re-targeted to main automatically.

[2021-03-14 22:59] imback82 opened #839 "Plan for dropping Spark 2.3 support in the 2.0 release"
We are planning to drop the support for Spark 2.3 in the 2.0 release, which is scheduled in April 2021.

The last Spark 2.3 release (2.3.4) is back in September 2019, and no new release is planned for Spark 2.3.

Since there have been no new features introduced for Spark 2.3 in the last few releases of .NET for Apache Spark, if you are relying on Spark 2.3, you should be able to continue using .NE

[2021-03-15 03:28] imback82 opened #840 "[FEATURE REQUEST]: Support new Spark 3.1 APIs"
Once #836 is merged, we can expose APIs introduce in Spark 3.1 for `DataFrame`, `SparkContext`, `Column`, `Catalog`, SQL functions, etc.

Basically you can search for `@since 3.1.0` in the OSS Spark code base to compile the list of new APIs.

[2021-03-15 03:29] imback82 commented on #840
@Niharikadutta Do you want to work on this?

[2021-03-15 04:40] sindujacse opened #841 "while installing apache spark im getting issue"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/install-spark
Operating System: linux

Im getting issue while running this command - ./spark-shell

Error - No such file or directory

[2021-03-15 07:23] Niharikadutta commented on #840
Yes I'll work on this.

[2021-03-15 18:26] deeptowncitizen opened #842 "Running job in DeployMode = Cluster in GCP"
I'm running Spark job written in F# in GCP DataProc, and everything works great.

By default, GCP does not gather logs from the Job Output and I can find logs only in GCP console, which is not acceptable.
GCP [recommendation](https://cloud.google.com/dataproc/docs/guides/driver-output#accessing_job_driver_output) is to run the job in `deployMode=cluster` so my output will be logged and available i

[2021-03-15 19:30] imback82 commented on #842
Can you check if `createSession` is being called in your application? (I assume it's a function?)

[2021-03-16 14:41] superboy1984 commented on #783
Is any plan to support spark graphx.

[2021-03-16 14:57] superboy1984 commented on #783
https://github.com/graphframes/graphframes

[2021-03-16 17:00] imback82 commented on #783
@superboy1984 we don't have a plan to support Graphx at the moment, but any contribution is welcomed!

[2021-03-17 10:00] nolongeriv opened #843 "run spark-shell and get the error"
Unable to load native-hadoop library for your platform
![image](https://user-images.githubusercontent.com/11455509/111449814-55159080-8742-11eb-8490-c277c4c689e2.png)

[2021-03-17 13:46] kaoutarlehlous opened #844 "hello"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/intro/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-03-17 13:49] kaoutarlehlous opened #845 "Issue running spark-submit"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/intro/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

hello, i have a problem to submit your application to run on Apache Spark to have finally the data written to the consol

[2021-03-17 17:45] imback82 commented on #843
This is a naïve warning message and shouldn't affect your job in this case. Please check #481 as well. Closing this for now.

[2021-03-17 17:45] #843 closed

[2021-03-17 17:46] imback82 commented on #844
Closing as this seems to be a duplicate of #845.

[2021-03-17 17:46] #844 closed

[2021-03-17 17:47] imback82 commented on #845
I updated the title and description.

[2021-03-17 17:50] imback82 commented on #845
Translating this, I get `
is not recognized as an internal or external command, an executable program or a file`.

Please check #557 and #304.

[2021-03-17 17:58] suhsteve commented on #841
You have to update your PATH to contain the SPARK_HOME\bin path detailed in https://dotnet.microsoft.com/learn/data/spark-tutorial/install-spark .  Then you'll need to restart your command prompt to ensure the session has your new env variable settings.

[2021-03-17 17:58] #841 closed

[2021-03-17 18:04] #829 closed

[2021-03-17 18:05] #827 closed

[2021-03-17 18:05] #811 closed

[2021-03-17 18:19] suhsteve commented on #841
closing for now.  Feel free to open if this did not solve your error.

[2021-03-17 18:20] suhsteve commented on #829
closing for now.  Feel free to open if this did not solve your issue.

[2021-03-18 16:23] imback82 commented on #838
@dotnet/dnceng, the GitHub rename tool isn't enabled for this repo. Could you help?

![image](https://user-images.githubusercontent.com/12103644/111660761-a0c04c80-87cb-11eb-824b-326cc156bdf8.png)

[2021-03-18 16:41] premun commented on #838
@imback82 the section on the screenshot looks exactly like the rename one. Or you're saying this is a screenshot from some other repository?

[2021-03-18 16:45] imback82 commented on #838
@premun Oh, I thought I needed the arrow as shown below?
![image](https://user-images.githubusercontent.com/12103644/111664038-9e132680-87ce-11eb-83fa-003498e4c9e5.png)

[2021-03-18 16:47] imback82 commented on #838
But looks like the "pencil" button is the rename button.

[2021-03-18 16:51] premun commented on #838
Yeah, I think the arrows are missing since you only had 1 branch in the repo. The pencil should do the trick!

[2021-03-18 17:00] imback82 commented on #838
Thanks @premun!

[2021-03-18 20:03] imback82 commented on #838
This is now complete.

[2021-03-18 20:03] #838 closed

[2021-03-18 23:52] suhsteve opened #850 "[FEATURE REQUEST]: Introduce config to bypass the supported spark versions check in microsoft-spark JAR"
We will keep the individual  versions of the microsoft-spark-`major`-`minor` jars, but for each jar allow bypassing the spark patch version.

[2021-03-23 23:00] #850 closed

[2021-03-24 06:57] sindujacse commented on #829
Can I write  spark-submit with parameters to run the application inside a shell script and schedule it?  as im not sure if my organization has an account for deploying it to azure synapse or databricks or hd insight. im looking to host in production linux server.

[2021-03-26 02:53] dbeavon commented on #468
@imback82
Is there any reason this group apply would fail the same way on a local windows cluster?

I'm running spark-3.0.0-bin-hadoop3.2.

I see the same error described above when running samples:
Microsoft.Spark.Examples.Sql.Batch.VectorUdfs and
Microsoft.Spark.Examples.Sql.Batch.VectorDataFrameUdfs

I can try to gather more information if you need anything.  It sounded like the conclusion ever

[2021-03-27 03:48] #760 closed

[2021-03-30 13:08] dbeavon commented on #168
+1 here too.  I'm ok with using keyvault for secrets but the problem is how to manage the bootstrapping secrets that help you connect to keyvault in the first place.

[2021-03-31 00:19] suhsteve commented on #845
@kaoutarlehlous I'm going to close this issue,  Please feel free to reopen if the suggestions did not help.

[2021-03-31 00:19] #845 closed

[2021-03-31 11:54] robyle commented on #335
You are actually using Spark to predict lottery results.
你居然在用Spark做彩票结果预测。有空一起交流下使用Spark的心得哈

[2021-04-05 00:39] andreibicu opened #881 "Apache Spark commands are not right"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/install-spark
Operating System: windows 10

The provided commands
- setx HADOOP_HOME C:\bin\spark-3.0.1-bin-hadoop2.7\
- setx SPARK_HOME C:\bin\spark-3.0.1-bin-hadoop2.7\
- setx /M PATH "%PATH%;%HADOOP_HOME%;%SPARK_HOME%\bin"
changed my PATH value to "%PATH%;%HADOOP_HOME%;%SPARK_HOME%\bin"
It removed the previous paths a

[2021-04-05 16:15] tkent commented on #307
@suhsteve I know this is an older post, but the situation has not changed since the OP's comments. The instructions you referenced...

1. Do not match [the databricks getting started guide](https://docs.microsoft.com/en-us/dotnet/spark/tutorials/databricks-deployment), which covers the `spark-submit` route. Specifically, that guide does not include copying up the `mySparkApp.dll` separately and in

[2021-04-05 20:13] suhsteve commented on #881
@andreibicu Did you use `cmd.exe` or `powershell` to run the commands?  I believe the instructions are meant for `cmd.exe`

[2021-04-05 23:19] andreibicu commented on #881
I used Powershell via Windows Terminal.

I solved the problem by reverting the computer to a previous restore point.

However, shouldn't the documentation specify what kind of editor to use?
This seems pretty important and easy to broke stuff on a computer.

[2021-04-06 00:40] suhsteve commented on #881
@andreibicu The page does indicate what to use.  According to the page:

The the commands on the page also have enclosed with a prompt that has title `Command prompt`

In Windows, the "Command Prompt" shortcut in the start menu opens `cmd.exe` as does the "Command Prompt" shortcut in Windows Terminal.

[2021-04-06 07:21] andreibicu commented on #881
My bad then.
Thanks for your help.

[2021-04-06 09:10] harishukla93 opened #883 "Issue in Create your app"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/create
Operating System: linux

I have followed the tutorial step by step, while running below command:
dotnet new console -f netcoreapp3.1 -o mySparkApp

I got stuck in this issue

Couldn't find an installed template that matches the input, searching online for one that does...
Error: Invalid parameter(s):
-f netcoreapp

[2021-04-06 12:51] AndreasVolkmann opened #884 "[BUG]: Timestamps can no longer be cast to long"
**Describe the bug**
In version `0.9.0` we were able to run the following:
[code]
Where the target column is of type `Timestamp`.

However, in later versions the same code throws the following exception:
[code]

This PR may be related: #428.

It starts breaking in version `0.11.0` and I also tried in the latest version.

**To Reproduce**
I wrote a test to reproduce this in my project:
[code]

**Ex

[2021-04-06 13:20] harishukla93 commented on #883
Got the issue. Following the documentation, I have a downloaded version .Net 5.0 and the default value for the console is net5.0

[2021-04-06 15:27] imback82 commented on #884
@suhsteve Can you help when you get a chance?

[2021-04-06 17:51] suhsteve commented on #883
@harishukla93 Can you install .NET 3.1 instead and try again ?

[2021-04-06 17:52] suhsteve commented on #881
@andreibicu sorry you ran into problems and I'm glad you were able to resolve it.  I'll close this issue as it is resolved.  Feel free to reopen if you think it wasn't.

[2021-04-06 17:52] #881 closed

[2021-04-06 18:09] suhsteve commented on #884
The reason why this worked in 0.9.0 was because we didn't have complete support for `TimestampType` and we were just passing the raw unpickled/pickled `long` values to and from spark.  The PR #428 you linked added support for the `Timestamp` type.

Looking at your example, it looks like `row.GetAs<long>(timestampColumn)` may be equivalent to something like `row.GetAs<Timestamp>(timestampColumn).Ge

[2021-04-06 19:57] imback82 commented on #884
Thanks @suhsteve for looking into this.

@AndreasVolkmann Can you just work with C#'s `DateTime` object? You could get the `Timestamp` object first as @suhsteve was suggesting `row.GetAs<Timestamp>(timestampColumn)` and just call `ToDateTime`: https://github.com/dotnet/spark/blob/a6f4e91fea801f20270b7b91eb978f8159fb7d89/src/csharp/Microsoft.Spark/Sql/Types/Timestamp.cs#L118
, and you can convert `

[2021-04-06 19:59] imback82 commented on #884
I am removing a bug label since casting the timestamp to long is not supported since 0.11; the current version is more type-safe.

[2021-04-07 08:30] harishukla93 commented on #883
@suhsteve I was looking for the latest LTS, so I am OK with .NET 5.0. It worked for me with few changes. Feel free to let me know if I need to provide changes I did or contribute to the documentation.

[2021-04-07 15:55] AndreasVolkmann commented on #884
@imback82 We worked around it by calling the internal functions that Steve mentioned.
It would definitely be great to have either option 1 or 2 from @suhsteve implemented.

[2021-04-07 16:01] AndreasVolkmann opened #892 "[FEATURE REQUEST]: Mention delta in readme"
**Is your feature request related to a problem? Please describe.**
I saw references to the delta API in PRs and wanted to use `DeltaTable`, but could not resolve, since it exists in `Microsoft.Spark.Extensions.Delta` rather than the main package.

I then went to the readme and searched for `delta`, but couldn't find anything.
The nuget package link also redirects to the main package.

**Describe t

[2021-04-08 21:44] #840 closed

[2021-04-09 05:28] imback82 commented on #892
@AFFogarty Do you see any reasonable place to mention Delta NuGet package? Even the main README should be fine.

[2021-04-09 15:12] imback82 opened #898 "Investigate random test failure from StreamingQueryManagerTests"
Is the following a random failure we need to revisit?
[code]

_Originally posted by @imback82 in https://github.com/dotnet/spark/issues/893#issuecomment-816428635_

[2021-04-09 16:27] dbeavon commented on #468
I did a bit more testing.... as-of now I am not getting the error anymore after upgrading to Microsoft.Spark.Worker.1.1.1 and the new version of nuget (microsoft-spark-3-0_2.12-1.1.1.jar)

[2021-04-09 17:09] gnedash opened #900 "Install Spark Exception"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/install-spark
Operating System: windows
I couldn't setup Spark. I dot an error after command
spark-submit --version

Exception in thread "main" java.lang.ExceptionInInitializerError
        at org.apache.spark.unsafe.array.ByteArrayMethods.<clinit>(ByteArrayMethods.java:54)
        at org.apache.spark.internal.config.pac

[2021-04-09 18:20] AFFogarty commented on #892
@imback82 We have a list of the available extension NuGets [here](https://github.com/dotnet/spark/blob/main/src/csharp/Extensions/README.md).  Maybe we could move the list of first-party extensions to the main README?

[2021-04-09 18:38] AFFogarty commented on #892
Opened PR #901 to add a list of first-party extensions to the main `README.md`.  Please feel free to review @imback82 and @AndreasVolkmann. :)

[2021-04-09 22:07] suhsteve commented on #900
@gnedash  can you install java 1.8 and try again?

[2021-04-12 09:41] clegendre opened #910 "[BUG]: Structured Streaming, Trigger Once, on Databricks never ends the job"
**Describe the bug**
When using Spark Structured Streaming on Azure Databricks, with the micro batching pattern (Trigger Once), the job is never terminated, although the .NET Spark application is well shutdowned. Tested with Spark .NET 1.0 & 1.1.1

And in the standard output
[code]
It ends up with the following log in the standard error output
[code]

I think this is due to this error, that is cau

[2021-04-13 11:37] harishukla93 opened #912 "Spark can't find DLL's specified"
I am new to DOTNET with spark and facing some issues with passing DLLs. Basically, I have some DLL files (from another c# project) which I want to reuse here in my Spark project UDF.

`
Error:
[Warn] [AssemblyLoader] Assembly 'Classes, Version=3.0.142.0, Culture=neutral, PublicKeyToken=910ab64095116ac0' file not found 'Classes[.dll,.ni.dll]' in '/tmp/spark-e2e6444a-99fc-42c6-ae15-8a5b328e3038/user

[2021-04-13 12:01] clegendre commented on #912
Spark.NET will look at your custom DLL using this environment variable; **DOTNET_ASSEMBLY_SEARCH_PATHS**
So, just before spark-submit, you can set the environment variable targeting your dll folder:
[code]

You can also copy these DLLs to Microsoft.Spark.Worker installation folder. (This what is perform on Databricks environment)
[code]

[2021-04-13 12:35] harishukla93 commented on #912
Thanks for the quick reply.

I copied in DOTNET_WORKER_DIR=/opt/Microsoft.Spark.Worker-1.0.0 but it didn't worked.

With above suggestion, I tried with adding another path
`export DOTNET_ASSEMBLY_SEARCH_PATHS="/home/ubuntu/Downloads/NewDLLs"`

It gives me one more path added in the error, but error still persist. I think this is something strange, something silly I am missing.

Error:

`[Warn] [As

[2021-04-13 12:44] harishukla93 commented on #912
I also tried this Classes.dll and others in a normal c# project with mono to make sure the DLL is valid. It worked as expected.

[2021-04-13 20:11] suhsteve commented on #912
Have you taken a look at https://docs.microsoft.com/en-us/dotnet/spark/how-to-guides/deploy-worker-udf-binaries  ?  It documents the necessary Environment variables to set up or the required spark configurations you can use.

[2021-04-13 20:29] harishukla93 commented on #912
Yes, this is what I followed. I am running with master=local with worker and UDF which is straightforward with this configuration.

This document has some parameter options which are available for yarn mode only. So I don't think I am missing anything from this document.

[2021-04-13 20:33] suhsteve commented on #912
Looks like you are using .NET 5.  Can you try recompiling your app using .NET Core 3.1 ?

[2021-04-13 20:35] clegendre commented on #912
Good point, I had issues using .NET 5, regarding System.Runtime for example. I fixed them by downgrading to .NET Core 3.1.

[2021-04-13 20:40] harishukla93 commented on #912
I have used this documentation for running my first app.:
https://dotnet.microsoft.com/learn/data/spark-tutorial/install-dotnet

It redirects me to install .NET5. Anyways just installing .NET Core 3.1. I am getting a strong feeling that this will resolve the issue.

[2021-04-13 21:37] harishukla93 commented on #912
Tried with .NET core 3.1, no luck. This is really strange.

[2021-04-13 22:20] suhsteve commented on #912
@harishukla93 Does the file `/home/ubuntu/Downloads/NewDLLs/Classes.dll` exist ?

[2021-04-14 03:46] harishukla93 commented on #912
Yes, infact this file is available on all three paths:
/home/ubuntu/Downloads/NewDLLs
/home/ubuntu/project/rs-etl-test/bin/Debug/netcoreapp3.1
/opt/Microsoft.Spark.Worker-1.0.0/

[2021-04-14 23:18] suhsteve commented on #912
@harishukla93 was Classes.dll recompiiled and copied to the `/home/ubuntu/Downloads/NewDLLs/` after recompiling your main app from .net 5 to .net core 3.1 ?

[2021-04-15 04:00] alvaromuir opened #913 "Display spark version with .Version() on SparkContext?"
Typically, the current version of Spark is available by calling .version on the sparkContext.

Any thoughts of how to get that here? Needed because there are times when using the lib in a notebook or some other interactive way it's good to check the version first.

[2021-04-16 09:02] harishukla93 commented on #912
This is something with this Classes.dll I have. I got to know from source of this DLL that this is Classes.dll is build for .net4.0 and x86.

Today morning I have got the new DLL with .NET Core 3.1, but still no luck.

[2021-04-16 09:06] harishukla93 commented on #912
I had created a new app with 3.1 and with the hintpath mentioned in my .csproj, it copied the file to bin/Debug/netcoreapp3.1

So I don't think we even need to have a spparate copy at /home/ubuntu/Downloads/NewDLLs/ , I mean I am running spark-submit from bin/Debug/netcoreapp3.1 where I have all DLLs and this path is where worker is also looking for.DLL.

[2021-04-17 00:08] dbeavon commented on #818
@Niharikadutta

Did you see that decimals were added to Apache Arrow?

- https://issues.apache.org/jira/browse/ARROW-11422
- https://github.com/apache/arrow/pull/9356

This happened recently.  Was that a prerequisite?  Decimal types are pretty critical for us as well.

[2021-04-18 05:03] imback82 commented on #913
Thanks @alvaromuir for reporting this. Currently, we don't expose the `def version`, but I think we should. Do you want to contribute? Otherwise, I can take this up.

[2021-04-18 21:15] dbeavon commented on #826
Is this a short-term goal (ie. is it included in "**1:1 API compatibility for Dataframes**")

[2021-04-18 21:31] dbeavon opened #917 "[FEATURE REQUEST]: GetNumPartitions"
**Is your feature request related to a problem? Please describe.**
It takes a lot of effort to detect the number of partitions in a dataframe.  Currently I have to swap back and forth between the spark U/I and my driver code that is executing in the debugger.  It seems like there should be an easy way to show the number of partitions, possibly with the V.S. debugger watch window.

**Describe the s

[2021-04-18 22:08] alvaromuir commented on #913
I'm on it.

[2021-04-18 22:12] alvaromuir opened #918 "[FEATURE REQUEST]: Expose Spark Version info to users"
**Is your feature request related to a problem? Please describe.**
Expose `Spark Version` to users

**Describe the solution you'd like**
Return the Spark `Version` when called. As typically expected on sparkContext.version() or sparkSession.version()

**Describe alternatives you've considered**
Have checked all avail methods and work arounds not there today.

**Additional context**
Add any other c

[2021-04-19 18:49] imback82 commented on #917
What's the use case where you need to know the number of partitions?

Could you described the scenarios?

[2021-04-19 18:51] imback82 commented on #826
Since we have a workaround using non-arrow UDF, this is not a short-term goal, but let me talk to the team.

cc @suhsteve @rapoth

[2021-04-19 19:11] imback82 commented on #884
Since `GetIntervalInMicroseconds` is simple to implement, can you introduce it in your app? We already expose `DateTime` object via `ToDateTime`. We are trying to maintain API parity for types that are available in Scala, Python, and .NET, and minimize .NET specific APIs if possible.

[2021-04-19 19:13] michael-damatov commented on #917
For example, it would give insights about current partitioning state of a data frame.

There is the `SparkPartitionId` method in the `Functions` class. Knowing the partition id of a row without knowing the total number of partitions doesn't let you conclude whether and to what extent the data frame is unbalanced.

[2021-04-19 19:15] suhsteve commented on #918
@alvaromuir can you update the title ?

[2021-04-19 19:38] alvaromuir commented on #918
We should combine. I'll close #913

[2021-04-19 19:39] #913 closed

[2021-04-19 20:02] #839 closed

[2021-04-19 20:38] suhsteve commented on #473
Is there any progress on this work ?

I think a good use case:  Microsoft.Spark library + notebooks + dotnet repl.  It'd be good to redirect logger messages elsewhere in order to not pollute the notebook cell outputs.

ie
![image](https://user-images.githubusercontent.com/1928943/115300168-7d632700-a114-11eb-8bdb-af70cec10c02.png)

[2021-04-20 01:44] #898 closed

[2021-04-20 07:13] harishukla93 commented on #912
@suhsteve I have used sources directly to get rid off the Classes.dll. But I am deserializing some data in UDF using `System.Runtime.Serialization.Formatters` BinaryFormatter and MemoryStream. But it is giving me below error:

`[Warn] [AssemblyLoader] Assembly 'System.Runtime.Serialization.Formatters.resources, Version=4.0.4.0, Culture=en-IN, PublicKeyToken=b03f5f7f11d50a3a' file not found 'System

[2021-04-21 01:13] thrixton commented on #473
No progress as yet sorry, I've had to redirect my efforts in the (not so) short term.
I'll see if I can find some time over the next couple of weeks.

[2021-04-22 07:19] ironpython2001 opened #923 "Exception while deleting Spark temp dir"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

21/04/22 12:40:44 ERROR ShutdownHookManager: Exception while deleting Spark temp dir: C:\Users\spottumuttu\AppData\Local\Temp\

[2021-04-23 10:19] #884 closed

[2021-04-23 10:43] mdharmpurikar opened #924 "'spark-submit' is not recognized as an internal or external command"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/install-spark
Operating System: windows

I followed each and every step as provided in the document but getting below error.

Problem :  'spark-submit' is not recognized as an internal or external command
OS - Windows 10
Error Message -  'spark-submit' is not recognized as an internal or external command

[2021-04-23 15:00] dbeavon opened #925 "[FEATURE REQUEST]: Would like to use mapInPandas interface for "vector/pandas" -style udf."
**Is your feature request related to a problem? Please describe.**

I really like using the **Group/Apply** (RelationalGroupedDataset) interface that allows the rapid exchange of complex data with executors.  I use it regularly, in conjunction with the Apache Arrow recordbatch (not FxDataFrame).  The only problem is that most of the time when I'm using it, the logic that is executed isn't taking a

[2021-04-23 18:29] Niharikadutta commented on #924
Please refer to #557 and #304 and feel free to reopen the issue if that doesn't solve your problem. Thanks!

[2021-04-23 18:29] #924 closed

[2021-04-23 19:00] suhsteve commented on #923
Please refer to  [#49 (comment)](https://github.com/dotnet/spark/issues/49#issuecomment-486714091) .  This is a known Spark issue on Windows.  Feel free to reopen the issue if that doesn't address your problem. Thanks!

[2021-04-23 19:00] #923 closed

[2021-04-27 13:55] dbeavon commented on #168
This has been submitted with Databricks.

The Databricks issue tracking (in SF) case number is  **00101202**

We should get an update from them. I will update this issue once I have more information.

[2021-04-28 19:49] dbeavon commented on #168
This is an update from Databricks Team following the SF number: 00101202

“We can treat this as a feature request I have already created for this. Here is the request number - **DB-I-3505”**

[2021-04-29 22:48] jhdrosos opened #931 "No connection could be made because the target machine actively refused it. 127.0.0.1:5567"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/code
Operating System: windows

[Exception] [JvmBridge] No connection could be made because the target machine actively refused it. 127.0.0.1:5567
   at System.Net.Sockets.Socket.DoConnect(EndPoint endPointSnapshot, SocketAddress socketAddress)
   at System.Net.Sockets.Socket.Connect(EndPoint remoteEP)
   at Microsoft.Sp

[2021-05-02 01:21] imback82 commented on #931
@jhdrosos, please check this thread: #175. Closing this as duplicate.

[2021-05-02 01:21] #931 closed

[2021-05-04 17:35] viskumar-microsoft opened #932 "[BUG]: The example spark/examples/Microsoft.Spark.CSharp.Examples/Sql/Batch/VectorUdfs.cs doesnt run with latest spark 3.0."
The example spark/examples/Microsoft.Spark.CSharp.Examples/Sql/Batch/VectorUdfs.cs doesnt run with latest spark 3.0.

HDI now supports Spark 3.0 and we are trying to migrate our spark dotnet jobs to it and we get similar exception.

https://github.com/dotnet/spark/blob/main/examples/Microsoft.Spark.CSharp.Examples/Sql/Batch/VectorUdfs.cs

spark/examples/Microsoft.Spark.CSharp.Examples/Sql/Batch/Ve

[2021-05-04 18:22] suhsteve commented on #932
I just tried `Microsoft.Spark.CSharp.Examples.exe Sql.Batch.VectorUdfs %SPARK_HOME%\examples\src\main\resources\people.json` on `Windows`, using commit `3fb684c50d722f5bb06483adb9458a867fbed4fc` (tag v1.1.1), and with `Spark 3.0.0` and it runs without issue.

@viskumar-microsoft can you give more details related to your setup ?  What version of Microsoft.Spark & Worker did you use ?

[2021-05-04 20:09] viskumar-microsoft commented on #932
For local setup: here is what I have
Spark 3.0: https://archive.apache.org/dist/spark/spark-3.0.0/spark-3.0.0-bin-hadoop2.7.tgz
Microsoft.Spark: <PackageReference Include="Microsoft.Spark" Version="1.1.1" />
Worker: https://github.com/dotnet/spark/releases/download/v1.1.1/Microsoft.Spark.Worker.netcoreapp3.1.win-x64-1.1.1.zip
 (Microsoft.Spark.Worker.netcoreapp3.1.win-x64-1.1.1\Microsoft.Spark.Wor

[2021-05-04 20:29] suhsteve commented on #932
@viskumar-microsoft  I also tried using official released Worker that you linked, as well as the official 1.1.1 nuget and jar, and the Spark 3.0.0 distro.  Did not encounter any issues.  Maybe you can msg me on teams and we can screenshare ?

[2021-05-05 18:49] viskumar-microsoft commented on #932
Thanks Steve, it works with Spark 3.0, we needed to upgrade the spark worker to Microsoft.Spark.Worker-1.1.1 in HDI to get this working.

[2021-05-05 18:49] #932 closed

[2021-05-05 18:59] viskumar-microsoft opened #933 "[BUG]: Spark 3.0 and latest azure event hub library from microsoft requires encrypting connection strings"
With Spark3.0 and latest Azure event Hub library (2.3.15 and beyond) we need to encrypt the event hub connection strings. Take a look here
https://github.com/Azure/azure-event-hubs-spark/blob/master/docs/PySpark/structured-streaming-pyspark.md#event-hubs-configuration

When creating connections to event hub from spark dotnet we dont have a direct way to call this encryption method from .Net

Witho

[2021-05-05 21:23] suhsteve commented on #933
@viskumar-microsoft some possible options:
- Use the `IgnoresAccessChecksToGenerator` nuget to access the internal JVMBridge class
  - In our conversation you mentioned that you must use nugets available in a special feed.  Can you publish this nuget there?  If not, why not ?
- Use reflection to access internal classes/methods.
- Convert the [encrypt method](https://github.com/Azure/azure-event-hu

[2021-05-06 20:44] viskumar-microsoft commented on #933
Agreed we can use reflection or use IgnoresAccessChecksToGenerator to call the JVMBridge class but I believe this is a general problem that everyone using spark dotnet and event hubs will face. So it will be great if there is an option provided in spark dotnet library so that we dont have to go round about way to make it work.

[2021-05-07 19:43] suhsteve commented on #933
The request here seems to be an ask to add access of the `JVMBridge` as `public` APIs.

cc: @imback82, @rapoth

[2021-05-13 20:28] suhsteve commented on #933
Another option is to add an `azure-event-hubs-spark` extension.

[2021-05-14 00:06] ksiomelo commented on #933
Here is how you can use EventHubUtils to encrypt the connection string in dotnet:

add a reference to IgnoresAccessChecksToGenerator along with the following properties:
` <PackageReference Include="IgnoresAccessChecksToGenerator" Version="0.4.0" />`

[code]

Make the following changes in your class:

[code]

[2021-05-14 09:38] andrey-puzyr commented on #803
There is another case when you can see this error. Just want to note it as artifact of my painful debugging)
Check that you spark jars folder doesn't contains other versions of `microsoft-spark-*.jar`, except the version that you use in spark-submit. It may happens if you use copy by wildcard somewhere in your build Dockerfile.

ie if
[code]
just kill the others!

[2021-05-19 08:24] leeichang commented on #169
Hello:
I also installed correctly dotnet spark according to this [Microsoft tutorial](https://docs.microsoft.com/zh-tw/dotnet/spark/tutorials/get-started?tabs=windows). and I solved the problem like in  [#49 (comment).](https://github.com/dotnet/spark/issues/49#issuecomment-486714091). But I have the same problem

[code]

and the source had then  spark.Stop();
How to solve this problem?

[2021-05-24 12:54] ironpython2001 opened #937 "Error executing VectorUDf"
I am getting the error when executing the following code

using Microsoft.Spark.Sql;
using Microsoft.Spark.Sql.Types;
using System;
using static Microsoft.Spark.Sql.Functions;
using static Microsoft.Spark.Sql.DataFrameFunctions;
using Microsoft.Data.Analysis;

 var spark = SparkSession.Builder()
                    .AppName("sample")
                    .GetOrCreate();
var cubed_udf = VectorUdf<In

[2021-05-25 11:20] guruvonline opened #940 "[FEATURE REQUEST]: Not able to use Structured steaming over Azure EventHub"
**Is your feature request related to a problem? Please describe.**
I have to upgrade the version of EventHub for Spark, the latest version of library i have to specify the connection string of EventHub as encrypted. which is not supported in .NET for Spark.

https://github.com/Azure/azure-event-hubs-spark/issues/510
thread  talks about issue and possible workaround of using .NET for spark internal

[2021-05-25 14:26] aleks-ivanov opened #943 "[FEATURE REQUEST]: Add security and versioning dependency alerts"
- [Dependabot](https://dependabot.com/) alerts on updates for the project's dated and vulnerable dependencies and automatically creates PRs to easily update them

Pipeline Foundation is **a non-profit initiative** with the sole purpose of giving back to the IT community by assisting OSS projects with DevOps implementations and best practices.

Built with ❤ by [Pipeline Foundation](https://pipeline

[2021-05-25 16:10] aleks-ivanov opened #945 "[FEATURE REQUEST]: Add continuous code security and quality analysis"
- [CodeQL](https://github.com/github/codeql) is an open source code scanning tool for discovering vulnerabilities across a codebase

Pipeline Foundation is **a non-profit initiative** with the sole purpose of giving back to the IT community by assisting OSS projects with DevOps implementations and best practices.

Built with ❤ by [Pipeline Foundation](https://pipeline.foundation).

[2021-06-03 15:04] novikov-alexander opened #947 "Analog of BinaryArray.GetBytes() in Microsoft.Data.Analysis.DataFrame"
Hello

I use the RecordBatch format of UDFs.
I use Apache.Arrow.BinaryArray to store serialized objects.
When I call BinaryArray(i) I get i-th object in the array. (i-th binary set)
I would like to simplify my UDFs by using Microsoft.Data.Analysis.DataFrame however I don't see any corresponding API.
ByteColumn allows only take binaries one by one.

Is there any analogue of GetBytes() ?

Thank you

[2021-06-04 05:24] imback82 commented on #918
Fixed by #919

[2021-06-04 05:24] #918 closed

[2021-06-04 23:24] pgovind opened #948 "Microsoft.Data.Analysis.DataFrame is getting a new preview release. Check compat against dotnet spark"
Just creating an issue here for myself. I need to:

1. Test the current daily build against the existing unit tests to make everything passes.
2. Once a new preview is released, redo 1 with the new nuget package

I don't have permissions in the repo, so whoever does, please assign this to me. Thanks!

[2021-06-05 05:30] imback82 commented on #947
cc @pgovind

[2021-06-08 10:47] Crowts opened #949 "spark-submit : The term 'spark-submit' is not recognized as the name of a cmdlet, function, script file, or operable program."
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/run

Hi

I got the error below while executing the "Run your app" step in the .NET for Apache Spark Tutorial. I am running this on

Operating System: windows 10
VSCode : 1.52.1
Apache Spark: spark-3.0.1-bin-hadoop3.2

Code snippet:

`PS C:\Users\Theo\Documents\mySparkApp> spark-submit --class org.apache.spark.deploy.dotn

[2021-06-08 13:29] Crowts commented on #949
Some additional information on the above error.

I looked at [issue#571](https://github.com/dotnet/spark/issues/571) and [issue#302](https://github.com/dotnet/spark/issues/302) and did the following:
1. Verified that the jar exists (Indeed it does exist  -> see attached screenshot)
2. Checked the NuGet version installed (i.e. I installed Microsoft.Spark 1.0.0)

I've also tried running the app by p

[2021-06-08 23:57] suhsteve commented on #949
Can you try avoid creating project folders in C:\Windows\System32 ?  Maybe somewhere safer like your %USERPROFILE% folder or your D:\ drive ?

[2021-06-09 19:36] suhsteve commented on #933
Workaround to access EventHubUtils to encrypt the connection string in a notebook session

[code]

[2021-06-14 08:42] zwitbaum commented on #384
Any progress in the version 2.0?

[2021-06-14 18:24] suhsteve commented on #933
@viskumar-microsoft , @ksiomelo we have added some public APIs to access the JVM and these should support your use case.  I will close this issue, please feel free to reopen if the APIs we've made available do not fulfill your needs.

[2021-06-14 18:24] #933 closed

[2021-06-23 08:30] Clapton79 opened #955 "grammar brothers"
please check grammar

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6105393-329a-fadc-7eca-845470c6cef9
* Version Independent ID: 565e8c84-dc3a-9416-48e9-4cdb727b0848
* Content: [Functions.IsNull(Column) Method (Microsoft.Spark.Sql) - .NET for Apache Spark](https://docs.microsoft.com/en-us/dotnet/api/microsoft.spark.s

[2021-07-02 13:37] quarkonium3 commented on #826
I was trying out ArrowFunctions - discovered I'd need this in my application

[2021-07-14 03:27] evonniewu commented on #557
Hi all,

I need help getting PySpark to work

I had a running error for PySpark

D:\spark-3.1.2-bin-hadoop3.2\bin>pyspark
The system cannot find the path specified.
The system cannot find the path specified.

JAVA_HOME = C:\Program Files\Java\jdk1.8.0_291
PATH = C:\Program Files\Java\jdk1.8.0_291\bin

SPARK_HOME = D:\spark-3.1.2-bin-hadoop3.2
PATH =  D:\spark-3.1.2-bin-hadoop3.2\bin

Have tried in

[2021-07-21 00:57] fwaris opened #957 "[FEATURE REQUEST]: udfs support for dynamic assemblies"
In a recent talk [Michael Rys](https://channel9.msdn.com/Shows/On-NET/Whats-New-in-NET-for-Apache-Spark-v111) showed udfs being used in a notebook setting with Azure Synapse.

I was under the impression udfs worked in compiled assemblies only.

Not sure the how the notebooks are coded but when I try to define a udf in F# interactive, I get the following error:
[code]

It would be nice if the creat

[2021-07-21 01:50] MikeRys commented on #957
Can you provide the code and how you distribute it across the cells?

UDFs do work in Synapse notebooks, but you have to keep the definition of the function and the registration in the same cell.

E.g., Write and call UDFs in .NET for Apache Spark interactive environments. | Microsoft Docs<https://docs.microsoft.com/en-us/dotnet/spark/how-to-guides/dotnet-interactive-udf-issue>

Best regards
Micha

[2021-07-21 11:44] fwaris commented on #957
Michael,
Thanks for responding.

I have attached a zip file containing a README.MD with instructions and code to recreate the above issue.

I have been using Spark interactively from F# on my local machine for quite some time now. Its been working well when using plain SQL to manipulate data.

I could not define UDFs in interactive F# code because the incrementally compile F# code resides in a dyn

[2021-07-22 04:59] rohitiec commented on #676
Hi Niharika, I am facing the same issue, and unable to find a fix, can you please help.

[2021-07-22 05:47] rajeev99342 commented on #785
Hi @this-fifo, Can you please provide me the example piece of code for runner class that implements ExternalCommandRunner?

[2021-07-22 21:17] this-fifo commented on #785
Hey @rajeev99342, unfortunately I don't have access to that anymore, it was a prototype / test project and I ended up taking a different approach without needing to rely on `ExternalCommandRunner` after

[2021-07-23 06:00] rajeev99342 commented on #785
Hi @this-fifo. No problem man. Thanks WTB

[2021-07-23 20:48] MikeRys commented on #957
Thanks. I think this is best communicated to the .NET interactive team. Please open a feature request issue on their repo at https://github.com/dotnet/interactive.

Cheers
Michael

From: fwaris ***@***.***>
Sent: Wednesday, July 21, 2021 4:44 AM
To: dotnet/spark ***@***.***>
Cc: Michael Rys ***@***.***>; Comment ***@***.***>
Subject: Re: [dotnet/spark] [FEATURE REQUEST]: udf support for dynamic as

[2021-07-23 21:12] suhsteve commented on #949
I'm closing this issue.  Please feel free to reopen if your issue hasn't been resolved.

[2021-07-23 21:12] #949 closed

[2021-07-29 05:26] rrekapalli opened #958 "[FEATURE REQUEST]: Support for ML.fpm (Frequent Pattern Mining)"
Team,  Is there a plan to implement ML.fpm (Frequent Pattern Mining) anytime soon?  It has only 2 algorithms as per Spark v3.1.2 (FP-Growth & PrefixSpan) and are very useful ML algorithms in some scenarios.  Would be a great help if it's a part of this library.
Thanks.

[2021-07-29 20:32] suhsteve commented on #940
Please see related issue #933

[2021-07-29 20:32] #940 closed

[2021-07-31 17:24] DavidSSL opened #959 "Java exception when running `spark-submit --version`"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/install-spark
Operating System: linux

While running the command in the title, I got

[code]
Here is my dotnet info

[code]

[2021-07-31 17:26] #959 closed

[2021-07-31 17:26] DavidSSL commented on #959
Almost duplicate of this https://github.com/dotnet/spark/issues/900

[2021-08-02 11:44] shamahov commented on #419
@Niharikadutta Hello! Any progress here?

[2021-08-04 17:34] kirangollamudi commented on #557
For your JAVa, I think most people said, if you have it in a directory where there are NO spaces in the dir name, that should work.

I am in the same boat, not sure if you are successful in configuring it. If so, pls let me know what you did to solve it. Thanks!

[2021-08-04 17:35] kirangollamudi commented on #557
For your JAVa, I think most people said, if you have it in a directory where there are NO spaces in the dir name, that should work.

I am in the same boat, not sure if you are successful in configuring it. If so, pls let me know what you did to solve it. Thanks!

[2021-08-05 14:29] Jigna-Taunk opened #960 "Spark App Failed"
Failed to load org.apache.spark.deploy.dotnet.DotnetRunner

![image](https://user-images.githubusercontent.com/86655923/128367340-1605e489-9c12-4173-bb3d-8ae946a5c364.png)

Can any guide me with this issue

[2021-08-05 17:29] BRIMRAT opened #961 "spark-submit' is not recognized as an internal or external command error"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/install-spark
Operating System: windows 10

I went all steps of this tutorial and get this error when i open a new command prompt and run the following command:
spark-submit --version

'spark-submit' is not recognized as an internal or external command,
operable program or batch file.

[2021-08-05 20:15] suhsteve commented on #961
Can you try starting up a new command prompt session and try again ?

[2021-08-05 20:16] suhsteve commented on #960
Can you move your project and dev files out of `C:\Windows\system32` ?

[2021-08-05 20:26] Niharikadutta commented on #419
Hi @shamahov , I am looking into this. We need to figure out the security implications, I'll keep you updated, thanks.

[2021-08-06 08:48] rrekapalli commented on #33
Hi,
Is this feature available in the latest version of this library?
Thanks.

[2021-08-09 19:31] swathi14-5 commented on #557
The system cannot find the path specified. Can someone help me with this? I m working on Windows Os.

C:\Users\Honey>pyspark
The system cannot find the path specified.

C:\Users\Honey>echo %SPARK_HOME%
C:\Users\Honey\Documents\spark\spark-3.1.2-bin-hadoop2.7

C:\Users\Honey>%SPARK_HOME%\bin\spark-submit.cmd --version
The system cannot find the path specified.

C:\Users\Honey>C:\bin\spark-2.4.1-bin

[2021-08-09 20:26] suhsteve commented on #557
@evonniewu remove the \bin from your JAVA_HOME env var.

[2021-08-09 20:27] suhsteve commented on #557
@swathi14-5 I'd suggest trying with java 8.

[2021-08-09 20:31] swathi14-5 commented on #557
Sure Thank-you

[2021-08-10 02:41] swathi14-5 commented on #557
Thank You it worked.

[2021-08-10 03:20] swathi14-5 commented on #557
Hi ,
I am getting the exception error while running spark commands. Spark installation was successful.
![Screenshot (21)](https://user-images.githubusercontent.com/77978493/128803221-4f3df51e-0a32-435a-8793-b3340172da2a.png)

![Screenshot (20)](https://user-images.githubusercontent.com/77978493/128803122-d3559e4d-3717-4c80-9293-5a5f42b7fed3.png)

[2021-08-10 10:00] kks-git-hub commented on #557
Pl try this video, https://www.youtube.com/watch?v=S5p-2vlUBYo&t=635s . it helped me. make sure you have JAVA8 installed. to me, that was the issue atleast.

[2021-08-17 10:19] bolcman opened #962 "[FEATURE REQUEST]: Easy way to convert Spark DataFrame to Analysis.DataFrame using Arrow"
Hi,

I'm looking for an easy way to convert Spark DF to Analysis DF using Arrow.
I have some cases in which I need to "materialize" Spark DF as fast as possible, do some local transformations, then distribute the payload again.
Based on description this can work pretty nice with Arrow batches between so the overhead can be minimized.

ideally a utility function would look like this:
var fxDataFram

[2021-08-25 23:17] guruvonline opened #963 "[FEATURE REQUEST]: Documentation to use .net for spark on Azure Synapse"
Is there any documentation for using on Azure synapse? currently i have a job running in Azure Databricks, now i want to move/migrate this job to azure synapse. job has lot of dependent assemblies, which today are added to cluster as part of init script.

**Describe the solution you'd like**
A step by step guide on how to create jobs and upload application packages and run end to end.

[2021-08-27 15:18] akshatb1 opened #964 "[BUG]: spark.Dispose() and spark.Stop() throw error"
**Describe the bug**
spark.Dispose() and spark.Stop() does not work and throw error.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to Azure Synapse Studio
2. Start Spark .NET Session.
3. Try to execute spark.Dispose() or spark.Stop()
4. Session does not stop and throws below error.
If you think the bug depends on external factors (e.g., dataset), please provide us with a minimal reprod

[2021-08-29 10:07] akshatb1 commented on #964
Hi @imback82, We are stopping the session to stop the resource consumption from the Yarn immediately before the session timeout kick in. We can set the timeout to a very small value to work around this.
However, in some cases, it might be required to stop the session and start again with some configs which cannot be modified during runtime such catalog implementation etc. This was working in v12.0

[2021-08-30 17:55] imback82 commented on #964
Got it. Let me talk to the team and will get back on this since this is an internal code (not related to OOS Spark .NET).

[2021-08-31 10:08] guruvonline commented on #963
Thanks for reply. I am following the same links, but document is not very clear on how to part when moving from azure databricks to synapse, who to handle different scenarios. for example.

- my scenario have structured streaming C# app, with c# udf and in Databricks we used to have db_init scripts to copy dependent dlls to cluster. in synapse do i have to upload these dlls as "Reference files " i

[2021-09-03 15:32] briancuster opened #965 "Can't run Spark-Submit"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/install-spark
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

I am unable to run spark-submit at the command prompt because the app cannot be found. Please advise as I followed t

[2021-09-03 16:10] briancuster commented on #965
This was resolved.

[2021-09-03 16:10] #965 closed

[2021-09-05 10:33] rrekapalli commented on #958
Hi Team:

We reached a critical stage for one of our offering that depends on this library along with SparkML / MLLib features. Without full features that are present in the current supported versions of Spark (by this library), we are limited to just using this for some ETL pipelines with SparkSQL. It would greatly help for us if there's a published plan for the future implementations or otherwis

[2021-09-06 17:46] GoEddie commented on #818
Hi @Niharikadutta + @imback82  - is there a reason for no decimal or is just waiting for development? is this a good issue to take?

[2021-09-07 02:01] imback82 commented on #818
Hi @GoEddie, this is just waiting for development and a good issue to take.

[2021-09-08 18:34] timrobert777 opened #966 "spark-submit command does not work after installation still says The system cannot find the path specified"
Hello,
I installed java, Spark, Python(Python39) and also set environment variables and the paths, how ever it is still says. I tried different suggestion on #304, #496,  #523 and other issues but no luck

C:\>echo %JAVA_HOME%
C:\java\jdk1.8.0_201

C:\=>echo %SPARK_HOME%
C:\bigdata\Spark\spark-3.1.2-bin-hadoop2.7

C:\>echo %HADOOP_HOME%
C:\bigdata\Hadoop

C:\>echo %PATH%
C:\Windows\system32;C:\Win

[2021-09-08 18:39] suhsteve commented on #966
@timrobert777  in that same command prompt session can you type `java -version` and see if that works ?

[2021-09-08 18:43] timrobert777 commented on #966
Thank you so much Steve a quick response.
Yeah java version shows up correctly.
C:\>java -version
java version "1.8.0_301"
Java(TM) SE Runtime Environment (build 1.8.0_301-b09)
Java HotSpot(TM) 64-Bit Server VM (build 25.301-b09, mixed mode)

C:\>

[2021-09-08 18:46] suhsteve commented on #966
your version returned by that says 1.8.0_**301** .  However your %JAVA_HOME% is set to C:\java\jdk1.8.0_**201**

Seems like an inconsistency that should be fixed.

[2021-09-08 18:48] timrobert777 commented on #966
Awesome Steve, I corrected it and it worked.
Appreciate you time and for a very quick solution. Kudos to @suhsteve

[2021-09-08 18:50] #966 closed

[2021-09-10 08:59] legkanur opened #967 "[BUG]: #i Can't access private nuget feed"
**Describe the bug**
#i Can't access private nuget feed

**To Reproduce**

From notebooks reference private Nuget feed #i "nuget:path"
Error is shown 401  if it's azure dev ops feed, 404 when trying to connect to feed in azure storage.
Once access to feed change to public all works fine.

**Expected behavior**
Ability to pass a cridentials or access feed that Synapse workspase already had access t

[2021-09-15 00:56] Niharikadutta commented on #967
Hi @legkanur , accessing private nuget feeds is currently not supported in .NET for Apache Spark. We have this feature in our pipeline, as well as a hack/workaround till this feature gets implemented.

[2021-09-15 07:09] TEitelberg opened #970 "[BUG]: "Exists" does not work on Synapse"
**Describe the bug**
We are trying to use the new Exists feature in .NET for Apache Spark 2.0 on Azure Synapse.
Unfortunately, the corresponding function returns "False" for every path, regardless of whether it points to a valid file or not.

**To Reproduce**
In our tests, we have the file directly in Synapse primary data lake.

The file can be read without any problems using:

spark.Read().Schema

[2021-09-16 22:04] guruvonline commented on #963
can we add step in doc to use .NET for spark higher than 1. I was using less and it was not working.

[2021-09-16 22:11] guruvonline opened #971 "[FEATURE REQUEST]: Doc to call Python function from C#"
**Is your feature request related to a problem? Please describe.**
i have an existing python class with some business logic. the class/function takes a Dataframe and after processing return back Dataframe. I want to use same function from C#.

**Describe the solution you'd like**
is there way to call Python function from C#

**Describe alternatives you've considered**
as mitigation, i have to rewr

[2021-09-23 04:41] daxnet opened #974 "Is this project still active/alive?"
Just curious about whether this project is still maintained or still alive? It seems it's been around 3 months since last commit on the main branch.

[2021-09-23 05:03] MikeRys commented on #974
Hi Sunny

The project is still around and alive. Since we released version 2.0, the cadence has slowed down a bit, since we have mostly caught up with the capabilities. There is now Spark v3.2 pending that may bring some updates.

The project itself is currently also ships out of the box in Azure HDInsight Spark and Azure Synapse Spark, so it will continued to be maintained.

What specific scenari

[2021-09-23 09:34] rrekapalli commented on #974
Hi @MikeRys,

Good to hear that this project is still alive!  This library is a wonderful fit for one of our project.  However,  had to consider alternatives as there have been no updates especially on the ML side of this library.  Are there any plans to provide complete support for the SparkML / MLLib.  Would be great if there's any tentative timelines for the same.

Regards

[2021-09-23 12:06] daxnet commented on #974
Hi @MikeRys
Thanks so much for answering my question. I think .NET for Spark is a great project and I also used it as a default provider of the Data Factory platform that I created and built by myself, if you are interested, you can refer to my project here: [https://github.com/daxnet/abacuza](https://github.com/daxnet/abacuza).
Just as @rrekapalli  mentioned, I also would like to explore more abo

[2021-09-24 00:42] #974 closed

[2021-09-24 17:20] marcoparenzan opened #975 "[BUG]: Watermarking in a streaming scenario Spark 2.4.x with Kafka on a Raspberry PI does not work."
Hello,

I have written this code: [(https://github.com/marcoparenzan/kafka-spark-on-pi-with-dotnet/blob/main/src/KafkaWordCountDotNetSpark/Program.cs)]
I'm executing this code on a Raspberry PI 4/4Gb with Spark 2.4.1 or 2.4.8. I have not yet tried 3.x.

Executing on Spark, that calls a Kafka server (on another Raspberry PI) does not work. In general communication with Kafka and aggregation (on con

[2021-09-30 16:06] fforgoso opened #976 "[BUG]: Vulnerability reported by Veracode Static Scan"
**Describe the bug**
Hi all.
We got the following vulnerability issue when we ran Veracode Static Scan.
Could you take a look and share your thoughts about it?
Thanks in advance!

**To Reproduce**
Run Veracode Static Scan against microsoft-spark jar files.

Found in v2.0.0.
microsoft-spark-2-4_2.11-2.0.0.jar - org/apache/spark/deploy/dotnet/DotnetRunner.scala:136
microsoft-spark-3-0_2.12-2.0.0.jar

[2021-10-01 04:52] rogercallster commented on #582
I am getting same issue with K8 depoyment..

ERROR task-result-getter-0 RetryingBlockFetcher - Exception while beginning fetch of 1 outstanding blocks
java.io.IOException: Failed to connect to /192.168.6.186:46443
	at org.apache.spark.network.client.TransportClientFactory.createClient(TransportClientFactory.java:253)
	at org.apache.spark.network.client.TransportClientFactory.createClient(Transport

[2021-10-01 04:53] rogercallster commented on #582
Did you find solution

[2021-10-11 10:55] markcunninghamuk opened #981 "Convert entire row to JSON"
When Calling a UDF I want to be able to do JSON validation per row inside a UDF, Can anyone explain how this could be done, I dont see any examples of processing the entire row in the examples. Please advise

[2021-10-11 10:59] markcunninghamuk commented on #981
Example Code

#r "nuget:NJsonSchema"

using System.Text.RegularExpressions;
using Microsoft.Spark.Sql;
using Microsoft.Spark.Sql.Types;
using static Microsoft.Spark.Sql.Functions;
using Microsoft.Spark.Sql.Expressions;
using System;
using System.Collections.Generic;
using static Microsoft.Spark.Sql.Functions;

var df = spark.Read().Option("multiline","true").Json("/JSONSCHEMA/data.json");

df.Show

[2021-10-12 13:10] #981 closed, assigned to nobody

[2021-10-15 07:59] GoEddie commented on #970
Where is the file stored? are you using an abfss path?

I tested it on my own instance and that seemed to work fine:

![image](https://user-images.githubusercontent.com/4895930/137452776-8c91042a-6e7e-4379-a354-e63379617f62.png)

Is there something that we are doing differently? I did try an http path but that failed to read for me as well.

[2021-10-20 13:35] rrekapalli opened #983 "[FEATURE REQUEST]: Spark 3.2.0 Support"
Hi Team:

Are there plans to support Spark 3.2.0 that has been released recently (10-13-2021)?  Specifically looking for a complete implementation of MLLib.

Thanks & Regards

[2021-10-22 17:55] guruvonline opened #984 "[BUG]: UDF returning json as string changing the decimal format inside json"
**Describe the bug**
UDF returning json as string, but when reading it in main function, decimal format is getting change

sample json returned by UDF

[code]

[code]

[code]

In my main function i am calling the UDF as
[code]

If i change my decimal to string value in json, then i am getting the full decimal value. Which means UDF is returning the correct value, but while reading in main function

[2021-10-27 11:49] novikov-alexander opened #992 "[FEATURE REQUEST]: DataFrame.mapPartitions"
I need to merge together a lot of data using a very complicated probabilistic algorithm.
There are a lot of data and it can't be loaded into memory of a one single node.
I need to aggregate data on each partition.
I use `GroupBy(SparkPartitionId()).Apply(...)` however it shuffles the data and significantly decreases performance.
Moreover some partitions goes to the same node because of hash partit

[2021-10-27 17:38] unical1988 opened #993 "[BUG]: Spark application stuck at ACCEPTED state (unset port issue) in Hadoop 3.3.2"
Hello guys! 

 

I am using Hadoop 3.3.2 to set up a cluster of 2 nodes. I was able to start manually both hadoop (through hdfs namenode -regular & hdfs datanode -regular one command on each machine) and yarn (yarn resourcemanager (master) yarn nodemanager (on the slave)) But when i issue a spark-submit command to run my application it gets stuck in the ACCEPTED STATUS and the log of the slave mac

[2021-11-01 08:28] waqassiddiqi commented on #967
@Niharikadutta what is the hack/work around in the meantime?

[2021-11-02 17:45] willim32533 opened #997 "[FEATURE REQUEST]: Update Microsoft.Spark.Extensions.Delta to Support Delta Lake 1.0.0"
Microsoft.Spark.Extensions.Delta currently supports Delta Lake .8.0.0 and is compatible with Spark 3.1.

Any plans to support Delta Lake 1.0.0, which is compatible with Spark 3.1.2, or wait until a new release of Delta Lake is available that supports Spark 3.2?

[2021-11-08 04:51] rrekapalli opened #998 "Parameterized method chaining with DataFrame.Transform"
Hi Team:

Could someone help me/point me to an example on how I can implement method chaining with a parameter as shown in the below scala example?
Please note the string parameter ("name") in the below example.

[https://mungingdata.com/apache-spark/chaining-custom-dataframe-transformations/](url)

`def withCat(name: String)(df: DataFrame): DataFrame = {
  df.withColumn("cats", lit(s"$name meow")

[2021-11-08 18:18] Niharikadutta commented on #967
@waqassiddiqi could you please send me your email-id and I will follow up with this.

[2021-11-08 23:54] waqassiddiqi commented on #967
@Niharikadutta here you go: waqas.hussain at outlook.com.au

[2021-11-09 22:14] GoEddie commented on #997
I can run the existing delta extensions against version 1.0.0 of the delta code - do you get issues with that or do you want the new API's implemented? If it is the API's are there any in particular? I notice that the newer ones I looked at are marked experimental.

[2021-11-09 22:16] GoEddie commented on #984
It might be worth re-testing this with this PR: https://github.com/dotnet/spark/pull/982 as it includes decimal support

[2021-11-10 16:01] akamor opened #999 "[BUG]: DotnetRunner is mistakenly trying to connect to debug port 5567 when not in debug mode."
**Describe the bug**
DotnetRunner is mistakenly trying to connect to debug port 5567 when not in debug mode.

**To Reproduce**

We are launching jobs on AWS EMR via spark-submit.  spark-submit command looks like:

[code]

This results in a stack trace on the stdout of the driver of this:

[code]

In our Main() we create our spark session via:

[code]

As you can see we aren't passing 'debug' to th

[2021-11-10 20:16] imback82 commented on #999
Do you see any logs similar to the followings?
https://github.com/dotnet/spark/blob/c79cf8fad49e4760e6f6b4c8fe31a59f0fa306c4/src/csharp/Microsoft.Spark/Services/ConfigurationService.cs#L110

https://github.com/dotnet/spark/blob/c79cf8fad49e4760e6f6b4c8fe31a59f0fa306c4/src/csharp/Microsoft.Spark/Services/ConfigurationService.cs#L114

[2021-11-10 20:30] akamor commented on #999
On stdout on the driver I see:

[2021-11-10T20:22:50.1009705+00:00] [2021-11-10T20:22:50.1008602Z] [ip-172-31-83-212] [Info] [ConfigurationService] Using port 35785 for connection.

[2021-11-10 20:32] akamor commented on #999
And on stderr on the worker we see:

[2021-11-10T20:23:10.6593535Z] [ip-172-31-95-236] [Info] [ConfigurationService] 'DOTNETBACKEND_PORT' environment variable is not set.
[2021-11-10T20:23:10.6594946Z] [ip-172-31-95-236] [Info] [ConfigurationService] Using port 5567 for connection.

[2021-11-10 20:34] imback82 commented on #999
Hmm you should see this only in the driver. Why do you see this in the worker? Are you writing some UDFs that can cause this? If so, can you share?

[2021-11-10 20:46] akamor commented on #999
Yes, we are using a C# UDF.  The error appears to occur when calling that UDF.  The UDF itself is for demonstrative purposes and just news up a RNG and generates a random integer which is placed in the column.

[2021-11-10 21:03] akamor commented on #999
So the UDF itself just generators random values but we wrap it in more complex logic.  Here it is:

[code]

Program.GeneratorCaller is declared in Program.cs

[code]

The GeneratorCaller itself does not rely on SparkSession in any way.  _container is just an autofac container.

[2021-11-10 21:32] akamor commented on #999
Ok, we actually believe we've fixed the issue.  I'm saying this now so you don't spend cycles investigating.  I'm gonna do a writeup a bit later tonight so others can learn from my mistakes. :)

[2021-11-10 22:18] akamor commented on #999
The issue was related to a code change on our side.  When we referenced Program.GeneratorCaller in the UDF that caused us to unknowingly try to start a new SparkSession and it couldn't connect to the port on the worker.  What made us realize the issue was seeing logs on the worker.  We hadn't previously realized there were worker logs for this job.  Thanks a lot for your help.

[2021-11-11 14:30] willim32533 commented on #997
I did get issues trying to run with Delta Lake 1.0.0 + Microsoft.Spark.Extensions 2.0.0 + Spark 3.1.2 + .NET Core 3.1 + debian 10 r16 + Python 9.  Unfortunately, I do not still have the details, but it was complaining about the .forPath method signature.  After I downgraded to Delta Lake 0.8.0 + Microsoft.Spark.Extensions 2.0.0 + Spark 3.0.2, the error went away.  Other members of the team would p

[2021-11-11 15:19] GoEddie commented on #997
Sure, this was on a mac Delta Lake 1.0.0, Microsoft.Spark.Extensions 2.0.0 and Spark 3.1.2, .NET 5 - with this sample:

[code]

Does this work for you? Maybe something does need to be implemented outside of a simple example

[2021-11-11 15:47] willim32533 commented on #997
How are you able to reference the DeltaTable class without using Microsoft.Spark.Extensions.Delta.Tables?

As a side note, your example raises a completely different question relating to a different issue I'm trying to resolve and I think it would be really helpful if I could ask that question, but it's probably more appropriate in SO, since I don't know if my issue is a bug or functionality that

[2021-11-11 15:53] GoEddie commented on #997
Because of the power of the "Copy and Paste" Error :) have edited the sample (was missing "using Microsoft.Spark.Extensions.Delta.Tables;")

Feel free to link to SO from here

[2021-11-11 16:07] willim32533 commented on #997
Understood, np  :)  My 3.1.2 image needs to be rebuilt so I can be sure it is clean and as soon as I have that done, I'll try the simple app and post results.

Thank you very much.  I'll post the link with my test results.

[2021-11-11 16:36] GoEddie commented on #998
I think what you see in this sample is some of the "scala magic" but you can recreate something similar like:

[code]

Which outputs:

[code]

[2021-11-11 17:59] willim32533 commented on #997
Ok, so this is interesting.  Your example ran successfully and after that, I tried another of mine and it worked, too.  So, the issue must have been in something I had done prior to downgrading the versions that was not documented (or in either the Dockerfile or docker compose script).

I wonder what tests are needed to update DeltaLakeVersions.cs with internal const string V1_0_0 = "1.0.0";?

The

[2021-11-11 18:52] GoEddie commented on #997
Great news!

I would think to mark it as supporting 1.0.0 it should implement any objects/methods (not sure about the experimental ones tbh - someone in the core team would need to offer some guidance)

[2021-11-11 20:32] suhsteve commented on #976
@fforgoso the `DotnetRunner` is the main driver application when submitting a job to spark.  The DotnetRunner accepts a list of arguments, where the argument list expected to be the .NET for Spark C# application with accompanying arguments that it should be launched with.  This in turn is used in ProcessBuilder to start the C# app.

Currently no validation is being done on these arguments.  If thi

[2021-11-11 20:32] #999 closed

[2021-11-11 20:32] #993 closed

[2021-11-12 10:05] manikumararyas commented on #803
Thanks, @andrey-puzyr. I encountered with the same scenario and your suggestion helped me.

[2021-11-13 06:35] rrekapalli commented on #998
Hi Ed,
Thank you very much for the suggestion!  This has been very helpful while implementing some data transformations through method chaining in our project.  Much appreciate your help!

[2021-11-18 16:53] GoEddie commented on #998
Hi @rrekapalli ,

Do you need anything else? If not can you close it?

Ed

[2021-11-18 17:58] rrekapalli commented on #998
Hi Ed, The above solution worked for me and closing the issue.  Thanks so much for your help!

[2021-11-18 17:58] #998 closed

[2021-11-22 23:28] fforgoso commented on #976
Thank you for your answer @suhsteve!
As you may guess, I'm a .Net developer with null knowledge of Scala. I'm wondering if there is any chance that one of you guys, maintainers of this project, could add the logic needed to sanitize these arguments ...
Please, let me know your thoughts.

[2021-11-23 03:22] cafeibit opened #1000 "spark-submit : The term 'spark-submit' is not recognized as the name of a cmdlet, function, script file, or operable / Win10 after insalled and setup env"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/install-spark
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

---------
PS C:\bin\spark-3.0.1-bin-hadoop2.7\spark-3.0.1-bin-hadoop2.7\bin> spark-submit --version
spark-submit : T

[2021-11-23 03:25] #1000 closed

[2021-11-23 03:26] cafeibit commented on #1000
move to up folder

[2021-11-29 15:47] briancuster opened #1001 "Couldn't Run Spark-Submit. Received an error."
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/install-spark
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-11-29 15:50] GoEddie commented on #1001
Can you share some more details? The console output, particularly the stack traces would be useful (as well as the error message)

[2021-11-29 15:58] briancuster commented on #1001
I got the message that spark-submit was not an operable command, program, etc.

[2021-11-30 21:22] suhsteve opened #1002 "[BUG]: JvmBridge registering CLR garbage collector threads with JvmThreadPoolGC"
**Describe the bug**
When the finalizer is called for CLR [JvmObjectId](https://github.com/dotnet/spark/blob/b0a3068bd8df2a5e8d1754cf2f1f50d38d37f57b/src/csharp/Microsoft.Spark/Interop/Ipc/JvmObjectReference.cs#L33) objects, it calls the `rm` DotnetBackend method and this calls goes through the `JvmBridge` class.  Because the `rm` call goes through [JvmBridge.CallJavaMethod](https://github.com/dot

[2021-11-30 21:23] suhsteve commented on #1002
@AFFogarty

[2021-12-07 16:59] joelcochran opened #1005 "[FEATURE REQUEST]: Increase number of UDF parameters"
**Is your feature request related to a problem? Please describe.**
UDFs currently have a limit of 10 input parameters. They are wrapped by C# Func<> which allow up to 16 input parameters.

**Describe the solution you'd like**
Increase the number of input parameters in UDFs to have parity with Func.

**Describe alternatives you've considered**
The workaround is to collapse parameter values for call

[2021-12-07 20:25] DoctrSpock opened #1006 "[BUG]: .Option("query", "SELECT 0 FROM DUAL")"
**Describe the bug**
While using connection to a Oracle DB if we use an option to "SELECT 0 FROM DUAL" (I know is a stupid usage of the tool, but to better understand the problem let's use this example) we got this error.

System.FormatException: Input string was not in a correct format.
   at System.Number.ThrowOverflowOrFormatException(ParsingStatus status, TypeCode type)
   at System.Number.Par

[2021-12-10 16:51] GoEddie commented on #1005
@suhsteve is there any reason not to implement this? Should be an easy fix?

[2021-12-10 17:00] GoEddie commented on #1006
Can you give more of an example, I’m a bit confused as you can read or write to oracle using the jdbc driver in spark but that won’t make its way over the wire to .NET unless you collect or have a UDF or something?

If you cast the number to an int do you still get it? Trying to understand if it is all 0’s from oracle or just decimals.

if you wrote the data frame to parquet then read it back and

[2021-12-14 06:31] suhsteve commented on #1005
@GoEddie yeah I think this is a reasonable request.  Should be easy to fix.

[2022-01-10 05:40] rahulshivangi commented on #732
Hi,

I am facing the same issue, getting below exception:
`System.TypeLoadException: Could not load type 'Microsoft.ML.Data.DataViewTypeAttribute' from assembly 'Microsoft.ML.DataView, Version=1.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51'`

I am using Microsoft.Spark v 1.0.0 on **Azure Synapze**
I am new to Azure Spark, Please excuse me, if I misunderstood anything.
Do you know any wo

[2022-01-19 09:50] ognyandim opened #1014 "Running setx /M PATH "%PATH%;%HADOOP_HOME%;%SPARK_HOME%\bin" overwrites PATH"
Executed the step "setx /M PATH "%PATH%;%HADOOP_HOME%;%SPARK_HOME%\bin"" from the tutorial at "https://dotnet.microsoft.com/en-us/learn/data/spark-tutorial/install-spark" and my PATH variable was set to this string overwriting all the values.

Any idea how to revert it?

[2022-01-19 10:11] ognyandim commented on #1014
Thanks to Windows recovery point from yesterday I was able to revert. This step should be replaced with manual entering to prevent other people stepping on this mine.

[2022-01-19 10:12] #1014 closed

[2022-01-20 14:30] Dave76 commented on #967
@Niharikadutta would you mind sharing the work-around for this and provide an update on the status of this feature?

[2022-01-20 19:44] Niharikadutta commented on #967
@Dave76 Could you please provide your email id, I can share the workaround over email. This feature is in our backlog we don't have a set ETA to share.

[2022-01-20 20:12] Dave76 commented on #967
@Niharikadutta david.judd at gmail.com. Thanks so much.

[2022-01-21 16:32] x1linwang opened #1017 "[BUG]: Spark submit fails: No such file or directory: '/opt/spark/python/pyspark/./bin/spark-submit'"
**Describe the bug**

I'm trying to run spark in jupyter notebook using the spylon-kernel but when I try to run any code, it is just stuck at "Initializing scala interpreter..." and the error in the ubuntu terminal (I'm a windows user running spark in the WSL - ubuntu 18.04 ) is attached below.

**To Reproduce**

Steps to reproduce the behavior:
1.  Install Anaconda3-2021.11-Linux-x86_64, java8 (o

[2022-01-21 20:39] suhsteve commented on #1017
@x1linwang Is this a question related to Dotnet for Spark or pyspark ?

[2022-01-25 05:07] Yousef-Alabdulhadi commented on #1017
I'm having the exact same issue and I've looked everywhere for a solution. I think switching to Linux might just be the best choice here.

[2022-01-25 18:33] suhsteve commented on #1017
Closing issue as the issue is not relevant wrt .NET for Apache Spark.

[2022-01-25 18:33] #1017 closed

[2022-02-01 05:16] #948 closed

[2022-02-03 16:45] Niharikadutta commented on #732
Resolved with latest V2.1.0 release. Closing this issue.

[2022-02-03 16:45] #732 closed

[2022-02-04 18:54] Niharikadutta commented on #983
Support for Spark 3.2.0 added with latest release `v2.1.0`.

[2022-02-04 18:55] Niharikadutta commented on #983
@GoEddie are you planning on continuing work on adding MLLib support?

[2022-02-04 20:56] KarpagamGurumurthy opened #1022 "Accessing azure databricks table using spark from azure function"
I am trying to access azure databricks table. I have created a time trigger azure function which should connect to the databricks. I have used the jdbc url, personal access token available in ADB

when I run the azure function, I get an error
System.Private.CoreLib: Exception while executing function: GetMetaRegistryData. System.Net.Sockets: No connection could be made because the target machine a

[2022-02-07 11:52] rudrabhattacharya opened #1023 "Error running sample dotnet spark program"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/data/spark-tutorial/run
Operating System: windows

While running the dontnet for apache spark tutorial - https://dotnet.microsoft.com/en-us/learn/data/spark-tutorial/run
I receive an error when I run the spark submit command.
spark-submit --class org.apache.spark.deploy.dotnet.DotnetRunner --master local bin\Debug\netcoreapp3.1\micros

[2022-02-07 15:06] GoEddie commented on #983
Hi @Niharikadutta I was under the impression that the Microsoft ML team were implementing it (they were automating it) - if they aren't then I can help but was told it would all be done soon so was a waste of time!

[2022-02-07 21:02] rudrabhattacharya commented on #1023
This error was linked to the folder name which contained white space. After moving the sample app to a different folder ,the app ran as expected.

[2022-02-07 21:02] #1023 closed

[2022-02-08 18:30] rolevin opened #1024 "Error when installing package Microsoft.Spark --version 1.0.0"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/data/spark-tutorial/create
Operating System: windows

Hi,

I followed the tutorial carefully.
I even retried from the beginning multiple times.

Still, whenever I run this command:
_dotnet add package Microsoft.Spark --version 1.0.0_

**I get the following error:**

C:\Users\rolevin\Repositories\RemoteGit\Development\Workspaces\Dynami

[2022-02-08 18:59] Niharikadutta opened #1025 "[BUG]: Spark .NET gives preference to DLLs existing on the worker nodes on top of different version DLLs packaged through the customer application"
**Describe the bug**
Spark .NET gives preference to DLLs existing on the worker nodes on top of different version DLLs packaged through the customer application. This causes user applications depending on their DLL version fail with the following error:

[code]

**Expected behavior**
Spark .NET should give preference to and load user specified DLLs while running the tasks on the worker.

**Additio

[2022-02-10 06:17] akamor opened #1026 "[BUG]: Error unpickling decimal array when array contains at least one '0' value"
**Describe the bug**
Parquet file has a column of array<decimal<38,18>>.  If row has an array such as **array(0,1,2,3)** we will get an exception under certain situations.  The exception only happens when the array itself contains at least 1 element whose value is 0.

**To Reproduce**

Create a parquet file described as above then read it into a DF.

From the C# side do something like:

[code]

On

[2022-02-10 06:18] akamor commented on #1026
To be clear, arrays that do not contain the value 0 seem to work just fine.  Additionally, decimal columns (non-arrays) with 0 values also work just fine.

[2022-02-10 19:38] akamor commented on #1026
Issue also occurs using v2.1.0.

[2022-02-11 04:01] imback82 commented on #1026
Could be a bug. Similar issue in #1006

[2022-02-11 04:09] imback82 commented on #1026
@suhsteve Are you aware of this issue by any chance?

[2022-02-11 14:08] akamor commented on #1026
So we did more digging on our side.  Decimal values defined as decimal(38,18) show values of 0 as 0E-18.  More details here: https://github.com/apache/spark/pull/22171  and this was also confirmed in our own testing.

The issue appears to be that System.Convert.ToDecimal("0E-18") throws the exception mentioned above (and in the linked issue).

[2022-02-11 15:26] akamor commented on #1026
Did more digging and I've filed a bug on Razorvine to consider using Decimal.Parse over Convert.ToDecimal as this would support numbers in scientific notation.

Is there any workaround that can be done in this repro in the meantime?  If not, we'll likely need to fork Razorvine and use the forked version with the this spark driver.

[2022-02-11 21:10] suhsteve commented on #1026
No sorry I'm unaware of this issue.  But it seems like @akamor has a lead.  If the fix makes it into the Razorvine package, although unsure, I suspect that it won't be a a simple direct replacement if we had to update to Razorvine 5.x.

[2022-02-11 21:12] suhsteve commented on #1024
@rolevin I suspect there may be something fishy in your Nuget.config ?  The error message seems to suggest issues connecting to https://dynamicscrm.pkgs.visualstudio.com/_packaging/SalesInsights/nuget/v3/index.json

[2022-02-11 22:15] akamor commented on #1026
At the moment I'm looking to use lib.Harmony to apply a Monkey patch in Microsoft.Spark.Worker.  That seems to not be working as I'm now getting this very odd error when running a job.

[code]

Looks like my patch is maybe causing Microsoft.Spark.Worker to completely fail?

[2022-02-12 03:58] suhsteve commented on #1026
Looked into this a bit more.  Haven't tested this but I think we can just create our own custom [DecimalConstructor](https://github.com/irmen/Pyrolite/blob/3e715b65daa8f00f39b2ad6f3446a2fa8f0707db/dotnet/Razorvine.Pyrolite/Pyrolite/Pickle/Objects/DecimalConstructor.cs#L13) and register the constructor with the Unpickler.

[2022-02-14 19:06] suhsteve commented on #1026
@akamor Glad it's working out for you.  The steps you outlined is pretty much what I had in mind.  Would you like to contribute the fix as a PR?  I think the only missing piece are unit tests.  They should be added to:
- [Microsoft.Spark.UnitTest](https://github.com/dotnet/spark/tree/main/src/csharp/Microsoft.Spark.UnitTest) - to test the DecimalConstructor
- [Microsoft.Spark.E2ETest](https://gith

[2022-02-14 20:57] akamor commented on #1026
Sure, happy to write a PR.  It might not happen for at least a few more days but folks in the meantime can definitely use the above.

Out of curiosity, why was the registration needed in both Program.cs and in the SparkSession constructor?  I would've assumed it would only be needed in Program.cs

[2022-02-14 21:22] suhsteve commented on #1026
I think it'll depend on where the unpickling is happening.  From your example of
[code]

I think only the SparkSession part is necessary as there shouldn't be any C# Worker's spun up due to no UDF calls.

To be safe however, I'd suggest registering the DecimalConstructor [here in PythonSerDe.cs](https://github.com/dotnet/spark/blob/fac8defe91ec82bb396f62d1dffd9c25aa684c56/src/csharp/Microsoft.Spar

[2022-02-16 19:44] ericjohnolson opened #1032 "[FEATURE REQUEST]: Support for .NET 6.0"
Hi Team:

Are there plans to support .NET 6 in the future? I am currently using the newer Mac M1 processor and .NET Core 3.1 isn't supported.

Thank you and would love to migrate my Spark/Databricks application from PySpark to this project!
Eric

[2022-02-17 02:56] MikeRys commented on #1032
Thanks Eric

It is on our roadmap and we will be considering for a future update.

Best regards
Michael

From: ericjohnolson ***@***.***>
Sent: Wednesday, February 16, 2022 11:45 AM
To: dotnet/spark ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [dotnet/spark] [FEATURE REQUEST]: Support for .NET 6.0 (Issue #1032)

Hi Team:

Are there plans to support .NET 6 in the future? I am currently using t

[2022-02-17 23:10] willim32533 opened #1033 "Use native Spark REST api for dotnet job"
I am assuming it should be possible to trigger a dotnet spark job using the native spark REST api, but cannot find any documentation for it.  Can it be confirmed that this functionality is or is not supported?  If it is supported, what does the api request body of the CreateSubmissionRequest action need to contain for dotnet spark jobs?  How to structure the appArgs array? Does the microsoft-spark

[2022-02-18 02:01] akamor opened #1034 "[BUG]: Performance considerations"
Hello, this isn't a tradition bug report.  Its more a question for the dotnet+spark team and a bit of info on how my company, Tonic, has been using this project.

My company, Tonic, builds what is essentially an ETL tool.  We copy data from point A to point B and transform the data along the way.  Our transformations are meant to increase the privacy of the data and don't modify the schema of the

[2022-02-18 16:01] meywd opened #1035 "V2.1.0 doesn't support spark 2.4.8"
Hi Spark Team, thanks for all the efforts, we use spark in GCP and are currently upgrading images due to log4j vulnerability, and currently facing an issue since we have the data we work with that doesn't support spark 3.x and the current Google images use Spark 2.4.8, and after upgrading to the latest package v2.1.0, I got the error `Exception in thread "main" java.lang.IllegalArgumentException:

[2022-02-19 00:29] Niharikadutta commented on #1035
Could you please provide the microsoft-spark.jar you are using to submit your application?

[2022-02-19 05:54] meywd commented on #1035
[microsoft-spark-2-4_2.11-2.1.0.zip](https://github.com/dotnet/spark/files/8101522/microsoft-spark-2-4_2.11-2.1.0.zip)

[2022-02-22 07:14] Niharikadutta commented on #1035
@meywd I'm not able to reproduce this with the jar you provided locally, can you run `spark-submit --version` in a new shell and share the output?

[2022-02-22 07:41] meywd commented on #1035
Sure, this is what I get:
[code]

[2022-02-22 18:35] suhsteve commented on #1035
The list of versions in the supported versions list `Supported versions: 2.4.0, 2.4.4, 2.4.5, 2.4.1, 2.4.3` leads me to believe that an incorrect jar is being used.  More specifically a [v0.11.0](https://github.com/dotnet/spark/blob/v0.11.0/src/scala/microsoft-spark-2.4.x/src/main/scala/org/apache/spark/deploy/dotnet/DotnetRunner.scala) jar.  Spark 2.4.6 was added to v0.12.0 and I did not see it i

[2022-02-23 10:54] robyle commented on #824
hi，are you sloved this quesion? I meet the same questions .

[2022-02-24 01:43] robyle commented on #380
Hi, Is this poroblem sloved ? I 'm trying ,but doesn't work~!

[2022-02-24 14:24] willim32533 commented on #1033
If anybody comes across this question and needs an answer, it is possible.  Here is an example post command to the native spark REST api running on a spark master node.  The solution was identified by running spark-submit via the CLI and specifying --master spark://spark:6066 and then comparing the driver launch commands that were executed on the worker node.

spark rest api endpoint: http://<loca

[2022-02-24 14:24] #1033 closed

[2022-02-24 19:25] meywd commented on #1035
@suhsteve you are correct, turned out the wrong jar was being submitted, the above error is solved, however I am facing another issue:
[code]
the referenced jars are
[code]

[2022-02-27 03:02] RafaelFOl opened #1037 "'spark-submit' is not recognized as an internal or external command"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/data/spark-tutorial/install-spark
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant
![SAPRK_SUBMIT](https://user-images.githubusercontent.com/33993344/155866442-80fb278e-e3c2-431c-ad17-17a2c9458a8

[2022-02-27 06:48] meywd commented on #1035
@Niharikadutta After opening a support ticket with GCP regarding the error above they told me to try and use jars build with scala version "2.12.10" is that possible for dotnet spark?

[2022-02-27 08:20] aslot opened #1038 "[BUG]:"
**Describe the bug**
There some exceptions after running spark-submit.
[Error] [JvmBridge] org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 9.0 failed 1 times, most recent failure: Lost task 0.0 in stage 9.0 (TID 8) (192.168.1.12 executor driver): org.apache.spark.api.python.PythonException: System.IO.FileNotFoundException: Assembly 'Microsoft.Spark.CSharp.Example

[2022-02-28 14:28] rohitkle opened #1039 "Install Apache Spark Error"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/data/spark-tutorial/install-spark
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

I'm getting the following error while following the step.

Exception in thread "main" java.lang.ExceptionInIni

[2022-02-28 15:10] rohitkle commented on #1039
There was another version of Java SDK installed on the machine. We uninstalled all the other versions and just installed the version mentioned the documentation. Not seeing the problem now.

Please close the ticket.

[2022-02-28 21:25] Niharikadutta commented on #1035
@meywd Yes, Spark 2.4.8 uses Scala 2.12 as [documented here](https://spark.apache.org/docs/2.4.8/#downloading), please use 2.12 jars and try re-submitting your jobs

[2022-02-28 21:33] #1039 closed

[2022-02-28 23:14] meywd commented on #1035
Isn't the DotNet Spark jar for spark 2.4 `microsoft-spark-2-4_2.11-2.1.0.jar` built for Scala 2.11?

[2022-03-01 22:10] aslot commented on #1038
The first warning in the output is [Warn] [AssemblyLoader] Assembly 'Microsoft.Spark.CSharp.Examples, Version=2.1.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51' file not found 'Microsoft.Spark.CSharp.Examples.dll' in '/home/lovelake/dotnet.spark/artifacts/bin/Microsoft.Spark.CSharp.Examples/Debug/netcoreapp3.1/ubuntu.21.04-x64/publish**:**,/tmp/spark-be403162-ca20-4eb3-ad76-db04636fe228/us

[2022-03-04 02:55] meywd commented on #1035
Thanks, will do that

[2022-03-04 02:55] #1035 closed

[2022-03-10 08:57] NoobCo3 opened #1041 "can someone show me how to use this method?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0567617-8a90-4c1e-bf21-f4a779b41d58
* Version Independent ID: 982611a1-cd9e-6dd2-8913-cfbdd43a1fd2
* Content: [SparkSession.ExecuteCommand(String, String, Dictionary&lt;String,String&gt;) Method (Microsoft.Spark.Sql) - .NET for Apache Spark](https://

[2022-03-10 11:12] kr185187 opened #1042 "Unable to get the version since i added env details"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/data/spark-tutorial/install-spark
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

Unable to get the version since i added env details

[2022-03-10 11:13] kr185187 commented on #1042
C:\WINDOWS\system32>spark-submit --version
'spark-submit' is not recognized as an internal or external command,
operable program or batch file.

[2022-03-10 18:17] suhsteve commented on #1042
You may need to close and reopen your cmd/powershell sessions after you updated your PATH env variables.  Also please take a look and follow the suggested steps in https://github.com/dotnet/spark/issues/557 and https://github.com/dotnet/spark/issues/304 .

[2022-03-10 18:17] #1042 closed

[2022-03-10 18:22] suhsteve commented on #1038
@aslot in your `Additional context` section you listed that you ran

[code]

The `:` was set there.  The search paths should be separated by `,`s instead of `:`s.  Were you following any official guides that suggested the `:` should be present? If so then we should probably get that changed.

[2022-03-10 18:33] suhsteve commented on #1034
@akamor
Please take a look at the following SPIP [SPARK-26257](https://issues.apache.org/jira/browse/SPARK-26257) as to why we've had to use python serialization in order to integrate with the current Spark Interop layer.

We've also ran TPC-H benchmarks showcasing the performance difference between Python and C#
 as can be seen in the following blog post https://devblogs.microsoft.com/dotnet/intr

[2022-03-10 18:42] suhsteve commented on #1022
@KarpagamGurumurthy  how are you running your .NET Spark application in Azure Functions?  Are you attempting to run the manually run the application binary?  ie, `<app name>.exe` or are you using `spark-submit` ?

[2022-03-11 00:30] suhsteve commented on #1037
@RafaelFOl  You may need to close and reopen your cmd/powershell sessions after you updated your PATH env variables. Also please take a look and follow the suggested steps in https://github.com/dotnet/spark/issues/557 and https://github.com/dotnet/spark/issues/304 .

[2022-03-11 00:30] #1037 closed

[2022-03-14 14:44] DeepikaPrabha opened #1043 "[BUG]: Spark Worker throwing System.IO.FileNotFoundException exception"
**Describe the bug**
I am reading a csv file and a adding a column using Udf.   This csv file has around 17M rows. I am using 8 executors (8 cores * 56GB)

[code]
When I do display, just after reading CSV, at line no (2), I don't get any error but if I  do display at line no 4, it throws me below error.

[code]

I have been getting this error intermittently. Can you please help me with what is the

[2022-03-15 22:26] kxs-btran commented on #767
Hi @artsiomtserashkovich, I ran into the same problem today and found this thread. Just want to ask how did you solve the issue? Did you just simply remove SparkSession.Stop()?

Any help would be appreciated :D Thank you!

[2022-03-18 18:51] Niharikadutta commented on #1043
@DeepikaPrabha how are you submitting this application, is it batch or interactive?

[2022-03-20 04:44] DeepikaPrabha commented on #1043
@Niharikadutta I am not using UDF in the same cell where it is registered.  This is the flow.
Cell1(C#) -> UDF1
Cell2(C#) -> UDF2
Cell3(C#) -> UDF1 => working fine
Cell4(Python)-> Some operation
Cell5(C#) -> UDF1 -> Fails with above error

[2022-03-21 21:13] konradcetes opened #1044 "Spark; The system cannot find the path specified"
I have been trying to install spark 3.1.3 for the last few days but I keep getting the same error, 'The system cannot find the path specified".

I have already read through #557 and #304 but these don't help. I tried with both \bin and without \bin as part of the JAVA_HOME path but neither seem to fix the problem.
![image](https://user-images.githubusercontent.com/22103554/159364705-9943dfd7-af55-

[2022-03-21 22:14] #1044 closed

[2022-03-23 06:41] kiranpradeep opened #1045 "[Documentation or example code Request]: Read from Azure EventHubs not involving Kafka surface"
**Is your feature request related to a problem? Please describe.**
This is a documentation or a source code [sample](https://github.com/dotnet/spark/tree/main/examples/Microsoft.Spark.CSharp.Examples/Sql/Streaming) request. Current [documentation](https://docs.microsoft.com/en-us/dotnet/spark/how-to-guides/connect-to-event-hub) to read from EventHubs rely on Kafka surface.

**Describe the solution

[2022-03-29 10:31] anandsundar543 opened #1046 "'spark' is not recognized as an internal or external command, operable program or batch file."
Problem encountered on https://dotnet.microsoft.com/en-us/learn/data/spark-tutorial/install-spark
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2022-03-31 03:24] Macromullet commented on #419
We need this as well. It's super valuable if you are writing tests in Visual Studio on Windows because you can just bind to the WSL2 address with dynamic port forwarding, however that only works if the address is bound to 0.0.0.0.

[2022-03-31 20:27] Niharikadutta commented on #1043
@DeepikaPrabha your failing notebook works if you remove the empty line after the magic command and before UDF definition. Can you please try on your end after removing the whiteline?
`%%csharp
using System;
Func<Column, Column> SecondUDF = Udf<string, string>( url => url + " second udf");`

[2022-04-05 06:35] DeepikaPrabha commented on #1043
yes, it worked for me after removing empty line after magic command. Is there any explanation on this behavior?

[2022-04-11 17:20] strtdusty opened #1048 "[BUG]: downloadDriverFile failing on Utils.fetchFile using microsoft-spark-3-2_2.12-2.1.0 on a 10.4 LTS (includes Apache Spark 3.2.1, Scala 2.12)"
**Describe the bug**
I am trying to upgrade my spark-submit job in azure databricks to use the newest dotnet spark version.  I have upgraded the version number in db-init.sh, upgraded my nuget package and updated the spark-submit params.  I see there was a recent change in downloadDriverFile because the signature of fetchFile changed.   I'm guessing I just missed something in the upgrade.

**To Re

[2022-04-11 19:02] strtdusty commented on #1048
Further, it looks like there is no overload in [spark 3.2.1](https://spark.apache.org/docs/latest/api/java/org/apache/spark/util/Utils.html) fetchFile that takes 6 parameters as is used [in main's DotnetRunner](https://github.com/dotnet/spark/blob/c89bd283f532258a7b062cadb97c477b5e52195d/src/scala/microsoft-spark-3-2/src/main/scala/org/apache/spark/deploy/dotnet/DotnetRunner.scala#L222).  It looks

[2022-04-12 11:50] GoEddie commented on #1046
Hi @anandsundar543 we need a bit more info, there isn't an app called `spark` - there is `spark-submit` so it could be that, but if you share any command lines you are running and any code we might be able to offer some advice.

[2022-04-21 16:35] alastairs commented on #1048
Unfortunately I've hit this with my first foray into the world of .NET on Spark. Is there a known-good set of libraries and cluster configuration that I should use as a workaround instead?

[2022-04-21 21:11] strtdusty commented on #1048
Version 2.0 of spark.net and version 3.1 of spark work

[2022-04-22 09:31] alastairs commented on #1048
Thank you @strtdusty 🙏🏻

[2022-04-22 21:46] strtdusty commented on #1048
@Niharikadutta it looks like you might be familiar with the newer dotnetrunner code.  Have you seen this issue in the wild?

[2022-04-23 00:36] Niharikadutta commented on #1048
@strtdusty Open source Spark has the following signature for the [`fetchFile`](https://github.com/apache/spark/blob/4f25b3f71238a00508a356591553f2dfa89f8290/core/src/main/scala/org/apache/spark/util/Utils.scala#L504) util function:

[code]

Since the last parameter is optional, the 6 parameters filled in from `DotnetRunner` match the required parameter list and we have not seen this issue otherwis

[2022-04-27 21:47] cutecycle opened #1058 "[BUG]: DotNetBackend: Environment variables are not read on Windows"
**Describe the bug**
DotNetBackend is not picking up environment variables on windows machines running natively.

**To Reproduce**

Steps to reproduce the behavior:
1. Set an environment variable (in our case: `DOTNET_SPARK_NUM_BACKEND_THREADS`. We've tried this in both `cmd` and `pwsh`)
[code]
2. `spark-submit` the DotNetRunner
[code]
3. DotNetbackend threads is still set to 10.
[code]

We looked

[2022-04-27 23:39] viskumar-microsoft opened #1059 "[FEATURE REQUEST]: Support AAD Auth when connecting to Azure Event hub"
**Is your feature request related to a problem? Please describe.**
Azure event hub library supports AAD Auth when connecting to azure event hubs as documented here. https://github.com/Azure/azure-event-hubs-spark/blob/master/docs/use-aad-authentication-to-connect-eventhubs.md

We are primarily interested in connecting to event hubs with service principal + certificate. And we need to use the param

[2022-04-29 01:37] JoshRosen commented on #1048
Hi, I'm an engineer from Databricks who works on Databricks Runtime.

In Apache Spark 3.2.0, the signature of the `Utils.fetchFile` method was changed in https://github.com/apache/spark/pull/30945 as part of code cleanup. The `org.apache.spark.util.Utils` class is declared as `private[spark]` and is not intended to be used outside of Spark's own code.

Databricks Runtime 10.0+ currently does not i

[2022-04-29 16:56] Macromullet opened #1060 "[BUG]: Semaphore Release Bug when an error occurs before GetConnection in JvmBridge"
**Describe the bug**
In JvmBridge, a semaphore is used to restrict the number of active sockets. The semaphore is waited for in GetConnection() and released in the finally block. Unfortunately there are calls before GetConnection() where the semaphore is acquired that are not guaranteed to always run successfully. In situations where there is an error before GetConnection(), the semaphore is never

[2022-04-29 22:16] artmasa commented on #970
It does not work in Scala either

[2022-05-06 20:32] carlitosborja commented on #181
What if there is missing minutes/secs in the dataframe?? Is there some solution that defines the timestamp range instead of a range of rows???

[2022-05-19 09:51] OstapStoroshchuk opened #1063 "Is it possible to add columns to redshift table automatically?"
(Use case:  I have 20 versions of schema A. Have to write them to single redshift table, and in case my schema is extended I need automatically add the column to redshift, is it possible do to with spark?)

[2022-05-24 22:34] apiwemacingwane commented on #304
I also had the same issue, I just upgraded my java . then run the spark-shell command on the command prompt ad

[2022-06-09 17:07] ronnyek opened #1068 "[BUG]: Spark 3.2 GetOrCreate failed for class '1'"
**Describe the bug**
Following the mySparkApp tutorial but substituting in spark-3.2.0-bin-hadoop2.7, and the latest version of .net for spark nuget, I get errors trying to submit job

**To Reproduce**

Steps to reproduce the behavior:
1. Follow directions on installing spark and .net for spark
2. Follow directions to create mySparkApp (https://dotnet.microsoft.com/en-us/learn/data/spark-tutorial/

[2022-06-13 17:34] mosharafMS opened #1069 "[BUG]: Checking a column value that has an array"
**Describe the bug**
In pyspark when having an array column, I can check if the array Size is 0 and replace the column with null value like this
.withColumn('joinedColumns',when(size(df.joinedColumns)==0, None).otherwise(df.joinedColumns))

However in C# doing the same with this line

df=df.WithColumn("JoinedTables",((Size(df["JoinedTables"]) == 0) ? Lit(null) : df["JoinedTables"]));
or
df=df.With

[2022-06-13 22:26] ShahdNara opened #1071 "ClassNotFoundException when using SparkBatchClient"
My goal is to trigger a .NET Spark job programmatically. I'm following this [tutorial ](https://github.com/Azure/azure-sdk-for-net/blob/Azure.Analytics.Synapse.Artifacts_1.0.0-preview.15/sdk/synapse/Azure.Analytics.Synapse.Spark/samples/Sample1_SubmitSparkJobAsync.md), but I keep getting ClassNotFoundException (for my WordCount C# class).
However, it works when I trigger the Spark job using the UI

[2022-06-14 00:04] mosharafMS commented on #1069
[Resolved]
solved it! found a When function in the Microsoft.Spark.Sql.Functions class. This way, I'll use identical way to pyspark
WithColumn("JoinedTables", When(Size(df["JoinedTables"])==0, Lit(null)).Otherwise(df["JoinedTables"]))

[2022-06-14 00:04] #1069 closed

[2022-06-14 04:32] SunneeYang opened #1072 "spark-submit cannot run in windows cmdline"
Problem encountered on https://dotnet.microsoft.com/zh-cn/learn/data/spark-tutorial/install-spark
Operating System: windows

C:\Users\xxxxx>echo %SPARK_HOME%
C:\Work\Spark\spark-3.0.1-bin-hadoop2.7\

C:\Users\xxxxx>%SPARK_HOME%\bin\spark-submit --version
'cmd' is not recognized as an internal or external command,
operable program or batch file.

even cd into spark folder
C:\Work\Spark\spark-3.0.1-

[2022-06-14 04:55] #1072 closed

[2022-06-14 18:42] fwaris opened #1073 "Spark on windows -> latest versions of Spark no longer work on windows"
Spark 3.1.3 works on windows but newer versions do not.

I get a uri format error as described in this issue: https://stackoverflow.com/questions/71075534/spark-shell-error-on-windows-illegal-character-in-path-at-index-32

There have been two releases since Spark 3.1.3 both have this issue. Hopefully this team has access to Spark devs can ask them to address this issue. And add some simple tests f

[2022-06-16 13:59] fwaris opened #1074 "[BUG]: Can't deploy to databricks anymore"
**Describe the bug**
A clear and concise description of what the bug is.

dotnet spark jobs do not run on the latest version of databricks clusters in Azure.
This worked before (about 3 or so months ago) but is no longer working.
With the db_init.sh (see attached) based on the one given in the repository there is no log output of any kind.
Without db_init.sh there is an error in the stderr log:

[

[2022-06-16 16:54] fwaris commented on #1074
The only error I can see is this:
[code]

I can see this message when I hover over the 'status' icon of the failed job in databricks UI.

It seems that the server cannot find the script (but the script is there at the path specified).

[2022-06-22 23:33] graceabraham opened #1076 "Issue Installing Apache Spark"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/data/spark-tutorial/install-spark
Operating System: windows

I already downloaded and extracted the files for Apache Spark and am having an issue with the command lines I am supposed to run. This is what I am told to run:

setx HADOOP_HOME C:\bin\spark-3.0.1-bin-hadoop2.7\
setx SPARK_HOME C:\bin\spark-3.0.1-bin-hadoop2.7\
setx /M PATH

[2022-06-25 13:20] JamesAlexander42 commented on #1032
Any update on .net 6 support? We were considering using Spark for .net but are unable to as most of our eng team is on Apple Silicon now.

[2022-06-27 10:36] robyle opened #1077 "How to debug a server debug but not only 127.0.0.1"
Hi, I deploy the spark env on my ubuntu 20.04 server.
![image](https://user-images.githubusercontent.com/11662528/175922454-53ab1dd7-095b-4fb3-8a97-dccfa2307992.png)

there is a problem, how can I debug it on Visual Studio ,and change the default remote Ip ,but not to limit on 127.0.0.1.

[2022-06-27 14:26] cutecycle opened #1078 "[BUG]: Newtonsoft.Json update for CWE-755 vulnerability"
https://github.com/advisories/GHSA-5crp-9r3c-p9vr

**Describe the bug**
Snyk/lgtm et al. are reporting end users' projects vulnerable as a result of a transitive dependency on Newtonsoft.Json 11 in `Microsoft.Spark`.

**To Reproduce**

Steps to reproduce the behavior:
1. Include `Microsoft.Spark` in a project/solution.
2. Scan with snyk.io, etc.

[2022-06-29 01:30] robyle commented on #1077
Anyone help ？

[2022-07-04 18:46] ValtorX commented on #1048
Based on @JoshRosen's workaround. I created this jar that works with 10.4 LTS.

[microsoft-spark-3-2_2.12-2.1.1.jar.zip](https://github.com/dotnet/spark/files/9041584/microsoft-spark-3-2_2.12-2.1.1.jar.zip)

[2022-07-07 13:55] hflexgrig opened #1080 "[BUG]: After upgrading spark to 3.3.0, unable to run spark-submit commands"
Hi guys, I'm getting this exception, after upgrading spark version on my mac machine

Exception in thread "main" java.lang.IllegalArgumentException: Unsupported spark version used: '3.3.0'. Normalized spark version used: '3.3.0'. Supported spark major.minor version: '3.2'.

Any suggestions? Btw I tried downgrade back to 3.2 , but it won't work.

[2022-07-07 20:10] gitsolutio opened #1081 "Installing Apache Spark for .net"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/data/spark-tutorial/install-spark
Operating System: windows

After extracting the Apache spark files, I ran and got the following:

`C:\WINDOWS\system32>setx HADOOP_HOME C:\bin\spark-3.0.1-bin-hadoop2.7\

[2022-07-07 20:33] #1081 closed

[2022-07-08 01:45] Niharikadutta commented on #1080
@hflexgrig Thank you for opening the issue, we are yet to add support for Spark 3.3.0. Can you share the exception stacktrace and Spark .NET version you are using when you face issue with Spark 3.2?

[2022-07-08 08:44] hflexgrig commented on #1080
Ah sorry, I've already downgraded my apache spark from 3.3 to 3.2.1, can copy stacktrace anymore.

[2022-07-11 10:55] TrondRo opened #1082 "[BUG]: Extension method JsonSerDe SortProperties removes arrays with strings from metadata during serialization"
**Describe the bug**
If you include an array of values in a StructField metadata instance they will not serialize when .Json is called on the root StructType. They will however show on the fields JsonValue.

**To Reproduce**

Steps to reproduce the behavior:
[code]
json will contain `{"fields":[{"metadata":{"allowedValues":[]},"name":"TestField","nullable":true,"type":"string"}],"type":"struct"}`

[2022-07-12 19:23] Niharikadutta commented on #1080
Got it, please re-open the issue if you face this again. Cannot investigate further as stacktrace is not provided,

[2022-07-13 06:56] hflexgrig commented on #1032
But I'm using with .net 6, spark-submit locally and also deployed successfully to Azure Databricks.

[2022-07-22 07:24] 544cl opened #1083 "[BUG]: Query Issue in spark.sql function"
### Query Issue in spark.sql function

**To Reproduce**

Steps to reproduce the behavior:

[code]

This Query Works
[code]

This Query Gives Error
[code]

Gives Error
partition col = "col1"
order by col = "col1"

Works Fine
partition col = "col1"
order by col = "Col1"

 This Error is given **java.util.NoSuchElementException: next on empty iterator**

**Environment**
 - Spark version 3.2
 - Scala v

[2022-07-22 07:29] #1083 closed

[2022-07-23 11:19] ylashin commented on #1071
I had an identical issue but I was submitting the job via the UI. My initial mistake was that the UI defaults job type to Scala so I had to change it to .NET Spark.

In a nutshell, you need to have:
- A .net core 3.1 executable (console app)
- Modify Language to .NET Spark
- Upload your zipped published folder content and specify executable file name without the extension

Hopefully REST API and t

[2022-08-03 07:22] Jaggar2018 opened #1084 "Can spark.sql be in streaming mode? Or it can just be used in batch mode?"
Can spark.sql("SELECT xxx FROM xxx") be in streaming mode? Or it can just be used in batch mode?
Thanks

[2022-08-04 07:13] rrekapalli commented on #983
Hi Team,
Any update on the availability of full support for Spark MLLib?  Even the ML.Net/SynapseML libraries doesn't seem to have full implementation of Spark MLLib yet!

[2022-08-08 11:32] RichardDalton opened #1085 "[BUG]: Error connecting to Azure SQL database using SqlConnection when within a private VNET in Azure"
When trying to connect to an Azure SQL database from an Azure Databricks instance that is within a private VNET it fails with the following error:
`Unhandled exception. Microsoft.Data.SqlClient.SqlException (0x80131904): A connection was successfully established with the server, but then an error occurred during the login process. (provider: TCP Provider, error: 35 - An internal exception was caug

[2022-08-14 14:29] richiebijoy opened #1088 "Can't seem to find the .tar file they say will be created alongside the .tgz file"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/data/spark-tutorial/install-spark
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2022-08-22 08:46] lant3 opened #1090 "DataFrameWriterV2 options keys and values available"
Could we please get a table of the available keys and values for the options please.

I am aware that Key: "mergeSchema" value:"true" is valid however it would be good to have a full list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ebb054db-08c9-4f06-a16b-8e5dc5eb138a
* Version Independent ID: fcf5b918-ca4c-2003-80

[2022-08-23 19:06] dbeavon opened #1092 "Synapse cluster has intermittent .net exception related to DNS"
I realize it is a long-shot to post a question here about "managed private endpoints" and DNS name resolution in a synapse spark cluster.

This forum has smart people, so I thought I would at least ask.... maybe I'll eventually figure it out and post a response myself.

We use a managed private endpoint to connect to an Azure SQL database from the spark cluster (which is hosted in the synapse mana

[2022-08-24 17:46] selvavm opened #1093 "Cannot run program "Microsoft.Spark.Worker": error=2, No such file or directory when using debug"
I have setup dotnet Spark in MacOS by following [MacOS Getting Started](https://github.com/dotnet/spark/blob/main/docs/getting-started/macos-instructions.md). I am able to debug `MyJob` from Visual Studio by running below command,

    spark-submit \
      --class org.apache.spark.deploy.dotnet.DotnetRunner \
      --master local \
      ~/csharp/MyJob/bin/Debug/net6.0/microsoft-spark-3-0_2.12-2.1

[2022-08-26 20:59] pradeepbkkumar commented on #967
@Niharikadutta Can you share the workaround over email pls? My email id: bkpk87@gmail.com

[2022-08-29 07:28] selvavm opened #1094 "[FEATURE REQUEST]: Support for unit testing using `Show()` in Dataframe"
**Is your feature request related to a problem? Please describe.**
When we write unit test and set breakpoints, one cannot debug the DataFrame in Quick Watch window because the `Console.WriteLine` will not work. Hence, having trouble doing Test Driven Development and quick prototyping.

**Describe the solution you'd like**
 Could you add/replace/support `Console.WriteLine` in `Microsoft.Spark.Sql.

[2022-09-02 06:23] SparkSnail opened #1095 "[FEATURE REQUEST]: Support spark 3.2.2"
**Is your feature request related to a problem? Please describe.**
Spark 3.2.2 is released in Jul 17, 2022( https://spark.apache.org/releases/spark-release-3-2-2.html), but latest spark.net does not support that spark version yet.
![image](https://user-images.githubusercontent.com/22682999/188071627-f19d5d24-f3b2-4df9-a934-5e00d77ab8a7.png)

**Describe the solution you'd like**
Do you have a plan

[2022-09-02 15:56] dbeavon commented on #1092
Just an update. I'm still having troubles with SQL connectivity from Spark pools in synapse.  The errors I get happen intermittently while using the .Net SqlClient.

I'm working on a tech support case at the moment, which will hopefully get eventual attention from the PG team.

I strongly suspect that there is a bug in the proprietary network-tech that Microsoft uses for their VNET's, managed vnet

[2022-09-05 18:41] selvavm commented on #384
Hi May I know if this is fixed?

[2022-09-05 18:50] selvavm opened #1097 "What is the future of this project?"
I am thinking of developing spark enterprise application in our team and we would love to use dotnet. But this repo don’t have much commits and lot of issues are not closed. May I know is Microsoft committed to improve this?

My use case is to create a spark application with superior tooling for databricks or synapse (not yet decided but inclining towards databricks for their `databricks-connect`

[2022-09-06 08:15] zwitbaum commented on #384
My last test indicated that the issue is still not fixed.

[2022-09-06 12:01] selvavm commented on #384
I came to update that I was able to make this work with UDF with Databricks. Moreover, I was able to do debugging in Visual studio as well. However, it is not practical because I will have to copy the dlls in Debug folder to Databricks cluster each and every time I make a code change. This impacts productivity :(.

[2022-09-08 18:22] dbeavon commented on #1097
@selvavm I would recommend that you at least start by investigating synapse in Azure.
C# is a first-class programming language for in the synapse spark environment (along with SQL, python, scala).

This was only possible due to hard work of the folks working on this project.

Synapse will run a C# solution as fast as Python, if not faster.  It was also possible to get my C# solutions running on Az

[2022-09-08 18:33] dbeavon commented on #1092
Another update.  I changed some of my spark code to use SQL logins "contained users with UID/PWD" and after the change I was **not seeing the same problems with the reliability of the network**.   Previously my authentication to Azure SQL was relying on AAD access tokens (oauth2 using a confidential-client service principal).

I'm not sure how or why the authentication strategy is impacting my abi

[2022-09-09 04:59] selvavm commented on #1097
Thanks @dbeavon. The reason I need local environment is to do debugging on huge data stored in Cloud and my laptop will not have the necessary power to process it. If Synapse also provides a local client with remote Spark, I would immediately switch.

[2022-09-09 13:31] dbeavon commented on #1097
@selvavm At any given moment, I think you would have to pick between local development with small datasets (ie filtered ones), or deploy your work and use the synapse portal with the larger datasets.

As a data developer I rarely work with large datasets until **after** deployment.  It is easy enough to compromise on the size of my datasets if I can use all my local development tools (visual studi

[2022-09-09 13:51] selvavm commented on #1097
Thanks @dbeavon.

I can explain my use case. I have an enterprise application that has a lot of business logic and does a lot of select queries based on that logic. Similar to a traditional SQL DB application but in my case, there will be a lot of JSON files and YAML files.

If a user complains they got Variable X as 10 instead of 100, then someone needs to step through the code and understand how

[2022-09-09 18:26] dbeavon opened #1098 "Issue with TokenLibrary on Synapse - can't authenticate to a normal oauth2 scope"
The nuget library Microsoft.Spark.Extensions.Azure.Synapse.Analytics.Utils points back to this project so I'm hoping I can get some help with TokenLibrary.

I'd like to connect to resources using the managed identity of synapse.  For some things it is easy (like a keyvault with a linked service in the synapse workspace).

But if I want to authenticate to some generic scope, like a custom api, or d

[2022-09-09 20:22] dbeavon commented on #1098
I believe that I found the list of "audience" values that are allowed from "GetAccessToken":

https://docs.microsoft.com/en-us/azure/synapse-analytics/spark/microsoft-spark-utilities?pivots=programming-language-csharp#get-token

![image](https://user-images.githubusercontent.com/21175830/189434261-ab443b09-d51a-4d7c-8557-77bad10c4611.png)

Unfortunately it doesn't appear that this functionality is

[2022-09-09 21:20] dbeavon opened #1099 "Want to authenticate in synapse spark pool using managed identity."
I'm looking for a way to authenticate within the synapse spark pool, using the MSI.

Managed Identity Support is already available in a variety of other Azure platforms via the nuget called Azure.Identity.  Here is a list of products that support "**DefaultAzureCredential**":
https://www.nuget.org/packages/Azure.Identity#readme-body-tab

- Azure Virtual Machines
- Azure App Service and Azure Funct

[2022-09-10 04:58] rrekapalli opened #1100 "[FEATURE REQUEST]: Support for Spark 3.3.0 using autogen language bindings similar to SynapseML"
Team:

Spark 3.3.0 has already been released.  Is there any timeline for a new version of this library with full compatibility with Spark (including SparkML).

I see that SynapseML has a new autogen technology  ["Automating the .Net for Apache Spark Integration" section at the end of this article](https://devblogs.microsoft.com/dotnet/announcing-synapseml-for-dotnet/) that enables generating .Net

[2022-09-10 17:10] fwaris commented on #1095
spark jar is not recognizing its own version - 3.2.2. This jar is shipped with microsoft.spark v. 2.1.1

If I submit the following command in a console window:
[code]
I see this output:
[code]

[2022-09-10 17:14] fwaris commented on #1073
Spark 3.2.2 seems to be working on windows now (using microsoft openjdk):
[code]

[2022-09-10 17:14] #1073 closed

[2022-09-13 23:24] Niharikadutta commented on #1098
@dbeavon As of today TokenLibrary doesn't provide tokens for custom APIs or databases, if you have this as a feature request, please feel free to ask on the Synapse support channel (azuresynapsediscussion@service.microsoft.com)and the right people can help answer your queries or provide more information.

[2022-09-13 23:25] Niharikadutta commented on #1098
As this is not directly in scope of .NET for Apache Spark, is it ok if we close this issue? cc: @dbeavon

[2022-09-13 23:34] Niharikadutta commented on #1097
@selvavm as of today Synapse does not have a local debugging instance with remote Spark cluster. However to answer your previous question, we are actively supporting and maintaining this project in Synapse, and will soon make a new release to add Support for Spark 3.3.0. We have a lot of enterprise applications using Spark .NET running on Synapse, however if your need is for local debugging on pro

[2022-09-14 00:00] Niharikadutta commented on #1095
@SparkSnail we are working on adding support for Spark 3.2.2 and will update this issue when this is ready

[2022-09-14 03:47] selvavm commented on #1097
Hi @Niharikadutta. Thanks for the response. May I know if there is any plan to support local debugging using Synapse Spark? Maybe wrap the dataframe using a rest-based wrapper so that I could do a remote debugging?

I don't know if anyone else has also requested this support but I see this will be a great addition to support enterprise development (after all, Visual Studio and dotnet is preferred

[2022-09-14 20:08] FFCMSouza opened #1101 "[BUG]: Spark session does not update number of files for partition"
When a spark session has already queried data from a table and partition and new files are inserted into the partition externally, the spark session keeps the outdated number of files and does not return the new records.
If the data is inserted into a new partition, the problem will not occur.
I'm using spark 3.1.2 on AWS EMR and AWS Glue as catalog.

Steps to reproduce the behavior:

1. Open a Sp

[2022-09-14 20:22] #1101 closed

[2022-09-14 22:16] Niharikadutta commented on #1097
Hi @selvavm , the synapse channel would be the best place to ask this question as someone more familiar with these plans can get back to you.

[2022-09-14 22:17] Niharikadutta commented on #1097
Closing this as non-issue for .NET for Apache Spark, feature related inquiry about Synapse.

[2022-09-14 22:17] #1097 closed

[2022-09-16 18:32] Niharikadutta commented on #1100
@rrekapalli Thanks for your question! We are working on releasing support for Spark 3.3.0. As of today we don't have a way of using the autogen code used by SynapseML but we will look into it in the future.

[2022-09-17 04:03] rrekapalli commented on #1100
Thanks for the reply, Niharika!  I hope the new release would have full implementation of SparkML as well!

[2022-09-20 07:52] sijonelis opened #1102 "Running code on Java > 8"
With multiple Java JREs installed on the same machine, the default JRE is usually 11 or 17 (depending on the machine). Sometimes something in between.

However trying to run spark with one of the later JDKs (in my case, 17) the run fails with IllegalAccessError as shown below. is there any way to pass java path to the runner or otherwise have it coexist without setting java 8 as main java of the m

[2022-09-20 17:13] YuanchengTu opened #1103 "install spark issue"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/data/spark-tutorial/install-spark
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

successfully set up all environments and when run the last checking command "spark-submit --version", this is

[2022-09-20 21:55] YuanchengTu opened #1104 "spark application without output and threw illegal reflective access exception"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/data/spark-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
![image](https://user-images.githubusercontent.com/56138539/191371750-a2df95fd-6c60-4465-8f2d-14af7a3a7086.png)
![image](

[2022-09-21 19:36] loneshark99 opened #1105 "Issues while setting up Spark.Net locally"
Hi,

I am trying to install the Spark.Net on my machine and I have followed all the steps, but when I try to build the extensions, I am getting this error. Can someone please help on what I am missing.  Attached the error image.

Thanks for any helps on this.

![image](https://user-images.githubusercontent.com/7896832/191594641-92d5c1ed-d651-424f-b161-a810b648d7b2.png)

[2022-09-21 20:28] #1105 closed

[2022-09-23 04:29] Devtr0n opened #1106 "Spark installation instructions do not work"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/data/spark-tutorial/install-spark
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

I am following the instructions to install Spark. I add the environment variables, and receive the truncation

[2022-09-23 04:30] Devtr0n commented on #1076
You need to run your command line "As Administrator", that is why it is denied.

[2022-09-23 04:32] Devtr0n commented on #961
The same thing is happening to me. I see several people have reported this, but no answers.

![image](https://user-images.githubusercontent.com/2623606/191892516-b51487d8-6311-4b62-88c1-3c67a6a3759c.png)

![image](https://user-images.githubusercontent.com/2623606/191892536-c3ecd276-9419-429a-bfca-57e5641bd03f.png)

[2022-09-23 04:34] Devtr0n commented on #900
I can't even get this far along the tutorial, you must be lucky...

![image](https://user-images.githubusercontent.com/2623606/191892516-b51487d8-6311-4b62-88c1-3c67a6a3759c.png)

![image](https://user-images.githubusercontent.com/2623606/191892619-7b8f2fba-1d1e-49e6-9d96-042927ff64ce.png)

[2022-09-23 04:39] rrekapalli commented on #958
Hi Team:

It's been an year this request is raised!  Can we expect implementation of this feature any time sooner?  There's also a pending pull request (#1096 ) for review.  Please let us know if there is any timeline for these features implementation so that we can make a decision to use this library or switch to other languages (Java/Scala).

Thanks,
@rrekapalli

[2022-09-23 05:04] Devtr0n commented on #175
Where is the <path-to-microsoft-spark-jar> ??? I don't see any .jar files. Help?

[2022-09-23 05:24] Devtr0n commented on #218
I am also trying to accomplish debugging a .NET app (example) and get this error. I made sure my environment variables are correct, but I am unsure where the .jar file is located for this step?

`spark-submit \
  --class org.apache.spark.deploy.dotnet.DotnetRunner \
  --master local \
  <path-to-microsoft-spark-jar> \
  debug`

  where the heck is this hiding?

  `<path-to-microsoft-spark-jar>`

[2022-09-23 05:24] 939481896 commented on #218
这是来自QQ邮箱的假期自动回复邮件。
 
您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-09-23 06:18] Devtr0n commented on #218
Nevermind, I see the .jar files in the nuget package files. My apologies.

[2022-09-23 06:42] Devtr0n commented on #1106
I ended up having to follow these instructions to get it to work:
[https://stackoverflow.com/questions/40450820/spark-submit-is-not-recognized-as-an-internal-or-external-command](https://stackoverflow.com/questions/40450820/spark-submit-is-not-recognized-as-an-internal-or-external-command)

and now I see sunshine...

![image](https://user-images.githubusercontent.com/2623606/191905224-ea8240a6-9b7

[2022-09-23 19:29] dbeavon commented on #1092
Another update. I'm still waiting on help from support (CSS).

Based on my own limited investigation, there may be a bug in **systemd-resolved** which is used by the ubunto distro underneath synapse-spark.  The distribution is a recent version of ubunto bionic.  I believe this is a DNS caching component ("stub resolver") and I believe it is either buggy, blocking, crashing, or all of the above.

I

[2022-09-27 15:35] relcodedev opened #1107 "Error Trying to load json file from spark with delta enabled"
I am trying to get .net spark to write delta table. Is this even possible?

I have done the tutorial that works great to write to a parquet format.
I tried researching how to write a delta table but am unable to get it working.

I tried running

spark-submit --jars ./bin/Release/delta-app/delta-core_2.13-2.1.0.jar --conf spark.sql.extensions=io.delta.sql.DeltaSparkSessionExtension --conf spark.sql

[2022-09-28 20:57] zHaytam commented on #1080
[code]

[2022-09-28 21:05] zHaytam commented on #1080
Even 3.2.2 is not supported...

[2022-10-03 19:57] lucashby opened #1109 "Question: Is it possible to write custom application logs?"
I was wondering if it is possible to write custom application logs (which I have hooked up to log analytics workspace in my Syanpse Analytics Spark config) as per this documentation page:  [Write custom application logs](https://learn.microsoft.com/en-us/azure/synapse-analytics/spark/apache-spark-azure-log-analytics#write-custom-application-logs)

I see the examples are for Scala and Python.  Does

[2022-10-04 14:16] dbeavon commented on #1092
Another update.  I'm still waiting on help from support (CSS and PG).

I'm still convinced there is a bug in systemd-resolved (at least in Azure).  IMHO, this is probably something that Microsoft is well aware of.  Probably both the network team, and whatever team manages the ubunto image.

Interestingly, an update in this DNS component caused a large problem in Azure about a week after I first re

[2022-10-07 06:03] mohamedtrabelsi commented on #1017
For me, solved by adding environment variables for USER not system JAVA_HOME, SPARK_HOME, HADOOP_HOME :

[2022-10-13 16:36] anybodysguest opened #1110 "Getting [Exception] [JvmBridge] Connection refused 127.0.0.1:5567 when running example project"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/data/spark-tutorial/run
Operating System: linux

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

I am following the instructions of setting up a test app using dotnet Spark when I try to run it.  The error is:

[Excepti

[2022-10-21 20:48] truveug123 commented on #1081
I have also encountered this issue, what did you do to resolve this?

[2022-10-22 10:17] fzf003 opened #1113 "spark-submit --version error"
Problem encountered on https://dotnet.microsoft.com/zh-cn/learn/data/spark-tutorial/install-spark
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

spark-submit --version
spark-submit : 无法将“spark-submit”项识别为 cmdlet、函数、脚本文件或可运行程序的名称。请检查名称的拼写，如果包括路径，请确保路径正确，然后

[2022-10-24 23:00] #1078 closed

[2022-10-25 18:53] fwaris commented on #1095
@Niharikadutta support for Spark 3.2.2. is a bit urgent as Spark 3.2.1 does not run on windows due to a 'path' issue (on the Spark side). This has been fixed in 3.2.2.

As-is, its hard to do local testing and development.

Also, at this stage of Spark.net, we may consider relaxing version matching to allow Spark.net to continue but with a warning, instead of termination

[2022-10-26 21:27] matt-zappitello commented on #1095
@fwaris

I was able to fix this by changing my JAVA_HOME user variable that's set by Java away from the "C:\Users..." directory to the directory I installed Java in.  In my case:  "C:\Program Files\Java\jdk-11.0.17".  This got me up and running.  The only issue is that they have an extra "\bin\" in there, which is not what Java defaults to putting in the C:\Users... directory.

[2022-11-01 06:34] muhammad-s-zainal opened #1114 "[BUG]: Running a job with ForeachBatch under Databricks causes the Job to never stop"
**Describe the bug**
Using ForeachBatch in a spark job deployed to Databricks causes the job to never terminate.

**To Reproduce**

Steps to reproduce the behavior:
1. Follow this tutorial to setup dotnet spark on Databricks:
 https://learn.microsoft.com/en-us/dotnet/spark/tutorials/databricks-deployment
2. Include ForeachBatch in your structured streaming query, for example:
[code]
For more info,

[2022-11-03 06:55] mfidemraizer opened #1116 "Easy path to support stream receivers like RabbitMQ"
Hi!

I need to receive RabbitMQ messages using structured streaming, and I've checked that there's a Spark stream receiver: https://github.com/Stratio/spark-rabbitmq.

But I can't figure out if there's an easy path to use if from a .NET for Spark app.

Any advise on this topic will be much appreciated.

[2022-11-09 08:02] wertzui opened #1117 "Can I write data to a Stream in ORC format with this library?"
Hi,
I need to write data in the ORC format to a stream and not to a file on the disc.

Does this library provide that functionality?

[2022-11-09 17:10] selvavm opened #1120 "[BUG]: Not able to run VectorUDF from Synapse notebook"
**Describe the bug**
I am getting file not found '' when I follow the [VectorUDF example](https://github.com/dotnet/spark/blob/main/examples/Microsoft.Spark.CSharp.Examples/Sql/Batch/VectorDataFrameUdfs.cs) in Synapse Notebook.

**To Reproduce**

[code]
**Expected behavior**
Get a new dataframe with counts

**Screenshots**
![image](https://user-images.githubusercontent.com/16543422/200895085-fe763

[2022-11-11 01:36] jason-wtw commented on #967
@Niharikadutta can you please share the workaround with me as well? Jason.Beechum at wtwco.com

[2022-11-15 04:16] rrekapalli commented on #1100
Hi @Niharikadutta & team,
Is there any timeline that we can expect this feature?  We have been using this library for our product and can't wait for a fully compatible version with Spark. It would be great help if you could publish at least a tentative timeline so that we can take a call whether to move with Java based implementation for our analytics stack if it takes longer.
TIA.