[2020-05-27 07:32] borgdylan commented on #527
ping

[2020-05-27 16:00] indy-3rdman commented on #419
@imback82, I think that allowing the user to specify the binding address (including Any/0.0.0.0 to listen on all available addresses) would be much nicer than the current `socat` hack.

[2020-05-27 17:01] imback82 commented on #527
@elvaliuliuliu do you want to work on this?

[2020-05-27 17:05] imback82 commented on #419
@Niharikadutta Do you want to work on this?

[2020-05-27 17:07] Niharikadutta commented on #419
Yes I'll work on this

[2020-05-27 17:12] imback82 commented on #419
Thanks. I am assigning this to @Niharikadutta.

[2020-05-27 18:15] elvaliuliuliu commented on #527
Sure, I will work on this

[2020-05-27 19:41] moredatapls commented on #419
@indy-3rdman I agree, letting the user specify the address seems like the much nicer solution. Happy to see the progress here :)

[2020-05-28 12:40] clegendre commented on #337
Hello,

I manage to connect from local client to ADLS Gen 2 in Spark.Net, using a dedicated Hadoop and a Spark without Hadoop installation:
* hadoop-2.10.0
* spark-2.4.5-bin-without-hadoop

Then by configuring the Hadoop installation: https://spark.apache.org/docs/latest/hadoop-provided.html (for Windows use this syntax),:
[code]

In core-site.xml on Hadoop configuration file:

[code]

Regards

[2020-05-29 07:05] linehammer commented on #521
This exception message says you're trying to connect to the same host ( 127.0.0.1 ), while you're stating that your server is running on a different host. This 127.0.0.1 represents a 'loopback' . It allows the computer to communicate with itself via network protocol .

Dns.GetHostEntry(IPAddress.Loopback).HostName returns the host name of your machine. When you pass a host name to TcpClient , it w

[2020-05-29 08:33] samueleresca opened #531 "[FEATURE REQUEST]: Extensibility of UDAF"
Hi,
I was trying to replicating the following implementation
[awslabs/deequ/StatefulDataType](https://github.com/awslabs/deequ/blob/5be86f479ec9a4132017121839c2baae106cc963/src/main/scala/com/amazon/deequ/analyzers/catalyst/StatefulDataType.scala#L26) using .NET Spark.

The `StatefulDataType` class extends the `UserDefinedAggregateFunction` and it internally uses the `AggregateExpression` to parse

[2020-05-29 09:53] borgdylan commented on #527
Thanks a million!

[2020-05-30 18:00] Rajeev2011J opened #532 "'spark-submit' is not recognized as the name of a cmdlet, function"
Getting below error

PS C:\Rajeev\Spark\QueryBase\bin\Debug\netcoreapp3.1> spark-submit --class org.apache.spark.deploy.dotnet.DotnetR
unner --master local microsoft-spark-2.4.x-0.10.0.jar dotnet QueryBase.dll
spark-submit : The term 'spark-submit' is not recognized as the name of a cmdlet, function, script file, or
operable program. Check the spelling of the name, or if a path was included, verif

[2020-05-30 18:02] imback82 commented on #532
Can you use full path to `spark-submit`? Most likely, env vars are not set up correctly.

[2020-05-31 14:40] Rajeev2011J commented on #532
Hi,

Thanks for yours reply.

I already used full-path as well. I am trying to execute the same using Terminal window inside VS 2019.

All the Env vars are setup correctly.

Thanks,
Rajeev

[2020-05-31 18:45] imback82 commented on #532
What error message do you get if you run it under cmd instead of powershell?

[2020-06-02 08:28] moredatapls commented on #514
@imback82 I'm trying to work on such a connector because the "regular" JDBC insert is a bottleneck for us. However, I got stuck and I'd need a hint.

How would you use the Spark .NET internals to create an instance of their [Config class](https://github.com/Azure/azure-sqldb-spark/blob/master/src/main/scala/com/microsoft/azure/sqldb/spark/config/Config.scala)? I tried running `jvm.CallConstructor(

[2020-06-02 14:02] daxnet opened #533 "How can I submit my .NET Spark job via Apache Livy?"
Is it possible to submit my .NET for Spark job via Apache Livy? How can I do that?
From the official documentation I can only see the instructions related to HDInsight, what if I just want to use my local-deployed Spark cluster?
Thanks so much.

[2020-06-02 16:19] imback82 commented on #533
Yes. For a batch submission, you can do something similar to https://github.com/dotnet/spark/blob/96d0fedb13a9cdfa18f8a58b193341b71467e99f/deployment/README.md#using-apache-livy. If you have a specific issue you are encountering, please let us know.

[2020-06-02 16:24] imback82 commented on #514
@moredatapls Can you share the full log? There should be a message that precedes the one you shared. Btw, `Config` class is a `trait`, so you may want to use `object Config` by using `CallStaticJavaMethod`.

[2020-06-02 20:54] moredatapls commented on #514
Which static method would I call? `apply`? It should probably be very obvious, but I'm not super familiar with Scala...

I get the following errors:

[code]

I also tried using the `ConfigBuilder`, but same thing. What works is e.g. this (the `NullPointerException` is because I don't pass a correct Options object, but at least the call itself works):

[code]

[2020-06-02 21:06] imback82 commented on #514
[code]
Can you use C# `Dictionary` instead? Our interop layer converts it to Scala `Map`.

[2020-06-03 00:08] daxnet commented on #533
Hi @imback82
Thank you so much for the reply. Yes, I know that it is possible for Azure HDInsight, however, I have my local deployed Spark cluster with Livy as the REST service, can I submit the .NET for spark job by using the Livy endpoint like `POST http://local-livy:8998/sessions/0/statements`?
Thanks and regards.

[2020-06-03 00:14] suhsteve commented on #533
The livy endpoint `POST http://local-livy:8998/sessions/0/statements` would an interactive session, which is not supported out of the box.  What @imback82 is referring to would be the batches endpoint `POST http://local-livy:8998/batches` .

[2020-06-03 02:21] daxnet commented on #533
@suhsteve oh, ok, thanks. Now I am clear.
Thanks.

[2020-06-03 04:14] #533 closed

[2020-06-03 08:17] moredatapls commented on #514
Same result unfortunately:

[code]

The "candidate" suggested by the DotnetBackendHandler matches the method signature of the `apply` method in `trait Config`.

[2020-06-04 04:45] imback82 commented on #531
@samueleresca Unfortunately, `UserDefinedAggregateFunction` is not supported in .NET for Apache Spark. If you already have a Scala implementation, you can use `RegisterJavaUDAF` to register it and use it in SQL commands.

Just FYI, `UserDefinedAggregateFunction` will be deprecated in Spark 3.0 in favor of `Aggregator`.

[2020-06-04 10:53] chtsou opened #534 "Support ADL Gen 1?"
I'm trying to read data from ADL Gen 1. I've tried to set the configuration in SparkConf:
                _sparkConf.Set("fs.adl.oauth2.access.token.provider.type", "ClientCredential");
                sparkConf.Set("fs.adl.account.{my_ADLS_account}.oauth2.refresh.url", "https://login.microsoftonline.com/{my_directory_id}/oauth2/token");
                sparkConf.Set("fs.adl.account.{my_ADLS_accou

[2020-06-04 16:56] Niharikadutta commented on #534
Can you paste the exact error you got?

[2020-06-05 01:23] chtsou commented on #534
Sure, sorry for that. Here is the error I got:

_20/06/04 02:03:03 WARN [task-result-getter-0] scheduler.TaskSetManager: Lost task 0.0 in stage 0.0 (TID 0, CO4AAP9C222E737, executor 1): org.apache.hadoop.security.AccessControlException: OPEN failed with error 0x83090aa2 (Forbidden. ACL verification failed. Either the resource does not exist or the user is not authorized to perform the requested op

[2020-06-05 01:46] andy99ge opened #535 "saving the result of kafka streaming"
About the example of kafka streaming of counting words ,I want to save the wordCounts result, such as mysql or push back to kafka. Anybody can help me ? thanks a lot.

[2020-06-05 02:36] Niharikadutta commented on #534
This looks like an access issue, are the credentials and url correct? Can you try accessing it using these credentials outside of spark? Also make sure the user application has the correct read/write permissions on the account, please refer to [this guide](https://docs.microsoft.com/en-us/azure/data-lake-store/data-lake-store-service-to-service-authenticate-using-active-directory) for ways to auth

[2020-06-05 02:39] chtsou commented on #534
I tried with Hadoop in my local machine by setting the core-site.xml with the same credential. Here is the command and result:

D:\hadoop-3.2.1>bin\hdfs dfs -ls adl://bingads-algo-adinsights-c08.azuredatalakestore.net/local/OSPublish/chtsou_test/cooltest.tsv
2020-06-05 09:47:52,232 INFO adl.AdlFileSystem: No valid ADL SDK timeout configured: using SDK default.
-rwxrwx---+  1 43f107ad-d770-48c5-b67

[2020-06-05 04:19] Niharikadutta commented on #534
How are you running this Spark application? Can you refer to https://github.com/dotnet/spark/issues/337 to see if that helps?

[2020-06-05 05:58] chtsou commented on #534
I run the Spark application via Livy endpoint, to an internal cluster. I found some warnings prior to the error:
20/06/04 02:02:42 WARN [nioEventLoopGroup-2-2] alias.APSecretStoreProvider: Cannot get credential for fs.adl.oauth2.client.id, D:\data\ASG_MTP\APSecretStoreCredentials/fs.adl.oauth2.client.id.encr file does not exist.
20/06/04 02:02:42 WARN [nioEventLoopGroup-2-2] alias.APSecretStorePro

[2020-06-05 09:59] chtsou commented on #534
Sorry, it was the wrong settings of ACL caused this issue. I've tested the permissions with _AdlsClient_ in C# and found out that the SPI could access the folder, but not the files inside. Then I contacted the ADLS account owner and fixed this issue. Everything works now.
Great thanks for pointing out that!

[2020-06-05 09:59] #534 closed

[2020-06-05 18:32] Niharikadutta commented on #534
Glad to hear it worked, thanks @chtsou !

[2020-06-06 03:44] imback82 commented on #535
You can try something like the following:
[code]

[2020-06-07 13:43] shadowmint commented on #516
I have posted this on https://ideas.databricks.com/ideas/

However, is this really up to the databricks folk to implement?

I'm not sure it is... my understanding is that the databricks connect libraries for python, r, etc. rely on a vendored set of .jar files that are shipped when you install databricks connect.

ie. After having performed the basic setup:

[code]

Then you can find the location

[2020-06-08 13:08] mwysocki87 commented on #535
I'll actually have to solve a similar issue soon - saving data from Kafka to HBase. Based on the Spark documentation on sinks, I guess I'll go with the ForEach sink - and bring in additional client SDKs to communicate with HBase.

[2020-06-08 13:17] mwysocki87 opened #538 "Unable to remotely debug on HDP sandbox and VS Code"
Hey

I'm assesing the feasibility of Spark for .NET for production use and hit a wall when trying to get remote debugging to work. So, I've HDP Sandbox running in VMWare with port 5567 forwarded to the VM using netsh (as when SparkSession is initialized, a connection is always made to localhost for some reason, ignoring the "Master" setting).

I start my VS Code instance from WSL and hit F5, which

[2020-06-08 14:00] mwysocki87 commented on #535
Actually, @imback82, could you confirm that it’d be possible to write to a relational DB/HBase (i.e. non-native sinks) via ForEachWriter? Does .NET for Spark support bringing in additional driver libs that would normally (i.e. Java/Scala) be required to integrate with those engines?

[2020-06-08 19:26] imback82 commented on #538
@mwysocki87 Is this a similar scenario to #419? If so, we are addressing this in #537. (Btw, this connection is between JVM and CLR, so the "master" setting is not applicable here.)

[2020-06-08 19:37] imback82 commented on #535
Yes, if you already have a logic to write each row to the sync in C#.

On the other hand, there is a spark connector for HBase, so it's much easier to work with `ForEachBatch` API in this case, which we are tracking here: #208. (ForEachBatch works with `DataFrame`: https://spark.apache.org/docs/latest/structured-streaming-programming-guide.html#using-foreach-and-foreachbatch)

Yes. And you can wri

[2020-06-08 20:01] mwysocki87 commented on #538
Yes, in essence, my setup is similar to #419 - i.e. Spark running in a VM and the app debugged from „outside”. While I’m using VMware for now, I can easily switch to docker if that simplifies things.

For now I’m merely trying to determine if this kind of remote debug is even possible. And if it is, then what could be causing that error;)

[2020-06-09 06:23] andy99ge commented on #535
it works for me. thanks  you very much.

[2020-06-09 16:15] mikeTWC1984 opened #539 "[FEATURE REQUEST]: run debugger as a process"
**Is your feature request related to a problem? Please describe.**

I'm trying to adopt .net spark to use with powershell. It's actually works great. Powershell need to submit debugger first, which you can do manually within interactive shell. However this is very inconvenient. I'd like powershell to start debugger automatically. The problem is that debugger can only run in interactive shell. If y

[2020-06-09 16:38] mikeTWC1984 opened #540 "[FEATURE REQUEST]: DataFrame options method to support hashtable (for powershell)"
**Is your feature request related to a problem? Please describe.**

Currently DataFrameReader Options method only takes string/string dictionary. Using this with powershell gets a bit cumbersome, since there is no literal for that:
[code]
Powershell uses hashtable as primary key/value storage. Adopting this would make above snippet look way more natural:
[code]

hashtable is not generic, but it sh

[2020-06-10 04:00] imback82 commented on #516
@shadowmint, .NET for Apache Spark works with databricks connect as long as you don't use UDFs written in C#.

Databricks connect works by sending the logical plans to the server side and while the plans are parsed on the server side, the `PythonFunction.pythonExec` value (which is the .NET Spark Worker) passed was not being respected (overwritten as a Python executable).

I had a call with a Data

[2020-06-10 08:06] michael-damatov commented on #502
possible duplicate of #472

[2020-06-10 10:00] thrixton commented on #473
@imback82
I exposed this via https://github.com/aelij/IgnoresAccessChecksToGenerator as per your suggestion, and then called the static `LoggerServiceFactory.SetLoggerService` method, passing my custom logger, but no logs are generated.
The problem appears to be that some (maybe all) logger instances are created before my application is initialized and I set the logger.
Do you have any suggestions

[2020-06-10 22:30] dbeavon opened #543 "[BUG]: Confused by Project Status"
**Microsoft Documentation is Inconsistent with Github in Regards to Release Status**
The Microsoft documentation talks about this project like it is ready for production use.
https://docs.microsoft.com/en-us/dotnet/spark/what-is-apache-spark-dotnet

But this github project seems to indicate that it is a pre-release with a version of v.0.11.0.  I'm curious which of these is true.  Should I be comfo

[2020-06-10 23:25] rapoth commented on #543
We are sorry for the confusion. We will work with the Microsoft documentation team to add additional details.

Let me make an attempt at answering some of your questions:

  - **Is the library ready for production?**
     No, but we welcome you to try it out and kindly let us know if you hit into any blockers. We already have a couple of customers using the library in production but we are waiting

[2020-06-10 23:32] thrixton commented on #473
@imback82 , yes, this was a user error sorry.
Race condition between creating the session vs setting the logger, oops :)
Thanks

Re #542, you're right, so i'll have a look at that option.
Would it be possible to replace log4net with a more modern and maintained logging framework ([serilog](https://github.com/serilog/serilog) maybe)?
Log4net appears to be "dormant".
I currently use Serilog pushing

[2020-06-12 00:05] dbeavon commented on #543
Thanks for the feedback.  That is helpful.

Here is the site that seemed to indicate that a premium tier is needed.
https://docs.microsoft.com/en-us/dotnet/spark/tutorials/databricks-deployment

You will notice that there is a stand-alone notice about creating a trial subscription to "Premium Azure Databricks".  I was incorrectly assuming that the .Net side of this requires the "Premium" tier:

It

[2020-06-12 00:41] suhsteve commented on #540
I have some mixed feelings regarding this enhancement request. Adding this feature would open the gates to add the same enhancement to any other public API that uses Dictionary, doubling the public API footprint for those types of methods.

[2020-06-12 02:21] imback82 commented on #502
@michael-damatov Would #472 address your issue, or do you need more info? You can help reviewing the PR as well.

[2020-06-12 02:48] mikeTWC1984 commented on #540
Ok, what about just System.Collection.IDictionary,  it would cover plethora of other datastructures, including hashtable? I guess it's not a big deal anyway. At this point the killer for powershell is debugger (see my previous issue)

[2020-06-12 02:59] imback82 commented on #419
@indy-3rdman/@moredatapls Thanks for your inputs. Please feel free to take a look at #537 if you want. Thanks!

[2020-06-12 03:02] imback82 commented on #538
Running Spark under VM and having C# Spark application outside should work after (#537). Can you paste the full error message you are getting?

[2020-06-12 03:13] imback82 commented on #540
`IDictionary` sounds fine to me since it will be a non-breaking change. @mikeTWC1984 do you want to contribute? You can update both `DataFrameReader.Options` and `DataFrameWriter.Options`.

[2020-06-12 03:46] imback82 commented on #473
`serilog` should be good. Do you want to work on this? If so, I can break down work items for you. Thanks!

[2020-06-12 04:24] thrixton commented on #472
Some more thoughts.
#541 is quite a basic implementation and will expose the relevant information, but not in the nicest format.
@imback82, would it be possible or advisable to expose more information from the JVM?
e.g.
| Field | Example |
| -- | -- |
| ExceptionType | org.apache.spark.sql.catalyst.parser.ParseException |
| Message | mismatched input 'fu' expecting {'(', <..SNIP...>'}(line 1, pos

[2020-06-12 05:16] suhsteve commented on #540
`IDictionary` sounds good.  Modifications to [PayloadHelper.cs](https://github.com/dotnet/spark/blob/ce2317774c25550ea3784a1af4f02befd2eea70b/src/csharp/Microsoft.Spark/Interop/Ipc/PayloadHelper.cs#L352) may also be required.  @imback82

[2020-06-12 05:28] imback82 commented on #540
Do we need to change PayloadHelper? I was thinking to just change `Dictionary<string, string>` to `IDictionary<string, string>`, maybe I misunderstood the ask.

[2020-06-12 05:46] rapoth commented on #543
You are right - that paragraph regarding Premium experience is not a 'required' step.

Please feel free to open Issues here on GitHub and we will be glad to help. We do not need you to provide a Scala repro. We just request that you provide us with enough information (e.g., minimum reproducible example) to help us repro the problem on our dev boxes.

Yes, if you are running on Azure Databricks wit

[2020-06-12 06:04] suhsteve commented on #540
`Hashtable` implements `IDictionary`
`Dictionary` implements `IDictionary` and `IDictionary<TKey, TValue>`

Unless the Hashtable will be implicitly converted to a `IDictionary<Tkey, TValue>`, we may need to make changes to support `IDictionary`

[2020-06-12 06:28] imback82 commented on #540
I don't think we want to support `IDictionary` without types because we don't support all the types.

[2020-06-12 08:01] JavierLight opened #544 "Example app name starts with an invalid character in k8s"
**Describe the bug**

When using Kubernetes as the resource manager, the app name in the examples is incompatible with the spark requirements.

**To Reproduce**

Deploy any example using `.Master("k8s://k8s_IP:k8s_port")`

From the spark doc:

**Expected behavior**
Run the examples using the desired resource manager, without the need of altering the example depending on the resource manager used.

[2020-06-12 08:57] thrixton commented on #473
Happy to implement this.
If you break down the work items i'll work through them.

[2020-06-12 14:33] mikeTWC1984 commented on #540
Right, the ask was about non-generic IDictionary. New method would just convert it to Dictionary[string,sting] and pass to the existing one. This is truly for scripting convenience, if you thing this would clog api feel free to close the issue.

[2020-06-13 03:46] mikeTWC1984 commented on #539
Turns out it was easy fix (just commenting few lines). Will just use a custom version of this jar

[2020-06-13 03:46] #539 closed

[2020-06-13 03:50] mikeTWC1984 commented on #540
I'll probably just start a fork to do those minor adjustments for powershell, since it won't be very useful for C# anyway

[2020-06-13 03:50] #540 closed

[2020-06-13 04:07] mikeTWC1984 opened #545 "[FEATURE REQUEST]: DataFrame to IDataReader"
**Is your feature request related to a problem? Please describe.**

Seems like spark could be  used as JDBC/ADO.NET gateway. At a glance it looks doable to convert DF/IEnumerable to IDataReader auto-magically (and avoid manual type conversion). Any thought?

**Describe alternatives you've considered**
IKVM

**Additional context**
Add any other context or screenshots about the feature request here.

[2020-06-13 18:57] imback82 commented on #473
Cool. Here is what I am thinking:

1) Implement `ILoggerService` with `serilog`.
2) Update `SparkEnvironment` to set a logger based on an environment variable. Note that the work side should also pick up this environment variable (check `CreateEnvVarsForPythonFunction`) and create the same logger.
3) Document how to utilize `serilog` under `docs`.
4) Possibly make this as a default logger instead

[2020-06-13 19:01] imback82 commented on #544
Thanks for reporting this. Do you want to contribute? You can change `.NET Spark SQL basic example` to `SQL basic example using .NET for Apache Spark`, and so on. I see six occurrences total. Please let me know if you are interested in fixing them. Thanks!

[2020-06-13 22:13] #509 closed

[2020-06-13 22:16] imback82 opened #546 "[FEATURE REQUEST]: Azure-pipeline should use templates to remove duplicate setup"
The current `azure-pipeline.xml` has duplicate parts and is hard to maintain, esp. for running E2E tests (current, backward compatibility and forward compatibility).  It would help to maintain if they are refactored using templates.

[2020-06-13 22:17] imback82 commented on #546
cc: @elvaliuliuliu

[2020-06-13 22:19] elvaliuliuliu commented on #546
I will work on this.

[2020-06-14 08:02] imback82 commented on #472
The overall approach sounds reasonable to me.

But, I am not sure about this since there could be too many. I think capturing the exception type as a string should be good enough in my opinion.

@suhsteve What do you think?
@thrixton Do you plan to work on this?

[2020-06-14 08:11] imback82 commented on #472
cc: @michael-damatov, who was solving the similar problem.

[2020-06-14 23:58] imback82 commented on #545
I guess you could wrap Spark's DF in IDataReader's implementation. One thing to note is that Spark's DF is not materialized until you perform an action (such as `Collect`) on it, and `Collect` will bring all the data to the driver. If you are already know this behavior/constraint, you could write one. But I think this can be done outside this repo.

[2020-06-15 09:18] mwysocki87 commented on #535
Actually, @imback82, is it just me or is ForeachBatch not available in .NET for Spark? If no wrapper method available can I somehow invoke the underlying Scala API?

![image](https://user-images.githubusercontent.com/26220437/84640427-f3e23780-aef9-11ea-80fe-7e3586be03ad.png)

[2020-06-15 10:02] mwysocki87 commented on #538
Ok, so I've actually switched from a VM to a docker container, but the error message is the same - here goes:
[code]

Now, of course in a setup like that there's always potential for network connectivity issues, but it looks like the port is open...
![image](https://user-images.githubusercontent.com/26220437/84644923-22fba780-af00-11ea-8e83-3bd5e73f42da.png)

[2020-06-15 13:18] dbeavon commented on #543
Thanks for your feedback.  You will probably hear from me again once I get started.  I might wait for the "databricks-connect" functionality to become available to us, since that seems like it would give our productivity a significant boost.  It is better if we spent less time waiting from one debug session to the next.  Running the driver code locally seems like it would be quite a lot more effic

[2020-06-15 13:18] #543 closed

[2020-06-15 16:04] imback82 commented on #535
@mwysocki87 `ForEachBatch` is not available in .NET for Spark but we are actively working on it and you should see a PR in a week or two. I will update this thread when the PR is created. cc: @suhsteve

[2020-06-15 17:47] #544 closed

[2020-06-16 07:56] AnakinSkyCN commented on #531
waiting for the UserDefinedAggregateFunction, so that u wouldn't have to sort the entire DataFrame just to find a Row that holds the max value of a column.

[2020-06-16 22:13] mikeTWC1984 commented on #545
OK, make sense. Related question, can this project be used as a general purpose .net/java gateway? Like is there a straight forward way to invoke some java class method from spark .net? E.g. ```System.out.println("hello world")```

[2020-06-18 04:03] mikeTWC1984 commented on #514
try to set  some large number for "batchsize" option when you write to jdbc. As far as I know jdbc is using common batch api that is controlled by this parameter and should work good for mssql. Also, if you reading from jdbc, also set fetchsize (although there could be different parametes on connection string to control buffer). E.g. for oracle default fetch size is 10 or 100, so it's very slow to

[2020-06-18 07:51] JavierLight opened #550 "[FEATURE REQUEST]: Update docs regarding tests"
**Description**
First of all, sorry if this is something that has been already replied to. I searched "tests" in the issues (open and old) and couldn't find any useful information.

I've been unable to understand how to deal with tests involving a spark session with a specific configuration. My code instances a SparkSession with a configuration that I would like to test in my CI pipeline (check th

[2020-06-18 13:27] michael-damatov commented on #502
Simply throwing `JvmException` instead of `Exception` does not help to distinguish between different cases.

#472 is definitely not a duplicate of this issue.

[2020-06-18 13:28] michael-damatov commented on #472
This issue does not duplicate #502.

[2020-06-18 16:50] Niharikadutta commented on #550
@JavierLight Thanks for your question! If I understand your setup correctly, you are running the Dotnet backend process in your docker container listening on port 5567, and your application in your local box? If that is correct, this is currently not supported, but is being worked on in #537 . As of today the dotnet backend only listens on loopback address, which is why when you run the test insid

[2020-06-18 16:55] Niharikadutta commented on #550
As for documentation, we take that as important feedback, and will work on making the test docs more comprehensive and explanatory for your and similar scenarios. Please let us know if that helps, thanks!

[2020-06-18 21:11] suhsteve opened #552 "[BUG]: The Microsoft.Spark.Extensions.DotNet.Interactive extension incompatible with newest dotnet-interactive"
The `Microsoft.Spark.Extensions.DotNet.Interactive` extension is incompatible with the newest version of dotnet-interactive.  The [ISupportNuget](https://github.com/dotnet/interactive/blob/master/src/Microsoft.DotNet.Interactive/ISupportNuget.cs) has changed and the extension needs to be updated.

[2020-06-18 21:14] imback82 commented on #552
@jonsequitur I understand it's not a stable API, but how can we know when a breaking change is introduced? Do you have release notes, etc.?

[2020-06-19 04:28] imback82 commented on #502
https://github.com/dotnet/spark/issues/472#issuecomment-643057149 would not be enough? Exposing more exception types is not a scalable solution.

[2020-06-19 11:51] JavierLight commented on #550
Thanks for the explanation. I hope #537 will be available soon :) in the meanwhile we will run these tests inside a docker container.

[2020-06-19 11:51] #550 closed

[2020-06-19 19:22] deeptowncitizen opened #553 "Run .NET spark application in GCP DataProc"
Hi
Is that possible to run .NET spark application in DataProc (Google Cloud)?
Did anyone do that?

thank you

[2020-06-19 21:26] rapoth commented on #543
I am working on updating it. I'll keep you posted. Thank you for your patience!

[2020-06-20 00:12] imback82 commented on #552
Fixed by #554.

[2020-06-20 00:12] #552 closed

[2020-06-20 22:52] Niharikadutta commented on #553
Hi @deeptowncitizen , thank you for your question!
While we haven't personally tried .NET Spark on DataProc, it should certainly be possible given DataProc supports Apache Spark jobs (https://cloud.google.com/solutions/migration/hadoop/migrating-apache-spark-jobs-to-cloud-dataproc). Please go through the following [Get Started](https://github.com/dotnet/spark#get-started) docs and feel free to rea

[2020-06-21 09:06] Jiacheng-Li commented on #268
Hi Brigit

I also got stuck at this stage since I always get "The system cannot find the path specified". I am pretty sure I set the environment variables correctly and placed the files in the right directory. Would you mind helping me with it?
Thanks!
![Path not found](https://user-images.githubusercontent.com/53215260/85220784-6ba2dd00-b3a6-11ea-88db-a1af015c26f5.PNG)
![Environment Varible](http

[2020-06-21 09:14] Jiacheng-Li opened #557 "The system cannot find the path specified."
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/install-spark
Operating System: windows

Hi

I was trying to follow the guide to install spark. I am pretty sure I set the environment variables correctly and put the files in the right directory. But I still get this message "The system cannot find the path specified". Would you mind helping me with it? I would really a

[2020-06-21 09:17] suhsteve commented on #557
@Jiacheng-Li  can you do an `echo %SPARK_HOME%` ?  Your environment variable may not be set up correctly or you need to restart your command prompt.

[2020-06-21 09:17] suhsteve commented on #268
@Jiacheng-Li  can you do an `echo %SPARK_HOME%` ?  Your environment variable may not be set up correctly or you need to restart your command prompt.

[2020-06-21 09:21] Jiacheng-Li commented on #557
Hi Steve

Just did it, here is the screenshot, does it seem to be correct?
![echo](https://user-images.githubusercontent.com/53215260/85221087-f684d700-b3a8-11ea-9c62-45d0c418b081.PNG)
Thanks!

[2020-06-21 09:29] Jiacheng-Li commented on #557
I also tried restarting command prompt and my PC, still no luck.

[2020-06-21 09:31] suhsteve commented on #557
@Jiacheng-Li that env variable path looks fine to me.   Can you try either of the following?

[code]
or
[code]

[2020-06-21 09:36] Jiacheng-Li commented on #557
Just tried, neither of them seems to work...
![Try submitcmd](https://user-images.githubusercontent.com/53215260/85221333-06051f80-b3ab-11ea-953f-c499cfcae86d.PNG)

[2020-06-21 09:38] suhsteve commented on #557
Can you give me the output of `echo %JAVA_HOME%` ?  Can you make sure it's also set if it isn't ?

[2020-06-21 09:39] Jiacheng-Li commented on #557
Btw I have also set the Path variable, still doesn't work... Not sure if this is relevant though.
![Path variable](https://user-images.githubusercontent.com/53215260/85221396-6e540100-b3ab-11ea-8287-6e6ec040d6fe.PNG)

[2020-06-21 09:41] suhsteve commented on #557
This is probably relateed to #304 .  Can you try following the recommendations and see if they resolve your issue ?

[2020-06-21 09:44] Jiacheng-Li commented on #557
Seems fine. I'm using Java 14.

C:\Users\Jiacheng Li>echo %JAVA_HOME%
C:\Program Files\Java\jdk-14.0.1\bin

[2020-06-21 09:51] suhsteve commented on #557
@Jiacheng-Li please follow the [recommendation here](https://github.com/dotnet/spark/issues/304#issuecomment-545689563)

[2020-06-21 09:51] Jiacheng-Li commented on #557
Hi Steve

Everything works fine now after getting rid of the "\bin" from JAVA_HOME.
Thanks so much for your help!

[2020-06-21 09:53] #557 closed

[2020-06-21 19:29] jlagr opened #559 "Spark-class-launcher-output missed"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/install-spark
Operating System: windows 10

I followed all steps but when run sparl-submit --version I got this error:
![image](https://user-images.githubusercontent.com/19929590/85233387-60ae7380-b3cb-11ea-8ba9-3dc03578c8fd.png)
All environment variables looks good including JAVA_HOME. I tried changing permissions with

[2020-06-22 04:17] imback82 commented on #545
I wouldn't recommend using spark .net for a general purpose .net/java interop. Have you checked something like [jni4net](http://jni4net.com/) (although it hasn't been updated recently)?

[2020-06-22 07:23] Niharikadutta commented on #559
Have you tried with specifying the full path to spark-submit?
Have all environment variables been set, such as PATH etc? Also can you check if the spark-submit.cmd file is marked executable in the SPARK_HOME/bin directory?

[2020-06-22 14:25] jlagr commented on #559
Yes... but actually I figure out the issue, running the console as administrator works, even the missing file remains, sparks looks good, I don't know if the missing file will affect when code execution.

![image](https://user-images.githubusercontent.com/19929590/85298755-17613100-b46a-11ea-9548-6bca5c71aea0.png)

[2020-06-22 17:11] bolcman opened #563 "[BUG]: Kafka stream error"
Seeing strange error when i try to connect to Kafka stream:

![image](https://user-images.githubusercontent.com/4012644/85315371-f1975480-b488-11ea-977c-83aef85ba9ff.png)

Nothing special in the code,
            var liveStream = session
                                    .ReadStream()
                                    .Format("kafka")
                                    .Option("kafka.bootstra

[2020-06-22 18:09] bolcman commented on #563
actually figured it out , ignore this.
it turns out that one of the additional jars caused this problem.

These 2 were actually everything i needed:

kafka-clients-2.0.0.jar,
spark-sql-kafka-0-10_2.11-2.4.4.jar

[2020-06-22 18:09] #563 closed

[2020-06-22 18:20] Niharikadutta commented on #559
Good to see spark-submit is working, although you shouldn't have to run it in admin mode. I see the file path for `spark-class-launcher-output-4579.txt` looks strange, i.e. it does not have a root drive specified. Can you do an echo %temp% to see what value is set there and give the full path if it is not specified correctly?

[2020-06-22 18:26] imback82 commented on #559
I see that it's being run under `c:\windows\system32`, which requires you to have the admin mode since Spark will write to a folder under `c:\windows\system32`. Try running it under your user directory.

[2020-06-22 22:04] jlagr commented on #559
Here is the result of eho %temp%
![image](https://user-images.githubusercontent.com/19929590/85339751-675fe800-b4aa-11ea-835d-052df8ac2799.png)

[2020-06-23 01:30] Niharikadutta commented on #559
As @imback82 mentioned, can you confirm the value of %SPARK_HOME%? If your Spark is saved in `c:\windows\system32`, it would require admin privileges. Can you save the Spark folder in a user directory (set SPARK_HOME accordingly) and then try running?

[2020-06-23 08:00] michael-damatov commented on #502
I do not expect from an exception to be scalable because it has already been thrown. I'm pretty sure that the scala code somehow distinguish between exceptions: either by using different exception types or by providing additional properties (e.g. "error code").

If the `JvmException` added with #472 would expose additional properties, which are helpful to distinguish between different cases, it wo

[2020-06-23 08:39] suhsteve commented on #472
Having concrete C# exception types that mirror JVM exceptions would be a lot to maintain and upkeep. I think a more reasonable approach would be what you've already done in #541 by adding an additional string field that contains the JVM exception type.

[2020-06-23 08:57] michael-damatov commented on #472
Agree to have a string field to hold the JVM exception type, it would also be cool to have an additional `Dictionary<string, object>` field to hold all other JVM exception properties.

[2020-06-23 17:58] #436 closed

[2020-06-23 17:58] #527 closed

[2020-06-24 02:53] imback82 commented on #559
I meant the working directory. Spark utilizes the current working directory for some configuration (like warehouse dir), thus it could lead to an issue with access regardless of where Spark is installed.

[2020-06-24 11:52] thrixton commented on #472
@suhsteve is there an easy way to do this without string parsing / regex?
This will capture it, but would possibly be unreliable.
`\[JvmBridge]\s(?'ex'.*?)\:`

[2020-06-24 19:01] Niharikadutta commented on #559
User was earlier running in the user directory, and there they were seeing Access denied, and couldn't run spark-submit --version, in order to get it to work, they ran console as admin.

[2020-06-24 19:43] suhsteve commented on #472
I wouldn't rely on parsing the string / regex.  Instead you can modify [DotnetBackendHandler.scala](https://github.com/dotnet/spark/blob/0879fd1a7a6d18b061dd97281c9b9342660c87ab/src/scala/microsoft-spark-2.4.x/src/main/scala/org/apache/spark/api/dotnet/DotnetBackendHandler.scala#L187) and emit the actual type of the exception using `writeString(...)`.

[2020-06-24 21:56] thrixton commented on #472
Thanks @suhsteve, that's what I was looking for :)
It would be great to add additional `Dictionary<string, object>`, (but I think it would rather be `Dictionary<string, string>` to avoid having to map types) but to be honest, I don't know what additional properties would be available and / or relevant.
Do you have any concrete thoughts on this @michael-damatov?
It will take a while for me to get t

[2020-06-25 06:21] JavierLight commented on #539
Hi @mikeTWC1984 , could you please provide a more detailed description of your fix? I'm trying to containerize a simple dotnet app and can't get the debugger to work, because I need to run two interactive processes in the docker container entrypoint.

I'm using this to launch my `DotnetApp.dll` once the 5567 port is listening:

`( tail -f -n0 sparkdotnetdebug.log & ) | grep -q "Press enter to exit

[2020-06-25 13:33] mikeTWC1984 commented on #539
@JavierLight  What I did just removed those 3 lines
https://github.com/dotnet/spark/blob/c8992e0787c6f50f2aa3572839fe67b872a3363a/src/scala/microsoft-spark-2.4.x/src/main/scala/org/apache/spark/deploy/dotnet/DotnetRunner.scala#L158-L160
Then you can stop debugger with ctrl+C. You can also use netstat (both windows and linux has it) to find out which process is listening on debug port and kill it.

[2020-06-26 06:07] UncleJosef opened #567 "Add rows from URL"
When i Use
%%pyspark
df = spark\
    .read\
    .option('basePath', 'abfss://data@gallerydatadev.dfs.core.windows.net/crowd')\
    .parquet('abfss://data@gallerydatadev.dfs.core.windows.net/crowd/***/city=VLG/*/*.parquet**')
df.printSchema()
Result:
root
 |-- oid: long (nullable = true)
 |-- addedOn: timestamp (nullable = true)
 |-- addedOnDate: timestamp (nullable = true)
 |-- mac: string (nullab

[2020-06-26 06:19] imback82 commented on #567
Can you try setting the `basePath`?

[2020-06-26 06:57] UncleJosef commented on #567
Yes! This is work.
root
 |-- oid: long (nullable = true)
 |-- addedOn: timestamp (nullable = true)
 |-- addedOnDate: timestamp (nullable = true)
 |-- mac: string (nullable = true)
 |-- radarId: string (nullable = true)
 |-- face: string (nullable = true)
 |-- admTypeBit: integer (nullable = true)
 |-- dt: date (nullable = true)
 |-- city: string (nullable = true)
 |-- player_id: integer (nullable

[2020-06-26 10:15] JavierLight opened #568 "Run dotnet DLL in release mode"
I'm wondering if it's possible to run a compiled dotnet DLL (using code from this library) without the need of setting up the DotnetRunner debug port spark process.

I could not find in the docs if there's a way to run this in a "release" mode or if it's even possible at all to run my app using dotnet instead of spark-submit.

In order to give you more context, imagine you have a REST API implemen

[2020-06-26 11:46] Niharikadutta commented on #568
Hi @JavierLight thank you for your question. There is no way to locally submit a .NET for Apache Spark application without using `spark-submit`, since that is the command to submit a Spark batch job and it expects a jar (`microsoft-spark-<version>.jar`) which is the entry point to which the dotnet application attaches and interacts with in order to translate the data/code between the JVM and CLR.

[2020-06-26 12:09] JavierLight commented on #568
Thanks for the clarification!

[2020-06-26 12:09] #568 closed

[2020-06-26 15:55] imback82 commented on #567
Which description / examples are you referring to? I just compared with your PySpark query to find the difference since you were seeing a different result. Putting `basePath` is just an option depending on your scenario, and not required.

Closing this for now, but feel free to reopen the issue. Thanks!

[2020-06-26 15:55] #567 closed

[2020-06-26 15:57] imback82 commented on #567
You can also check https://spark.apache.org/docs/latest/sql-data-sources-parquet.html#partition-discovery for all the configurations you can use.

[2020-06-26 19:07] imback82 commented on #472
Should we keep this open until https://github.com/dotnet/spark/issues/472#issuecomment-643057149 is addressed?

[2020-06-26 21:58] Niharikadutta commented on #559
@jlagr Are you facing any issues running spark-shell or submitting spark jobs with the missing output file error? Can you please confirm the location of SPARK_HOME once?

[2020-06-27 10:52] initinli opened #571 "Failed to load org.apache.spark.deploy.dotnet.DotnetRunner"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

unable to run demo app, getting below error -

C:\Z\Test\Spark.net\mySparkApp>%SPARK_HOME%\bin\spark-submit --class org.apache

[2020-06-27 17:15] imback82 commented on #571
Can you verify this jar exists first?

[2020-06-27 21:02] moredatapls commented on #514
If anybody stumbles across this thread and happens to use Databricks and Azure Synapse SQL: there's this amazing and incredibly fast connector to read and write data from and to the data warehouse: https://docs.databricks.com/data/data-sources/azure/synapse-analytics.html

Totally solved our performance issues and works with .NET for Spark as well.

[2020-06-27 21:41] imback82 commented on #514
@moredatapls Thanks for sharing! This is good to know. Are you still exploring calling `com.microsoft.azure.sqldb.spark.config.Config`? If so I can follow up on this.

[2020-06-28 15:44] initinli commented on #571
Hi @imback82,

You are right, this jar didn't exists, I updated the **Microsoft.Spark** nuget version from latest **0.12** to **0.10** and it worked.

Thank you.

[2020-06-28 15:44] #571 closed

[2020-06-28 18:28] imback82 commented on #571
I see. In this case, the jar name should have been `microsoft-spark-2.4.x-0.12.0.jar` to match the Nuget version.

[2020-06-29 13:27] dbeavon commented on #543
FYI, I had opened a ticket with Microsoft support.  The support ticket was to inquire about the level of support offered for this.  They say that .Net for Spark is not supported by Microsoft in Azure Databricks.

` Yes, you can use dotnet for Azure Databricks but not supported by Microsoft`
**Support request ID 120061124005245**

They didn't discourage me from using it, however, and suggested I co

[2020-06-29 14:08] rrekapalli commented on #514
This is very useful feature if implemented!  We are trying to implement a analytics engine with SQL Server as source as well as sink for the analysis results to which our front end systems connect to.  I think this feature can enable various analytics use cases as most of .NET application are built on SQL Server.

[2020-06-29 14:14] rrekapalli commented on #514
Greatly appreciate if you can share any simple example showing how to use it with .NET for Spark.

[2020-06-29 17:18] moredatapls commented on #514
@imback82 yes, I'm still interested in getting this to work. Will try to upload a repo with some example code so that you can see what I tried so far.

@rrekapalli it is actually very straightforward, just use the Spark for .NET equivalent of the Spark functions shown in the documentation. Remember though that this only works if you use Databricks and their Spark runtime and only if you use Azure,

[2020-06-29 18:44] deeptowncitizen commented on #553
@Niharikadutta thank you for pointing on this.
We're using .NET Spark with Nomad successfully for 1 year. And now migrating to DataProc.
I was able to make the same configuration and submit an empty job. Eventually, I'm getting the error:

[code]

I'm using `microsoft-spark-2.4.x-0.6.0`. While in DataProc I'm using 1.4.x that refers to [Spark 2.4.5](https://cloud.google.com/dataproc/docs/concepts/

[2020-06-29 18:54] Niharikadutta commented on #553
@deeptowncitizen Thanks for the information. I am curious as to what you mean by 'an empty job' and if the error has something to do with that. Please feel free to reach out to us and open an issue if there is something you need help with. Also we recommend using the latest .NET for Apache Spark release (v0.12.1) for a lot of new features and updates. Thanks!

[2020-06-30 12:38] rrekapalli commented on #514
@moredatapls , thank you very much and appreciate for the details!  We are evaluating .NET for Spark for one of our .NET based application that has a regular SQL Server (v.2012) back-end.  So was interested to see if there's any such library/driver (jdbc/odbc) that can help us transfer data to/from SQL Server.

[2020-06-30 16:02] UncleJosef opened #575 "Execute command om Azure SQL Server"
How I execute sql comand (forExample Delete Table dbo.data Where AddDate='2020-05-01' or exec sp_BlaBla) on Azure SQL Server from code in synapse apache spark notebook?

[2020-07-01 05:50] gopala000 commented on #218
I'm stuck with this issue in both release and debug mode. What needs to be run to listen in port 5567 of localhost?

[code]

[2020-07-01 05:53] imback82 commented on #218
Looks like you are running it from visual studio? If so, you should follow https://github.com/dotnet/spark/blob/master/docs/developer-guide.md#debugging-spark-net-application

[2020-07-01 13:49] dbeavon commented on #543
I just received a final communication related to my Microsoft support ticket (about Microsoft support for this project).  It comes from an operations manager with Microsoft Big Data Team (Chaith. S.).
He says...

`Our product group confirmed that there is NO ETA for .Net on Spark with Azure Data Bricks. My support team will be constantly in touch with Product Group and will keep  you posted as and

[2020-07-01 15:59] gopala000 commented on #218
Yes, I'm running the examples from VS 2019.  I just opened the `Microsoft.Spark ` solution in VS and set the startup project as `Microsoft.Spark.CSharp.Examples` and ran it.  But, the link you sent is about running `spark-submit`.  The example's readme.md doesn't mention about running it. Am I missing some step? @imback82

[2020-07-01 20:10] MikeRys commented on #543
Hi David

Sorry for the mixed message that you are receiving.

The answer of the support engineer is saying that we do not have an ETA for having .NET for Spark available out of the box in Azure Databricks. This ETA is mainly owned by Databricks, because Databricks needs to add it, we can provide them only with the requests (if you haven’t done so, please vote up the user voice request).

Having s

[2020-07-01 20:29] nbalexiev opened #576 "[BUG]: ForeachWriter does not work in net framework"
ForeachWriter fails when executed in .NET Framework. An easy repro is the E2E "TestForeach" executed with the net framework worker.

Steps to reproduce the behavior:
1. Get my fork of the repo here: https://github.com/nbalexiev/Spark.NetFork
2. Execute: DataStreamWriterTests.TestForeach from Microsoft.Spark.E2ETest.Framework
3. It will fail inside UdfSerDe.DeserializeTargetData with:

   at System

[2020-07-01 21:00] suhsteve commented on #576
@nbalexiev can you post the exception message as well ?

[2020-07-01 23:02] nbalexiev commented on #576
@suhsteve Added inline in the initial comment.

[2020-07-01 23:34] guruvonline opened #577 "Each job run logging Java.IOException"
I am using release 0.10 and running a job with notebook starting .net application. Each Job is running on new cluster.
In cluster logs for each run of job, log4J logs show below exception

Java.io.IOException: Connection reset by peer.

Event though looks like job completed processing, but not sure why each job run is showing exception in cluster logs.

Thanks

[Logs.txt](https://github.com/dotnet

[2020-07-01 23:43] imback82 commented on #577
This seems to be your job specific error messages (related to your work nodes):
[code]

Do you have a repro we can try out?

[2020-07-02 00:06] nbalexiev commented on #576
It repros in net 472 as well.

Here's a hacky way to do a dynamic cast using LINQ expression:
`ParameterExpression paramExpression = Expression.Parameter(typeof(object), "value");`
`BlockExpression castBlockExpression = Expression.Block(Expression.Convert(Expression.Convert(paramExpression, field.Value.GetType()), targetType.GetField(field.Name, BindingFlags.Instance | BindingFlags.Public | Bindin

[2020-07-02 01:24] guruvonline commented on #577
I am not sure which part of my application is throwing this error, so not sure how to create a trim version to repro. do you have any suggestion?

[2020-07-02 14:21] MironAtHome commented on #577
I have the same trouble. I have followed this tutorial to a letter, https://dotnet.microsoft.com/learn/data/spark-tutorial/run. Spark version:
     / __/__  ___ _____/ /__
    _\ \/ _ \/ _ `/ __/  '_/
   /___/ .__/\_,_/_/ /_/\_\   version 2.4.4
      /_/
Using Scala version 2.11.12 (OpenJDK 64-Bit Server VM, Java 1.8.0-25)

Here is how error stack trace reads, hope it helps:

`java.io.IOException:

[2020-07-02 16:09] imback82 commented on #577
@MironAtHome your issue is different and a known issue. Please check this thread: https://github.com/dotnet/spark/issues/49#issuecomment-486714091

[2020-07-03 11:45] fithisux commented on #435
In my case It solved the exact same issue on my Mac OS Catalina, both for spark-shell and SparkR.

I installed SparkR in R 4.0.0. from master

and had to use (I use java 14 for dev)

library(SparkR)
Sys.setenv(SPARK_HOME = "(my home dir)/Downloads/spark-3.0.0-bin-hadoop3.2")
Sys.setenv(SPARK_LOCAL_IP = "127.0.0.1")
Sys.setenv(JAVA_HOME = "/Library/Java/JavaVirtualMachines/adoptopenjdk-8.jdk/Conten

[2020-07-04 09:37] pherbel opened #578 "[DOCS&SAMPLES REQUEST]: Extension packages: Delta, Hyperspace, Synapse"
Hello,

.Net Spark is great. We are happy to start experimenting it.

We are interested in using Delta format, Hyperspace index and Synapse Analytics.
As I saw that there are extension packages for that. That's great.

Could you share some info on how we can use these tools?
I couldn't find any sample and install guide.

[2020-07-04 18:40] imback82 commented on #435
Thanks @fithisux. In this case, I will close this issue. Please feel free to reopen if you encounter any other issues.

[2020-07-04 18:40] #435 closed

[2020-07-04 18:42] imback82 commented on #208
These APIs are now available as of v0.12.

[2020-07-04 18:42] #208 closed

[2020-07-06 08:50] MikyChow opened #579 "How to use map/reduce with DataFrame?"
[code]

I want execute map to input dataframe,but dataframe has no function named "map"

[2020-07-06 11:18] pherbel opened #580 "[BUG]: Hyperspace CreateIndex failed"
**Describe the bug**
I try to test Hyperspace index with our dataset (CSV) and it seems failed during the creation.

**To Reproduce**

Steps to reproduce the behavior:
1. Create new .Net Spark Console app
2. Add .Net spark extension nuget package Hyperspace
3. Create Session
4. Add data frame
5. Create index

[code]

**Expected behavior**
New index created and app will show in the log.

**Desktop

[2020-07-06 12:19] Niharikadutta commented on #579
You cannot `map` a dataframe in Spark (`dataframe.map` has been removed since Spark 2.0), it is the attribute of an RDD. In order to do a `map` on a dataframe as outlined in your example, you can do the following:

`
input.Select("_1").Map(x => x*x);
`
Here `Select` converts the dataframe into an RDD on which the `map` is applied.

[2020-07-06 16:44] suhsteve commented on #535
@mwysocki87 `ForeachBatch` is not supported as part of [release 0.12.0](https://github.com/dotnet/spark/releases/tag/v0.12.0).

[2020-07-06 16:45] suhsteve commented on #580
@AFFogarty can you look into this ?

[2020-07-06 16:51] suhsteve commented on #578
@pherbel There are [nugets available ](https://github.com/dotnet/spark/blob/master/src/csharp/Extensions/README.md) for the Delta and Hyperspace extensions.  Some examples of how to call the libraries can be found in the [Delta](https://github.com/dotnet/spark/tree/master/src/csharp/Extensions/Microsoft.Spark.Extensions.Delta.E2ETest) and [Hyperspace](https://github.com/dotnet/spark/tree/master/sr

[2020-07-06 17:29] imback82 commented on #580
I see the following:
[code]

@pherbel Can you share how you are creating `dataFrame`?

cc: @apoorvedave1 / @pirz Can you try to repro with a CSV file format?

[2020-07-06 19:06] apoorvedave1 commented on #580
Thanks, @imback82
I couldn't repro the issue with this simple code
[code]

[2020-07-06 23:42] imback82 commented on #579
@Niharikadutta, `Select` return `DataFrame`, so I don't think your example would compile.

@MikyChow You can do something like the following:
[code]

[2020-07-07 01:35] MikyChow commented on #579
@imback82 @Niharikadutta
[code]
This still not worked.  And raise an exception:
![image](https://user-images.githubusercontent.com/5389478/86684510-33053380-c035-11ea-9274-0f1fe047a60c.png)

Then i use this:
[code]
It's worked

[2020-07-07 01:52] imback82 commented on #579
You need to set up the worker to use UDF: https://github.com/dotnet/spark/blob/master/docs/deploy-worker-udf-binaries.md

Yes, that works. I thought you wanted more like an UDF approach based on your example: `input.map(x=>x*x)`. Anyway, I am closing this issue now.

[2020-07-07 01:52] #579 closed

[2020-07-07 07:23] pherbel commented on #580
@imback82

Here is the other part of the source code.
[code]

CSV format:

[code]

[2020-07-07 07:37] pherbel commented on #578
Yeah, I found the tests and nugets and I'm testing it.

https://github.com/dotnet/spark/issues/580#

Sounds good, but also I think it would be useful for devs if we have small docs for local development too.

- I have to download jar file for Maven repository and install it in local spark directory
- Could you provide jar files in the GitHub release and not just source code?
- Need C# sample

Than

[2020-07-07 07:41] pherbel commented on #580
Also I don't know exactly that it could be a problem or not, but I installed the jar files manually for local development.

So, I downloaded the jar files (Delta, Hyperspace) and installed into the "jars" directory in my local spark install.
It seems to start working, but got the error.

[2020-07-07 15:49] deeptowncitizen commented on #553
Still in progress with that.
1. There is no straight way to copy binaries to driver/executor instances using the [built-in](https://cloud.google.com/sdk/gcloud/reference/dataproc/jobs/submit/spark) functionality.
Parameters `--files` and `--archives` does not copy anything to driver instance, but executor. So this is not an option
2. The current option I'm testing is a bash script

[code]
In this

[2020-07-07 16:50] apoorvedave1 commented on #580
Thanks @pherbel, I could repro the issue. I will update with my findings soon.

[2020-07-07 17:24] #553 closed

[2020-07-07 18:42] apoorvedave1 commented on #580
Thanks @pherbel, did you materialize the data before creating the index? I could repro the issue only if I call `df.show()` before `hs.createIndex()`. If I don't call `df.show()`, it works fine and creates index without issue.

We are working to fix this problem. In the mean time, could you avoid calling `df.show()` or any other form of materializing the df before creating index?

Here's my repro

[2020-07-07 18:45] Orlamh opened #582 "[BUG]: "failed to connect to" error using Get Started documentation"
**Describe the bug**
Following the Getting Started documentation I try a spark-submit and get the following error
`java.io.IOException: Failed to connect to mycomputername/myipaddress:64701`

This is the command I used and I've attached the logs:
[log.txt](https://github.com/dotnet/spark/files/4886601/log.txt)

`spark-submit --class org.apache.spark.deploy.dotnet.DotnetRunner --master local bin\De

[2020-07-07 18:47] apoorvedave1 commented on #580
Explanation: In case of csv, on materializing the df before creating index, it creates some internal objects which don't support serialization (specifically [this](https://github.com/apache/spark/blob/90b9099064059e414bf3535f7f250aad384288b5/sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/FileFormat.scala#L171)

[2020-07-07 19:07] imback82 commented on #582
Can you describe what you application does (or share the program if possible)? Your task is trying to access something? (`at org.apache.spark.util.Utils$.fetchFile(Utils.scala:489)`):

[code]

[2020-07-07 19:23] Orlamh commented on #582
I'm trying to run the tutorial code. https://dotnet.microsoft.com/learn/data/spark-tutorial/code.
I have an input.txt file. It's in the root of the project and it's also in the bin/debug folder.
I'm running my command line console as an admin

Thanks

[2020-07-07 19:26] imback82 commented on #218
If you are launching your C# application directly from VS, you need to run `spark-submit` as described above. (C# application is just a wrapper around the JAVA application launched from `spark-submit`, so you need the JAVA app - `DotnetRunner` - running). The tutorial launches your C# application via `spark-submit` (indirectly launched by JAVA app - `DotnetRunner`). Does this make sense?

[2020-07-07 19:29] imback82 commented on #582
Can you try to specify the full path for your input.txt? Or, you could try putting your input.txt in the same folder as dll, go to the directory, and run `spark-submit --class org.apache.spark.deploy.dotnet.DotnetRunner --master local microsoft-spark-2.3.x-0.12.1.jar dotnet poc_SparkApp.dll`

[2020-07-07 20:34] Orlamh commented on #582
I tried running from .\bin\debug\netcoreapp3.1, the same location as the dll and input.txt. Same problem. Looks like same stacktrace.

[2020-07-07 20:37] imback82 commented on #582
Can you share your `poc_SparkApp.dll`?

[2020-07-07 20:38] imback82 commented on #582
or you can just zip up all the files under `.\bin\debug\netcoreapp3.1`

[2020-07-07 20:49] Orlamh commented on #582
[netcoreapp3.1.zip](https://github.com/dotnet/spark/files/4887122/netcoreapp3.1.zip)

Zipped contents of netcoreapp3.1

[2020-07-07 20:53] imback82 commented on #582
Thanks, can you also share the version of Spark you are using?

[2020-07-07 21:01] imback82 commented on #582
Works fine for me with Spark 2.3.4, so prob. some issues on your side with networking, etc.:
[code]

[2020-07-07 21:02] Orlamh commented on #582
2.3.3
![image](https://user-images.githubusercontent.com/5833257/86842701-73c37380-c05a-11ea-9194-85b68d0839f3.png)

[2020-07-08 04:15] imback82 commented on #580
@pherbel This issue has been fixed and SNAPSHOT artifacts have been published. And you can consume it as follows:
[code]
Please let us know if this fixes your issue. Thanks!

[2020-07-08 05:47] pherbel commented on #580
@apoorvedave1 Thanks for the quick work on it. This is great.
I don't call dataframe.Show() before the index creation.

@imback82 Unfortunately, I couldn't get the packages with this method. Does this need authentication?
Can I access the jar directly somehow?

[2020-07-08 05:58] imback82 commented on #580
@pherbel Can you get to this? https://oss.sonatype.org/content/repositories/snapshots/com/microsoft/hyperspace/hyperspace-core_2.11/0.2.0-SNAPSHOT/

[2020-07-08 06:56] pherbel commented on #580
@imback82 Thanks. I could download it.

Now It seems works! Great!

I really appreciate your quick work on it. Thanks for everybody.

Now I can start to test the index.

[2020-07-08 07:05] pherbel commented on #580
After the next version will be out. I will check and we can close this.

[2020-07-08 07:10] pherbel opened #583 "[FEATURE REQUEST]: Better .Net SDK for Spark installer experince"
**Is your feature request related to a problem? Please describe.**
Now The .Net Spark developer experience is far from average .Net development.
- Difficult SDK install methods: https://dotnet.microsoft.com/learn/data/spark-tutorial/intro
- Difficult install for Extensions. Nuget is okay, but also you have to install jars into Spark manually.

**Describe the solution you'd like**
A compact SDK ins

[2020-07-08 07:34] pherbel opened #584 "[FEATURE REQUEST]: Better .Net Spark project developer experience"
**Is your feature request related to a problem? Please describe.**
The main problem is the project's start experience and debugging.
I would like to start, test and debug my spark up from the visual studio.

**Describe the solution you'd like**
- .Net Spark project template
- Start from visual studio with debugging. Perhaps it can be achieved with separated Spark MsBuild SDK.
`<Project Sdk="Micros

[2020-07-08 15:59] GoEddie opened #585 "[Implementation Question]: Should we override Equals and ToString?"
Does it make sense to override these in spark objects and pass them back to the JVM (or provide our own implementation)?

Is there a preference for overriding or not overriding? I did a quick search and could see a few "override ToString" so wasn't sure what to do.

[2020-07-08 17:40] imback82 commented on #585
Could you elaborate on the use case?

[2020-07-08 18:10] GoEddie commented on #585
In spark toString is overridden (not sure if it is always or just sometimes) so doing:

https://github.com/apache/spark/blob/master/sql/core/src/main/scala/org/apache/spark/sql/Column.scala#L153

[code]
returns a string "a"

if you do that on a Col in .NET you get:

[code]

returns a string "Microsoft.Spark.Sql.Column".

It feels like if we forwarded ToString and Equals then we will be more consis

[2020-07-08 18:25] imback82 commented on #585
Got it. Yea, I think we can forward them to Scala side.

[2020-07-08 18:41] GoEddie commented on #585
Thanks, Will do

[2020-07-08 18:47] imback82 commented on #585
I am curious what the notebook experience will be like since it depends on `ToString`. @suhsteve any concern?

[2020-07-08 19:12] suhsteve commented on #585
There may be some unintended side effects by override Equals ?  One example may be if a user is adding/checking these jvm objects against C# dictionary/hashset, any collisions would create jvm calls.

[2020-07-08 19:59] suhsteve commented on #585
I don't see anything too concerning with toString with notebooks atm.

[2020-07-08 20:20] imback82 commented on #585
I am thinking we should support `Equals` and `ToString` for both C# side and JVM side (C# as the first citizen and a variation of `Equals` and `ToString` for the Scala). What do you guys think?

[2020-07-09 09:54] JavierLight opened #587 "[Question]: Use of memory"
I would like to know if this library can be used to execute spark batch jobs in a loop. Imagine the `Program.cs` creates a SparkSession and reuses it in a block of code that is executed several times. Each iteration loads a DataFrame from a file and then appends the data to a parquet table in HDFS.

[code]

The scenario I'm describing works fine except for the fact that the use of memory keeps inc

[2020-07-09 12:30] Niharikadutta commented on #587
@JavierLight Can you try calling `Unpersist()` (https://github.com/dotnet/spark/blob/master/src/csharp/Microsoft.Spark/Sql/DataFrame.cs#L822) on your dataframe after processing of appending to parquet has finished?

[2020-07-09 14:02] JavierLight commented on #587
Thanks for the quick reply. I tried your suggestion but it didn't work, the problem is related to the RAM-memory consumption (it keeps growing even though I called Unpersist() on the DF and saw on the logs that resources were being freed up). Just to clarify it is not related to the disk usage, just RAM.

Maybe the issue is that reusing the SparkSession is not a good idea?

[2020-07-09 19:15] imback82 commented on #587
Is the memory increase from CLR or JVM? Are you brining in any data to driver? Also, what do you mean by `Append DataFrame to a parquet table`?

[2020-07-13 01:16] thrixton opened #589 "[FEATURE REQUEST]: Expose metadata"
This is more a question than a feature request.

When parsing JSON files, I need to sanitize the field names so `field with spaces` becomes `field_with_spaces`.
I want to preserve the original name as well, metadata about the column if you like :)

There is a metadata field on `StructField`, but it is internal.
Why is this internal, is it possible or desirable to expose it?

[2020-07-13 01:29] imback82 commented on #589
Thanks @thrixton brining this up.

It is internal for now since it is not properly mapped to the `Metadata` class on the Scala side: https://github.com/apache/spark/blob/master/sql/catalyst/src/main/scala/org/apache/spark/sql/types/Metadata.scala. If we want to expose this as public, we need to properly wrap the field.

[2020-07-13 10:03] JavierLight commented on #587
@imback82 sorry I didn't explain myself properly. What I meant by `append dataframe to a parquet table` is this:

[code]

Since the reader, writer and dataframe are local variables scoped to this method that returns true, I thought it wasn't necessary to dispose anything. I'm calling this method several times (for different json files). After each call, the memory increases several MBs.

I'm going

[2020-07-13 22:03] thrixton commented on #589
Good to know @imback82.
Currently, I'm covered as I just modify the JSON DOM directly and then parse it using StructType and have the internals visible so can access Metadata.
I guess at some point full support will go into the backlog.

[2020-07-13 22:04] imback82 commented on #589
Let me keep this open so we can follow up on this feature.

[2020-07-13 22:41] bolcman opened #590 "[FEATURE REQUEST]: SparkListener support"
Any plan for support a handler like this ?

spark.sparkContext.addSparkListener(new SparkListener() {
  override def onTaskEnd(taskEnd: SparkListenerTaskEnd) {
    println("Task id: " + taskEnd.taskInfo.id.toString)
    println("Records written: " + taskEnd.taskMetrics.outputMetrics.recordsWritten.toString)
  }
})

[2020-07-14 18:15] imback82 commented on #590
@bolcman Thanks for the suggestion. Currently, there is no plan, but we can reprioritize based on the community demand.

[2020-07-14 18:54] rapoth commented on #587
@JavierLight I have a couple of questions:

  1. You did not seem to specify `.mode("append")` Was that intentional?
  2. It would be great to understand where the memory increase is coming from: JVM or CLR.
  3. What is the scale of data you are operating and can you also specify the compute configuration you are using?
  4. Can you describe more details about your input? Is data getting streamed

[2020-07-15 07:12] JavierLight commented on #587
I will try to clarify some of the doubts, but I still couldn't find where the memory increase is coming from. Working on it now.

1. I'm using the `InsertInto` method when the table already exists. Otherwise, I'm using `SaveAsTable`. Should I be doing this in another way? I guess using these two methods there's no need to specify the write mode, probably I'm wrong.
2. Working on it, I've been busy

[2020-07-16 08:53] JavierLight commented on #587
Well, it seems that the problem is in the JVM side (using top inside the pod):

| %CPU | %MEM | COMMAND |
|------|------|---------|
| 0.0  | 4.7  | java    |
| 0.0  | 0.7  | dotnet  |

These are the values after processing 50 elements and having disposed the spark session, obviously the CPU usage changes when the application is performing certain operations, but then goes to zero.

Even though I d

[2020-07-16 20:31] imback82 commented on #587
What's the raw value of JVM memory usage? Also how does it change as you run the function in a loop?

Can you run the following on the C# side if it helps:
[code]

It will force to remove reference to JVM objects: https://github.com/dotnet/spark/blob/f803aa8c890ec6f530d63a366056e8de0a9e18ac/src/csharp/Microsoft.Spark/Interop/Ipc/JvmObjectReference.cs#L33-L39

[2020-07-17 12:03] moredatapls opened #591 "[FEATURE REQUEST]: Support for RelationalGroupedDataset.Pivot"
**Is your feature request related to a problem? Please describe.**

* I'd like to pivot on a column in a Dataset, but the pivot method is not implemented in .NET for Spark

**Describe the solution you'd like**

* Add the .Pivot() method call to [RelationalGroupedDataset.cs](https://github.com/dotnet/spark/blob/master/src/csharp/Microsoft.Spark/Sql/RelationalGroupedDataset.cs)

**Describe alternati

[2020-07-17 14:59] rsaltrelli opened #592 "[Question] How do you use Confluent Schema Registry to deserialize Avro from Kafka?"
I'm working on a proof of concept using Kafka, Confluent Schema Registry, and .NET for Apache Spark.  I'm able to read Avro serialized bytes from Kafka and print them to the console.  Now I'm trying to integrate the Schema Registry to make sense of the bytes.  I'm including the `org.apache.spark:spark-avro_2.11:2.4.1` package when running `spark-submit` and would like my Spark app to be able to ca

[2020-07-17 17:05] imback82 commented on #591
Thanks for reporting @moredatapls! Do you have time to contribute to add `Pivot`? Otherwise, our team can help adding this API.

[2020-07-17 18:44] lynnmcgraw opened #593 "Error runing tutorial app"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

I am receiving the following error when trying to run the application

C:\Users\Lynn\source\repos\mySparkApp>%SPARK_HOME%\bin\

[2020-07-17 19:15] rsaltrelli commented on #592
Thanks this seems to work but now I've uncovered other errors.

[code]

Not sure where this exception is coming from. My hunch is that it might have something to do with the fact that the first 4 bytes are the Id of the schema in the Schema Registry.  Which can throw off deserialization when using a vanilla Avro deserializer.  Is there a way to do the deserialization in .NET rather than in Scala?

[2020-07-17 21:51] imback82 commented on #592
which line of the code above is causing this exception?

[2020-07-20 08:01] samueleresca opened #594 "[FEATURE REQUEST]: ToString should return column expr"
**Is your feature request related to a problem? Please describe.**

At the moment the default `Column.ToString` implementation returns the following:

[code]

The `Column.ToString` method uses the default implementation of the `Object` class. Do you think is sensible to return the column name / column expr every time the `Column.ToString` method is called?

**Describe the solution you'd like**
The

[2020-07-20 12:42] rsaltrelli commented on #592
I introduced the code you recommended. Presumably, it's coming from there.

[code]

[2020-07-20 15:35] rsaltrelli commented on #592
[This documentation](https://docs.microsoft.com/en-us/azure/databricks/spark/latest/structured-streaming/avro-dataframe#example-with-schema-registry) seems to indicate that I can just pass the schema registry URL into the `from_avro` method.

[code]

However, when I do it I just get more cryptic exceptions.

[code]

[2020-07-20 16:16] imback82 commented on #592
`from_avro` seems to take only two params? https://github.com/apache/spark/blob/58c637a213e122156b914c27d51e5eb1ec4e0b4c/external/avro/src/main/scala/org/apache/spark/sql/avro/package.scala#L33

[2020-07-20 17:02] GoEddie commented on #594
We started discussing this exact thing here: https://github.com/dotnet/spark/issues/585

[2020-07-20 17:03] GoEddie commented on #585
I’d say pass toString on, this is another example: https://github.com/dotnet/spark/issues/594

[2020-07-20 18:10] imback82 commented on #585
Yea, we can start with `ToString`. Should we pass thru for all the wrapper classes or the ones that override `toString` on the Scala side? (I see that we have few classes that override `ToString` to call the Scala side b/c it's overridden on the Scala side).

[2020-07-20 22:27] Niharikadutta commented on #593
Can you provide a zip of all the files under `.bin\Debug\netcoreapp3.1\`?

[2020-07-20 23:19] GF-Huang opened #595 "[QUESTION]: Any API docs?"

[2020-07-20 23:47] imback82 commented on #595
Please check here: https://docs.microsoft.com/en-us/dotnet/api/?view=spark-dotnet

[2020-07-20 23:47] #595 closed

[2020-07-21 07:56] yashgt opened #596 "[BUG]: Not able to read from a Parquet file"
Tried reading from a Parquet file generated using Python. The spark dotnet library throws an error.

[code]
I get the error:

[2020-07-21 16:49] imback82 commented on #596
Can you share the full log please?

[2020-07-21 22:01] bolcman opened #597 "[BUG]: Error when i run batch udf + broadcast variable on cluster"
Hi,

Getting the following error when I increase the number of executor-cores > 1 in my example.

i do have arrow batch function + broadcast variables.

everything works fine, when i have 1 core per executor. but when i increase it , i see this error below:

[2020-07-21T21:45:50.2508119Z] [rap-c01w07-vsny] [Error] [JvmBridge] JVM method execution failed: Nonstatic method 'save' failed for class '2

[2020-07-21 22:36] suhsteve commented on #596
Can you also try rerunning using the full path to the parquet file ?

[2020-07-21 22:38] Niharikadutta commented on #597
How are you running this spark job? Can you share the spark-submit command?

[2020-07-21 23:50] bolcman commented on #597
Sure , this is the command that i'm using, i do have a rest service on edge node that does the submission.

in this example , if i remove
" --executor-cores=3  "
the same version works without any problem

 "sparkSubmitCommand":
 "/opt/spark/bin/spark-submit
 --master yarn
 --deploy-mode cluster
 --class org.apache.spark.deploy.dotnet.DotnetRunner
 --executor-memory=8GB
 --driver-memory=3GB
 **--e

[2020-07-21 23:56] Niharikadutta commented on #597
Thanks @bolcman  I will get back to you with my investigation.

[2020-07-22 04:14] yashgt commented on #596
This is the file that was generated by pyspark.
[income_non_partitioned.parquet.zip](https://github.com/dotnet/spark/files/4957773/income_non_partitioned.parquet.zip)
This file is actually a directory. However, I have also tried with a single parquet file and have seen the same issue.
[in.parquet.txt](https://github.com/dotnet/spark/files/4957784/in.parquet.txt)

This is the log file
[log.txt](htt

[2020-07-22 04:27] imback82 commented on #596
I see the following:
[code]
This usually indicates the Java version installed is mismatching. Can you verify Java 8 is installed?

[2020-07-22 04:33] yashgt commented on #596
E:\Projects\expt\myplaygroundhome\mySparkApp>java -version
java version "1.8.0_191"
Java(TM) SE Runtime Environment (build 1.8.0_191-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.191-b12, mixed mode)

[2020-07-22 04:46] imback82 commented on #596
Can you run `spark-shell` and type `spark.read.parquet("path to parquet").show`?

[2020-07-22 04:52] imback82 commented on #596
Can you also paste the output of `spark-submit --version`?

[2020-07-22 06:20] yashgt commented on #596
E:\Projects\expt\myplaygroundhome\mySparkApp>spark-submit --version

[2020-07-22 06:27] imback82 commented on #596
Spark is invoked with Java 14. You should see something like the following:

[code]

Please fix your environement.

[2020-07-22 06:44] yashgt commented on #596
I was following instructions from https://dotnet.microsoft.com/learn/data/spark-tutorial/run
Now Upgraded to spark 3.0.0.

spark-shell
spark.read.parquet("path to parquet").show

This works now.

But
E:\Projects\expt\myplaygroundhome\mySparkApp>spark-submit --class org.apache.spark.deploy.dotnet.DotnetRunner --master local bin\Debug\netcoreapp3.1\microsoft-spark-2.4.x-0.10.0.jar dotnet bin\Debug\n

[2020-07-22 06:53] imback82 commented on #596
Spark 3.0 is not yet supported in .NET for Apache Spark. Spark 3.0 supports later version of Java and that's why it's working in Scala.

[2020-07-22 07:34] yashgt commented on #596
Reverted to Spark 2.4.1 and pointed JAVA_HOME to JDK1.8. It works now. Thanks.

[2020-07-22 07:34] #596 closed

[2020-07-22 07:44] moredatapls commented on #591
@imback82, yes, I'll give it a shot!

[2020-07-23 12:52] rsaltrelli commented on #592
I see.  Looks like this other version of `from_avro` might only be accessible from Azure Databricks, which I'm not using.  Back to the way you suggested.  I'm kind of blocked if I can't figure out where this `java.lang.NullPointerException` is coming from.  Is there any way to get better visibility into that?

[2020-07-23 13:39] rsaltrelli commented on #592
I want to be able to do exactly what [this](https://translate.google.com/translate?hl=en&sl=fr&tl=en&u=https%3A%2F%2Fblog.engineering.publicissapient.fr%2F2018%2F10%2F25%2Fspark-structured-streaming-avec-kafka-schema-registry%2F) is doing but ideally in .NET instead of Scala.

[2020-07-23 14:55] GoEddie commented on #594
I can't add a label but this is a good first issue to implement, add a method to Column:

`public override string ToString() => (string)_jvmObject.Invoke("toString");`

and a test should do it (i'd probably include a comment to say that it doesn't return the value of the column as that is a pretty common misconception with spark)

[2020-07-23 15:50] imback82 commented on #592
For `java.lang.NullPointerException`, do you have a repro set up I can try? Is this also happening locally (not Azure Databricks)?

[2020-07-23 18:14] rsaltrelli commented on #592
It's all running locally using Docker Compose.  [Here](https://github.com/TCGplayer/etl-workshop)'s the repo I'm working on. There are a bunch of things in here that are a work in progress.  To see the error you're interested in, clone the repo and do the following.

[code]

`click-stream-producer` is a .NET Core console app that produces messages to Kafka and publishes the schemas to Schema Regis

[2020-07-23 19:18] imback82 commented on #592
Hmm.., is it possible to simplify the repro step such that it doesn't involve kafka, etc.? For example, read a file and call `FromAvro` on it? The simpler the repro step is, I can get to it faster.

Also, can you share the full log for the run?

[2020-07-23 19:42] rsaltrelli commented on #592
The confluent platform is part of the repro steps. Deserializing Confluent Avro data is slightly different than deserializing a vanilla Avro data.  Regular Avro is just the raw bytes, but Confluent Avro prepends the Id of the schema in the schema registry. So I suspect that even if we figure out how to use `from_avro` to deserialize vanilla Avro, it won't be able to deserialize Confluent Avro beca

[2020-07-23 20:13] imback82 commented on #592
Do you need to fix this?
[code]

[2020-07-23 21:23] rsaltrelli commented on #592
Ah. Sort of. The schema registry was still spinning up when my app was trying to look up the schema.  I'll update the previous post with a better log.

[2020-07-23 22:57] usmanmohammed opened #600 "[FEATURE REQUEST]: Add more Data Frame examples"
**Is your feature request related to a problem? Please describe.**

Some common Data frame transforms are missing from the Basic Batch Spark SQL examples ```examples/Microsoft.Spark.CSharp.Examples/Sql/Batch/Basic.cs```. Transformations such as unions, addition/removal of columns etc.

**Describe the solution you'd like**
I'd like to add more examples of how to create a union between two data fram

[2020-07-23 22:59] Niharikadutta commented on #597
I am unable to reproduce this locally, could you please share your zipped up application dlls and required jars? And also the code snippet where you are declaring and using the broadcast variable? Thanks!

[2020-07-24 13:20] rsaltrelli opened #601 "[Question] Is there any documentation on how to connect to Amazon S3?"
I have some Avro files in an S3 bucket that I'd like to load into a Dataframe.  All the documentation I've been able to find online has been for Scala, and not being a Scala dev myself, I'm struggling to translate it into .NET for Apache Spark.  Are there any docs or examples for how to do this in .NET?

[2020-07-24 14:37] samueleresca commented on #594
The `Invoke` method is not even needed in this case because it would return another `JvmObjectReference` type to be  wrapped into a new `Column` instance. I think we can directly call the `_jvmObject.ToString()` since the `_jvmObject` represents the instance of the column in this case. Will do a couple of tests during the weekend.

[2020-07-24 16:13] imback82 commented on #601
Any specific doc you are referring to? I checked https://sparkbyexamples.com/spark/spark-read-write-avro-files-from-amazon-s3/ and it should be straightforward. If you share a Scala code, I am happy to translate it.

[2020-07-24 19:46] #600 closed

[2020-07-24 19:51] imback82 commented on #597
@Niharikadutta when you ran this locally, did you submit it to a local standalone cluster (I think this is closer to @bolcman's yarn set up)?

@bolcman do you see the issue when you run this locally (e.g., `--master local[*]`)?

[2020-07-24 20:50] Niharikadutta commented on #597
@imback82 no I ran this in local mode using `--master local[3]`. I will run on standalone mode and update.

[2020-07-24 21:58] usmanmohammed opened #602 "[BUG]: Error when running sample applications"
**Describe the bug**
Encountering this error when running all the .NET sample applications in linux:

[code]

**To Reproduce**

Steps to reproduce the behavior:
1. Follow the instructions set out in this [readme](https://github.com/dotnet/spark/blob/master/docs/building/ubuntu-instructions.md#run-samples)
2. Execute this command to run the application as shown in the readme:
[code]

**Expected beh

[2020-07-24 22:02] imback82 commented on #602
Can you check if the binary exists in the folder you are running it?

[2020-07-24 22:05] usmanmohammed commented on #602
I believe its there:

[code]

[2020-07-24 22:08] suhsteve commented on #602
can you do `echo $DOTNET_WORKER_DIR` and if it's not set, can you run `export DOTNET_WORKER_DIR="/full/path/to/dotnet.spark/artifacts/bin/Microsoft.Spark.CSharp.Examples/Debug/netcoreapp3.1/linux-x64/publish"`  ?

[2020-07-24 22:16] suhsteve commented on #602
Can you also try modifying your spark-submit command a little?

`chmod +x ~/dotnet.spark/artifacts/bin/Microsoft.Spark.CSharp.Examples/Debug/netcoreapp3.1/linux-x64/publish/Microsoft.Spark.CSharp.Examples`

and

`spark-submit \
--class org.apache.spark.deploy.dotnet.DotnetRunner \
--master local ~/dotnet.spark/src/scala/microsoft-spark-2.4.x/target/microsoft-spark-2.4.x-0.12.1.jar \
/full/path/to/

[2020-07-24 22:21] usmanmohammed commented on #602
This worked successfully!

[2020-07-24 22:22] usmanmohammed commented on #602
It's a bit weird that I have to specify the full path of the program even though it's right there in the directory. But glad it's now working.

[2020-07-24 22:23] suhsteve commented on #602
Great.  I modified my suggestion a little.  Can you try running it again? With the updated instructions?  If it works without the full path, then I suspect it was making sure it was set to executable with +x.

[2020-07-24 22:30] usmanmohammed commented on #602
The error persists without the full path.

I should also point out there was already an executable permission on the files mentioned before running ```chmox +x```. It's likely that this step had no effect.

[2020-07-24 22:33] imback82 commented on #602
How about `./Microsoft.Spark.CSharp.Examples`?

[2020-07-24 22:40] usmanmohammed commented on #602
Not sure of this worked. The stack trace doesn't look like an error, but I'm not getting the correct output.

[code]

[2020-07-24 23:17] usmanmohammed commented on #602
So I cleaned and rebuilt the project. Also gave my machine a reboot.

```./Microsoft.Spark.CSharp.Examples``` is now working. However ```Microsoft.Spark.CSharp.Examples``` still dosen't work.

**./Microsoft.Spark.CSharp.Examples**
[code]

**Microsoft.Spark.CSharp.Examples**
[code]

[2020-07-24 23:25] imback82 commented on #602
Yea this aligns with the *nix behavior. Even if you have an executable in the current directory, you have to prepend the dir (e.g., `./a.out` or `/home/user/a.out`) to execute it unless it's in `PATH`.

I think we need to fix README.md. @usmanmohammed, do you want to contribute?

[2020-07-24 23:32] usmanmohammed commented on #602
Sure. I'll open a PR to include the directory prepend for the various commands in the readme.

[2020-07-25 00:02] imback82 commented on #602
Great, thanks!

[2020-07-25 03:25] #602 closed

[2020-07-27 12:02] JavierLight commented on #587
Hello again, thank you all very much for trying to help, being patient and asking right questions. I found a "solution" for my problem, leaving some details in case anyone finds them useful in the future (searching in the issues by the memory keyword).

The raw value of the JVM memory usage is over 1G, it keeps increasing until the limit is reached. The dotnet process is always under 50MB. I have

[2020-07-27 23:44] bolcman commented on #597
I don't see this issue locally. i see it only when i submit to cluster.
Let me try to create a simple example for you.

[2020-07-28 06:38] zwhrenxiaoxue opened #605 "spark-submit command have one error"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/run
Operating System: windows

When run the spark-submit command, shows error below:

C:\bin\spark-3.0.0-bin-hadoop2.7\bin\spark-submit --class org.apache.spark.deploy.dotnet.DotnetRunner --master local C:\MySparkApp\MySparkApp\bin\Debug\netcoreapp3.1\microsoft-spark-2.4.x-0.12.1.jar dotnet C:\MySparkApp\MySparkApp\bin\D

[2020-07-28 06:55] imback82 commented on #605
.NET for Apache Spark doesn't support Spark 3.0 yet. Can you try with [Spark 2.4.6](https://spark.apache.org/news/spark-2-4-6.html)?

[2020-07-28 07:08] zwhrenxiaoxue commented on #605
Already try. Now it works fine. Thanks for your answer.

[2020-07-28 07:40] zwhrenxiaoxue opened #606 "Run the code from VS with error"
When directly run the code from visual studio, show below error.

[2020-07-28T07:03:19.0230469Z] [] [Info] [ConfigurationService] 'DOTNETBACKEND_PORT' environment variable is not set.
[2020-07-28T07:03:19.0569705Z] [] [Info] [ConfigurationService] Using port 5567 for connection.
[2020-07-28T07:03:19.0657704Z] [] [Info] [JvmBridge] JvMBridge port is 5567
[2020-07-28T07:03:20.4328674Z] [] [Exception

[2020-07-28 15:31] imback82 commented on #606
For this experience, you need to have a Spark process running as described here: https://github.com/dotnet/spark/blob/master/docs/developer-guide.md#debugging-spark-net-application

[2020-07-28 15:31] #605 closed

[2020-07-30 18:17] PavankumarM1 opened #607 "[BUG]: Python worker exited unexpectedly (crashed). Increased the executor instance memory but still, it is facing the same issue."
Source: Delta
Sink: Delta
Processing engine: Spark structured streaming API
Streaming job running continuously.

Below error is throwing few times a day. We are not able to reproduce the issue.
First task is failing but in the next attempts same task is getting succeeded. What is the RCA and How to resolve the issue?

WHAT ACTION HAVE YOU DONE SO FAR?
Increased the executor instance memory but sti

[2020-07-30 18:29] imback82 commented on #607
@PavankumarM1 Can you describe what C# UDF does in this application (sample code will be helpful)?

Also can you share the full logs for this job?

[2020-07-30 18:33] imback82 commented on #607
Also, without a simple repro locally, it will be hard to debug. Looking at the exception, it could be caused by user data, UDF, etc.

Just looking at the logs you shared, I don't see anything suspicious from the .NET for Apache Spark side.

[2020-07-30 23:43] PavankumarM1 commented on #607
Hello Terry,

I have the code for UDFs
If you wish to see I can share with you over personal email.

Thanks,
Pavankumar Manchala

From: Terry Kim <notifications@github.com>
Sent: Thursday, July 30, 2020 2:34 PM
To: dotnet/spark <spark@noreply.github.com>
Cc: PavanKumar Manchala (MINDTREE LIMITED) <v-pavama@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/spark] [BUG]: Pyth

[2020-07-31 23:43] bolcman commented on #597
@Niharikadutta

sorry for the delay,  so this is the simple example,

and again, i see this error only when I submit a job to the cluster and increase the number of cores per executor.

`using Apache.Arrow;
using Microsoft.Spark.Sql;
using Microsoft.Spark.Sql.Types;
using System;
using System.Collections.Generic;
using System.Linq;
using DF = Microsoft.Data.Analysis.DataFrame;
using StructType = M

[2020-07-31 23:46] Niharikadutta commented on #597
Thanks @bolcman for the example. I will submit this on a cluster and try to reproduce the issue.

[2020-08-03 07:47] #606 closed

[2020-08-03 07:50] zwhrenxiaoxue opened #610 "failed to connect the SQL server in spark APP"
Add below jar, the error still shows.
https://github.com/sfrechette/spark-jdbc-mssql

[2020-08-03T07:40:02.1306428Z] [US84EXUO2S] [Error] [JvmBridge] java.sql.SQLException: No suitable driver
        at java.sql.DriverManager.getDriver(Unknown Source)
        at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions$$anonfun$6.apply(JDBCOptions.scala:105)
        at org.apache.spark.sql.execu

[2020-08-03 18:18] imback82 commented on #610
Can you try stackoverflow for this message "java.sql.SQLException: No suitable driver"? There are many answers like [this](https://stackoverflow.com/questions/8146793/no-suitable-driver-found-for-jdbcmysql-localhost3306-mysql).

[2020-08-04 00:44] zwhrenxiaoxue commented on #610
The link shows the database is MYsql. However, I want to connect to SQL server.

[2020-08-04 01:07] imback82 commented on #610
Yes, that was just one example. Since I do not know your SQL server settings, you should just search online with the exception message.

[2020-08-04 07:26] rrekapalli commented on #610
@zwhrenxiaoxue , I was able to write to SQL Server using another version of the JDBC driver (mssql-jdbc-8.2.2.jre8.jar).  This has to be copied to JARS in "\Spark\bin\spark-2.4.5-bin-hadoop2.7\jars".  However, depending on volume of data that you are rying to write, you may need to increase the worker memory and driver memory settings while submitting the spark job with the following config settin

[2020-08-04 08:17] zwhrenxiaoxue commented on #610
Thank you for your answer. It works now. Thank you again.

[2020-08-04 08:17] #610 closed

[2020-08-04 10:29] rrekapalli opened #611 "[FEATURE REQUEST]: Support for sql-spark-connector"
Can we expect support for "sql-spark-connector"(https://github.com/microsoft/sql-spark-connector)?  Currently it's only available for Scala and Python.  Would be a great addition if it's directly implemented in this library.

[2020-08-04 11:26] rrekapalli commented on #514
Hi @paul-pl , @moredatapls , Any luck with improving write performance with JDBC drivers (or any other solution)?

[2020-08-04 11:37] rrekapalli commented on #367
Hi there, can we use this API to speed up the write operation to SQL Server?

[2020-08-04 23:26] bolcman commented on #597
@Niharikadutta

i did a simple patch and re-deploy the worker, tested it a little bit and no error so far.

![image](https://user-images.githubusercontent.com/4012644/89332190-f5f68600-d660-11ea-8660-699f2c940884.png)

[2020-08-04 23:34] Niharikadutta commented on #597
@bolcman Interesting, thanks for sharing this. I have been trying to repro the issue using my own Spark application on the cluster and using multiple executors and it worked fine. Using your above given code I have been running into some stackoverflow issues (both locally and on the cluster) and wasn't able to repro the above mentioned issue yet, I am still looking into it. But glad to see that ad

[2020-08-04 23:38] imback82 commented on #597
Thanks @bolcman! That looks like a valid fix. Do you want to open a PR?

[2020-08-05 00:03] bolcman commented on #597
sure , i can do that.

[2020-08-05 00:11] imback82 commented on #597
Thanks @bolcman!

[2020-08-05 06:17] zzhu-bh opened #613 "[BUG]: assembly.zip files not supported as argument, as it conflicts with the need for "dotnet" as the first arg"
**Describe the bug**
Using zip'd assembly containing Spark.worker dll's doesn't work with DotnetRunner.
This happens on both Windows and Linux, with .NET Core 3.1 installed.
I'm using Spark 2.4.6, but happens with other variants of spark 2.4 as well.

**To Reproduce**

Steps to reproduce the behavior:
1. Zip up your assembly along with Microsoft.Spark.Worker files
2. try to run it using spark subm

[2020-08-05 06:24] imback82 commented on #613
Thanks @zzhu-bh for your encouraging comment!

If you are using a zip file, the following argument (after the zip file) should be an "executable" that's inside the zip file.

So you can `dotnet publish` your app and use  `assembly.zip assembly.exe` (or `assembly` on *nix).

[2020-08-05 06:41] imback82 commented on #611
@rrekapalli this should just work if you do
[code]
Make sure to pass the jar file for the connector when you run `spark-submit`.

[2020-08-05 11:13] rrekapalli commented on #611
Hi @imback82 , thank you for the quick reply.  I tried  to write to the database with below command:

spark-submit
  --class org.apache.spark.deploy.dotnet.DotnetRunner
  **--jars azure-sqldb-spark-1.0.0.jar**
   --master local[*] microsoft-spark-2.4.x-0.12.1.jar  dotnet Rules.Demo.dll

but got the following error.

20/08/05 16:26:52 ERROR Executor: Exception in task 6.0 in stage 17.0 (TID 1016)
j

[2020-08-05 23:05] imback82 commented on #611
Looks like you are missing dependencies. Can you try with `--packages com.microsoft.azure:azure-sqldb-spark:1.0.2` to resolve dependencies?

[2020-08-06 04:26] rrekapalli commented on #611
Still no luck!  When I tired with "azure-sqldb-spark:1.0.1.jar" I got dependencies errors.  So tried with the following:

spark-submit
	--class org.apache.spark.deploy.dotnet.DotnetRunner
	**--jars "azure-sqldb-spark-1.0.1-jar-with-dependencies.jar"**
	**--packages com.microsoft.azure:azure-sqldb-spark:1.0.1**
	--master local[*] microsoft-spark-2.4.x-0.12.1.jar  dotnet Rules.Demo.dll

******* Outp

[2020-08-06 04:31] rrekapalli commented on #611
Also, tried with the following with no luck:

spark-submit
  --class org.apache.spark.deploy.dotnet.DotnetRunner
  **--jars "azure-sqldb-spark-1.0.2-jar-with-dependencies.jar"
  --packages com.microsoft.azure:azure-sqldb-spark:1.0.2**
  --master local[*] microsoft-spark-2.4.x-0.12.1.jar  dotnet Rules.Demo.dll

Following is the error message:

*********************  output error message ***********

[2020-08-06 04:35] rrekapalli commented on #611
My intention for using this driver is to speedup large volume of data transfer between Spark and SQL Server.  Appreciate if you could suggest an alternative (DateStreamWriter or something) if this is not the correct approach (can't replace SQL Server for our use case).

[2020-08-06 04:54] imback82 commented on #611
Can you create an issue in https://github.com/Azure/azure-sqldb-spark for the dependency issue?

I am not familiar with benchmarks for different SQL connectors. @rapoth do you happen to know? Basically, you want to write the results to SQL server right?

[2020-08-06 05:24] zzhu-bh commented on #613
Thanks for the quick response @imback82 !  Okay, that actually makes sense, so basically.  Now I'm still running into the issue of #2.  This is especially the case if my Spark job uses UDF's defined on the C# side.   If I don't run the spark-submit in the exact directory containing the Microsoft.Spark.Worker binaries, I run into what looks like .NET serialization errors.  This is true on both Wind

[2020-08-06 05:31] imback82 commented on #613
Yea, could you open a new issue with a repro step? Thanks!

[2020-08-07 05:38] rrekapalli commented on #611
Sure, I'll create an issue there.  Thank you.

Also, that's correct.  I am trying to both read & write a large volume of data to/from SQL Server.  I was able to do that with an MSSQL JDBC driver (mssql-jdbc-8.2.2.jre8.jar) and was successful.  However, since data is large it was taking long time to write.  I came across this connector which supports bulk operations while looking for a better alter

[2020-08-07 09:26] guruvonline opened #614 "[FEATURE REQUEST]: support for AwaitAnyTermination for Structured streaming queries"
**Is your feature request related to a problem? Please describe.**
I have multiple streaming queries running in my Job and i want to terminate my job in case any of the query fail. Presently i am using awaitTermination on the last query in my code. so if any other query fails, it doesn't terminate my job.

**Describe the solution you'd like**
is there a way to use spark api park.streams.awaitAnyTe

[2020-08-07 16:49] imback82 commented on #614
Thanks @guruvonline. Yes, I think we should expose `StreamingQueryManager` in C#. Are you interested in contributing?

[2020-08-07 16:50] imback82 commented on #614
We can expose the following APIs from `StreamingQueryManager`:
`active`, `get`, `awaitAnyTermination`, and `resetTerminated`

[2020-08-09 15:46] zzhu-bh opened #615 "[BUG]: Must run spark-submit in the same directory as published assembly or UDF's fail with serialization errors"
**Describe the bug**
When UDF's exist in the Spark .NET job, the spark-submit call must happen in the exact same directory as the published assemblies, or you will get a serialization error on the UDF lambda's and/or functions.

i.e.  the following will fail (with errors shown below)
spark-submit --class org.apache.spark.deploy.dotnet.DotnetRunner --master local netcoreapp3.1\microsoft-spark-2.4.x

[2020-08-09 17:11] imback82 commented on #615
Did you try to set [DOTNET_ASSEMBLY_SEARCH_PATHS](https://github.com/dotnet/spark/blob/master/docs/deploy-worker-udf-binaries.md#1-environment-variables) to point to your assemblies that contain your UDFs?

[2020-08-09 17:12] #613 closed

[2020-08-09 17:52] zzhu-bh commented on #615
Thank you for the follow up @imback82 !    So setting the DOTNET_ASSEMBLY_SEARCH_PATHS does work in my local environment, but that technique is difficult to apply in several scenarios.   e.g.  using a zip of assembly, the path doesn't exist ahead of time, as it's dynamically created by the DotnetRunner.   Also, using environments like Databricks for example, it's difficult to even anticipate exact

[2020-08-10 04:02] Niharikadutta commented on #615
When using a zip of assemblies, you can assume the assemblies to be unzipped in the current working directory of the driver (the serialization only happens on the driver). For example, say you are using WASB to store your zipped assemblies and you use the `--archives` option to pass the zip folder to the spark-submit command, you can set the `DOTNET_ASSEMBLY_SEARCH_PATHS` like so:

`
spark-submit

[2020-08-10 04:12] imback82 commented on #615
Well, I don't think Databricks uses YARN, so `--conf spark.yarn.appMasterEnv` will probably not work. @suhsteve, do you remember the easiest way to achieve this?

@AeroXuk suggested few ways in #193 and #194, and we may need to revisit those PRs to make the experience better in Databricks.

[2020-08-10 04:14] imback82 commented on #597
Closed by #612

[2020-08-10 04:14] #597 closed

[2020-08-10 12:18] leemin0628 opened #616 "[.Net example error]VM method execution failed: Nonstatic method 'json' failed for class '111' when called with 1 arguments"
[2020-08-10T12:02:30.5779386Z] [MININT-QSGSNQI] **[Error] [JvmBridge] J[VM method execution failed: Nonstatic method 'json' failed for class '111' when called with 1 arguments]([url](url)) ([Index=1, Type=String[], Value=System.String[]], )
[2020-08-10T12:02:30.5779386Z] [MININT-QSGSNQI] [Error] [JvmBridge] org.apache.spark.sql.AnalysisException: Path does not exist: file:/C:/workspace/dotnet-spar

[2020-08-10 12:48] Niharikadutta commented on #616
Can you share your spark-submit command?

[2020-08-10 12:50] leemin0628 commented on #616
thanks @Niharikadutta , a spark session code error, has fixed

[2020-08-10 12:50] #616 closed

[2020-08-10 15:40] rrekapalli opened #617 "Expose DataFrame.Persist() with StorageLevel"
How to set storage level for DataFrame.Cache()/DataFrame.Persist() methods?

[2020-08-10 15:49] imback82 commented on #617
It's currently missing the API:

https://github.com/dotnet/spark/blob/5c5c249f6cd2957fd0ea5799c7bc6c7f6d38d662/src/csharp/Microsoft.Spark/Sql/DataFrame.cs#L17-L20

We can use this issue to track it. Let me change the issue title accordingly.

[2020-08-10 15:55] rrekapalli commented on #617
Sure.  Thank you!

[2020-08-10 22:22] suhsteve commented on #615
I think for databricks, how about uploading the required assemblies to dbfs and if you can set environment variables in Databricks, then set `DOTNET_ASSEMBLY_SEARCH_PATHS` to this path ?

[2020-08-10 22:38] zzhu-bh commented on #615
It is likely possible, but  we'd have to do some bootstrapping per job for the databricks cluster side, which is kind of out of band.  i.e. we'd like to treat the infrastructure as a single function, and job specific things get injected as job parameters.   But in the above manner described, we'd have to find ways to do job specific IAC for the cluster, which is not ideal.

I've actually looked at

[2020-08-11 00:29] AFFogarty opened #618 "[FEATURE REQUEST]: Delta Lake & Hyperspace version static analyzer"
**Is your feature request related to a problem? Please describe.**
As we add support for newer versions of Delta Lake and Hyperspace, we need to track which APIs are available in which versions of those libraries.

For example, some Delta Lake APIs may be available only in Delta Lake 0.7.0+ (targeting Spark 3.0+).  If a .NET for Apache Spark user is running Spark 2.4.x and Delta Lake 0.6.1, then t

[2020-08-11 01:07] Niharikadutta opened #619 "[BUG]: UDF Serialization bug in .Net interactive"
**Describe the bug**
UDF serialization in .NET interactive does not allow defining custom classes objects used in UDFs in different cells as compared to where the UDF is defined. This fails with the following error:

`
System.Runtime.Serialization.SerializationException: Type 'Submission#7' in Assembly 'ℛ*af5b28d4-e906-43c5-ae89-767507bdda8a#1-7, Version=0.0.0.0, Culture=neutral, PublicKeyToken=nu

[2020-08-11 01:09] Niharikadutta opened #620 "[FEATURE REQUEST]: Broadcast encryption support"
**Is your feature request related to a problem? Please describe.**
Currently .NET for Apache Spark [does not support encryption](https://github.com/dotnet/spark/blob/master/src/csharp/Microsoft.Spark/Broadcast.cs#L175) for Broadcast Variables.

**Describe the solution you'd like**
Provide support for encryption of Broadcast variables.

[2020-08-11 04:45] suhsteve opened #621 "[FEATURE REQUEST]: DataFrame API Completeness for Spark 2.4.x"
### DataFrame
* [ ] `python` def toJSON(self, use_unicode=True)
* [ ] `python` ~~def registerTempTable(self, name)~~`Deprecated` in 2.0
* [ ] `python` ~~def foreach(self, f)~~ Unsupported `RDD`
* [ ] `python` ~~def foreachPartition(self, f)~~ Unsupported `RDD`
* [ ] `python` ~~def unionAll(self, other)~~ `Deprecated` in 2.0
* [ ] `python` ~~def subtract(self, other):~~   `python` names this `subtr

[2020-08-11 05:54] imback82 commented on #615
@zzhu-bh do you want to create a PR for your POC so we can check whether it makes to sense to natively support the scenario?

[2020-08-11 19:15] rapoth commented on #607
@PavankumarM1 Would you be able to provide a simple repro using a UDF and dataset that you would feel comfortable sharing? (this is for the benefit of our broader community)

[2020-08-11 19:29] Niharikadutta commented on #621
I will work on this

[2020-08-11 23:39] rapoth commented on #584
@pherbel Thank you for the suggestion! This has been on our radar but we did not get time to go behind this. Would you be willing to collaborate and contribute towards this feature? We would be happy to have a meeting, if that helps. Thank you!

[2020-08-12 05:00] zzhu-bh commented on #615
Thanks @imback82  - Here's the PR: https://github.com/dotnet/spark/pull/622 - please let me know your thoughts.   This the quickest way I thought of for addressing this issue I've described.  Not sure if it's not ideal, but might be better than changing current working directory dynamically.

Btw, I want to reiterate again that I'm really amazed with the awesome responses and engagement from your

[2020-08-13 05:26] zwhrenxiaoxue opened #625 "Could not use the monotonically_increasing_id to add row id into spark dataframe"
How Can I use the function monotonically_increasing_id() to add row index for the spark dataframe.
Code: DataFrame df_SrcFile2 = df_SrcFile1.WithColumn("index", monotonically_increasing_id());
Error:
Microsoft (R) Build Engine version 16.7.0-preview-20360-03+188921e2f for .NET
Copyright (C) Microsoft Corporation. All rights reserved.

  Determining projects to restore...
  All projects are up-to-d

[2020-08-13 05:38] imback82 commented on #625
It should be:
https://github.com/dotnet/spark/blob/9275678a6e46e06a266e5516b3fea50896ede761/src/csharp/Microsoft.Spark/Sql/Functions.cs#L1020

[2020-08-13 06:27] zwhrenxiaoxue commented on #625
it works fine. Thank you very much.

[2020-08-13 06:27] #625 closed

[2020-08-13 10:07] samueleresca commented on #594
@GoEddie can you check if the implementation I wrote, does it make sense?

[2020-08-13 15:28] rrekapalli opened #626 "[BUG]: Failed to execute 'toPythonIterator' on 'org.apache.spark.sql.Dataset'"
**Describe the bug**
Getting an error "Failed to execute 'toPythonIterator' on 'org.apache.spark.sql.Dataset'" while trying to use ToLocalIterator().ToList() on a dataset.  I am trying to read a small dataset from SQL server and convert the data to a local class object array. Following is the code:

allResults = Spark.Read()
                        .Format("jdbc")
                        .Option("

[2020-08-13 16:02] daviddiazsolis commented on #559
Hi Im facing the same issue, I think it has to do with the space character in the User name (his name Jose Gonzalez), and as you can see from the picture the Temp folder is trying to open only recognizes the surname part (Diaz) and is missing the name (David). My windows user is David Diaz. I hope this helps in some way to find the solution.

[2020-08-13 16:20] daviddiazsolis commented on #559
Hello again, the issue is definitely related to the temp directory. In my case the spark-class-launcher should be in C:\, so set temp=C:\temp for me solve the issue. Is there a better way to point to the "original" Temp folder?

[2020-08-13 16:36] suhsteve commented on #559
Can you set the TEMP environment variable to a path without spaces ?

[2020-08-13 16:42] suhsteve commented on #626
Can you run `allResults.PrintSchema()` before you do your `ToLocalIterator/Collect` and paste the results ?

[2020-08-13 16:55] rrekapalli commented on #626
Following is the output of allResults.PrintSchema():

root
 |-- Id: integer (nullable = true)
 |-- Guid: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- IsEnabled: boolean (nullable = true)
 |-- SequenceNumber: integer (nullable = true)
 |-- Category: string (nullable = true)
 |-- Description: string (nullable = true)

Id is an IDENTITY(1,1) column in SQL Server (a MonotonicallyI

[2020-08-13 17:00] rrekapalli commented on #626
Also (if it helps), following are the config settings i am passing to spark-submit:

spark-submit
    --class org.apache.spark.deploy.dotnet.DotnetRunner
    --conf spark.driver.cores=2
    --conf spark.driver.memory=4g
    --conf spark.executor.memory=4g
    --conf spark.memory.offHeap.enabled=true
    --conf spark.memory.offHeap.size=4g
    --conf spark.shuffle.service.enabled=true
    --conf sp

[2020-08-13 17:01] daviddiazsolis commented on #559
if I set temp=C:\ set tmp=C:\ spark loads, but still gives me a warning translation would be "the name of the file, the name or the directory or syntaxis of the label volume it is not correct"

![image](https://user-images.githubusercontent.com/50603932/90164210-17dcc080-dd65-11ea-9bcc-436943c2de5c.png)

otherwise, I keep getting the error that the file C:\spark-class-launcher... can't be find

[2020-08-13 17:41] RobHogue opened #627 "[FEATURE REQUEST]: add example showing N Choose K combinations"
I am working on a project doing 100 choose 20 combinations. I have been in contact with over 4 microsoft big data partners and none of them were willing to help because the project was "to small". I discovered Spark .NET and set it up...this opened up a lot of doors for me as I am familiar with .net and visual studio, and there are deployment options into a databricks environment. This means, I co

[2020-08-13 18:19] Niharikadutta commented on #559
When you say 'original' temp folder, you mean the one with your user name (David Dias\AppData\Local\Temp)?
Also the warning you are getting about "the name of the file, the name or the directory or syntaxis of the label volume it is not correct", for spark-class-launcher-output-26326.txt right? Can you check if this file is present in your current temp directory (C:\)?

[2020-08-13 18:28] Niharikadutta commented on #626
I see in your Spark submit command you are passing `spark.memory.offHeap.size` equal to driver and executor memory of `4g`. Can you try to run it once by removing the `OffHeap` configs?

[2020-08-13 19:45] daviddiazsolis commented on #559
Hi, yes, I mean the one with the user name David Diaz\AppData\Local\Temp

And now I have several spark-class-launcher files in my root folder:

![image](https://user-images.githubusercontent.com/50603932/90179801-03f08900-dd7c-11ea-9676-936148c2288d.png)

[2020-08-14 03:05] rrekapalli commented on #626
I have removed the two config settings related to heap, but no luck!

--conf spark.memory.offHeap.enabled=true
--conf spark.memory.offHeap.size=4g

I can see in the SparkUI that a job is being spawned, but no task is being created even after waiting for 10 minutes.  It's a small table with only 5 rows in SQL Server.  Following is what I see on the SQL section of SparkUI.

![image](https://user-ima

[2020-08-14 03:39] imback82 commented on #626
@rrekapalli Can you try `allResults.Show();` and `var rows = allResults.Collect();` to see if either one works?

Also, could you share the full driver log + executor logs?

[2020-08-14 04:50] rrekapalli commented on #626
@imback82 , I think I am not able to run the workers as I got the following error while running a worker. I guess, because of this, it's not able to create any task for the allResults.Show() also.

**spark-class org.apache.spark.deploy.worker.Worker spark://localhost:7077**

20/08/14 10:17:08 INFO Worker: Started daemon with process name: 952@RR-DESKTOP
20/08/14 10:17:09 WARN NativeCodeLoader: Una

[2020-08-14 04:58] rrekapalli commented on #626
Here are the logs:

Spark Executor Command: "C:\Program Files\Java\jre1.8.0_251\bin\java" "-cp" "C:\Spark\bin\spark-2.4.5-bin-hadoop2.7\bin\..\conf\;C:\spark\bin\spark-2.4.5-bin-hadoop2.7\jars\*" "-Xmx4096M" "-Dspark.driver.port=51729" "-XX:+PrintGCDetails" "-Dkey=value" "-Dnumbers=one two three" "org.apache.spark.executor.CoarseGrainedExecutorBackend" "--driver-url" "spark://CoarseGrainedSchedule

[2020-08-14 04:59] rrekapalli commented on #626
Spark Executor Command: "C:\Program Files\Java\jre1.8.0_251\bin\java" "-cp" "C:\Spark\bin\spark-2.4.5-bin-hadoop2.7\bin\..\conf\;C:\spark\bin\spark-2.4.5-bin-hadoop2.7\jars\*" "-Xmx4096M" "-Dspark.driver.port=52130" "-XX:+PrintGCDetails" "-Dkey=value" "-Dnumbers=one two three" "org.apache.spark.executor.CoarseGrainedExecutorBackend" "--driver-url" "spark://CoarseGrainedScheduler@RR-DESKTOP.mshome.

[2020-08-14 05:00] rrekapalli commented on #626
Got couple more same errors for each executor.

[2020-08-14 05:07] rrekapalli commented on #626
Here is my Main Program output:

spark-submit --class org.apache.spark.deploy.dotnet.DotnetRunner --conf spark.worker.cores=2 --conf spark.driver.cores=2 --conf spark.driver.memory=4g --conf spark.executor.memory=4g --conf spark.shuffle.service.enabled=true --conf spark.sql.cbo.enabled=true --conf spark.sql.adaptive.enabled=true --master spark://172.21.48.1:7077 microsoft-spark-2.4.x-0.12.1.jar  d

[2020-08-14 05:32] imback82 commented on #626
I see `Reason: Unable to create executor due to Unable to register with external shuffle server due to : Failed to connect to /172.21.48.1:7337` Can you set `spark.shuffle.service.enabled` to `false`?

[2020-08-14 06:18] rrekapalli commented on #626
This time tried with:

spark-submit --class org.apache.spark.deploy.dotnet.DotnetRunner **--conf spark.shuffle.service.enabled=false** --conf spark.worker.cores=2 --conf spark.driver.cores=2 --conf spark.driver.memory=4g --conf spark.executor.memory=4g --conf spark.shuffle.service.enabled=true --conf spark.sql.cbo.enabled=true --conf spark.sql.adaptive.enabled=true --master spark://192.168.56.1:70

[2020-08-14 06:27] imback82 commented on #626
I still see `conf spark.shuffle.service.enabled=true` below. You can just remove the conf since the default is false.
[code]

[2020-08-14 06:32] rrekapalli commented on #626
Apologies! My bad.  It's executing without any issues now!  Thank you very much for your support, Guys!

[2020-08-14 06:35] imback82 commented on #626
👍

[2020-08-14 06:35] #626 closed

[2020-08-14 07:31] samueleresca commented on #594
Closing the issue. Related implementation in #624

[2020-08-14 07:31] #594 closed

[2020-08-14 15:22] nhatpham170 opened #628 "'spark-submit' is not recognized as an internal or external command"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/install-spark
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-08-14 17:28] rrekapalli opened #629 "[QUESTION]: Multiple Spark Sessions in One Application"
A quick questions - Can we dynamically create multiple spark sessions in one application? Does .NET for Spark support such a use case?

Thanks.

[2020-08-14 17:30] Niharikadutta commented on #628
Could you paste the exact error message, and details like your spark-submit command, SPARK_HOME etc?

[2020-08-14 17:35] Niharikadutta commented on #629
Yes, this is supported by the [`SparkSession.NewSession()`](https://github.com/dotnet/spark/blob/master/src/csharp/Microsoft.Spark/Sql/SparkSession.cs#L142) function. However, it should be noted as mentioned in the summary that the new SparkSession(s) would share the underlying SparkContext between them,

[2020-08-14 17:38] rrekapalli commented on #629
Great.  Thank you!

[2020-08-14 17:38] #629 closed

[2020-08-14 17:45] Niharikadutta commented on #559
Sorry, what is the error you are seeing now with `C:\` as temp, since the spark-class-launcher files are there? Are you facing any issues running in Spark-shell?

[2020-08-14 18:15] rrekapalli opened #630 "Issue with Multiple Spark Sessions on single context"
**Describe the bug**

When trying to create multiple sessions on a single context, getting the following error.

Basically, trying to create multiple sessions as shown below:

[code]
I believe, getting this error in second pass of the loop and may be because of the call to  "ruleSession.Dispose();" which might be stopping all the sessions!! Not sure though. Any help is much appreciated.

20/08/14

[2020-08-14 18:19] suhsteve commented on #628
Please follow the suggested steps in #557 and #304 .

[2020-08-14 18:32] suhsteve commented on #630
The `NewSession`s share the underlying `SparkContext`.  When you call `SparkSession.Dispose`, it is effectively calling `SparkSession.Stop` which in will call `SparkContext.Stop` on the scala side.

[2020-08-14 18:49] rrekapalli commented on #630
Gotcha!  Would there anyway to identify the these individual sessions in the Spark WebUI?  I have removed that ruleSession.Dispose(), and re-executed my app.  However, I do not see any difference with my previous attempts without these new sessions.  In other words, I am expecting to see a separate application for each of these new sessions but I see only one.

![image](https://user-images.githubu

[2020-08-14 19:16] suhsteve commented on #630
Have you tried using the `Builder` to change the names for each `SparkSession` ?

[2020-08-14 19:18] Niharikadutta commented on #630
Multiple `SparkSessions` don't mean multiple applications. In Spark, an application is on the level of calling a `spark-submit` command. A `SparkSession` is just the entry point to programming Spark with the `Dataset` and `DataFrame` API. [Here](https://stackoverflow.com/questions/47723761/how-many-sparksessions-can-a-single-application-have) is a good explanation on what having multiple `SparkSes

[2020-08-14 19:32] rrekapalli commented on #630
@suhsteve , yes I have tried with builder() as well like below (but without any luck):
`SparkSession.Builder().AppName(_batchName + " - " + rule.GetMnemonic()).GetOrCreate();`

@Niharikadutta , thank you for sharing the article.  I just came across another article which states it's possible.  [Here](https://www.waitingforcode.com/apache-spark-sql/multiple-sparksession-one-sparkcontext/read)
[https

[2020-08-14 19:40] Niharikadutta commented on #630
Are you getting any error with this, or just not able to see the different applications on the UI?

[2020-08-14 19:42] rrekapalli commented on #630
Not getting any errors, don't see any new applications on the Web UI. It is executing in a single application as it was without these  new sessions.

[2020-08-14 19:51] suhsteve commented on #630
In the link you [are referencing](https://www.waitingforcode.com/apache-spark-sql/multiple-sparksession-one-sparkcontext/read) at the bottom you can see that even if they have multiple spark sessions, it will only show up as one App in the UI.

*"Notice however that SparkSession encapsulates SparkContext and since by default we can have only 1 context per JVM, all the SparkSessions from above exam

[2020-08-14 19:58] rrekapalli commented on #630
That's correct. Sorry I missed it!  I think he has done it with multi thread model to simulate multiple applications. Which might not work for my use case.  I wonder how the notebooks (like Jupyter/databricks) are being implemented!  Any suggestions?

[2020-08-14 20:09] #628 closed

[2020-08-14 20:53] RobHogue commented on #627
I found the following using RDD cartesian product and then filtering out for N Choose K. But I didn't see a cartesian product in Spark dotnet.

[https://stackoverflow.com/questions/26557873/spark-produce-rddx-x-of-all-possible-combinations-from-rddx]

val combinations = rdd.cartesian(rdd).filter{ case (a,b) => a < b }`.
combinations.collect()

I don't know how performant this would be, and there w

[2020-08-14 21:38] Niharikadutta commented on #630
If it is your intention to spin up multiple different applications, you will have to do that by calling `spark-submit` command multiple times as that is responsible for submitting a spark job/application, I don't think there is a way to do that within one submit. As for how notebooks are implemented, you can think of a notebook as an active `spark-shell` (think of it as the interactive counterpart

[2020-08-14 22:01] imback82 commented on #627
You can use `CrossJoin`: https://github.com/dotnet/spark/blob/5c5c249f6cd2957fd0ea5799c7bc6c7f6d38d662/src/csharp/Microsoft.Spark/Sql/DataFrame.cs#L234-L243

[2020-08-14 22:43] RobHogue commented on #627
I was actually looking at that based on this combination example using SQL. https://sqlspellbook.com/2017/02/21/use-sql-to-create-all-possible-unique-combinations/

I just did a crossjoin and I have the combinations. I am now putting in a user defined function to compute something to get some bench marks. I don't know if this is the best way for performance but its a start.

[2020-08-15 05:32] rrekapalli commented on #630
Thank you, Steve & Niharika!  I guess I need a bit more control on how to create at least jobs with a Spark Session. Otherwise, my DAG is becoming so huge and taking around 12 mins to process a mere 8 million rows (just a few queries with filters, aggregations & couple of joins). If there's way to create jobs then I can create a pipeline for each such filter/aggregation/join queries in a separate

[2020-08-16 14:52] aks003kr opened #631 "spark-submit command not recognised"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/install-spark
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

![image](https://user-images.githubusercontent.com/55192566/90337131-1d086c80-dffe-11ea-95dd-f4dc97783d66.png)
 I am

[2020-08-16 16:27] imback82 commented on #631
Can you check if Java is installed by running `java`? Please refer to #557 and #304, which address the same issue.

Btw, Spark 3.0 is not yet supported and please use Spark 2.4.x.

[2020-08-18 02:44] RobHogue commented on #627
How do I setup the names of the columns when doing a crossjoin?

when doing a join there is the following option:
 DataFrame joinedDf2 = funds.Join(funds, new[] { "ETF_Code", "ETF_Code2" });

This option doesn't appear available for crossjoin. I am looking at this ability to remove ambiguity of column names so that I can filter out duplicates to create the final list of N Choose K rows.

It would

[2020-08-19 05:08] suhsteve opened #633 "[FEATURE REQUEST]: Spark 3.0 Readiness"
# APIs

## SparkSession
* [x] `csharp` public static void SetActiveSession(SparkSession session) (#641)
* [x] `csharp` public static void ClearActiveSession() (#641)
* [x] `csharp` public static SparkSession GetActiveSession() (#641)
* [x] `csharp` public DataFrame ExecuteCommand(string runner, string command, Dictionary<string, string> options) (#647)

## DataFrame
* [x] `csharp` public DataFrame

[2020-08-19 07:32] rrekapalli commented on #633
Is DataSet API also going to be part of this version?

[2020-08-19 12:14] m-evazzadeh opened #634 "Failed to connect spark to kafka"
I am using Apache Spark in .Net Core

I'm trying to connect Spark Streaming with Kafka, when I run my application I get the below errors.

----------------------------my source code:

[code]

-----------------------Log:
   Ivy Default Cache set to: C:\Users\MyUserAccount\.ivy2\cache
    The jars for the packages stored in: C:\Users\MyUserAccount\.ivy2\jars
    :: loading settings :: url = jar:file

[2020-08-19 16:57] suhsteve commented on #634
`java.lang.ClassNotFoundException: org.apache.spark.sql.sources.v2.reader.SupportsScanUnsafeRow` looks like you may be missing or have incompatible jars.

Looking at your log, you are using `Spark 2.4.1`.  However the kafka jar you are using is `org.apache.spark_spark-sql-kafka-0-10_2.11-2.3.2.jar` which I think is supposed to be used with `Spark 2.3.2`.  What was the `spark-submit` command you us

[2020-08-19 19:37] imback82 commented on #633
@suhsteve Thanks for compiling this. Can you also compile the list from Scala as well?

[2020-08-19 19:50] imback82 commented on #633
@rrekapalli `Dataset` is not supported due to this: https://github.com/dotnet/spark/issues/103#issuecomment-491451584

We will not have a full MLLib as a part of 1.0.0, but we will track it separately in #381.

[2020-08-19 21:08] suhsteve commented on #627
How about something like:

[code]

[2020-08-19 23:00] rapoth commented on #633
CC: @GoEddie on the MLLib question in case he has more to add.

[2020-08-19 23:05] GoEddie commented on #633
@rrekapalli I have been implementing the newer ML API (some internal classes are still MLLib), if you would like to contribute I am happy to help you with any pr’s.

#381 is for ML.Features and then there is more as well after features.

[2020-08-20 03:01] chen-xin-lay commented on #218
Thank you for your help

[2020-08-20 04:43] suhsteve commented on #633
@imback82 added the list of scala apis as well.

[2020-08-20 07:51] rrekapalli commented on #633
@GoEddie , I am new to Spark and just trying out this library for one of my use case.  However, I can definitely give it a try from September 2nd week.

[2020-08-20 16:02] ccard opened #637 "Unit testing c# code that is reliant on DataFrame and DataFrameReader"
I am using Micorsoft.Spark.Sql in my C# spark project and I am trying to develop unit tests for my classes that rely on manipulating DataFrames.

I am running into issues trying to mock or fake out either SparkSession or DataFrames since they are sealed classes. Ideally i would like to create a SparkSession object that doesn't rely on being connected to an external source to avoid test instability

[2020-08-20 16:45] Niharikadutta commented on #637
Have you taken a look at [this](https://github.com/dotnet/spark/blob/master/src/csharp/Microsoft.Spark.E2ETest/SparkFixture.cs#L22) class for ideas?

[2020-08-20 16:50] imback82 commented on #637
@ccard, If you want to completely remove the external connection, you could implement your version of `IJvmBridge` and `IJvmBridgeFactory` and inject them to `SparkEnvironment` at the start of your application. Please check this: https://github.com/dotnet/spark/blob/master/src/csharp/Microsoft.Spark/Interop/SparkEnvironment.cs

[2020-08-20 17:14] ccard commented on #637
@imback82 Thanks for the example but i should clarify the code i am writing is an external consumer of this repository and not a contributor.  The example you gave is pretty much what i need to accomplish but in code that cannot see the internal interfaces or classes of this code base.

@Niharikadutta Thanks for the example as well but i have the same problem as mentioned above.

[2020-08-20 17:24] suhsteve commented on #637
An example of how to mock the [IJVmBridge and IJvmBridgeFactory](https://github.com/dotnet/spark/blob/master/src/csharp/Microsoft.Spark.UnitTest/SparkFixture.cs).  To expose Microsoft.Spark internals to your project, I would suggest trying out [IgnoresAccessChecksToGenerator](https://github.com/aelij/IgnoresAccessChecksToGenerator)

[2020-08-20 19:42] ccard commented on #637
Thank you all for your pointers and suggestions, they have gotten me a lot farther than other resources have.

@suhsteve Thanks for your suggestion it would have worked if the namespace Micrsoft.Spark.Interop was published with the package Microsoft.Spark and the constructor for SparkSession was not interanl.

With all of your suggestions i have come to find that the published package as is not mo

[2020-08-20 20:15] RobHogue commented on #627
Yes, that worked. thanks for the help.

[2020-08-20 20:45] RobHogue commented on #627
While the rename worked on the column, the subsequent filter did not find the unique column (maybe I have the wrong syntax).

  var cj_df1 = funds.WithColumnRenamed("ETF_Code", "C1").CrossJoin(funds.WithColumnRenamed("ETF_Code", "C2"));
  var cj_df1_filtered = cj_df1.Filter(funds["C1"] != funds["C2"]);
  cj_df1_filtered.Show(100);

i get the following error:
 [Error] [JvmBridge] org.apache.spark.s

[2020-08-20 21:01] imback82 commented on #627
Note that `funds` is not updated since `WithColumnRenamed` returns a new dataframe. You can try `var cj_df1_filtered = cj_df1.Filter(cj_df1["C1"] != cj_df1["C2"]);`

[2020-08-20 21:17] suhsteve commented on #637
@ccard I don't know where you're running into issues.  But please see this example project and let me know if this is what you are looking for.

**Program.cs**:
[code]

**example.csproj**:
[code]

[2020-08-20 21:50] ccard commented on #637
@suhsteve thank you for posting that example. I had missed the "PrivateAssets="All"" argument in the package references and now i am able to get your example working with one exception.  I am getting the error that IJvmBridgeFActory doesn't exist even though i included both of the namespaces you included in your example

[code]

[2020-08-20 22:02] RobHogue commented on #627
Sorry, I should have seen that.

[2020-08-20 23:26] RobHogue commented on #627
The below worked for N choose 3. I used the results from N choose 2 and did a cross join. If this pattern continues to work, then the concern is memory. If I don't need a dataframe anymore, I would want to dispose it.

// N choose 2
            var cj_df1 = funds.WithColumnRenamed("ETF_Code", "C1").CrossJoin(funds.WithColumnRenamed("ETF_Code", "C2"));
            var cj_df1_filtered = cj_df1.Filte

[2020-08-20 23:28] suhsteve commented on #637
The example I pasted builds fine for me.  What version of Microsoft.Spark are you using ?

[2020-08-24 05:05] imback82 opened #639 "[Feature Request]: Move extensions in Microsoft.Spark.Experimental to Microsoft.Spark in 1.0"
There are few extensions defined in `Microsoft.Spark.Experimental` for registering Vector UDFs and group UDFs (with both Arrow and .NET DataFrame support). I think this can live inside Microsoft.Spark when we move to 1.0.

Any thoughts?

[2020-08-24 06:54] rrekapalli commented on #630
Closing the issue. Thank you for all your support and suggestions, Guys!

[2020-08-24 06:54] #630 closed

[2020-08-24 12:56] rsaltrelli commented on #601
Unfortunately, no. I have abandoned the endeavor for now. There seem to be too many caveats and workarounds with .NET for Spark right now.  Perhaps someone who is already familiar with Spark can manage but that's not me.  I'll check back later when the project and docs have matured a bit.

[2020-08-24 23:54] luisquintanilla commented on #593
@suhsteve I'm getting a similar issue on a similar but unrelated app.

This is the message I get

[code]

Here's what I'm running.

Windows 10 (Version 2004 OS Build 19041.450)
Spark .NET Version: 0.10 & 0.12.1
.NET Core Version 3.1.401

[2020-08-24 23:57] Niharikadutta commented on #593
@luisquintanilla This is just a regular warning, and not an error. Are you seeing an error after this on running the application?
For example in above case, user seems to be facing issue connecting to the driver:
`
java.io.IOException: Failed to connect to CMATLTLMcGraw10.coalitionamerica.com/192.168.68.112:52274
`

[2020-08-25 05:01] m-evazzadeh opened #640 "show .net SPARK aggregate data frame in console"
Hi
I'm using Spark and KAFKA together and I get message from KAFKA successfully.
How do show aggregate data frame in console
[code]

[2020-08-25 17:29] luisquintanilla commented on #593
Thanks for the clarification. No error on my end. Just the warning.

[2020-08-25 19:48] RobHogue commented on #627
How can I get data into a dataframe if I have an in-memory object like a c# object? for example, could I serialize object into a json string and do spark.read().Json(some-serialized-string) ?

in spark an example would be that RDD can be used:
     spark.sparkContext.makeRDD("""{"name":"Yin","address":{"city":"Columbus","state":"Ohio"}}""" :: Nil)
     val otherPeople = spark.read.json(otherPeople

[2020-08-25 19:55] suhsteve commented on #627
Have you tried looking at the `CreateDataFrame` apis:
https://github.com/dotnet/spark/blob/6bdc9befbe5a619076e36f1459e9a8669490c494/src/csharp/Microsoft.Spark/Sql/SparkSession.cs#L153-L163

Examples: https://github.com/dotnet/spark/blob/6bdc9befbe5a619076e36f1459e9a8669490c494/src/csharp/Microsoft.Spark.E2ETest/IpcTests/Sql/SparkSessionTests.cs#L77

[2020-08-25 21:15] RobHogue commented on #627
Works great. thanks.

 foreach (var fund in fundSparkTestList)
            {
                object[] item = new object[1] {fund.ETF_Code};
                data.Add(new GenericRow(item));
            }

 var schema = new StructType(new List<StructField>()
  {
      new StructField("ETF_Code", new StringType())
  });

  DataFrame df_etfcodes = spark.CreateDataFrame(data, schema);

[2020-08-26 05:38] suhsteve commented on #639
I agree, I think we should.

[2020-08-26 09:51] chen-xin-lay commented on #610
I also had problems with connection data.
java.lang.ClassNotFoundException: com.microsoft.sqlserver.jdbc.SQLServerDriver

[2020-08-26 09:53] chen-xin-lay commented on #610
![image](https://user-images.githubusercontent.com/69895291/91289495-fea42d00-e7c4-11ea-9797-9aa768271b0a.png)

[2020-08-26 10:37] samshar4 opened #643 "Missing step for building spark"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/install-spark
Operating System: windows

PS C:\Spark\spark-2.4.6-bin-hadoop2.7\bin> .\spark-submit --version
The system cannot find the path specified.
Failed to find Spark jars directory.
You need to build Spark before running this program.
PS C:\Spark\spark-2.4.6-bin-hadoop2.7\bin>

There are no spaces in the path for

[2020-08-26 10:41] samshar4 commented on #631
I'm facing the same issue. While I am able to resolve other package installs like Java and Maven, this doesn't work in Powershell.
~

[2020-08-26 10:55] samshar4 commented on #643
This was resolved by following the Environment variable setup and Path variable setting on Windows 10 as described here -- https://phoenixnap.com/kb/install-spark-on-windows-10

[2020-08-26 17:04] #643 closed

[2020-08-26 17:51] suhsteve commented on #640
have you tried changing
[code]
to
[code]

[2020-08-26 18:54] m-evazzadeh commented on #640
Oh, sorry. I wrote it wrong
But when I correction code to
StreamingQuery query = dfProceess...
Again, don't show anything in console !

[2020-08-27 01:16] suhsteve commented on #607
Hi, we are going to close this issue as it has been inactive for a while. Please feel free to re-open it if the issue persists and/or there are any new updates. Thank you!

[2020-08-27 01:16] #607 closed

[2020-08-27 01:18] Niharikadutta commented on #525
Are you still facing an issue running your application?

[2020-08-27 01:21] Niharikadutta commented on #529
@WhitWaldo We believe this issue to be resolved, do you need any further help in running your spark jobs via Jupyter?

[2020-08-27 01:21] suhsteve commented on #593
Hi, we are going to close this issue as it has been inactive for a while. Please feel free to re-open it if the issue persists and/or there are any new updates. Thank you!

[2020-08-27 01:21] #593 closed

[2020-08-27 08:49] Niharikadutta commented on #617
Has been resolved with #623. Closing the issue.

[2020-08-27 08:49] #617 closed

[2020-08-27 08:56] Niharikadutta commented on #582
Hi @Orlamh were you able to get this issue resolved?

[2020-08-27 08:59] Niharikadutta commented on #577
@guruvonline Are you still facing this issue?

[2020-08-27 09:02] Niharikadutta commented on #532
Hi @Rajeev2011J , are you still facing this issue?

[2020-08-27 09:03] Niharikadutta commented on #521
@briancuster were you able to get this issue resolved?

[2020-08-27 18:04] rdefreitas commented on #328
You can accomplish this whole thing using purely the Hadoop HDFS APIs in scala as well. We've done something similar there without using spark repartitioning.

I imagine you could accomplish something similar in .NET

[2020-08-27 19:09] GoEddie opened #645 "Examples in the doc comments?"
I was looking at the documentation page that is built from the comments on each method and wondered if there was a way we could add a small example to each method in C# and F# so they could be displayed on these pages https://docs.microsoft.com/en-us/dotnet/api/microsoft.spark.sql.dataframereader.schema?view=spark-dotnet

I know there is an <example> and <code> tag - can / should we use these as w

[2020-08-27 19:11] GoEddie commented on #645
Just another thought after reading that link specifically (https://docs.microsoft.com/en-us/dotnet/api/microsoft.spark.sql.dataframereader.schema?view=spark-dotnet), the remarks look a bit strange because of the line breaks - maybe worth considering removing the 100 char line limit for comments.

[2020-08-27 21:09] RobHogue commented on #627
Is there a way to "dispose" of a DataFrame if your done using it to release memory? I have a sample that is working locally and within azure databricks for N choose 8, and I probably need to clean up memory as I am staging each crossjoin.

I do have a comparison of 50 choose 8 with spark .net locally vs azure databricks with 2 workers. My local PC took  over 1 minute and azure databricks took 8 se

[2020-08-27 21:59] Niharikadutta commented on #504
Can you share your code snippet where you are using the `async` function and calling `await`? The `await` operator doesn't block the thread that evaluates the `async` method, ([refer](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/operators/await)), so for the control to exit immediately is normal. If you want the control to wait till your helper function finishes executing, ple

[2020-08-27 22:01] Niharikadutta commented on #559
Hi, we are going to close this issue as it has been inactive for a while. Please feel free to re-open it if the issue persists and/or there are any new updates. Thank you!

[2020-08-27 22:01] #559 closed

[2020-08-27 23:02] Niharikadutta commented on #621
All features associated with this issue have been merged, I think we can close this.

[2020-08-29 02:15] Niharikadutta commented on #633
I'm thinking of dividing this into 3 PRs:

1. For `SparkSession`, `DataFrame` and `DataFrameStatFunctions` APIs
2. For `DataFrameWriterV2`
3. For `Functions` APIs

[2020-08-30 11:46] mohanwd commented on #213
Hi, Folks I am also facing the similar issue. But one small difference is if i add the dependency in pyspark --packages org.elasticsearch:elasticsearch-hadoop:7.7.1
I am able to establish a connection / its trying to connect to the es cluster. Whereas with spark-submit i could not solve the class not found issue tried with hadoop / spark jars both

[2020-08-31 10:00] m-evazzadeh commented on #640
Oh, sorry. I wrote it wrong
But when I correction code to
StreamingQuery query = dfProceess...
Again, don't show anything in console !

[2020-08-31 21:27] RobHogue commented on #627
I am getting an exceptions using a UDF. I have a DataFrame "funds" that looks like this:

+--------+
|ETF_Code|
+--------+
|    AAXJ|
|    ACWI|
|    ACWV|
|    ACWX|
|     AGG|
|    AGGY|
|     AGZ|
|     AIA|
+--------+

My UDF looks like this:

            string s1 = "hello";
            Func<Column, Column> udf = Microsoft.Spark.Sql.Functions.Udf<string, string>(str => $"{s1} {str}");

[2020-08-31 21:30] suhsteve commented on #627
@RobHogue make sure you have set your `DOTNET_WORKER_DIR` env variable.  The guide is [here](https://docs.microsoft.com/en-us/dotnet/spark/tutorials/get-started#7-set-dotnet_worker_dir-and-check-dependencies)

[2020-08-31 22:03] MikeRys commented on #627
Your constant string s1 is defined outside the function lambda and thus is probably passed as a 3rd argument to your function. The reason you get the error which .Show is that before that, you are only creating the op-tree, which does not do the check that will cause the error.

Try one of the following:

1.      Make s1 an explicit argument of the lambda expression. Since it is a constant, you wi

[2020-09-01 18:09] Niharikadutta commented on #645
This is a good point, we should take a look to make the API docs more readable.

[2020-09-01 18:56] RobHogue commented on #627
@suhsteve , I was able to get the sample to run, but there was one issue that was not obvious.

DOTNET_WORKER_DIR was set properly to the worker.exe, but spark submit had a problem finding my app dll in the environment path.

For example, I wanted to do this:

set DOTNET_WORKER_DIR=c:\spark\netcore31\Microsoft.Spark.Worker-0.8.0;c:\spark\source\mySparkApp\bin\Debug\netcoreapp3.1 (location of my ap

[2020-09-01 19:00] suhsteve commented on #627
https://docs.microsoft.com/en-us/dotnet/spark/how-to-guides/deploy-worker-udf-binaries#environment-variables

[2020-09-01 19:29] RobHogue commented on #627
@suhsteve, perfect thanks. DOTNET_ASSEMBLY_SEARCH_PATHS worked.

[2020-09-01 20:11] RobHogue commented on #627
@suhsteve , can I pass a reference to a c# List into a UDF? I am trying to speed up a computation to the combinations that have been generated. For example:

I have a dataframe that looks like this:

+----+----+----+----+----+----+---+
|  C1|  C2|  C3|  C4|  C5|  C6| C7|
+----+----+----+----+----+----+---+
|AAXJ|ACWI|ACWV|ACWX| AGG|AGGY|AGZ|
|AAXJ|ACWI|ACWV|ACWX| AGG|AGGY|AIA|
|AAXJ|ACWI|ACWV|ACWX

[2020-09-01 22:35] RobHogue commented on #627
@suhsteve , here is how I solved the issue, but I don't know if it's a good solution.

 Func<Column, Column, Column, Column, Column, Column, Column, Column> addition = Microsoft.Spark.Sql.Functions.Udf<string, string, string, string, string, string, string, string>(
                (C1, C2, C3, C4, C5, C6, C7) =>
                    FundUDF (fundSparkTestList, C1, C2)
                );

public st

[2020-09-02 17:46] bolcman opened #648 "[FEATURE REQUEST]: Link multiple vector udf calls with different params"
Hi ,

Is there a way i can link multiple vUdf function calls on the same DataFrame partitions with different parameters ?
Ideally i would need to replicate something like example below where px, and cy are different parameters that i'm passing.
So idea is to reuse the same partitions, and have all this functions as a separate tasks.

the problem that i'm facing now with passing all parameters toge

[2020-09-03 00:03] RobHogue commented on #627
I added a dictionary and passed it into a UDF which worked great locally, but when I published it azure databricks, it could not find the class (see exception below):

local deployment that is working : https://docs.microsoft.com/en-us/dotnet/spark/how-to-guides/deploy-worker-udf-binaries

I followed the azure data bricks deployment guide which worked until I tried the UDF with the generic diction

[2020-09-03 12:07] GoEddie opened #651 "How to pass StructType between .NET & JVM?"
For FeatureHasher I need to take a StructType and pass it over to the JVM as a parameter (https://spark.apache.org/docs/2.4.0/api/java/org/apache/spark/ml/feature/FeatureHasher.html#transformSchema-org.apache.spark.sql.types.StructType-).

At the moment I get "System.NotSupportedException : Type Microsoft.Spark.Sql.Types.StructType not supported yet".

Is the way to implement it to serialise/deser

[2020-09-03 18:26] Niharikadutta commented on #631
Have you tried using command prompt, and giving the full path to Spark? What error are you getting?

[2020-09-03 18:29] Niharikadutta commented on #651
I am working on adding support to pass `StructType` between .NET and JVM as a part of #649 . You should be able to just use it once that is in. Thanks!

[2020-09-03 18:30] GoEddie commented on #651
Great, i'll leave that method off until 649 is ready.

[2020-09-03 18:38] suhsteve commented on #651
I'm pretty sure we solved this already.  You should use https://github.com/dotnet/spark/blob/9239e726cd745c42d32358de1267eeff02019f95/src/csharp/Microsoft.Spark/Sql/Types/DataType.cs#L89-L95

Please see this example
https://github.com/dotnet/spark/blob/9239e726cd745c42d32358de1267eeff02019f95/src/csharp/Microsoft.Spark/Sql/DataFrameReader.cs#L49-L53

[2020-09-03 18:47] Niharikadutta commented on #471
Hi, we are going to close this issue as it has been inactive for a while. Please feel free to re-open it if the issue persists and/or there are any new updates. Thank you!

[2020-09-03 18:47] #471 closed

[2020-09-03 18:53] Niharikadutta commented on #518
@guruvonline Are you still facing this issue? Please let us know if you can provide a repro or need any further assistance. Thanks!

[2020-09-03 18:57] Niharikadutta commented on #284
@joperezr Were you able to get this issue resolved? Please let us know if you need any further assistance on this from us.

[2020-09-03 19:02] Niharikadutta commented on #377
@will-beta We believe this issue to be addressed. Please let us know if there is any further assistance needed from us, thanks!

[2020-09-03 19:03] Niharikadutta commented on #253
Closing this issue as this feature has been implemented as of #414

[2020-09-03 19:03] #253 closed

[2020-09-03 20:33] GoEddie commented on #651
got it, thanks

[2020-09-03 20:33] #651 closed

[2020-09-03 20:38] GoEddie commented on #313
I think this can be closed now, Bucketizer was merged in last year.

[2020-09-04 00:46] will-beta commented on #377
nothing further. thanks for the help!

[2020-09-04 00:46] #377 closed

[2020-09-04 08:33] samshar4 commented on #631
This was resolved by following the Environment variable setup and Path variable setting on Windows 10 as described here -- https://phoenixnap.com/kb/install-spark-on-windows-10

[2020-09-04 15:25] Niharikadutta commented on #631
Thanks for the update! We will be closing this issue as it has been resolved.

[2020-09-04 15:28] Niharikadutta commented on #313
Closing this issue as it has been completed with #378.

[2020-09-04 15:28] #313 closed

[2020-09-04 20:58] suhsteve opened #654 "[FEATURE REQUEST]: Support GroupedMapUdf in Spark-3.0.0"
Spark has changed the expected contents of an `Arrow RecordBatch` from 2.4 and 3.0.  Spark 3.0 expects the results of the GroupedMap to be a column of StructType instead of separating each column from the DataFrame.

[SPARK-27163](https://issues.apache.org/jira/browse/SPARK-27163)

### Spark2.4
- https://github.com/apache/spark/blob/807e0a484d1de767d1f02bd8a622da6450bdf940/python/pyspark/serialize

[2020-09-04 21:02] rapoth commented on #654
@eerhardt Would you be able to help with [ARROW-6972](https://issues.apache.org/jira/browse/ARROW-6972)? I'm not sure if anyone from the Arrow community is already working on it. Looks like we cannot support Spark 3.0 in .NET without that functionality.

[2020-09-06 21:08] imback82 opened #657 "Fix E2E tests for Spark 3.0."
#348 enabled building/testing against Spark 3.0. The following tests have been disabled to track separately:

#### Microsoft.Spark.E2ETest.IpcTests
* [ ] `BroadcastTests.*`
* [ ] `DataFrameTests.TestDataFrameGroupedMapUdf` /  `DataFrameTests.TestGroupedMapUdf`
* [ ] `DataFrameTests.TestVectorUdf` / `DataFrameTests.TestDataFrameVectorUdf`

(#653) should address some of the above.

#### Microsoft.Sp

[2020-09-06 21:31] imback82 opened #658 "[FEATURE REQUEST]: Clean up azure-pipelines.yaml (duplicate Test stages)"
The current [azure-pipelines.yaml](https://github.com/dotnet/spark/blob/master/azure-pipelines.yml) is highly duplicated, especially the Test stages (E2E Tests, E2E Backward Compatibility Tests, and E2E Forward Compatibility Tests).

This should be refactored to remove duplication to make it easy to maintain (e.g, adding a new Spark version to test against).

[2020-09-07 13:41] timing418 opened #659 "The system cannot find the path specified."
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/install-spark
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-09-08 03:58] imback82 commented on #657
@AFFogarty Can you help with fixing Delta tests?

[2020-09-08 04:26] Niharikadutta commented on #659
Can you please refer to #557 and #304, which address this issue. Please let us know if that does not resolve this error, thanks.

[2020-09-09 00:11] guruvonline opened #660 "Not able to debug UDF"
HI ,
I am trying to debug my UDF, for testing i am limiting the dataframe to single row, but still when my UDF hits, i keep getting the debug window and it breaks into TaskRunner.Run, but doing F5 from there doesn't break into my UDF code. this is happening in continuous loop and every time it hit TaskRunner, but never reaches my UDF code.

any suggestions on what could be wrong.

Thanks

[2020-09-09 02:59] Niharikadutta commented on #660
Kindly refer to [this documentation](https://github.com/dotnet/spark/blob/master/docs/developer-guide.md#debugging-user-defined-function-udf) to understand how to debug UDFs. You will need to add breakpoints in the new debugger instance of Visual Studio that pops up for each task.

[2020-09-09 11:23] guruvonline commented on #660
thanks for reply. I am following the above mentioned article, but not able to hit breakpoint inside my UDF. i tried with another UDF and was able to hit break point, so not sure what I am doing wrong in this UDF, because of which it is not hitting break point.
Few additional details for scenario, where UDF debug is not working

- my UDF is taking Row and returning string

- I am starting debug ses

[2020-09-09 15:24] eerhardt commented on #654
I should be able to look into it later this week.

[2020-09-09 15:25] rapoth commented on #654
Great, thank you so much in advance!

[2020-09-09 17:41] MichaelRodrigueess0s1 opened #662 ".net Spark submit your application to run on Apache Spark"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

When i'm try run the following command i'm receive following message:

Command:
%SPARK_HOME%\bin\spark-submit --class org.apac

[2020-09-09 18:39] Niharikadutta commented on #660
Could you please paste your code snippet of the failing UDF as well as the working UDF here?

[2020-09-09 18:43] Niharikadutta commented on #662
Are you able to run `spark-shell` from the path `%SPARK_HOME%\bin`?

[2020-09-09 18:45] Niharikadutta commented on #582
Hi, we are going to close this issue as it has been inactive for a while. Please feel free to re-open it if the issue persists and/or there are any new updates. Thank you!

[2020-09-09 18:45] #582 closed

[2020-09-09 18:47] Niharikadutta commented on #532
Hi, we are going to close this issue as it has been inactive for a while. Please feel free to re-open it if the issue persists and/or there are any new updates. Thank you!

[2020-09-09 18:47] #532 closed

[2020-09-09 18:48] Niharikadutta commented on #529
Hi, we are going to close this issue as it has been inactive for a while. Please feel free to re-open it if the issue persists and/or there are any new updates. Thank you!

[2020-09-09 18:50] Niharikadutta commented on #525
Hi, we are going to close this issue as it has been inactive for a while. Please feel free to re-open it if the issue persists and/or there are any new updates. Thank you!

[2020-09-09 18:50] #525 closed

[2020-09-09 19:07] Niharikadutta commented on #271
Hi, we are going to close this issue as it has been inactive for a while and the original issue has been resolved. Please feel free to re-open it if the issue persists and/or there are any new updates. Thank you!

[2020-09-09 19:07] #271 closed

[2020-09-09 19:18] Niharikadutta commented on #375
Completed as of #277. Closing this issue.

[2020-09-09 19:18] #375 closed

[2020-09-09 19:22] Niharikadutta commented on #409
Completed as of #515. Closing this issue.

[2020-09-09 19:22] #409 closed

[2020-09-09 19:49] guruvonline commented on #660
to troubleshoot, i have removed all code from UDF and just returning dummy string. the difference in working and non-working UDF is the input DataFrame.

- working UDF, dataframe is created dummy as spark.CreateDataFrame()
- non working UDF- dataframe is created from my application code, by reading a CSV file. It's difficult to get a trimmed version of my application to repro.

Rest of the code in

[2020-09-09 19:52] imback82 commented on #529
Reopening to follow up on the documentation.

[2020-09-09 23:16] #662 closed

[2020-09-09 23:55] Niharikadutta commented on #660
Could you share the error response you get when you disable `debug` and submit your failing UDF as part of an application? Could you also share the output of `DataFrame.PrintSchema()` for the dataframe you are passing to your UDF (the one created by reading the CSV file)?

[2020-09-10 06:08] hihihihiwsf opened #663 "[BUG]: Failed to load org.apache.spark.deploy.dotnet.DotnetRunner. java.lang.ClassNotFoundException: org.apache.spark.deploy.dotnet.DotnetRunner Developing .NET for Spark Applications on cluster"
**Describe the bug**
There are some errors when I submitted a spark job to cluster while it can work well in local. My job is submitted to Bing MT.
The returned results is:

`Picked up JAVA_TOOL_OPTIONS: -Dhadoop.root.logger.level=INFO -Dhadoop.root.logger.dest=console -Djava.security.krb5.conf=D:\data\java.latest\krb5.conf
log4j:WARN Continuable parsing error 2 and column 69
log4j:WARN Document r

[2020-09-10 10:14] olehb007 opened #664 "[FEATURE REQUEST]: Develop in Python with ability to use C# in UDF"
In our company the primary language is C# and we already have many UDF's written in it. The same time I noticed for a rapid development and prototyping Python is suited better. I believe it will be very useful to be able to develop in Python and to use C# in UDF simultaneously.

[2020-09-11 02:26] asears commented on #337
This could be closed or improvements made to local developer experience?

[2020-09-11 04:48] imback82 commented on #664
It is possible, but quite convoluted: https://github.com/imback82/sparkdotnetudf#invoke-c-udf-from-python

[2020-09-13 00:28] Niharikadutta commented on #663
In your `spark-submit` command, are you trying to also pass the `hdfs://BN2-4/user/t-sifwu/kafkaspark_test/structuredstreamforspark_2.11-2.3.0-1.1.7.jar` file through the `--jars` option? If that is so, please add that right after the `sql-kafka` file separated by a comma, otherwise spark thinks you are trying to find the class `org.apache.spark.deploy.dotnet.DotnetRunner` in that jar file instead

[2020-09-13 15:06] cpatte7372 opened #668 "[BUG]: Hyperspace import com.microsoft.hyperspace.index.IndexConfig failed"
I'm in the middle of testing Microsofts Hyperscale.

I'm getting the following error when I try to run the following

`import com.microsoft.hyperspace.index.IndexConfig`

command-915315058669819:1: error: object IndexConfig is not a member of package com.microsoft.hyperspace.index
import com.microsoft.hyperspace.index.IndexConfig

I'm also getting an error when I try to run the following:

`val hy

[2020-09-13 15:52] cpatte7372 commented on #668
This was resolved by installing com.microsoft.hyperspace:hyperspace-core_2.11:
0.2.0

However, when I run the following line of code `hyperspace.createIndex(emp_DF, emp_IndexConfig)` I get the error:

`java.lang.ClassCastException: org.apache.spark.sql.execution.datasources.SerializableFileStatus cannot be cast to org.apache.hadoop.fs.FileStatus`

Any thoughts?

[2020-09-13 17:43] cpatte7372 commented on #668
Can somene let me know if Hyperspace is supported on Databricks DBFS?

[2020-09-13 19:21] rangakrishna opened #669 "Spark Installation Issue"
Problem encountered on https://dotnet.microsoft.com/learn/data/spark-tutorial/install-spark
Operating System: windows

I am facing the below error message when I issue enter the below in my command prompt

%SPARK_HOME%\bin\spark-submit --version

**The system cannot find the path specified.
Failed to find Spark jars directory.
You need to build Spark before running this program.**

[2020-09-14 19:04] Niharikadutta opened #671 "[FEATURE REQUEST]: Documentation support"
Documentation needs to be added about the following:

**New docs**:

1. How to's:
   i. Connect to ADLS gen2 account locally (#337)
   ii. Use .NET interactive notebooks locally (#529)
   iii. Invoke C# UDFs from Scala/Python - (import [this](https://github.com/imback82/sparkdotnetudf/blob/master/README.md#invoke-c-udf-from-python))

2. Dotnet-interactive guide/good to know's:
   i. Dotnet interac

[2020-09-14 19:13] Niharikadutta commented on #669
Can you please refer to #557 and #304, which address this issue. Please make sure all the required environment variables are set up correctly.

[2020-09-14 20:51] #659 closed

[2020-09-14 20:53] suhsteve commented on #640
Can you give attach your driver logs so we can verify if it's not showing up ?

[2020-09-15 00:27] imback82 opened #672 "[BUG]: The worker binary for macOS has incorrect file names"
**Describe the bug**
When I unzip the worker bianry for macOS, I see the following where each file name is prepended with `Microsoft.Spark.Worker-0.12.1\`:
[code]

**To Reproduce**
Download the latest worker binary for macOS from [here](https://github.com/dotnet/spark/releases/tag/v0.12.1) and unzip it.

**Expected behavior**
The file name shouldn't be prepended with `Microsoft.Spark.Worker-0.12.1

[2020-09-15 01:29] rapoth commented on #671
@luisquintanilla @mrys @JeremyLikness Do you have any other topics we should cover (based on what you heard from users)?

[2020-09-15 01:30] Niharikadutta commented on #671
For "Using .NET for Spark on Azure Synapse Analytics - Submitting batch jobs", should we just update [this](https://docs.microsoft.com/en-us/azure/synapse-analytics/spark/spark-dotnet) documentation instead of creating a new one?

[2020-09-15 01:32] rapoth commented on #671
Yes, please! That's a great idea! Can you also update your issue with any existing links to docs that already exist and that need to be updated?

[2020-09-15 01:46] suhsteve commented on #672
I thought we fixed issues like this from happening by ensuring we had an up to date Microsoft.PowerShell.Archive module ?  #209

[2020-09-15 02:15] imback82 commented on #672
Not sure what happened. I will take a look.

[2020-09-16 07:43] hihihihiwsf opened #674 "[BUG]: Failed to execute 'load' on 'org.apache.spark.sql.streaming.DataStreamReader' with args=()"
**Describe the bug**
I tried to run a job pursuing kafka streaming and I always failed on the mode yarn, while I can run it successfully local.

The error log is：
20/09/16 00:16:44 INFO [dispatcher-event-loop-0] cluster.YarnSchedulerBackend$YarnSchedulerEndpoint: ApplicationMaster registered as NettyRpcEndpointRef(spark://YarnAM@BN2AAPB241924DF:23294)
20/09/16 00:16:44 INFO [main] yarn.YarnAllocat

[2020-09-16 09:28] m-evazzadeh commented on #640
tanks @suhsteve  for following up

my User-Defined Functions was wrong.
solved this issue

[2020-09-16 09:28] #640 closed

[2020-09-16 21:38] suhsteve commented on #674
What spark-submit command are you using when you run it locally vs yarn ?

[2020-09-16 22:30] guruvonline opened #675 "Azure Databricks environment throwing AmbiguousMatchException for invoking UDF"
HI,
My streaming query using a UDF is throwing "System.Reflection.AmbiguousMatchException: Ambiguous match found." attached is detailed exception.

I am using 0.10.0 version and Databricks    6.4 runtime (spark 2.4.5 and scala 2.11)

This is an existing UDF(no signature change) code which takes json string and return json string, and used to work earlier. Now i have modified internal implementatio

[2020-09-16 22:46] rapoth commented on #675
@guruvonline Were you always on this Databricks 6.4 runtime and the code stopped working OR is this a new runtime that you are trying?

[2020-09-16 23:42] guruvonline commented on #675
same environment was working earlier, I updated my code by modifying internal implementation of UDF and facing this issue. from stack trace looks like it's not even reaching my new code changes, so confused.

 i will try to run locally and see if i can add any additional details.

[2020-09-16 23:46] rapoth commented on #675
Got it, thanks! If the same environment was working earlier, could you please open a support ticket with Databricks? It is likely that they have changed their runtime to break something here. If you can get them to give us a repro here on the Github repo, we would be happy to help address it.

[2020-09-16 23:53] suhsteve commented on #675
If you modified your UDF, you may need to deploy and overwrite your udf containing assembly.

[2020-09-17 02:24] hihihihiwsf commented on #674
The command I submitted is :
`spark-submit.cmd  --master yarn --deploy-mode cluster --jars hdfs://BN2-1/user/t-sifwu/kafkaspark_test/spark-sql-kafka-0-10_2.11-2.4.1.jar,hdfs://BN2-1/user/t-sifwu/kafkaspark_test/structuredstreamforspark_2.11-2.3.0-1.1.7.jar --conf spark.yarn.appMasterEnv.DOTNET_WORKER_DIR=.\worker\Microsoft.Spark.Worker-0.12.1 --conf spark.yarn.appMasterEnv.DOTNET_ASSEMBLY_SEARCH_P

[2020-09-17 21:59] guruvonline commented on #675
failure was due to 2 overloaded UDF functions(one function was taking string parameter; other was taking object parameter) even though when invoked UDF from Dataframe i used string signature.
looks like spark.net works by UDF method name and not parameters. Not sure if this is something that can be handled by spark.net.
Thanks for all suggestions.

[2020-09-17 21:59] #675 closed

[2020-09-17 22:12] Niharikadutta commented on #674
Can you add the `spark.driver.extraClassPath` and `spark.executor.extraClassPath` configs to the spark-submit command and point them to the additional jars you are passing through the `--jars` config?

[2020-09-17 23:30] pgovind commented on #654
Just adding a note that I'll be working on this starting tomorrow or Monday :) I'll update this post as I make progress!

[2020-09-18 08:21] hihihihiwsf opened #676 "[BUG]: Spark Streaming Problem with Kafka：org.apache.spark.sql.streaming.StreamingQueryException: Multiple streaming queries are concurrently using hdfs"
**Describe the bug**
Hi, I’m trying to fetch kafka streaming data and transformer the data by UDF. But I got the error that:
`[BN2AAPC54DF1FD0] [Error] [JvmBridge] JVM method execution failed: Nonstatic method 'awaitTermination' failed for class '28' when called with no arguments
 [BN2AAPC54DF1FD0] [Error] [JvmBridge] org.apache.spark.sql.streaming.StreamingQueryException: Multiple streaming queri

[2020-09-18 18:31] Niharikadutta commented on #663
@hihihihiwsf Are you still facing this issue?

[2020-09-18 18:59] Niharikadutta commented on #504
Hi, we are going to close this issue as it has been inactive for a while. Please feel free to re-open it if the issue persists and/or there are any new updates. Thank you!

[2020-09-18 18:59] #504 closed

[2020-09-18 18:59] Niharikadutta commented on #518
Hi, we are going to close this issue as it has been inactive for a while. Please feel free to re-open it if the issue persists and/or there are any new updates. Thank you!

[2020-09-18 18:59] #518 closed

[2020-09-21 04:46] hihihihiwsf commented on #674
What is  the `spark.driver.extraClassPath` and `spark.executor.extraClassPath` ? Is that a jar package in my zipped Debug.zip？

[2020-09-21 22:58] Niharikadutta commented on #674
No, these are Spark configs fed through `spark-submit` using the `--conf` parameter. Please check the [official documentation](https://spark.apache.org/docs/2.4.0/configuration.html#runtime-environment) and [this example](https://stackoverflow.com/questions/37132559/add-jars-to-a-spark-job-spark-submit) to understand how to use it.

[2020-09-21 23:51] Niharikadutta commented on #676
Can you try emptying `/BN2-1/user/t-sifwu/kafkaspark_test/checkpoint/` or entering a different directory at `.Option("checkpointLocation", _)` and try running again?

[2020-09-22 03:13] hihihihiwsf commented on #676
Yes, after I entered a different directory at checkpointLocation, this error information has not occurred.  But there is another error saying that:
`JVM method execution failed: Nonstatic method 'awaitTermination' failed for class '28' when called with no arguments
org.apache.spark.sql.streaming.StreamingQueryException: Writing job aborted.
=== Streaming Query ===
Identifier: [id = d24d68d4-b631-4

[2020-09-22 06:46] hihihihiwsf commented on #663
yes, this issue has not occurred.

[2020-09-22 06:52] hihihihiwsf opened #679 "[Question]Can the API ToLocalIterator() be used in Streaming Spark?"
I'd like to process the data read from kafka, however I can't process it directly. Can the ToLocalIterator() function be used in this process?

[2020-09-22 06:53] hihihihiwsf commented on #674
Hi, I think this problem is caused by a simple UDF function, can this configs help that?

[2020-09-22 17:35] dbeavon opened #680 "Question about downstream client usage of this project"
Does the new "**azure synapse workspaces**" (public preview) make use of this project?  They claim to offer the spark platform, along with language support for .Net.  I've done a bit of research but haven't found any document that clearly makes a link between that product and this project.

While I haven't tried it, I read that they also support using C#.Net for doing Spark development.  I would g

[2020-09-22 18:21] rapoth commented on #680
@dbeavon Thanks for your question!

Azure Synapse Workspaces uses the latest version of .NET for Spark. Usually, the release first happens on GitHub and then tested/deployed onto Synapse. This is possible since the team responsible for Synapse also contributes quite heavily to the OSS version. Rest assured, I am not aware of any plans of "forking" the project in the context of any Microsoft offeri

[2020-09-22 19:00] Niharikadutta commented on #669
Hi, we are closing this issue as it has been addressed multiple times and has steps to follow as mentioned in the linked issues. Please feel free to re-open it if the issue persists and/or there are any new updates. Thank you!

[2020-09-22 19:00] #669 closed

[2020-09-22 19:00] #663 closed

[2020-09-22 21:42] Niharikadutta commented on #674
Can you also provide your `Debug.zip` file with the dlls? Since you mentioned it is working locally, I suspect it might be failing through Yarn because the jars you are providing are not being loaded by Spark (as mentioned in [this example's answer](https://stackoverflow.com/questions/37132559/add-jars-to-a-spark-job-spark-submit) adding jars through `--jars` config does not add the JAR files to y

[2020-09-22 21:55] dbeavon commented on #680
This is really great news.

Having the option to pay someone (... anyone ...) for a support contract is pretty important to certain folks in corporate management.  I would guess that for some companies, that is the main thing that is blocking them from using .Net with Spark at this time.  I should set up a company called "Spark.Net Inc" and take all those checks!

I'm very eager to use .Net for Sp

[2020-09-22 21:56] #680 closed

[2020-09-23 06:01] rapoth commented on #680
Thank you for your kind words! And yes, we look forward to seeing a company named that way 👍 :)

The reason you are not finding a lot of documentation explaining the link between .NET for Spark and Synapse Workspace is primarily due to the fact that the latter is currently in preview. I'm sure we will button up the documentation. In fact, we are doing a doc refresh as part of #671. If you are look

[2020-09-24 06:05] imback82 commented on #679
Do you have a sample code you can share so I can understand the requirement a little better?

If brining in the data to driver to process is OK in your scenario, `ToLocalIterator` or `Collect` should be fine (but not recommended).

[2020-09-24 19:24] Niharikadutta commented on #676
Can you try setting the `failOnDataLoss` option to `false` to see if that helps?

[2020-09-24 21:29] imback82 opened #682 "[FEATURE REQUEST]: Remove Microsoft.Spark.Extensions.Azure.Synapse.Analytics from the project"
Microsoft.Spark.Extensions.Azure.Synapse.Analytics is no longer needed in this repo as they are being shipped from the internal repo. This project can be removed.

[2020-09-24 21:46] suhsteve opened #683 "[FEATURE REQUEST]: PicklingUdfWrapper cache type information"
Cache parameter type information to determine if converting/casting is necessary.  This will help speed up the call if the Type only needs to be casted.

[2020-09-24 21:52] suhsteve opened #684 "[FEATURE REQUEST]: Support ArrayList / Hashtable udf chaining"
Allow chaining of udf calls such as

[code]

[2020-09-24 21:56] suhsteve opened #685 "[BUG]: TestsDaemonWorkerTaskRunners and TestCallbackServer tests flaky"
**Microsoft.Spark.E2ETest.UdfTests.DaemonWorkerTests.TestsDaemonWorkerTaskRunners** and **Microsoft.Spark.UnitTest.CallbackTests.TestCallbackServer** rely on spinning up threads and ensuring that the current number of tasks match the expected amount.  Sometimes this is not the case and the fails.

[2020-09-24 22:56] suhsteve opened #686 "[FEATURE REQUEST]: Update Microsoft.Spark.Extensions.DotNet.Interactive to support latest dotnet-interactive"
dotnet interactive has changed the [kernel extension interface](https://github.com/dotnet/interactive/blob/main/src/Microsoft.DotNet.Interactive/IKernelExtension.cs).  Update the extension accordingly.

[2020-09-28 14:50] luisquintanilla commented on #671
Not sure exactly where this would fit. Maybe it can be a standalone article, but basically, how can you make use of Scala libraries that run on top of Apache Spark within .NET for Apache Spark?

Some Examples:
- [MMLSpark](https://github.com/Azure/mmlspark).
- [TransmogrifAI](https://github.com/salesforce/TransmogrifAI)

At the moment there are no .NET bindings for these libraries. Can I still use

[2020-09-28 18:03] luisquintanilla commented on #671
@Niharikadutta

Just wanted to clarify what is meant for this work item. Does this mean, using .NET Interactive with .NET for Apache Spark?

Use .NET for Apache Spark locally using VS Code - @luisquintanilla working on this

[2020-09-28 18:41] Niharikadutta opened #693 "[FEATURE REQUEST]: Create a test utility function to set SQL configurations for running a test and then resetting them"
**Is your feature request related to a problem? Please describe.**
Currently, in order to run a test with a particular config setting, those settings have to be made and then unmade manually.

**Describe the solution you'd like**
A function like [`withSQLConf`](https://github.com/apache/spark/blob/55d38a479b3d9d2607e1c564f07bf617fca8a6c2/sql/core/src/test/scala/org/apache/spark/sql/internal/Execut

[2020-09-28 21:34] suhsteve commented on #614
Relevant PR #690 merged.

[2020-09-28 21:34] #614 closed

[2020-09-28 21:35] suhsteve commented on #682
Relevant PR #687 merged.

[2020-09-28 21:35] #682 closed

[2020-09-28 21:35] suhsteve commented on #683
Relevant PR #689 merged.

[2020-09-28 21:35] #683 closed

[2020-09-29 01:17] #639 closed

[2020-09-30 16:54] imback82 commented on #685
@suhsteve Are you looking into this issue?

[2020-09-30 17:36] suhsteve commented on #685
@imback82 no I'm not.

[2020-10-01 05:52] rrekapalli commented on #686
Hi Steve,

Can we embed .Net Interactive in a web application that can use .Net for Spark?  In the sense, can we create .Net interactive notebooks in ASP.Net from end application with this feature?

Thanks,
Raja

[2020-10-01 07:38] guruvonline opened #695 "[FEATURE REQUEST]: Dataframe.toJSON()"
**Is your feature request related to a problem? Please describe.**
I want to have in-memory representation of dataframe as JSON string. this string, i have to use in some other part of my code,  so i can't save the dataframe as json file

**Describe the solution you'd like**
how to access spark api dataframe.toJSON()

**Describe alternatives you've considered**
i don't want to write custom UDF for

[2020-10-01 09:43] Niharikadutta commented on #684
Since `ArrayList` and `HashTable` are non-generic collections, I am unable to derive their element types in [`GetReturnType`](https://github.com/dotnet/spark/blob/master/src/csharp/Microsoft.Spark/Utils/UdfUtils.cs#L130) to create the corresponding `ArrayType` and `MapType` json string as needed by [`UserDefinedFunction`](https://github.com/dotnet/spark/blob/master/src/csharp/Microsoft.Spark/Sql/E

[2020-10-01 19:42] imback82 commented on #695
Thanks @guruvonline. Yes we can expose this in the next release.

@Niharikadutta can you expose this API? Also, can you make sure if there are any missing APIs compared to `dataframe.py`? Thanks!

[2020-10-01 20:01] suhsteve commented on #695
It's listed in https://github.com/dotnet/spark/issues/621 .  We can un-~~strikethrough~~ if we want to support.

[2020-10-02 01:22] Niharikadutta commented on #695
Yes I will expose this

[2020-10-02 01:37] #686 closed

[2020-10-02 01:47] imback82 commented on #293
[code]

[2020-10-02 01:49] imback82 commented on #671
Linking #293 as migration guide

[2020-10-02 06:46] Niharikadutta commented on #621
@imback82 @suhsteve I have exposed this API in #698  and verified there are no missing APIs as compared to `dataframe.py`

[2020-10-02 06:47] Niharikadutta commented on #633
All features in this issue have been merged, this can be closed.

[2020-10-02 06:58] Niharikadutta commented on #695
@imback82 @suhsteve I have exposed this API in #698 and verified there are no missing APIs as compared to `dataframe.py`

[2020-10-02 09:18] Niharikadutta commented on #620
Merged relevant PR #489 , closing the issue.

[2020-10-02 09:18] #620 closed

[2020-10-02 13:43] #633 closed

[2020-10-03 04:38] imback82 opened #701 "[BUG] Re-enable DataStreamWriterTests.TestForeachBatch E2E test."
`DataStreamWriterTests.TestForeachBatch` is disabled due to the flakiness by #700.

Once the root cause is found, the test can be reenabled. This issue can be used to track the root cause.

cc: @suhsteve

[2020-10-03 04:52] #685 closed

[2020-10-03 05:44] imback82 commented on #671
Can we also capture the followings in the descrption?

1. Known issues: e.g.) grouped map UDF for Spark 3.0

2. .NET Delta/Hyperspace version | OSS Delta/Hyperspace version | Spark versions matrix

[2020-10-03 06:17] #695 closed

[2020-10-03 11:23] KimKiHyuk opened #702 "[FEATURE REQUEST]: Ubuntu Web-based development environment using vscode-server (code-server)"
**Is your feature request related to a problem? Please describe.**
To engage this project, we should follow long [instructions](https://github.com/dotnet/spark/blob/master/docs/building/ubuntu-instructions.md).
If we have a Web-based development environment with docker, new contributor can easily join this project

**Describe the solution you'd like**
To make web-based development environment usin

[2020-10-03 13:21] indy-3rdman commented on #702
@KimKiHyuk, what a great idea!

I've just uploaded a POC dev image to the docker hub and you should be able to test it out via

`docker run -d -p 127.0.0.1:8080:8080 3rdman/dotnet-spark:2.4.6-dev`

The .NET for Apache Spark repository has already been cloned to the dotnet.spark sub-folder.

All the best
Indy

[2020-10-04 02:12] Niharikadutta commented on #621
#698 has been merged, `DataFrame.ToJSON()` has been exposed, this issue can be closed.

[2020-10-04 02:12] #621 closed

[2020-10-04 02:31] #658 closed

[2020-10-04 02:57] imback82 commented on #671
Can we also capture dropping support for .NET Framework?

[2020-10-04 17:34] rapoth commented on #668
@cpatte7372 Looks like you are testing the scala version of Hyperspace. Could you post your question(s) on the Hyperspace [issues](https://github.com/microsoft/hyperspace/issues) page instead?

I will be closing this issue but please feel free to re-open it if you are facing any issues using Hyperspace in .NET.

[2020-10-04 17:34] #668 closed

[2020-10-04 20:15] suhsteve commented on #684
At the time of UDF creation, we only have the `Type` object of `ArrayList` and `HashTable` and not object instances of these classes.  We don't have enough information to inform spark that it is a `ArrayType/MapType` since those are require element/key/value type information.

We may be able to do this if we explore `udt`s but not sure if that's the approach we want to take.  @imback82 thoughts ?

[2020-10-05 02:13] KimKiHyuk commented on #702
Great! thank you

[2020-10-05 02:13] #702 closed

[2020-10-05 17:17] Niharikadutta commented on #671
@luisquintanilla As discussed offline, what `Use .NET for Apache Spark locally using VS Code` this work item means is using using .NET Interactive in VS Code with .NET for Apache Spark using the [.NET Interactive Notebooks extension](https://marketplace.visualstudio.com/items?itemName=ms-dotnettools.dotnet-interactive-vscode).
And regarding your other question about using external Scala libraries

[2020-10-05 18:09] indy-3rdman opened #710 "[FEATURE REQUEST]: Docker images for runtime, interactive and dev"
This request/issue is used to track higher-level activities related to the docker images.

The plan is to provide three different kinds of docker images.

* runtime (#707): Contains a .NET for Apache Spark environment ready to use
* dev (#708): Contains the full .NET for Apache Spark source tree and the compiler tool-chain.
* interactive (#709): Allows to run  .NET for Apache Spark in an interacti

[2020-10-05 23:35] suhsteve opened #713 "[FEATURE REQUEST]: .NET for Apache Spark Driver/Worker Version method"
Expose a method that returns the current Spark .NET assembly version running on the Driver and try to make a `best effort` in determining the version of the Spark .NET Worker version.  It will be `best effort` unless there's a way to ensure that every worker in a cluster will run an action.

[2020-10-05 23:59] Niharikadutta commented on #684
Closing this as this cannot be supported.

[2020-10-05 23:59] #684 closed

[2020-10-06 00:31] #333 closed

[2020-10-06 14:55] rapoth commented on #710
@KimKiHyuk Since you had suggested the idea before, would you be interested in trying out the docker images above from @indy-3rdman and providing us with feedback on either capabilities or additional documentation that may be needed? :)

More specifically, you can take a look at #707 #708 #709. Thank you!

[2020-10-06 15:22] rapoth commented on #671
@indy-3rdman Do you have any feedback on this thread (specifically, if any additional topics need to be covered OR feedback on existing PRs which are linked to from the parent thread)? Thank you!

[2020-10-06 22:51] #701 closed

[2020-10-07 05:06] imback82 commented on #672
Hi @safern,

We need to install `Microsoft.PowerShell.Archive` >= `1.2.3` so that we get the correct ZIP file for macOS.

However, when I run the following powershell script in the `NetCoreInternal-Pool` (`buildpool.windows.10.amd64.vs2017`):
[code]
, it fails to install it: https://dev.azure.com/dnceng/internal/_build/results?buildId=843680&view=logs&j=eeb239ec-1515-5eff-2217-95cf642eebee&t=b512a

[2020-10-07 07:47] KimKiHyuk commented on #710
Sure :)

[2020-10-08 01:05] #672 closed

[2020-10-08 21:10] zbills opened #722 "Prep 0.12.2 Release"
This PR is a preparation for a patch release (v0.12.2) to support Broadcast encryption: [#620](https://github.com/dotnet/spark/issues/620)

[2020-10-08 21:35] suhsteve commented on #722
@zbills thanks for starting this, but we plan to have 1.0.0 be our next release.  You can track the notes for it in #723

[2020-10-08 21:35] #722 closed

[2020-10-08 23:13] madhupellete commented on #559
Guys

I am getting similar issue when I setting up spark in my windows machine.

![image](https://user-images.githubusercontent.com/63166800/95522474-3690b980-099a-11eb-9292-8351dd38c4ea.png)

Need help to fix this issue.

[2020-10-08 23:54] #713 closed

[2020-10-09 04:43] SARAVANA1501 commented on #381
@Niharikadutta @GoEddie I saw a list of features, quite  a lot and amazing, I would like to contribute this, Can you help me to get start, gain context?

[2020-10-09 04:59] Niharikadutta commented on #381
Hi @SARAVANA1501 ! Thank you so much for your interest in contributing to this project. You can go through the following docs to familiarize yourself with the project and it's coding guidelines:

1. [Coding guidelines](https://github.com/dotnet/spark/tree/master/docs/coding-guidelines)
2. [Getting started guides](https://github.com/dotnet/spark/tree/master/docs/getting-started)
3. [Contributing gu

[2020-10-09 13:06] Niharikadutta commented on #559
Is there anything that changed in your environment variables or installations between the time that it used to work and then stopped?

[2020-10-09 13:24] madhupellete commented on #559
Hi Nihari,

Thanks for your response. I dont remember what changed suddenly one day spark didnt work in my system, I tried reinstalling everything again in my system but it didnt work. Now again trying to re-install python, something got corrupted now I am not able to uninstall python from my machine. Created support ticket to IT team to fix.

[2020-10-09 17:33] imback82 commented on #293
We will go with:
[code]
, simliar to https://github.com/apache/spark/blob/master/external/kafka-0-10/pom.xml

[2020-10-09 20:29] #293 closed

[2020-10-10 01:31] Niharikadutta commented on #559
I see, I would recommend checking out your PATH environment variable and seeing if it has anything added to it you do not need or recognize and removing them one by one to see if that helps (do keep note of what you remove for later reference). Also make sure your JAVA_HOME is set correctly as per #557 and #304 ( and if the path has spaces try entering the shortened path as explained [here](https:

[2020-10-10 15:48] indy-3rdman opened #732 "[BUG]: ML example not working with latest ML.NET version"
**Describe the bug**

I don't think
https://github.com/dotnet/spark/tree/master/examples/Microsoft.Spark.CSharp.Examples/MachineLearning/Sentiment
is working correctly with the latest ML.NET version.

**To Reproduce**

1. Create a new solution in Visual Studio following the instructions.
2. Add the references to the latest Microsoft.Spark, Microsoft.ML and Microsoft.ML.DataView NuGet packages
3. S

[2020-10-11 04:43] SARAVANA1501 opened #733 "[BUG]: [Document] Development and debug environment setup"
I just started contributing to dotnet spark repo, I am unable to run complete end to end test on my local, so have to push my code to repo to see the result, like blind folded.
I just used [this](https://github.com/dotnet/spark/blob/master/docs/developer-guide.md) document for local setup, But lot of version conflict issues, Can we improve this document? or even some simple docker image for local

[2020-10-11 06:37] SARAVANA1501 commented on #381
@GoEddie update list NGram is in progress

[2020-10-11 07:06] indy-3rdman commented on #733
@SARAVANA1501, issue #710 has been opened to provide official docker images. In the meantime it would be great if you could try using my unofficial dev image and let me know if it contains everything you need.
A brief walk-through of how to build .NET for Apache Spark using the image is available [here](https://3rdman.de/2020/10/build-net-for-apache-spark-with-vs-code-in-a-browser/)

[2020-10-11 07:07] #26 closed

[2020-10-11 07:09] suhsteve commented on #733
@SARAVANA1501 have you been able to get the [Get Started](https://docs.microsoft.com/en-us/dotnet/spark/tutorials/get-started) example to work ?  If so, then your environment should be set up to be able to run unit tests.

[2020-10-12 19:32] joperezr commented on #284
I don't work on that codebase any more but AFAIK there wasn't a good way at the time to perform map or reduce operations very easily other than performing custom UDFs which ended up not being very performant. A lot of Scala code out there still relies heavily on map-reduce operations over data so I think that it would be good to add anything that helped towards those scenarios.

[2020-10-14 07:32] Niharikadutta commented on #679
Hi, we are going to close this issue as it has been inactive for a while. Please feel free to re-open it if the issue persists and/or there are any new updates. Thank you!

[2020-10-14 07:32] #679 closed

[2020-10-14 07:33] Niharikadutta commented on #676
Hi, we are going to close this issue as it has been inactive for a while. Please feel free to re-open it if the issue persists and/or there are any new updates. Thank you!

[2020-10-14 07:33] #676 closed

[2020-10-14 07:33] Niharikadutta commented on #674
Hi, we are going to close this issue as it has been inactive for a while. Please feel free to re-open it if the issue persists and/or there are any new updates. Thank you!

[2020-10-14 07:33] #674 closed

[2020-10-14 07:45] Niharikadutta commented on #577
Hi, we are going to close this issue as it has been inactive for a while. Please feel free to re-open it if the issue persists and/or there are any new updates. Thank you!

[2020-10-14 07:45] #577 closed

[2020-10-14 07:53] Niharikadutta commented on #546
Can this be closed as per the PR #697 ?

[2020-10-14 07:56] Niharikadutta commented on #535
@andy99ge Were you able to resolve this issue since `ForeachBatch` is now supported?

[2020-10-14 08:00] Niharikadutta commented on #529
@WhitWaldo We recently wrote an article to document the steps to use .NET interactive notebooks locally using .NET for Apache Spark, please feel free to check it out [here](https://docs.microsoft.com/en-us/dotnet/spark/how-to-guides/dotnet-spark-jupyter-notebooks).
Closing this issue.

[2020-10-14 08:00] #529 closed

[2020-10-14 08:01] Niharikadutta commented on #521
Hi, we are going to close this issue as it has been inactive for a while. Please feel free to re-open it if the issue persists and/or there are any new updates. Thank you!

[2020-10-14 08:01] #521 closed

[2020-10-14 08:05] Niharikadutta commented on #393
Closing this issue as have a monthly meeting set up. Thanks @GoEddie !

[2020-10-14 08:05] #393 closed

[2020-10-14 08:06] Niharikadutta commented on #370
I believe this issue can be closed now?

[2020-10-14 08:12] Niharikadutta commented on #287
@joperezr Please find below a list of some recently added documentation to connect .NET for Apache spark applications to common Azure services:

1. [Connect to azure storage](https://docs.microsoft.com/en-us/dotnet/spark/how-to-guides/connect-to-azure-storage)
2. [Connect to Azure Event hubs](https://docs.microsoft.com/en-us/dotnet/spark/how-to-guides/connect-to-event-hub)

[2020-10-14 08:16] Niharikadutta commented on #325
FYI, documentation for connecting to Azure Event hubs now available [here](https://docs.microsoft.com/en-us/dotnet/spark/how-to-guides/connect-to-event-hub). Closing this issue as it is believed it has been resolved. Please feel free to re-open it if the issue persists and/or there are any new updates. Thank you!

[2020-10-14 08:16] #325 closed

[2020-10-14 08:17] #370 closed

[2020-10-14 08:19] Niharikadutta commented on #337
Hi @fxd1111359 , @asears We have recently added documentation on how to connect to ADLS Gen2 in Spark .NET and it is available [here](https://docs.microsoft.com/en-us/dotnet/spark/how-to-guides/connect-to-azure-storage). We will be closing this issue as we believe it has been resolved. Please feel free to re-open it if the issue persists and/or there are any new updates. Thank you!

[2020-10-14 08:19] #337 closed

[2020-10-14 08:21] Niharikadutta commented on #514
FYI, we have recently added documentation on how to connect to SQL server through .NET for Apache Spark, please feel free to refer to it [here](https://docs.microsoft.com/en-us/dotnet/spark/how-to-guides/connect-to-sql-server).

[2020-10-14 08:23] Niharikadutta commented on #303
@aysegulgurmeric Please let us know if you are still facing this issue or were able to get it resolved. Thanks!

[2020-10-14 16:00] imback82 commented on #546
Closed by #697

[2020-10-14 16:00] #546 closed

[2020-10-15 00:57] andy99ge commented on #535
my issure has been resolved in the way as bellow not using ForeachBatch

  Microsoft.Spark.Sql.Streaming.StreamingQuery query = windowedCounts.SelectExpr(
                         "CAST(word AS STRING) key",
                         "CAST(count AS STRING) value"
                         )
                       .WriteStream()
                       .OutputMode(OutputMode.Complete)

[2020-10-15 17:03] alraziqij opened #746 "[FEATURE REQUEST]:"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-10-15 17:05] alraziqij commented on #746
New Brighter World

[2020-10-15 17:50] rapoth commented on #746
Hi - Looks like your issue is empty. I am closing this for now. Please feel free to re-open when you fill up the details. Thanks!

[2020-10-15 17:50] #746 closed

[2020-10-15 17:53] alraziqij opened #747 "Hi - Looks like your issue is empty. I am closing this for now. Please feel free to re-open when you fill up the details. Thanks!"
Hi - Looks like your issue is empty. I am closing this for now. Please feel free to re-open when you fill up the details. Thanks!

__Originally posted by @rapoth in https://github.com/dotnet/spark/issues/746#issuecomment-709489805__

[2020-10-15 17:54] #747 closed

[2020-10-15 18:33] alraziqij commented on #746
When I can not open my documents

[2020-10-15 18:34] alraziqij commented on #746
Open my dock

[2020-10-15 18:36] alraziqij commented on #746
Open doc

[2020-10-15 18:38] alraziqij commented on #746
Open my story

[2020-10-15 18:38] rapoth commented on #733
@SARAVANA1501 In addition to what @suhsteve is asking, could you also include the error you are hitting into when you are running the tests?

Finally, do you have any suggestions on how we should improve the docs? (Also, please feel free to open a PR directly if you have any ideas).

To unblock yourself, the docker images from @indy-3rdman would be a great start as well!

[2020-10-15 21:16] alraziqij commented on #746
My story and students were not given a fighting chance for them to explore, dream and their own new Educational action do we are playing games ok. Yes I am paranoid person you guys know that some see I don't that is still no confirmation sorry￼

[2020-10-15 21:17] alraziqij commented on #746
My story

[2020-10-20 06:47] ovstberg commented on #615
I'm having the same problem running on a yarn cluster. Setting `DOTNET_ASSEMBLY_SEARCH_PATHS` does not solve the problem. For some reason setting `--conf spark.yarn.appMasterEnv.DOTNET_ASSEMBLY_SEARCH_PATHS` does not have any effect on where my worker nodes search for assemblies, but `export DOTNET_ASSEMBLY_SEARCH_PATHS=<./myzip.zip>` on the edge node from where i spark-submit does. Looking throug

[2020-10-20 17:18] sindizzy opened #749 "ODBC vs Microsoft.Spark"
My company is just moving to Azure Databricks so am a bit fuzzy on how all this works. But what I have done already is setup a 3rd party ODBC driver on my machine and was able to do some simple queries against one of our DBs. Which leads me to Microsoft.Spark. What is it for? Can I use it as a native .NET driver to query the company database? If so, how would I setup the config with my cluster, to

[2020-10-21 00:15] MikeRys commented on #749
.NET for Apache Spark allows you to write your Spark application in .NET (instead of having to learn Scala or Python) and can be used with the .NET Interactive notebooks to run queries in .NET against your Spark cluster (e.g., Azure Synapse).

This is different than using a client-side ODBC connector to run some SparkSQL queries against a Spark cluster.

So the question for you now is, if you prim

[2020-10-21 06:09] rapoth commented on #749
@sindizzy Thanks for your question! In addition to what @MikeRys has mentioned, you can also checkout more docs on the [official documentation](https://docs.microsoft.com/en-us/dotnet/spark/how-to-guides/connect-to-sql-server) page.

Please let us know if you have more questions.

[2020-10-21 14:16] GeorGeWzw opened #750 "How can. Net for Apache spark connect to MySQL?"
How can. Net for Apache spark connect to MySQL?

[2020-10-21 15:17] sindizzy commented on #749
I just want to query our company db and present the results to end users. I am doing this through a .NET program. So something like:
1. connect to my company's Azure Databricks db
2. send query "select * from db.table where empid=0005 and trip_date = '2020-09-05'"
3. format the results and present to user

As mentioned, I can already do this via an ODBC driver but it has to be installed by every o

[2020-10-21 16:25] WalternativE commented on #732
I can reproduce this using F# interactive (.NET 5-RC2).

This would be the failing script in its entirety
[code]
The execution of the last line fails.

If I downgrade both libraries to version `1.0.0` it works.

The output of `dotnet --info` on my system is
[code]

[2020-10-22 09:54] MikeRys commented on #749
A Spark application is an application that uses the Spark libraries, gets compiled (if written in Scala, Java or .NET) and then gets submitted to a Spark cluster which will run the application in the Spark coordination (aka master) node and scale out the Spark expressions in the application into the worker nodes. This is a different paradigm than using a client application which then uses a client

[2020-10-22 13:02] mwysocki87 commented on #750
AFAIK you’ll have to write a thin wrapper around MySQL client JAR-which is the biggest issue stopping me from migrating away from Java...

[2020-10-23 00:46] imback82 commented on #750
@GeorGeWzw Can you check this thread? https://github.com/dotnet/spark/issues/610#issuecomment-668429774

@mwysocki87 Could you elaborate on the thin wrapper you had to work around?

[2020-10-23 03:29] zbills opened #751 "[BUG]: class "org.apache.spark.internal.config.Dotnet$"'s signer information does not match signer information of other classes in the same package"
**Describe the bug**
Exception in thread "DotnetBackend" java.lang.SecurityException: class "org.apache.spark.internal.config.Dotnet$"'s signer information does not match signer information of other classes in the same package
	at java.lang.ClassLoader.checkCerts(ClassLoader.java:892)
	at java.lang.ClassLoader.preDefineClass(ClassLoader.java:662)
	at java.lang.ClassLoader.defineClass(ClassLoader.j

[2020-10-23 03:38] imback82 commented on #751
Thanks @zbills for reporting this. I think this is a valid bug, and I am looking into this.

[2020-10-23 03:45] rapoth commented on #751
CC: @suhsteve

[2020-10-23 03:53] imback82 commented on #751
@zbills I created a PR to address the issue: #752. Meanwhile, could you use the attached JAR to unblock yourself? (I created this based off the PR + updated the version to 1.0.1). Thanks! (Please let me know if it doesn't address the issue.)

[microsoft-spark-2-4_2.11-1.0.1.zip](https://github.com/dotnet/spark/files/5427231/microsoft-spark-2-4_2.11-1.0.1.zip)

[2020-10-23 06:36] elvaliuliuliu commented on #751
I have tested the `microsoft-spark-2-4_2.11-1.0.1.jar` provided by @imback82. It works fine on HDI cluster. @zbills Please try the new jar and let us know if the issue still occurs. Thanks!

[2020-10-23 07:05] mwysocki87 commented on #750
Oh, @imback82, I was under the impression that whenever I want to use some external JAR, I have to write a wrapper around it. If it's not the case, then I stand corrected;)

[2020-10-23 18:06] zbills commented on #751
Yes, it's working now. Thank you

[2020-10-23 18:09] zbills commented on #751
Yes, it's working now. Thank you for the quick response @imback82

[2020-10-23 19:08] #751 closed

[2020-10-24 07:55] suhsteve opened #753 "[BUG]: Linux + Spark 2.3.0 + UDFs do not work"
Attempting to call UDFs while using Spark 2.3.0 in Linux hangs and does not return from the call.

This can be reproduced by running any of the E2E tests that use UDFs, or any Microsoft.Spark.CSharp.Examples with the above combination.

[2020-10-26 17:50] jonathantonic opened #754 "[BUG]: Broadcast throws exception on Databricks on AWS."
**Describe the bug**
Broadcast throws exception on Databricks on AWS.

**Error Logs**
[code]

**HelloSpark Program.cs Code**

[code]

**To Reproduce**
  1. Create a simple HelloSpark program that just gets the context and does a broadcast.
  2. Setup a jar job using the HelloSpark program in databricks as per the deployment guide:
     https://github.com/dotnet/spark/tree/master/deployment#using-s

[2020-10-26 17:56] Niharikadutta commented on #754
Hi @jonathantonic , thanks for reporting this and sorry for the error you are facing. Could you please attach the full stacktrace of the error logs?

[2020-10-26 18:14] jonathantonic commented on #754
full error logs:
[log4j-active.txt](https://github.com/dotnet/spark/files/5440608/log4j-active.txt)
[stderr.txt](https://github.com/dotnet/spark/files/5440606/stderr.txt)
[stdout.txt](https://github.com/dotnet/spark/files/5440607/stdout.txt)

[2020-10-26 18:36] Niharikadutta commented on #754
Thanks for providing the complete logs @jonathantonic . Just to clarify, are you able to run your application in AWS EMR without any of the changes you had to make for AWS Databricks? (Such as passing `javaSparkContext` to `setupBroadcast` ?)

[2020-10-26 18:38] jonathantonic commented on #754
Yes that is correct.

[2020-10-26 19:09] Niharikadutta commented on #754
Thanks @jonathantonic I'm going to repro this bug and get back to you with our suggestions.

[2020-10-27 19:24] fforgoso opened #755 "[Question]: Logging inside UDF function"
Hi.
I'm working on a project where I'm doing several calcs using a UDF function and would like to know how I can log information inside the UDF.
I tried to inject `ILogger<UDFContainerClass>` but I got the serialization error:
`Unhandled exception. System.Runtime.Serialization.SerializationException: Type 'Microsoft.Extensions.Logging.Logger'`
I'm using Microsoft.Spark v0.11.0
Thanks in advance.

[2020-10-28 09:52] Snapperhead123 opened #756 "[BUG]: Cannot use UDFs and HDInsight cluster (Spark 2.4)"
I have tried to run a simple application in prod env containing the code from https://github.com/dotnet/spark/blob/master/examples/Microsoft.Spark.CSharp.Examples/Sql/Batch/Basic.cs
The applications runs fine and emits output to stdout until it this code crashes when it hits the first UDF.
Thanks for any insights you can share on this.
[stdout.txt](https://github.com/dotnet/spark/files/5450973/std

[2020-10-28 13:44] Snapperhead123 commented on #756
The issue was with UDF paths and (lack of) usage of "--files". This can be closed.

[2020-10-28 13:44] #756 closed

[2020-10-28 14:56] moredatapls commented on #607
If someone encounters a similar exception: make sure that you set a valid checkpoint path for your streaming job. For me, the job crashed on Databricks because I had my checkpoint location set to `dbfs:/checkpoints/...` instead of `dbfs://checkpoints/...`

A similar issue related to the Spark CosmosDB connector: https://github.com/Azure/azure-cosmosdb-spark/issues/143